Repository eclipse-theia/theia, pull requests merged in 2018-08, with the labels that each got.

#2482 Add ability to clear current terminal output by calling a command
  packages/terminal/src/browser/base/terminal-widget.ts
  packages/terminal/src/browser/terminal-frontend-contribution.ts
  packages/terminal/src/browser/terminal-widget-impl.ts
Labels: enhancement, terminal

#2520 Add shortened workspace path when displaying recent workspaces
  packages/filesystem/src/common/filesystem-utils.spec.ts
  packages/filesystem/src/common/filesystem-utils.ts
  packages/filesystem/src/common/index.ts
  packages/workspace/src/browser/quick-open-workspace.ts
Labels: enhancement

#2552 Add 'Current Workspace' label for active recent workspace
  packages/workspace/src/browser/quick-open-workspace.ts
Labels: enhancement

#2562 [plug-in] Add ability to register completion provider to Plugin API
  packages/plugin-ext/src/api/model.ts
  packages/plugin-ext/src/api/plugin-api.ts
  packages/plugin-ext/src/common/types.ts
  packages/plugin-ext/src/main/browser/languages-main.ts
  packages/plugin-ext/src/main/browser/main-context.ts
  packages/plugin-ext/src/main/browser/text-editor-main.ts
  packages/plugin-ext/src/main/browser/text-editors-main.ts
  packages/plugin-ext/src/plugin/document-data.ts
  packages/plugin-ext/src/plugin/languages.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/text-editor.ts
  packages/plugin-ext/src/plugin/type-converters.ts
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/plugin-ext/src/typings/monaco/index.d.ts
  packages/plugin/src/theia.d.ts
Labels: Team: Che-IDE2, plug-in system

#2567 Add last modification date to recent workspaces
  packages/workspace/package.json
  packages/workspace/src/browser/quick-open-workspace.ts
Labels: enhancement

#2447 VSCode debug adapter protocol implementation
  .travis.yml
  examples/browser/package.json
  examples/electron/package.json
  packages/core/src/browser/shell/tab-bars.ts
  packages/debug-nodejs/README.md
  packages/debug-nodejs/compile.tsconfig.json
  packages/debug-nodejs/package.json
  packages/debug-nodejs/scripts/download-vscode-node-debug.js
  packages/debug-nodejs/src/node/debug-nodejs-backend-module.ts
  packages/debug-nodejs/src/node/debug-nodejs.spec.ts
  packages/debug-nodejs/src/node/debug-nodejs.ts
  packages/debug/README.md
  packages/debug/compile.tsconfig.json
  packages/debug/package.json
  packages/debug/src/browser/breakpoint/breakpoint-applier.ts
  packages/debug/src/browser/breakpoint/breakpoint-decorators.ts
  packages/debug/src/browser/breakpoint/breakpoint-manager.ts
  packages/debug/src/browser/breakpoint/breakpoint-marker.ts
  packages/debug/src/browser/debug-command.ts
  packages/debug/src/browser/debug-configuration.ts
  packages/debug/src/browser/debug-frontend-module.ts
  packages/debug/src/browser/debug-model.ts
  packages/debug/src/browser/debug-session.spec.ts
  packages/debug/src/browser/debug-session.ts
  packages/debug/src/browser/debug-utils.ts
  packages/debug/src/browser/style/index.css
  packages/debug/src/browser/view/debug-breakpoints-widget.ts
  packages/debug/src/browser/view/debug-selection-service.ts
  packages/debug/src/browser/view/debug-stack-frames-widget.ts
  packages/debug/src/browser/view/debug-threads-widget.ts
  packages/debug/src/browser/view/debug-variables-widget.tsx
  packages/debug/src/browser/view/debug-view-contribution.ts
  packages/debug/src/common/debug-common.ts
  packages/debug/src/node/debug-adapter.ts
  packages/debug/src/node/debug-backend-module.ts
  packages/debug/src/node/debug-model.ts
  packages/debug/src/node/debug-service.ts
  packages/editor/src/browser/editor.ts
  packages/monaco/src/browser/monaco-editor.ts
  tsconfig.json
  yarn.lock
Labels: dap

#2645 Remove quotation for boolean preferences
  packages/preferences/src/browser/preferences-menu-factory.ts
Labels: bug, preferences

#2551 [plug-in] Provides plugin context in start lifecycle method
  packages/plugin-ext/src/hosted/browser/worker/worker-main.ts
  packages/plugin-ext/src/hosted/node/plugin-host.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin/src/theia.d.ts
Labels: enhancement, plug-in system

#2695 [plug-in] Implement 'plugins' API
  packages/plugin-ext-vscode/src/node/plugin-vscode-init.ts
  packages/plugin-ext-vscode/src/node/scanner-vscode.ts
  packages/plugin-ext/src/api/plugin-api.ts
  packages/plugin-ext/src/common/plugin-protocol.ts
  packages/plugin-ext/src/hosted/browser/hosted-plugin.ts
  packages/plugin-ext/src/hosted/browser/worker/worker-main.ts
  packages/plugin-ext/src/hosted/node/plugin-host.ts
  packages/plugin-ext/src/hosted/node/scanners/backend-init-theia.ts
  packages/plugin-ext/src/hosted/node/scanners/scanner-theia.ts
  packages/plugin-ext/src/hosted/plugin/hosted-plugin-manager.ts
  packages/plugin-ext/src/main/browser/plugin-ext-frontend-module.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/plugin-manager.ts
  packages/plugin/API.md
  packages/plugin/src/theia.d.ts
Labels: Team: Che-IDE2, plug-in system

#2728 Fix workspace preferences to populate correct value
  packages/workspace/src/browser/workspace-preferences.ts
Labels: bug, preferences
