Repository eclipse-theia/theia, pull requests merged in 2018-12, with the labels that each got.

#3681 [terminal] open terminal at specific root directories
  packages/terminal/src/browser/terminal-frontend-contribution.ts
Labels: terminal

#3713 Fix git cyclic dependencies
  packages/git/src/browser/diff/git-diff-widget.tsx
  packages/git/src/browser/git-file-change-node.ts
  packages/git/src/browser/git-widget.tsx
  packages/git/src/browser/history/git-commit-detail-widget.tsx
  packages/git/src/browser/history/git-history-widget.tsx
Labels: git, quality

#3426 GH-3397: Implemented the HTTP-based authentication for Git in Electron.
  packages/core/src/browser/quick-open/quick-open-service.ts
  packages/git/package.json
  packages/git/src/browser/git-view-contribution.ts
  packages/git/src/browser/prompt/git-prompt-module.ts
  packages/git/src/common/git-prompt.ts
  packages/git/src/electron-browser/prompt/electron-git-prompt-module.ts
  packages/git/src/electron-browser/prompt/git-quick-open-prompt.ts
  packages/git/src/electron-browser/prompt/p-queue.spec.ts
  packages/git/src/electron-node/askpass/askpass-empty.sh
  packages/git/src/electron-node/askpass/askpass-main.ts
  packages/git/src/electron-node/askpass/askpass.sh
  packages/git/src/electron-node/askpass/askpass.ts
  packages/git/src/electron-node/env/electron-git-env-module.ts
  packages/git/src/electron-node/env/electron-git-env-provider.ts
  packages/git/src/node/dugite-git-prompt.ts
  packages/git/src/node/dugite-git.ts
  packages/git/src/node/env/git-env-module.ts
  packages/git/src/node/env/git-env-provider.ts
  packages/git/src/node/git-backend-module.ts
  packages/git/src/node/test/binding-helper.ts
  packages/monaco/src/browser/monaco-quick-open-service.ts
  yarn.lock
Labels: CQ Required

#3720 Fix broken blame annotations UI
  packages/git/src/browser/blame/blame-decorator.ts
Labels: git

#3748 [monaco] Fix regex for the electron runtime
  packages/monaco/src/browser/monaco-keybinding.ts
Labels: bug, electron

#3792 Remove duplicated code
  packages/plugin/src/theia.d.ts
Labels: plug-in system

#3731 Add ability to read keybindings from 'package.json' file of a plugin
  packages/plugin-ext/src/common/plugin-protocol.ts
  packages/plugin-ext/src/hosted/node/scanners/scanner-theia.ts
  packages/plugin-ext/src/main/browser/keybindings/keybindings-contribution-handler.ts
  packages/plugin-ext/src/main/browser/plugin-contribution-handler.ts
  packages/plugin-ext/src/main/browser/plugin-ext-frontend-module.ts
Labels: plug-in system

#3777 [search-in-workspace] adjust the result path for search-in-workspace
  packages/search-in-workspace/src/browser/search-in-workspace-result-tree-widget.tsx
Labels: search in workspace

#3816 [search-in-workspace] display search result information for search-in-workspace
  packages/search-in-workspace/src/browser/search-in-workspace-widget.tsx
  packages/search-in-workspace/src/browser/styles/index.css
Labels: search in workspace

#3820 [search-in-workspace] adjust font-color for parent result in search-in-workspace
  packages/search-in-workspace/src/browser/styles/index.css
Labels: search in workspace

#3803 [xterm] update to 3.9.1
  packages/terminal/package.json
  packages/terminal/src/browser/terminal-widget-impl.ts
  yarn.lock
Labels: enhancement, terminal

#3855 Resize debug widget on debug panel
  packages/debug/src/browser/style/index.css
  packages/debug/src/browser/view/debug-session-widget.ts
Labels: Team: Che-Languages, debug

#3865 [plug-in] Implement 'storagePath' for plugin API context
  packages/plugin-ext/src/api/plugin-api.ts
  packages/plugin-ext/src/hosted/browser/hosted-plugin.ts
  packages/plugin-ext/src/main/browser/plugin-ext-frontend-module.ts
  packages/plugin-ext/src/main/browser/storage-path-service.ts
  packages/plugin-ext/src/main/browser/workspace-main.ts
  packages/plugin-ext/src/main/common/plugin-paths-protocol.ts
  packages/plugin-ext/src/main/node/paths/const.ts
  packages/plugin-ext/src/main/node/paths/plugin-paths-service.ts
  packages/plugin-ext/src/plugin/plugin-manager.ts
  packages/plugin/src/theia.d.ts
Labels: plug-in system

#3876 Update preference group label to allow substring of another group
  packages/preferences/src/browser/preferences-tree-widget.ts
Labels: bug, preferences

#3905 [search-in-workspace] adjust result info when a single result is found
  packages/search-in-workspace/src/browser/search-in-workspace-widget.tsx
Labels: search in workspace
