Repository eclipse-theia/theia, pull requests merged in 2018-10, with the labels that each got.

#2951 Add methods to unregister menu, command and keybinding contributions
  packages/core/src/browser/keybinding.ts
  packages/core/src/common/command.ts
  packages/core/src/common/menu.ts
Labels: enhancement

#2996 Apply breakpoints on startup
  packages/debug/src/browser/breakpoint/breakpoint-applier.ts
  packages/debug/src/browser/breakpoint/breakpoint-manager.ts
  packages/debug/src/browser/debug-command.ts
  packages/debug/src/browser/debug-model.ts
  packages/debug/src/browser/debug-session.ts
  packages/debug/src/browser/view/debug-threads-widget.ts
  packages/debug/src/node/debug-adapter.ts
Labels: bug, debug

#3049 [debug] Ensure threads are updated when debugger has started
  packages/debug/src/browser/view/debug-threads-widget.ts
Labels: debug

#3052 Update debug breakpoint styling
  packages/debug/src/browser/breakpoint/breakpoint-decorators.ts
  packages/debug/src/browser/style/index.css
Labels: bug, debug

#3050 Fix debug menu icons
  packages/debug/src/browser/debug-command.ts
  packages/debug/src/browser/style/index.css
Labels: bug, debug

#3002 [plug-in] Languages API - Register formatting provider that works on type
  packages/plugin-ext/src/api/plugin-api.ts
  packages/plugin-ext/src/main/browser/languages-main.ts
  packages/plugin-ext/src/plugin/languages.ts
  packages/plugin-ext/src/plugin/languages/on-type-formatting.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin/src/theia.d.ts
Labels: plug-in system

#3051 [plug-in] avoid double wrapping command arguments
  packages/plugin-ext/src/main/browser/command-registry-main.ts
  packages/plugin-ext/src/plugin/command-registry.ts
Labels: Team: Che-IDE2, plug-in system

#3065 Fix react key error from keybindings-widget
  packages/keymaps/src/browser/keybindings-widget.tsx
Labels: bug

#3088 [plug-in] Make inheritance between vscode scanner and theia scanner
  packages/plugin-ext-vscode/src/node/scanner-vscode.ts
  packages/plugin-ext/src/hosted/node/scanners/scanner-theia.ts
Labels: plug-in system

#3100 [Plugin API] Fix range converter
  packages/plugin-ext/src/package.spec.ts
  packages/plugin-ext/src/plugin/type-converters.spec.ts
  packages/plugin-ext/src/plugin/type-converters.ts
Labels: plug-in system

#3113 [plug-in] Do not restart backend plugins when they already started
  packages/plugin-ext/src/hosted/node/hosted-plugin.ts
Labels: Team: Che-IDE2, plug-in system

#3095 [plug-in] Add ability to debug backend plugins in hosted mode
  packages/debug-nodejs/package.json
  packages/debug-nodejs/src/node/debug-nodejs.ts
  packages/plugin-ext/package.json
  packages/plugin-ext/src/common/plugin-protocol.ts
  packages/plugin-ext/src/hosted/browser/hosted-plugin-manager-client.ts
  packages/plugin-ext/src/hosted/browser/hosted-plugin-preferences.ts
  packages/plugin-ext/src/hosted/node/hosted-instance-manager.ts
  packages/plugin-ext/src/hosted/node/hosted-plugin-process.ts
  packages/plugin-ext/src/hosted/node/hosted-plugin.ts
  packages/plugin-ext/src/hosted/node/plugin-service.ts
  packages/plugin-ext/src/main/browser/plugin-frontend-contribution.ts
Labels: Team: Che-IDE2, plug-in system

#3124 [plug-in] check that the hosted instance URI is ready.
  packages/plugin-ext/src/hosted/node/hosted-instance-manager.ts
Labels: plug-in system

#3127 [plug-in] Fix cyclic dependencies
  packages/plugin-ext/src/plugin/markdown-string.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/type-converters.spec.ts
  packages/plugin-ext/src/plugin/type-converters.ts
  packages/plugin-ext/src/plugin/types-impl.ts
Labels: Team: Che-IDE2, plug-in system, quality

#3130 Fix 'Open Recent Workspaces' when no workspace is present
  packages/workspace/src/browser/quick-open-workspace.ts
Labels: bug

#3140 Sort preferences tree for easier navigation
  packages/preferences/src/browser/preferences-tree-widget.ts
Labels: enhancement, preferences

#3141 Display problem marker error codes if applicable
  packages/markers/src/browser/problem/problem-widget.tsx
  packages/markers/src/browser/style/index.css
Labels: enhancement, problems

#3143 [plug-in] allow to specify timeout for plug-in debugger. Set it to be 30s
  packages/plugin-ext/src/hosted/browser/hosted-plugin-manager-client.ts
Labels: plug-in system

#2953 Fix node debug attachment to non-default port
  packages/debug-nodejs/package.json
  packages/debug-nodejs/src/node/debug-nodejs.ts
  packages/debug/src/node/debug-model.ts
  packages/debug/src/node/debug-service.ts
  yarn.lock
Labels: debug

#3114 Reuse debug panel
  packages/debug/src/browser/debug-frontend-module.ts
  packages/debug/src/browser/debug-session.ts
  packages/debug/src/browser/view/debug-breakpoints-widget.ts
  packages/debug/src/browser/view/debug-frontend-contribution.ts
  packages/debug/src/browser/view/debug-panel-widget.ts
  packages/debug/src/browser/view/debug-stack-frames-widget.ts
  packages/debug/src/browser/view/debug-threads-widget.ts
  packages/debug/src/browser/view/debug-toolbar-widget.tsx
  packages/debug/src/browser/view/debug-variables-widget.tsx
  packages/debug/src/browser/view/debug-view-common.ts
  packages/debug/src/common/debug-common.ts
Labels: debug

#3164 [plug-in] Allow to use another ENV variable to declare plug-ins
  packages/plugin-ext/src/main/node/plugin-deployer-impl.ts
Labels: enhancement, plug-in system

#3128 Initial commit for support vscode.workspace.findFiles feature
  .gitignore
  packages/plugin-ext/src/api/plugin-api.ts
  packages/plugin-ext/src/main/browser/workspace-main.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/workspace.ts
  packages/plugin/src/theia.d.ts
Labels: Team: Che-IDE1, plug-in system

#3152 Git clone command
  packages/git/src/browser/git-quick-open-service.ts
  packages/git/src/browser/git-view-contribution.ts
  packages/git/src/node/dugite-git.ts
Labels: enhancement, git

#3189 Fix plugin command label
  packages/plugin-ext/src/main/browser/plugin-ext-deploy-command.ts
Labels: plug-in system

#3219 Add 'onTimeout' callback to notification
  packages/messages/src/browser/notifications-message-client.ts
  packages/messages/src/browser/notifications.ts
Labels: bug

#3233 [plug-in] Create RPC instance per host instead of per plug-in
  packages/plugin-ext/src/common/plugin-protocol.ts
  packages/plugin-ext/src/hosted/browser/hosted-plugin.ts
  packages/plugin-ext/src/hosted/node/metadata-scanner.ts
  packages/plugin-ext/src/hosted/node/plugin-reader.ts
Labels: plug-in system

#3222 Add scope column to keybindings-widget
  packages/core/src/browser/keybinding.ts
  packages/keymaps/src/browser/keybindings-widget.tsx
  packages/keymaps/src/browser/style/index.css
Labels: keybindings

#3213 Quietly invalidate updating keybinding if new and old values match
  packages/keymaps/src/browser/keybindings-widget.tsx
Labels: keybindings

#3237 Add context to keymaps.json when editing through the keybindings-widget
  packages/keymaps/src/browser/keybindings-widget.tsx
  packages/keymaps/src/browser/keymaps-service.ts
Labels: keybindings

#3239 Remove 'removeKeybinding' for keybindings which have yet to be edited
  packages/keymaps/src/browser/keybindings-widget.tsx
  packages/keymaps/src/browser/style/index.css
Labels: keybindings

#3259 Refactor 'remove' keybinding to 'reset' keybinding
  packages/keymaps/src/browser/keybindings-widget.tsx
  packages/keymaps/src/browser/style/index.css
Labels: keybindings

#3253 Fix loading a plugin that contributes a language with configuration options provided in a JSON file with comments
  packages/plugin-ext/package.json
  packages/plugin-ext/src/hosted/node/scanners/scanner-theia.ts
Labels: plug-in system

#3267 Terminal Plugin API: by default, add a new line to the text being sent to the terminal
  CHANGELOG.md
  packages/plugin-ext/src/plugin/terminal-ext.ts
  packages/plugin/src/theia.d.ts
Labels: plug-in system

#3277 Add helper function to clear local storage when full
  packages/core/src/browser/storage-service.ts
Labels: browser local storage

#3272 Add missing Git History command to the command palette
  packages/git/src/browser/history/git-history-contribution.ts
  packages/git/src/browser/history/git-history-frontend-module.ts
  packages/git/src/browser/history/git-history-widget.tsx
Labels: git

#3284 Fixed Git History related bug in electron.
  packages/git/src/browser/history/git-history-widget.tsx
Labels: electron, git

#3263 [plugin] Fixed API doc typo
  packages/plugin/API.md
Labels: plug-in system

#3288 Add HOME environment variable for the child process where a plug-in is running
  packages/plugin-ext/src/hosted/node/hosted-plugin-process.ts
Labels: plug-in system

#3149 Getting Started Extension and Widget
  .travis.yml
  examples/browser/package.json
  examples/electron/package.json
  packages/getting-started/compile.tsconfig.json
  packages/getting-started/package.json
  packages/getting-started/src/browser/getting-started-contribution.ts
  packages/getting-started/src/browser/getting-started-frontend-module.ts
  packages/getting-started/src/browser/getting-started-widget.tsx
  packages/getting-started/src/browser/style/index.css
  packages/getting-started/src/package.spec.ts
  tsconfig.json
Labels: enhancement

#3293 Fix no-any no-return-await for @theia/debug
  packages/debug/src/node/debug-model.ts
  packages/debug/src/node/debug-service-impl.ts
Labels: debug, quality

#3321 Fix no-any for @theia/bunyan
  packages/bunyan/src/node/bunyan-logger-server.ts
Labels: quality

#3322 Fix no-any for @theia/callhierarchy
  packages/callhierarchy/src/browser/callhierarchy-tree/callhierarchy-tree-widget.tsx
Labels: quality

#3324 Fixed no-any no-return-await eofline for @theia/filesystem
  packages/filesystem/src/node/drivelist.d.ts
  packages/filesystem/src/node/node-filesystem.spec.ts
  packages/filesystem/src/node/node-filesystem.ts
Labels: quality

#3326 Fix no-any, and file-header in @theia/json
  packages/json/src/browser/json-client-contribution.ts
  packages/json/src/browser/monaco.d.ts
Labels: quality

#3325 Fix no-any no-return-await for @theia/java
  packages/java/src/browser/java-commands.ts
  packages/java/src/browser/java-protocol.ts
Labels: quality

#3327 Fix no-any tslint rule for @theia/languages
  packages/languages/src/browser/language-client-contribution.ts
Labels: quality

#3328 Fixed tslint error no-any for @theia/monaco
  packages/monaco/src/browser/monaco-command-registry.ts
  packages/monaco/src/browser/monaco-command-service.ts
  packages/monaco/src/browser/monaco-workspace.ts
  packages/monaco/src/electron-browser/monaco-electron-module.ts
Labels: quality

#3336 Remove unused interface in @theia/cpp
  packages/cpp/src/browser/cpp-protocol.ts
Labels: quality

#3339 Fix no-any in @theia/console
  packages/console/src/browser/console-contribution.ts
Labels: quality

#3335 Fix no-any tslint rule for @theia/task
  packages/task/src/browser/task-frontend-contribution.ts
  packages/task/src/common/task-protocol.ts
Labels: quality

#3332 [github] Add code owners for plug-ins
  .github/CODEOWNERS
Labels: enhancement, plug-in system

#3350 [plug-in] Add debug.registerDebugConfigurationProvider API mock
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin/src/theia.d.ts
Labels: plug-in system

#3133 Open keymaps.json as a split panel from keybindings-widget
  packages/keymaps/src/browser/keybindings-widget.tsx
  packages/keymaps/src/browser/keymaps-service.ts
Labels: enhancement, keybindings

#3352 [plug-in] Add languages.registerCodeLensProvider API mock
  packages/plugin-ext/src/plugin/languages.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin/src/theia.d.ts
Labels: plug-in system
