Repository eclipse-theia/theia, pull requests merged in 2018-07, with the labels that each got.

#2237 [plug-in] Replace 'ExtendedPromise' with 'Deferred'
  packages/plugin-ext/src/api/async-util.ts
  packages/plugin-ext/src/api/extended-promise.ts
  packages/plugin-ext/src/api/rpc-protocol.ts
  packages/plugin-ext/src/main/browser/quick-open-main.ts
  packages/plugin-ext/src/plugin/quick-open.ts
Labels: Team: Che-IDE2, plug-in system

#2187 GH-2186: Introduce terminal plugin api.
  packages/plugin-ext/package.json
  packages/plugin-ext/src/api/plugin-api.ts
  packages/plugin-ext/src/main/browser/main-context.ts
  packages/plugin-ext/src/main/browser/terminal-main.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/terminal-ext.ts
  packages/plugin/API.md
  packages/plugin/src/theia.d.ts
Labels: Team: Che-IDE2, plug-in system

#2256 [plug-in] Fix RegExp for starting hosted instance
  packages/plugin-ext/src/hosted/node/hosted-plugin-manager.ts
Labels: Team: Che-IDE2, plug-in system

#2276 [plug-in] Add PATH to plugin's forked instance
  packages/plugin-ext/src/hosted/node/hosted-plugin.ts
Labels: Team: Che-IDE2, plug-in system

#2286 [workspace] Catch corrupted ws-config file
  packages/workspace/src/node/default-workspace-server.ts
Labels: bug

#2446 Add a feedback menu item to inform users when no cpp build configs exist
  packages/cpp/src/browser/cpp-build-configurations.ts
Labels: cpp, enhancement
