Repository eclipse-theia/theia, pull requests merged in 2018-11, with the labels that each got.

#3357 [plug-in] Add workspace.registerFileSystemProvider API mock
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/plugin/src/theia.d.ts
Labels: plug-in system

#3362 [plug-in] Add workspace.registerTextDocumentContentProvider API mock
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin/src/theia.d.ts
Labels: plug-in system

#3369 [plug-in] Add debug.onDidChangeActiveDebugSession and debug.onDidTerminateDebugSession API mocks
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin/src/theia.d.ts
Labels: plug-in system

#3329 Fix no-any tslint rule for @theia/plugin-ext
  packages/plugin-ext/src/api/plugin-api.ts
  packages/plugin-ext/src/api/rpc-protocol.ts
  packages/plugin-ext/src/common/glob.ts
  packages/plugin-ext/src/common/object-identifier.ts
  packages/plugin-ext/src/common/plugin-protocol.ts
  packages/plugin-ext/src/main/browser/view/tree-views-main.tsx
  packages/plugin-ext/src/plugin/command-registry.ts
  packages/plugin-ext/src/plugin/languages.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/preference-registry.ts
  packages/plugin-ext/src/plugin/status-bar-message-registry.ts
  packages/plugin-ext/src/plugin/token-provider.ts
  packages/plugin-ext/src/plugin/type-converters.ts
  packages/plugin-ext/src/plugin/types-impl.ts
Labels: quality

#3292 Fix no-any no-return-await warnings in @theia/git
  packages/git/src/browser/dirty-diff/dirty-diff-manager.ts
  packages/git/src/browser/git-view-contribution.ts
  packages/git/src/browser/history/git-history-widget.tsx
  packages/git/src/common/git-watcher.ts
  packages/git/src/node/dugite-git-watcher.slow-spec.ts
  packages/git/src/node/dugite-git.spec.ts
  packages/git/src/node/dugite-git.ts
  packages/git/src/node/git-locator/git-locator-impl.ts
Labels: git, quality

#3374 [plug-in] Add API for registering a code action provider
  packages/plugin-ext/src/api/model.ts
  packages/plugin-ext/src/api/plugin-api.ts
  packages/plugin-ext/src/main/browser/command-registry-main.ts
  packages/plugin-ext/src/main/browser/languages-main.ts
  packages/plugin-ext/src/plugin/languages.ts
  packages/plugin-ext/src/plugin/languages/code-action.ts
  packages/plugin-ext/src/plugin/languages/diagnostics.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/type-converters.ts
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/plugin/src/theia.d.ts
Labels: plug-in system

#3313 [commands] prefix commands for easier categorising and searching
  packages/core/src/browser/common-frontend-contribution.ts
  packages/core/src/browser/quick-open/quick-command-service.ts
  packages/core/src/browser/shell/shell-layout-restorer.ts
  packages/core/src/browser/theming.ts
  packages/core/src/common/command.ts
  packages/cpp/src/browser/cpp-build-configurations-ui.ts
  packages/cpp/src/browser/cpp-commands.ts
  packages/debug/src/browser/debug-frontend-application-contribution.ts
  packages/editor/src/browser/editor-command.ts
  packages/file-search/src/browser/quick-file-open.ts
  packages/git/src/browser/blame/blame-contribution.ts
  packages/git/src/browser/diff/git-diff-contribution.ts
  packages/java/src/browser/java-commands.ts
  packages/keymaps/src/browser/keymaps-frontend-contribution.ts
  packages/merge-conflicts/src/browser/merge-conflict.ts
  packages/plugin-ext/src/hosted/browser/hosted-plugin-manager-client.ts
  packages/plugin-ext/src/main/browser/plugin-ext-deploy-command.ts
  packages/search-in-workspace/src/browser/search-in-workspace-frontend-contribution.ts
  packages/terminal/src/browser/terminal-frontend-contribution.ts
  packages/workspace/src/browser/workspace-commands.ts
Labels: commands

#3385 Fix search-in-workspace widget error and notification message
  packages/search-in-workspace/src/browser/search-in-workspace-frontend-contribution.ts
  packages/search-in-workspace/src/browser/search-in-workspace-result-tree-widget.tsx
  packages/search-in-workspace/src/browser/search-in-workspace-widget.tsx
Labels: search in workspace

#3386 Fix 'Close Workspace'
  packages/workspace/src/browser/workspace-frontend-contribution.ts
  packages/workspace/src/browser/workspace-service.ts
Labels: bug

#3359 Create terminal main-menu item
  examples/browser/test/top-panel/top-panel.ts
  packages/core/src/browser/common-frontend-contribution.ts
  packages/debug/src/browser/debug-frontend-application-contribution.ts
  packages/editor/src/browser/editor-menu.ts
  packages/task/src/browser/task-frontend-contribution.ts
  packages/terminal/src/browser/terminal-frontend-contribution.ts
Labels: terminal

#3414 [plug-in] languages.registerCodeLensProvider API
  CHANGELOG.md
  packages/plugin-ext/src/api/model.ts
  packages/plugin-ext/src/api/plugin-api.ts
  packages/plugin-ext/src/main/browser/languages-main.ts
  packages/plugin-ext/src/plugin/command-registry.ts
  packages/plugin-ext/src/plugin/languages.ts
  packages/plugin-ext/src/plugin/languages/lens.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin/API.md
Labels: plug-in system

#3410 Fix crashes from the `git-history` and `git-commit-detail` widgets
  packages/git/src/browser/diff/git-diff-widget.tsx
  packages/git/src/browser/history/git-commit-detail-widget.tsx
  packages/git/src/browser/history/git-history-widget.tsx
  packages/git/src/common/git-model.ts
  packages/git/src/node/dugite-git.ts
Labels: bug, git

#3411 [plug-in] Introduce typedoc task to generate plugin's documentation
  .gitignore
  configs/typedoc-tsconfig.json
  configs/typedoc.json
  dev-packages/ext-scripts/package.json
  package.json
  packages/plugin/package.json
  yarn.lock
Labels: plug-in system

#3475 Fix unwanted scroll in problems view when there are no markers
  packages/markers/src/browser/style/index.css
Labels: problems

#3471 Fix unwanted scroll in navigator when no workspace is present
  packages/navigator/src/browser/style/index.css
Labels: navigator

#3478 Added confirmation dialog to search in workspace...
  packages/search-in-workspace/src/browser/search-in-workspace-result-tree-widget.tsx
  packages/search-in-workspace/src/browser/search-in-workspace-widget.tsx
Labels: search in workspace

#3464 [plug-in] process in production mode
  packages/plugin-ext/src/hosted/node/hosted-instance-manager.ts
Labels: enhancement, plug-in system

#3500 [git] add count for changes, staged changes, and merged changed
  packages/git/src/browser/git-widget.tsx
  packages/git/src/browser/style/index.css
Labels: enhancement, git

#3489 Add feedback message to outline view when no data is available
  packages/outline-view/src/browser/outline-view-widget.tsx
  packages/outline-view/src/browser/styles/index.css
Labels: outline

#3473 Added ‘--‘ as argument to search args to find terms which begin with '--'
  packages/search-in-workspace/src/node/ripgrep-search-in-workspace-server.slow-spec.ts
  packages/search-in-workspace/src/node/ripgrep-search-in-workspace-server.ts
Labels: search in workspace

#3524 Use application name for 'getting-started' title
  packages/getting-started/src/browser/getting-started-widget.tsx
  packages/getting-started/src/browser/style/index.css
Labels: getting-started

#3479 [electron] Center window + dynamic size
  dev-packages/application-manager/src/generator/frontend-generator.ts
Labels: electron

#3528 [outline] align outline view 'no data' message with problems view
  packages/outline-view/src/browser/styles/index.css
Labels: outline

#3483 [plug-in] Add document.registerDocumentSymbolProvider API
  CHANGELOG.md
  packages/plugin-ext/src/api/model.ts
  packages/plugin-ext/src/api/plugin-api.ts
  packages/plugin-ext/src/main/browser/languages-main.ts
  packages/plugin-ext/src/plugin/languages.ts
  packages/plugin-ext/src/plugin/languages/outline.ts
  packages/plugin-ext/src/plugin/type-converters.ts
  packages/plugin/API.md
Labels: plug-in system

#3560 Fix the generated `workspace-service.d.ts` file
  packages/workspace/src/browser/workspace-service.ts
Labels: bug, workspace

#3577 [git] disable command 'Git Clone' when no workspace is present
  packages/git/src/browser/git-view-contribution.ts
Labels: git

#3458 [electron][navigator] Add `Open Folder` button
  packages/navigator/src/browser/navigator-widget.tsx
Labels: electron, navigator

#3594 [plug-in] Add original license header
  packages/plugin-ext/src/common/paths-util.ts
Labels: plug-in system

#3585 Add option to collapse all problem marker nodes
  packages/markers/src/browser/problem/problem-contribution.ts
Labels: problems

#3595 [navigator] disable 'File: Delete' for root
  packages/workspace/src/browser/workspace-delete-handler.ts
Labels: bug, navigator

#3580 [navigator] add command to collapse all nodes in the file navigator
  packages/navigator/src/browser/navigator-contribution.ts
Labels: navigator

#3598 [search-in-workspace] fix incorrect file-icon in 'search-in-workspace'
  packages/search-in-workspace/src/browser/search-in-workspace-result-tree-widget.tsx
Labels: bug, search in workspace

#3615 [ui/ux] update menu separator color
  packages/core/src/browser/style/menus.css
Labels: ui/ux

#3624 [git] update git ahead and behind status-bar icons
  packages/git/src/browser/git-view-contribution.ts
Labels: git

#3633 Use logger instead of UI notifications for warnings from 'menus' contribution point
  packages/plugin-ext/src/main/browser/menus/menus-contribution-handler.ts
Labels: plug-in system

#3623 [preferences] update preferences 'description' styling
  packages/core/src/browser/style/tree-decorators.css
Labels: preferences

#3514 Add reusable message component
  packages/core/src/browser/style/alert-messages.css
  packages/core/src/browser/style/index.css
  packages/core/src/browser/widgets/alert-message.tsx
  packages/git/src/browser/git-widget.tsx
  packages/git/src/browser/history/git-history-widget.tsx
  packages/git/src/browser/style/history.css
  packages/keymaps/src/browser/keybindings-widget.tsx
  packages/keymaps/src/browser/style/index.css
Labels: enhancement

#3629 [plug-in] Add ability to provide custom namespace for Plug-in API
  CHANGELOG.md
  packages/plugin-ext/doc/how-to-add-new-plugin-namespace.md
  packages/plugin-ext/src/api/plugin-api.ts
  packages/plugin-ext/src/common/index.ts
  packages/plugin-ext/src/common/plugin-ext-api-contribution.ts
  packages/plugin-ext/src/common/plugin-protocol.ts
  packages/plugin-ext/src/hosted/browser/hosted-plugin.ts
  packages/plugin-ext/src/hosted/browser/worker/worker-main.ts
  packages/plugin-ext/src/hosted/node/plugin-ext-hosted-backend-module.ts
  packages/plugin-ext/src/hosted/node/plugin-host-rpc.ts
  packages/plugin-ext/src/hosted/node/plugin-service.ts
  packages/plugin-ext/src/main/browser/plugin-ext-frontend-module.ts
  packages/plugin-ext/src/plugin/plugin-manager.ts
Labels: Team: Che-IDE2, plug-in system

#3653 [plugin] Add Plugin API to communicate between Theia and plugins
  packages/plugin-ext/src/api/plugin-api.ts
  packages/plugin-ext/src/common/connection.ts
  packages/plugin-ext/src/common/plugin-message-reader.ts
  packages/plugin-ext/src/common/plugin-message-writer.ts
  packages/plugin-ext/src/main/browser/connection-main.ts
  packages/plugin-ext/src/main/browser/main-context.ts
  packages/plugin-ext/src/plugin/connection-ext.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
Labels: plug-in system

#3652 [workspace] disable 'Rename' when performing multi-select in the navigator
  packages/workspace/src/browser/workspace-commands.ts
Labels: workspace

#3668 [git] disable and hide command 'Compare With...' if no repository is present
  packages/git/src/browser/diff/git-diff-contribution.ts
  packages/git/src/browser/history/git-history-contribution.ts
Labels: git

#3678 Add support for the context menus in the contributed views
  packages/plugin-ext/src/main/browser/menus/menus-contribution-handler.spec.ts
  packages/plugin-ext/src/main/browser/menus/menus-contribution-handler.ts
  packages/plugin-ext/src/main/browser/view/tree-views-main.tsx
Labels: plug-in system

#3664 [search-in-workspace] allow 'Find in Folder..' with multiple folders at the same time
  packages/search-in-workspace/src/browser/search-in-workspace-frontend-contribution.ts
  packages/search-in-workspace/src/browser/search-in-workspace-widget.tsx
Labels: search in workspace

#3696 [plugin] Display information message when no plugins are available
  packages/plugin-ext/src/main/browser/plugin-ext-widget.tsx
Labels: plug-in system
