Repository eclipse-theia/theia, pull requests merged in 2018-09, with the labels that each got.

#2779 [plug-in] Resolve real path for temp dir before creating path
  packages/plugin-ext/src/main/node/temp-dir-util.ts
Labels: Team: Che-IDE2, plug-in system

#2787 Fix license used in package.json which was not the license declared in ts files
  packages/debug-nodejs/package.json
  packages/debug/package.json
Labels: Kind: Task, dap

#2807 [debug] Fix menu definition
  packages/debug/src/browser/debug-command.ts
Labels: bug, dap

#2844 [plug-in] Add category from VS Code command to the label of Theia command
  packages/plugin-ext-vscode/src/node/plugin-vscode-init.ts
Labels: plug-in system

#2681 Add 'Create New' cpp build configuration
  packages/core/src/browser/common-frontend-contribution.ts
  packages/cpp/src/browser/cpp-build-configurations-statusbar-element.ts
  packages/cpp/src/browser/cpp-build-configurations-ui.ts
  packages/cpp/src/browser/cpp-build-configurations.ts
  packages/cpp/src/browser/cpp-frontend-module.ts
  packages/preferences/src/browser/abstract-resource-preference-provider.ts
  packages/preferences/src/browser/preferences-contribution.ts
  packages/preferences/src/browser/preferences-tree-widget.ts
Labels: cpp, enhancement

#2860 [plug-in] Restart plugin Node when new client connected
  packages/plugin-ext/src/hosted/browser/hosted-plugin.ts
  packages/plugin-ext/src/hosted/node/hosted-plugin.ts
Labels: Team: Che-IDE2, plug-in system

#2869 [plug-in] Languages API - Register hover provider
  packages/plugin-ext/src/api/model.ts
  packages/plugin-ext/src/api/plugin-api.ts
  packages/plugin-ext/src/main/browser/languages-main.ts
  packages/plugin-ext/src/plugin/document-data.ts
  packages/plugin-ext/src/plugin/languages.ts
  packages/plugin-ext/src/plugin/languages/hover.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/type-converters.ts
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/plugin-ext/src/typings/monaco/index.d.ts
  packages/plugin/API.md
  packages/plugin/src/theia.d.ts
Labels: plug-in system

#2774 cpp: Don't send empty compilationDatabasePath on initialization
  packages/cpp/src/browser/cpp-language-client-contribution.ts
Labels: bug, cpp

#2874 [plug-in] Avoid using monaco internal api for hover provider
  packages/plugin-ext/src/main/browser/languages-main.ts
  packages/plugin-ext/src/plugin/document-data.ts
  packages/plugin-ext/src/plugin/type-converters.ts
  packages/plugin-ext/src/typings/monaco/index.d.ts
Labels: Team: Che-IDE2, plug-in system

#2838 Add missing keybindings for view commands
  packages/debug/src/browser/view/debug-view-contribution.ts
  packages/outline-view/src/browser/outline-view-contribution.ts
  packages/plugin-ext/src/main/browser/plugin-frontend-view-contribution.ts
Labels: enhancement

#2891 Make Debug Session Views Act like Panels
  packages/debug/src/browser/debug-frontend-module.ts
  packages/debug/src/browser/debug-session.ts
  packages/debug/src/browser/style/index.css
  packages/debug/src/browser/view/base/debug-styles.ts
  packages/debug/src/browser/view/debug-breakpoints-widget.ts
  packages/debug/src/browser/view/debug-frontend-contribution.ts
  packages/debug/src/browser/view/debug-stack-frames-widget.ts
  packages/debug/src/browser/view/debug-threads-widget.ts
  packages/debug/src/browser/view/debug-variables-widget.tsx
  packages/debug/src/browser/view/debug-view-contribution.ts
Labels: debug

#2904 Add missing package dependencies
  packages/debug/package.json
Labels: debug

#2912 Add debug toolbar
  packages/debug/src/browser/debug-command.ts
  packages/debug/src/browser/debug-frontend-module.ts
  packages/debug/src/browser/debug-session.ts
  packages/debug/src/browser/style/index.css
  packages/debug/src/browser/view/debug-frontend-contribution.ts
  packages/debug/src/browser/view/debug-toolbar-widget.tsx
Labels: debug

#2908 [plug-in] Languages API - Register formatting provider for a document
  packages/plugin-ext/src/api/model.ts
  packages/plugin-ext/src/api/plugin-api.ts
  packages/plugin-ext/src/main/browser/languages-main.ts
  packages/plugin-ext/src/plugin/languages.ts
  packages/plugin-ext/src/plugin/languages/document-formatting.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin/src/theia.d.ts
Labels: plug-in system

#2974 Fix logic for 'containsKeybinding' return logic
  packages/core/src/browser/keybinding.ts
Labels: beginners, enhancement, keybindings

#2957 [plug-in] Languages API - Register formatting provider for a document range
  packages/plugin-ext/src/api/plugin-api.ts
  packages/plugin-ext/src/main/browser/languages-main.ts
  packages/plugin-ext/src/plugin/languages.ts
  packages/plugin-ext/src/plugin/languages/range-formatting.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/type-converters.ts
  packages/plugin/src/theia.d.ts
Labels: plug-in system

#2985 [plug-in] Move RPC initialization to its own class
  packages/plugin-ext/src/hosted/node/plugin-host-rpc.ts
  packages/plugin-ext/src/hosted/node/plugin-host.ts
Labels: plug-in system

#2999 Remove 'Current Workspace' when no workspace is currently open
  packages/workspace/src/browser/quick-open-workspace.ts
Labels: bug

#2893 View Keybindings Widget
  packages/core/src/browser/keybinding.ts
  packages/core/src/browser/keys.ts
  packages/keymaps/package.json
  packages/keymaps/src/browser/keybindings-widget.tsx
  packages/keymaps/src/browser/keymaps-frontend-contribution.ts
  packages/keymaps/src/browser/keymaps-frontend-module.ts
  packages/keymaps/src/browser/keymaps-service.ts
  packages/keymaps/src/browser/style/index.css
Labels: enhancement, keybindings

#3005 Add guard against null or undefined values in variable graphs
  packages/variable-resolver/src/browser/variable-resolver-service.ts
Labels: bug
