Repository eclipse-theia/theia, pull requests merged in 2019-04, with the labels that each got.

#4778 [docs] remove docs script in each package as we now have the multi-modules documentation
  .travis.yml
  configs/typedoc-tsconfig.json
  configs/typedoc.json
  dev-packages/application-manager/package.json
  dev-packages/application-package/package.json
  dev-packages/cli/package.json
  dev-packages/ext-scripts/package.json
  package.json
  packages/bunyan/package.json
  packages/callhierarchy/package.json
  packages/console/package.json
  packages/core/package.json
  packages/cpp/package.json
  packages/debug-nodejs/package.json
  packages/debug/package.json
  packages/editor-preview/package.json
  packages/editor/package.json
  packages/editorconfig/package.json
  packages/extension-manager/package.json
  packages/file-search/package.json
  packages/filesystem/package.json
  packages/getting-started/package.json
  packages/git/package.json
  packages/java-debug/package.json
  packages/java/package.json
  packages/json/package.json
  packages/keymaps/package.json
  packages/languages/package.json
  packages/markers/package.json
  packages/merge-conflicts/package.json
  packages/messages/package.json
  packages/metrics/package.json
  packages/mini-browser/package.json
  packages/monaco/package.json
  packages/navigator/package.json
  packages/outline-view/package.json
  packages/output/package.json
  packages/plugin-ext-vscode/package.json
  packages/plugin-ext/package.json
  packages/plugin/package.json
  packages/preferences/package.json
  packages/preview/package.json
  packages/process/package.json
  packages/python/package.json
  packages/search-in-workspace/package.json
  packages/task/package.json
  packages/terminal/package.json
  packages/textmate-grammars/package.json
  packages/tslint/package.json
  packages/typehierarchy/package.json
  packages/typescript/package.json
  packages/userstorage/package.json
  packages/variable-resolver/package.json
  packages/workspace/package.json
  yarn.lock
Labels: documentation

#4785 Don't rewrite debug capabilities
  packages/debug/src/browser/debug-session.tsx
Labels: Team: Che-Languages, dap

#4763 Check whether selected item in dialog is non-leaf node
  packages/filesystem/src/browser/file-dialog/file-dialog.ts
  packages/plugin-ext/src/plugin/dialogs.ts
Labels: bug, dialogs

#4795 [plugin] add `CodeActionKind` intersects plugin api
  CHANGELOG.md
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/plugin/src/theia.d.ts
Labels: plug-in system, vscode

#4813 [filesystem] handle copying when source and target destinations are the same
  packages/filesystem/src/node/node-filesystem.spec.ts
  packages/filesystem/src/node/node-filesystem.ts
Labels: bug, filesystem

#4843 Respect type of click in tree on plugin side to correct set up selection
  packages/plugin-ext/src/api/plugin-api.ts
  packages/plugin-ext/src/main/browser/view/tree-views-main.tsx
  packages/plugin-ext/src/plugin/tree/tree-views.ts
Labels: Team: Che-IDE1, bug, plug-in system, tree

#4920 [tasks] update the prefix quick-open service to use actionProviders
  packages/core/src/browser/quick-open/prefix-quick-open-service.ts
Labels: bug

#4918 [tasks] add command to clear task history
  packages/task/src/browser/task-frontend-contribution.ts
  packages/task/src/browser/task-service.ts
Labels: enhancement, tasks

#4839 Return plugins metadata with promise
  packages/plugin-ext/src/hosted/node/hosted-plugin-deployer-handler.ts
  packages/plugin-ext/src/hosted/node/plugin-service.ts
Labels: plug-in system

#4917 [tasks] align tasks quick-open with vscode
  packages/monaco/src/browser/style/index.css
  packages/task/src/browser/quick-open-task.ts
Labels: tasks, ui/ux, vscode

#4932 [plug-in] RPC replacer/reviver objects: Encode as well in replyOK the URI objects
  packages/plugin-ext/src/api/rpc-protocol.ts
Labels: bug, plug-in system

#4931 [plug-in] memory: fix memory leak on plug-ins reload
  packages/plugin-ext-vscode/src/node/plugin-vscode-init.ts
  packages/plugin-ext/src/hosted/node/plugin-host-rpc.ts
  packages/plugin-ext/src/hosted/node/scanners/backend-init-theia.ts
  packages/plugin-ext/src/plugin/plugin-manager.ts
Labels: bug, plug-in system

#4946 [plug-in] [vscode] Propagate thisArg on registerCommand
  packages/plugin-ext-vscode/src/node/plugin-vscode-init.ts
Labels: bug, vscode

#4948 [vscode] bump VS Code API version to the latest version available
  packages/plugin-ext-vscode/src/node/plugin-vscode-init.ts
Labels: vscode

#4950 [workspaces] fix incorrect file-icon when displaying recent workspaces
  packages/workspace/src/browser/quick-open-workspace.ts
Labels: bug, workspace

#4771 Implement 'Save As'
  packages/filesystem/src/browser/file-dialog/file-dialog-service.ts
  packages/filesystem/src/browser/file-dialog/file-dialog.ts
  packages/filesystem/src/electron-browser/file-dialog/electron-file-dialog-service.ts
  packages/workspace/src/browser/workspace-commands.ts
  packages/workspace/src/browser/workspace-frontend-contribution.ts
Labels: enhancement

#4953 [plug-in] Range object is lost across serialization
  packages/plugin-ext/src/api/rpc-protocol.ts
Labels: bug, plug-in system

#4971 [plug-in] [vscode] Add some missing entries in env object
  packages/plugin-ext/package.json
  packages/plugin-ext/src/api/plugin-api.ts
  packages/plugin-ext/src/hosted/browser/hosted-plugin.ts
  packages/plugin-ext/src/hosted/browser/worker/worker-env-ext.ts
  packages/plugin-ext/src/hosted/browser/worker/worker-main.ts
  packages/plugin-ext/src/hosted/node/plugin-host-rpc.ts
  packages/plugin-ext/src/plugin/env.ts
  packages/plugin-ext/src/plugin/node/env-node-ext.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/plugin-manager.ts
  packages/plugin-ext/src/typings/index.d.ts
  packages/plugin/src/theia.d.ts
  yarn.lock
Labels: plug-in system, vscode

#4984 [vscode] Fix vscode.open command by adding checks on arguments
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
Labels: bug, plug-in system, vscode

#4981 [vscode] Fix #4052 implementation of vscode.diff command
  packages/core/src/browser/diff-uris.ts
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
  packages/workspace/src/browser/diff-service.ts
Labels: plug-in system, vscode

#4977 [languages] adjust json and cpp auto-closing pairs
  packages/cpp/src/browser/cpp-grammar-contribution.ts
  packages/json/src/browser/json-grammar-contribution.ts
Labels: cpp, enhancement, json

#5011 Use unique names for diagnostics collections
  packages/plugin-ext/src/plugin/languages/diagnostics.ts
Labels: bug

#5010 [plug-in] webview compliance
  packages/plugin-ext-vscode/src/node/plugin-vscode-init.ts
  packages/plugin-ext/src/main/browser/webview/webview.ts
  packages/plugin-ext/src/main/browser/webviews-main.ts
  packages/plugin-ext/src/plugin/webviews.ts
Labels: bug, plug-in system, vscode

#5044 [search-in-workspace] pass the currently selected editor text when searching
  packages/search-in-workspace/src/browser/search-in-workspace-frontend-contribution.ts
  packages/search-in-workspace/src/browser/search-in-workspace-widget.tsx
Labels: enhancement, search in workspace
