Repository eclipse-theia/theia, pull requests merged in 2019-03, with the labels that each got.

#4450 Remove labels in commands to hide them from command palette
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
Labels: Team: Che-IDE1, plug-in system

#4458 Fix configuration contribution and workspace.getWorkspaceFolder implementation
  packages/plugin-ext/src/hosted/node/plugin-reader.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/workspace.ts
Labels: bug, plug-in system, python

#4435 Obtain information about selected objects in either explorer or editor
  packages/plugin-ext/src/main/browser/plugin-ext-frontend-module.ts
  packages/plugin-ext/src/main/browser/selection-provider-command.ts
Labels: Team: Che-IDE1, plug-in system

#4466 [task] added command to re-run last task
  packages/task/src/browser/task-frontend-contribution.ts
  packages/task/src/browser/task-frontend-module.ts
  packages/task/src/browser/task-service.ts
Labels: tasks

#4480 Fix progress creation
  packages/plugin-ext/src/plugin/notification.ts
  packages/plugin-ext/src/plugin/statusBar.ts
Labels: bug, plug-in system

#4491 Use correct arguments in diff command handler
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
Labels: Team: Che-IDE1, bug, plug-in system

#4493 Move python language contribution to textmate-grammars package
  packages/python/src/browser/python-frontend-module.ts
  packages/textmate-grammars/data/MagicPython.tmLanguage.json
  packages/textmate-grammars/data/MagicRegExp.tmLanguage.json
  packages/textmate-grammars/src/browser/python.ts
  packages/textmate-grammars/src/browser/textmate-grammars-frontend-module.ts
Labels: Kind: Task, python

#4486 [preferences] fix preferences circular dependency
  packages/core/src/browser/preferences/index.ts
  packages/core/src/browser/preferences/preference-contribution.ts
  packages/core/src/browser/preferences/preference-provider.ts
  packages/core/src/browser/preferences/preference-scope.ts
  packages/core/src/browser/preferences/preference-service.ts
  packages/core/src/browser/preferences/test/mock-preference-provider.ts
Labels: preferences, quality

#4484 'workspace.openTextDocument' API should take into account the contributed FileSystemProviders
  CHANGELOG.md
  packages/plugin-ext/src/api/plugin-api.ts
  packages/plugin-ext/src/common/uri-components.ts
  packages/plugin-ext/src/main/browser/editor/untitled-resource.ts
  packages/plugin-ext/src/main/browser/file-system-main.ts
  packages/plugin-ext/src/main/browser/main-context.ts
  packages/plugin-ext/src/main/browser/plugin-ext-frontend-module.ts
  packages/plugin-ext/src/plugin/file-system.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/plugin-ext/src/plugin/workspace.ts
  packages/plugin/src/theia.d.ts
Labels: plug-in system

#4525 workspace.getWorkspaceFolder() returns either WorkspaceFolder or undefined
  packages/plugin/src/theia.d.ts
Labels: bug

#4547 Add Go grammar contribution
  packages/textmate-grammars/data/go.tmLanguage.json
  packages/textmate-grammars/src/browser/go.ts
  packages/textmate-grammars/src/browser/textmate-grammars-frontend-module.ts
Labels: go

#4555 Apply typehierarchy styling to only typehierarchy
  packages/typehierarchy/src/browser/style/index.css
Labels: ui/ux

#4613 [git] make the diff navigation header static
  packages/git/src/browser/diff/git-diff-widget.tsx
  packages/git/src/browser/style/diff.css
Labels: enhancement, git, ui/ux

#4614 Set the minimum perfect scrollbar length
  packages/core/src/browser/tree/tree-widget.tsx
  packages/core/src/browser/widgets/react-widget.tsx
Labels: enhancement, ui/ux

#4610 [keybindings] make keybinding widget search static
  packages/keymaps/src/browser/keybindings-widget.tsx
  packages/keymaps/src/browser/style/index.css
Labels: enhancement, keybindings, ui/ux

#4618 Adjust open workspace explorer button alignment
  packages/navigator/src/browser/style/index.css
Labels: ui/ux

#4615 Update scrollbar width to a larger value
  packages/core/src/browser/style/tabs.css
  packages/core/src/browser/style/variables-bright.useable.css
  packages/core/src/browser/style/variables-dark.useable.css
Labels: enhancement, ui/ux

#4640 Add missing git diff caption
  packages/git/src/browser/diff/git-diff-widget.tsx
Labels: git

#4609 Involve selection service in tree view on plugin side
  packages/plugin-ext/src/api/plugin-api.ts
  packages/plugin-ext/src/main/browser/menus/menus-contribution-handler.ts
  packages/plugin-ext/src/main/browser/metadata-selection.ts
  packages/plugin-ext/src/main/browser/view/tree-views-main.tsx
  packages/plugin-ext/src/plugin/tree/tree-views.ts
Labels: Team: Che-IDE1, plug-in system

#4646 Added debug console icon
  packages/debug/src/browser/console/debug-console-contribution.ts
  packages/debug/src/browser/style/index.css
Labels: debug, ui/ux

#4656 [search-in-workspace] add missing icon tooltips
  packages/search-in-workspace/src/browser/search-in-workspace-frontend-contribution.ts
Labels: search in workspace, ui/ux

#4655 Added collapse all toolbar item to the explorer
  packages/navigator/src/browser/navigator-contribution.ts
  packages/navigator/src/browser/navigator-frontend-module.ts
Labels: ui/ux

#4679 Fix incorrect notification-count styling
  packages/core/src/browser/style/notification.css
  packages/mini-browser/src/browser/style/index.css
Labels: ui/ux

#4694 Fix tree node capitalization outside of nav
  packages/navigator/src/browser/style/index.css
Labels: ui/ux

#4676 Add line numbers to search-in-workspace results
  CHANGELOG.md
  packages/search-in-workspace/src/browser/search-in-workspace-frontend-module.ts
  packages/search-in-workspace/src/browser/search-in-workspace-preferences.ts
  packages/search-in-workspace/src/browser/search-in-workspace-result-tree-widget.tsx
  packages/search-in-workspace/src/browser/styles/index.css
Labels: enhancement, search in workspace

#4709 Update file-icons in sidepanels to not have backgrounds
  packages/core/src/browser/style/sidepanel.css
Labels: ui/ux

#4713 Add files.associations property
  packages/filesystem/src/browser/filesystem-preferences.ts
Labels: Kind: Task

#4632 Don't redeploy already initialized plugins
  packages/plugin-ext/src/hosted/browser/hosted-plugin.ts
  packages/plugin-ext/src/hosted/node/hosted-plugin-deployer-handler.ts
  packages/plugin-ext/src/main/browser/plugin-ext-deploy-command.ts
  packages/plugin-ext/src/main/node/plugin-deployer-impl.ts
Labels: bug, plug-in system

#4721 Fix adding files.associations property
  packages/filesystem/src/browser/filesystem-preferences.ts
  packages/plugin-ext/src/plugin/preference-registry.ts
Labels: bug, plug-in system

#4745 [plug-in] Bump VS Code API version
  packages/plugin-ext-vscode/src/node/plugin-vscode-init.ts
Labels: vscode

#4729 [explorer] update the explorer to handle multiple-root workspaces
  packages/navigator/src/browser/navigator-model.spec.ts
  packages/navigator/src/browser/navigator-model.ts
  packages/navigator/src/browser/navigator-tree.ts
Labels: enhancement, navigator, ui/ux
