Repository eclipse-theia/theia, pull requests merged in 2019-06, with the labels that each got.

#5327 [task] implement quick-open item to terminate all running tasks
  packages/task/src/browser/quick-open-task.ts
Labels: enhancement, tasks

#5343 Reslove activation promise if the plugin was already activated
  packages/plugin-ext/src/plugin/plugin-manager.ts
Labels: languages

#5353 Implement 'Show Running Tasks...'
  packages/task/src/browser/quick-open-task.ts
  packages/task/src/browser/task-frontend-contribution.ts
  packages/task/src/browser/task-frontend-module.ts
  packages/task/src/browser/task-service.ts
Labels: enhancement, tasks

#5359 [tasks | terminal] fix error thrown after a task is completed
  packages/terminal/src/browser/terminal-widget-impl.ts
Labels: bug, terminal

#5367 [scm] fix error cannot read property 'forEach'
  packages/scm/src/browser/scm-contribution.ts
Labels: scm

#5370 [output] fix output error regarding the unique key prop
  packages/output/src/browser/output-toolbar-contribution.tsx
Labels: output

#5305 [plug-ins] Implement Plug-in API method 'setTextDocumentLanguage'
  packages/plugin-ext/src/api/plugin-api.ts
  packages/plugin-ext/src/main/browser/languages-main.ts
  packages/plugin-ext/src/plugin/languages.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin/src/theia.d.ts
Labels: plug-in system

#5365 [terminal] add extra handling before attempting to resize a terminal
  packages/terminal/src/browser/terminal-widget-impl.ts
Labels: terminal

#5401 Fixed #5368: enhanced keybinding search to support different key orders
  packages/keymaps/src/browser/keybindings-widget.tsx
Labels: enhancement, keybindings

#5424 [markers] fix the problem-widget markers from wrapping when re-sizing
  packages/markers/src/browser/problem/problem-widget.tsx
  packages/markers/src/browser/style/index.css
Labels: markers, ui/ux

#5436 Fixed #5419: supported key chords display & search in the Keybinding widget
  packages/keymaps/src/browser/keybindings-widget.tsx
Labels: enhancement, keybindings

#5453 [keybindings] fix broken keybindings-widget features
  packages/keymaps/src/browser/keymaps-service.ts
Labels: bug, keybindings

#5460 [keybindings] add 'Clear Keybindings Search Input` toolbar item
  packages/keymaps/src/browser/keybindings-widget.tsx
  packages/keymaps/src/browser/keymaps-frontend-contribution.ts
Labels: enhancement, keybindings

#5462 [keybindings] remove link to 'keymaps.json' in the keybindings-widget
  packages/keymaps/src/browser/keybindings-widget.tsx
  packages/keymaps/src/browser/style/index.css
Labels: keybindings, ui/ux

#5296 Update message about task start/stop
  packages/task/src/browser/task-service.ts
  packages/task/src/common/task-protocol.ts
  packages/task/src/node/process/process-task.ts
Labels: Team: Che-IDE1, enhancement

#5483 [core] add sorting to prefixed quick-open commands
  packages/core/src/browser/quick-open/prefix-quick-open-service.ts
  packages/languages/src/browser/workspace-symbols.ts
Labels: enhancement

#5512 [tasks] allow comments in tasks.json
  packages/task/package.json
  packages/task/src/browser/monaco.d.ts
  packages/task/src/browser/task-frontend-module.ts
  packages/task/src/browser/tasks-monaco-contribution.ts
Labels: bug, tasks

#5523 Fix debug adapter connecting to server
  packages/plugin-ext/src/plugin/node/debug/debug.ts
Labels: bug, debug

#5509 [plug-in] Fix webview resize
  packages/core/src/browser/frontend-application-module.ts
  packages/core/src/browser/shell/application-shell-mouse-tracker.ts
  packages/mini-browser/src/browser/mini-browser-content.ts
  packages/mini-browser/src/browser/mini-browser-frontend-module.ts
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
  packages/plugin-ext/src/main/browser/webview/webview.ts
  packages/plugin-ext/src/main/browser/webviews-main.ts
Labels: bug, plug-in system

#5270 [task] display task label in terminal, when executing user tasks
  packages/task/src/browser/task-service.ts
Labels: enhancement, tasks

#5360 [plugins] terminate hosted plugin instance on dispose only if it is running
  packages/plugin-dev/src/node/hosted-plugin-service.ts
Labels: plug-in system

#5525 Add VS Code Api implementation for extension.onDidChange event
  packages/plugin-ext-vscode/src/node/plugin-vscode-init.ts
  packages/plugin-ext/src/api/plugin-api.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/plugin-manager.ts
  packages/plugin/src/theia.d.ts
Labels: vscode

#5548 [file-search] remove separator when no recent results are found in the quick-file-open
  packages/file-search/src/browser/quick-file-open.ts
Labels: ui/ux

#5551 Sort the extension names in the 'about' dialog
  packages/core/src/browser/about-dialog.ts
Labels: enhancement

#5575 [tasks] update 'show running tasks' statusbar icon
  packages/task/src/browser/task-frontend-contribution.ts
Labels: tasks, ui/ux

#5210 [electron] Test codecs from ffmpeg
  .gitignore
  .travis.yml
  .vscode/c_cpp_properties.json
  .vscode/settings.json
  appveyor.yml
  dev-packages/electron/.gitignore
  dev-packages/electron/README.md
  dev-packages/electron/electron-cli.js
  dev-packages/electron/electron-codecs-test.js
  dev-packages/electron/electron-ffmpeg-lib.js
  dev-packages/electron/electron-h264-test-application/h264-video.mp4
  dev-packages/electron/electron-h264-test-application/index.html
  dev-packages/electron/electron-h264-test-application/test-application.js
  dev-packages/electron/electron-replace-ffmpeg.js
  dev-packages/electron/native/binding.gyp
  dev-packages/electron/native/src/ffmpeg.c
  dev-packages/electron/native/src/ffmpeg.h
  dev-packages/electron/native/src/linux-ffmpeg.c
  dev-packages/electron/native/src/mac-ffmpeg.c
  dev-packages/electron/native/src/win-ffmpeg.c
  dev-packages/electron/node-gyp-cli.js
  dev-packages/electron/package.json
  dev-packages/electron/scripts/post-install.js
  package.json
  scripts/post-install.js
Labels: electron

#5587 Do not fail build if 'THEIA_ELECTRON_SKIP_REPLACE_FFMPEG' is set
  scripts/post-install.js
Labels: bug

#5545 [keybindings] align keybindings-widget with vscode
  packages/keymaps/src/browser/keybindings-widget.tsx
  packages/keymaps/src/browser/style/index.css
Labels: keybindings, ui/ux

#5603 [keybindings] add 'Reset' button to the edit keybinding dialog
  packages/keymaps/src/browser/keybindings-widget.tsx
Labels: enhancement, keybindings

#5566 [tree] add extra options to the tree search input
  packages/core/src/browser/tree/tree-widget.tsx
Labels: core, proposal, ui/ux

#5611 [search-in-workspace] update the 'Replace All' disabled state
  packages/search-in-workspace/src/browser/search-in-workspace-widget.tsx
Labels: bug, search in workspace
