Repository eclipse-theia/theia, pull requests merged in 2019-11, with the labels that each got.

#6435 [safari] fix incorrect command palette cursor position
  packages/monaco/src/browser/monaco-quick-open-service.ts
Labels: browser/safari, bug, quick-open

#6454 Update the 'outline-view' documentation
  packages/core/src/browser/tree/tree-widget.tsx
  packages/core/src/browser/widget-manager.ts
  packages/core/src/browser/widgets/react-widget.tsx
  packages/outline-view/src/browser/outline-view-contribution.ts
  packages/outline-view/src/browser/outline-view-frontend-module.ts
  packages/outline-view/src/browser/outline-view-service.ts
  packages/outline-view/src/browser/outline-view-tree.ts
  packages/outline-view/src/browser/outline-view-widget.tsx
Labels: documentation, outline

#6417 Fix https://github.com/eclipse-theia/theia/issues/6416 :: .editorconfig trim whitespace config not considered in manual save
  packages/editorconfig/src/browser/editorconfig-document-manager.ts
Labels: editorconfig

#6483 update support task types in the task schema
  CHANGELOG.md
  packages/task/src/browser/task-definition-registry.ts
  packages/task/src/browser/task-schema-updater.ts
  packages/task/src/browser/task-service.ts
Labels: tasks

#6486 Filter debug console outputs by severity
  packages/console/src/browser/ansi-console-item.tsx
  packages/console/src/browser/console-content-widget.tsx
  packages/console/src/browser/console-session.ts
  packages/core/src/common/severity.ts
  packages/debug/src/browser/console/debug-console-contribution.tsx
  packages/debug/src/browser/console/debug-console-items.tsx
  packages/debug/src/browser/console/debug-console-session.ts
  packages/task/src/browser/task-problem-matcher-registry.ts
  packages/task/src/common/problem-matcher-protocol.ts
  packages/task/src/node/task-abstract-line-matcher.ts
  packages/task/src/node/task-problem-collector.spec.ts
Labels: console, debug, enhancement

#6391 support creating tasks.json from template
  packages/task/src/browser/quick-open-task.ts
  packages/task/src/browser/task-configuration-manager.ts
  packages/task/src/browser/task-frontend-module.ts
  packages/task/src/browser/task-templates.ts
Labels: tasks, vscode

#6480 Fix breakpoint context menu behaviour
  packages/core/src/electron-browser/menu/electron-context-menu-renderer.ts
  packages/debug/src/browser/debug-frontend-application-contribution.ts
  packages/debug/src/browser/editor/debug-editor-model.ts
  packages/debug/src/browser/editor/debug-editor-service.ts
Labels: debug

#6490 [debug] automatically create 'launch.json'
  packages/debug/src/browser/debug-frontend-application-contribution.ts
  packages/debug/src/browser/view/debug-configuration-widget.tsx
Labels: debug

#5590 Provided mapping from vscode command ids to internal command ids
  CHANGELOG.md
  packages/monaco/src/browser/monaco-command-registry.ts
  packages/monaco/src/browser/monaco-command-service.ts
  packages/monaco/src/browser/monaco-command.ts
  packages/monaco/src/browser/monaco-editor-provider.ts
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
  packages/plugin-ext/src/common/index.ts
  packages/plugin-ext/src/common/known-commands.ts
  packages/plugin-ext/src/common/objects.ts
  packages/plugin-ext/src/common/types.ts
  packages/plugin-ext/src/plugin/command-registry.ts
  packages/plugin-ext/src/plugin/known-commands.spec.ts
  packages/plugin-ext/src/plugin/type-converters.ts
  packages/plugin-ext/src/plugin/types-impl.ts
Labels: commands, keybindings, monaco, vscode

#6492 update task schema for installed extensions & plugins
  packages/cpp/src/browser/cpp-task-provider.ts
  packages/plugin-ext/src/hosted/node/scanners/scanner-theia.ts
  packages/task/src/browser/task-definition-registry.spec.ts
  packages/task/src/browser/task-schema-updater.ts
  packages/task/src/common/task-protocol.ts
Labels: tasks, vscode

#6508 Support integrated terminal
  packages/debug/src/browser/debug-session.tsx
  packages/plugin-ext/src/main/browser/debug/plugin-debug-session-factory.ts
Labels: debug, vscode

#6512 [core] Update reconnecting-websocket to latest version
  packages/core/package.json
  packages/core/src/browser/messaging/ws-connection-provider.ts
  yarn.lock
Labels: dependencies

#6511 update decorations when clearing search fix #6498
  packages/search-in-workspace/src/browser/search-in-workspace-result-tree-widget.tsx
Labels: search in workspace

#6487 Add ability to configure borders in quick pick items list on plugin side
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/quick-open-main.ts
  packages/plugin-ext/src/plugin/type-converters.ts
  packages/plugin/src/theia.d.ts
Labels: Team: Che-IDE1, enhancement, plug-in system

#6516 Don't throw an error if access to the clipboard is denied.
  packages/core/src/browser/browser-clipboard-service.ts
Labels: clipboard, vscode

#6481 [scm] open 'diff-editors' with a single-click
  CHANGELOG.md
  packages/core/src/browser/core-preferences.ts
  packages/navigator/src/browser/navigator-widget.tsx
  packages/scm/src/browser/scm-widget.tsx
Labels: scm, ui/ux

#6522 support "group" in the task config
  packages/task/src/browser/quick-open-task.ts
  packages/task/src/browser/task-configurations.ts
  packages/task/src/browser/task-frontend-contribution.ts
  packages/task/src/browser/task-schema-updater.ts
  packages/task/src/browser/task-service.ts
  packages/task/src/common/task-protocol.ts
Labels: tasks, vscode

#6510 Catch schema change event in order to have actual representation of user preferences
  packages/preferences/src/browser/preferences-tree-widget.ts
Labels: Team: Che-IDE1, bug, plug-in system, preferences

#6514 [core] fix display of toolbar item icons
  packages/core/src/browser/style/tabs.css
  packages/search-in-workspace/src/browser/styles/index.css
Labels: toolbar, ui/ux

#6526 Remove unused and unofficial 'Eclipse Theia' logo
  logo/eclipse-theia-logo.png
Labels: documentation

#6515 handles invalid task configurations
  packages/task/package.json
  packages/task/src/browser/task-schema-updater.ts
  packages/task/src/browser/task-service.ts
Labels: tasks, vscode

#6532 GH-6530: Set the shutdown hook to `beforeunload`.
  CHANGELOG.md
  packages/core/src/browser/frontend-application-state.ts
  packages/core/src/browser/frontend-application.ts
  packages/core/src/browser/shell/shell-layout-restorer.ts
Labels: electron, shell

#6537 [plugin] fix executeCommand arguments passing
  packages/plugin-ext/src/hosted/node/plugin-host.ts
  packages/plugin-ext/src/plugin/command-registry.ts
Labels: typescript, vscode

#6539 [tasks] prompt users to configure tasks
  packages/task/src/browser/quick-open-task.ts
Labels: enhancement, tasks

#6536 Add implementation copy text on selection for terminal
  packages/terminal/src/browser/terminal-copy-on-selection-handler.ts
  packages/terminal/src/browser/terminal-frontend-module.ts
  packages/terminal/src/browser/terminal-preferences.ts
  packages/terminal/src/browser/terminal-widget-impl.ts
Labels: clipboard, terminal

#6552 Workaround `anser` wrong typings.
  packages/console/src/browser/ansi-console-item.tsx
Labels: console

#6545 Display 'path' when creating a new file/folder
  packages/workspace/src/browser/workspace-commands.ts
  packages/workspace/src/browser/workspace-input-dialog.ts
Labels: enhancement, ui/ux

#6556 [monaco] properly register CodeActionProviders.
  packages/monaco/src/browser/monaco-loader.ts
  packages/monaco/src/typings/monaco/index.d.ts
  packages/plugin-ext/src/main/browser/languages-main.ts
Labels: monaco

#6555 #6547 Reload child variable nodes on setValue call.
  packages/debug/src/browser/console/debug-console-items.tsx
Labels: debug

#6559 [vscode] fixed bad type conversion with code actions
  packages/plugin-ext/src/common/plugin-api-rpc-model.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/languages-main.ts
  packages/plugin-ext/src/plugin/languages.ts
  packages/plugin-ext/src/plugin/languages/code-action.ts
Labels: typescript, vscode

#6561 process: use defaults when spawning a child_process
  packages/process/src/node/raw-process.ts
Labels: bug, process

#6303 plugin-ext-metrics extension for creating metrics from language plugins
  .travis.yml
  examples/browser/package.json
  packages/plugin-metrics/README.md
  packages/plugin-metrics/compile.tsconfig.json
  packages/plugin-metrics/package.json
  packages/plugin-metrics/src/browser/plugin-metrics-creator.ts
  packages/plugin-metrics/src/browser/plugin-metrics-frontend-module.ts
  packages/plugin-metrics/src/browser/plugin-metrics-languages-main.ts
  packages/plugin-metrics/src/browser/plugin-metrics-output-registry.ts
  packages/plugin-metrics/src/browser/plugin-metrics-resolver.ts
  packages/plugin-metrics/src/common/metrics-protocol.ts
  packages/plugin-metrics/src/common/plugin-metrics-types.ts
  packages/plugin-metrics/src/node/metric-output/plugin-metrics-time-count.ts
  packages/plugin-metrics/src/node/metric-output/plugin-metrics-time-sum.ts
  packages/plugin-metrics/src/node/metric-string-generator.ts
  packages/plugin-metrics/src/node/metrics-contributor.spec.ts
  packages/plugin-metrics/src/node/metrics-contributor.ts
  packages/plugin-metrics/src/node/plugin-metrics-backend-module.ts
  packages/plugin-metrics/src/node/plugin-metrics-impl.ts
  packages/plugin-metrics/src/node/plugin-metrics.ts
  tsconfig.json
Labels: metrics, plug-in system

#6505 [cpp] remove '@theia/cpp' extension
  .travis.yml
  .vscode/settings.json
  examples/browser/package.json
  examples/browser/test/cpp/cpp-change-build-config.ui-spec.ts
  examples/electron/package.json
  packages/cpp/README.md
  packages/cpp/compile.tsconfig.json
  packages/cpp/package.json
  packages/cpp/src/browser/cpp-build-configurations-statusbar-element.ts
  packages/cpp/src/browser/cpp-build-configurations-ui.ts
  packages/cpp/src/browser/cpp-build-configurations.spec.ts
  packages/cpp/src/browser/cpp-build-configurations.ts
  packages/cpp/src/browser/cpp-commands.ts
  packages/cpp/src/browser/cpp-frontend-module.ts
  packages/cpp/src/browser/cpp-keybinding.ts
  packages/cpp/src/browser/cpp-language-client-contribution.ts
  packages/cpp/src/browser/cpp-preferences.ts
  packages/cpp/src/browser/cpp-protocol.ts
  packages/cpp/src/browser/cpp-task-provider.spec.ts
  packages/cpp/src/browser/cpp-task-provider.ts
  packages/cpp/src/browser/index.ts
  packages/cpp/src/common/cpp-build-configuration-protocol.ts
  packages/cpp/src/common/index.ts
  packages/cpp/src/node/cpp-backend-module.ts
  packages/cpp/src/node/cpp-build-configuration-server.ts
  packages/cpp/src/node/cpp-contribution.ts
  packages/cpp/src/node/index.ts
  packages/cpp/src/package.spec.ts
  packages/cpp/src/typings/string-argv.d.ts
  tsconfig.json
Labels: cpp

#6566 Ability to add task subschema
  packages/task/src/browser/index.ts
  packages/task/src/browser/task-schema-updater.ts
Labels: tasks

#6538 Make `yarn rebuild:electron` fail explicitly on Windows
  dev-packages/application-manager/src/rebuild.ts
Labels: dependencies

#6558 fix(QuickPickInput): result should always be array if canPickAny is enabled
  packages/plugin-ext/src/plugin/quick-open.ts
Labels: vscode

#6521 Start Hosted Theia instance if Restart is called before Start
  packages/plugin-dev/src/browser/hosted-plugin-manager-client.ts
Labels: plug-in system

#6402 #6401 Support to "alwaysSignOff" commits
  packages/git/src/browser/git-contribution.ts
  packages/git/src/browser/git-preferences.ts
  packages/git/src/browser/git-repository-provider.spec.ts
Labels: git

#6576 [search-in-workspace] update resizing css for result list
  packages/search-in-workspace/src/browser/styles/index.css
Labels: bug, search in workspace, ui/ux

#6585 [docker] remove example dockerfile
  examples/browser/Dockerfile
Labels: docker

#6591 Don't use lookbehind regex
  packages/plugin-metrics/src/browser/plugin-metrics-creator.ts
Labels: metrics, plug-in system

#6577 [doc] add publish vscode built-in extension badge
  README.md
Labels: documentation

#6594 [keymaps] remove internal commands from keybindings widget
  packages/keymaps/src/browser/keybindings-widget.tsx
Labels: keybindings

#6599 GH-6598: Exposed all handlers for a command.
  packages/core/src/common/command.spec.ts
  packages/core/src/common/command.ts
Labels: core

#5884 Allow label providers to notify that changes require a refresh
  .travis.yml
  CHANGELOG.md
  examples/api-samples/README.md
  examples/api-samples/compile.tsconfig.json
  examples/api-samples/package.json
  examples/api-samples/src/browser/api-samples-contribution.ts
  examples/api-samples/src/browser/api-samples-frontend-module.ts
  examples/api-samples/src/browser/sample-dynamic-label-provider-contribution.ts
  examples/browser/package.json
  examples/electron/package.json
  packages/callhierarchy/src/browser/callhierarchy-tree/callhierarchy-tree-widget.tsx
  packages/core/src/browser/diff-uris.ts
  packages/core/src/browser/label-provider.ts
  packages/core/src/browser/tree/tree.ts
  packages/debug/src/browser/debug-session-manager.ts
  packages/editor/src/browser/editor-widget-factory.ts
  packages/editor/src/browser/editor-widget.ts
  packages/filesystem/src/browser/file-tree/file-tree.ts
  packages/git/src/browser/diff/git-diff-widget.tsx
  packages/git/src/browser/git-uri-label-contribution.ts
  packages/git/src/browser/history/git-history-widget.tsx
  packages/markers/src/browser/marker-tree.ts
  packages/navigator/src/browser/navigator-tree.spec.ts
  packages/navigator/src/browser/navigator-tree.ts
  packages/scm/src/browser/scm-contribution.ts
  packages/scm/src/browser/scm-widget.tsx
  tsconfig.json
Labels: navigator, shell

#6554 Add ability to use upload service on plugin side
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/dialogs-main.ts
  packages/plugin-ext/src/plugin/dialogs.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin/src/theia.d.ts
Labels: Team: Che-IDE1, enhancement, plug-in system

#6602 Updated `dugite-extra` and `find-git-exec`.
  packages/git/package.json
  yarn.lock
Labels: dependencies

#6608 break DI cycle between LabelProvider and its contributions
  packages/core/src/browser/frontend-application-module.ts
  packages/core/src/browser/label-provider.ts
Labels: core

#6622 Move json grammar to textmate-grammars package
  packages/json/src/browser/json-frontend-module.ts
  packages/textmate-grammars/data/json.tmLanguage.json
  packages/textmate-grammars/data/jsonc.tmLanguage.json
  packages/textmate-grammars/src/browser/json.ts
  packages/textmate-grammars/src/browser/textmate-grammars-frontend-module.ts
Labels: json, textmate

#6607 Stick to vscode-languageserver@6.0.0-next.1
  package.json
  yarn.lock
Labels: dependencies

#6616 support having multiple user-defined problem matchers in tasks.json
  packages/task/src/browser/task-configurations.ts
  packages/task/src/browser/task-schema-updater.ts
  packages/task/src/browser/task-service.ts
  packages/task/src/common/problem-matcher-protocol.ts
  packages/task/src/common/task-protocol.ts
Labels: tasks, vscode

#6619 fix #6618: Reuse terminal based both on label and caption of the term…
  packages/debug/src/browser/debug-session.tsx
Labels: debug

#6595 process: add onClose event
  dev-packages/electron/scripts/post-install.js
  packages/process/src/node/dev-null-stream.ts
  packages/process/src/node/multi-ring-buffer.ts
  packages/process/src/node/process.ts
  packages/process/src/node/raw-process.ts
  packages/process/src/node/terminal-process.ts
  packages/task/src/node/process/process-task.ts
Labels: process

#6632 Fix package name for libX11 for Red Hat based OS
  doc/Developing.md
Labels: documentation

#6644 Remove mini-browser dependency in plugin-ext
  packages/core/src/browser/style/index.css
  packages/mini-browser/src/browser/mini-browser-content-style.ts
  packages/mini-browser/src/browser/style/index.css
  packages/plugin-ext/package.json
  packages/plugin-ext/src/main/browser/webview/webview.ts
Labels: mini-browser, plug-in system

#6627 debug: make allThreadStop reason generic
  packages/debug/src/browser/debug-session.tsx
Labels: debug, enhancement

#6648 [editor-preview] remove unnecessary 'navigator' dependency
  packages/editor-preview/package.json
Labels: dependencies, editor-preview

#6656 Update changelog for v0.13.0
  CHANGELOG.md
Labels: documentation

#6593 [core] fix 'noWrapInfo' CSS class
  packages/core/src/browser/style/sidepanel.css
  packages/extension-manager/src/browser/style/index.css
  packages/git/src/browser/style/index.css
  packages/plugin-ext/src/main/browser/style/index.css
  packages/scm/src/browser/style/index.css
  packages/search-in-workspace/src/browser/styles/index.css
Labels: ui/ux

#6643 Reorganize tasks when task schema is updated
  packages/core/src/browser/json-schema-store.ts
  packages/task/src/browser/task-configurations.ts
  packages/task/src/browser/task-schema-updater.ts
Labels: json, tasks

#6657 Add implementation for env.shell plugin API
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/hosted/browser/hosted-plugin.ts
  packages/plugin-ext/src/plugin/env.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/plugin-manager.ts
  packages/plugin/src/theia.d.ts
  packages/terminal/src/browser/base/terminal-service.ts
  packages/terminal/src/browser/terminal-frontend-contribution.ts
  packages/terminal/src/common/base-terminal-protocol.ts
  packages/terminal/src/node/base-terminal-server.ts
  packages/terminal/src/node/shell-process.ts
Labels: plug-in system, vscode
