Repository eclipse-theia/theia, pull requests merged in 2019-05, with the labels that each got.

#4937 [commands] add support for recently used commands
  packages/core/src/browser/common-frontend-contribution.ts
  packages/core/src/browser/quick-open/quick-command-service.ts
  packages/core/src/common/command.spec.ts
  packages/core/src/common/command.ts
  packages/monaco/src/browser/monaco-quick-open-service.ts
  packages/monaco/src/browser/style/index.css
Labels: commands, core, enhancement

#5050 [commands] add 'Clear Command History' command
  packages/core/src/browser/quick-open/quick-command-contribution.ts
  packages/core/src/browser/quick-open/quick-command-service.ts
  packages/core/src/common/command.ts
Labels: commands, enhancement

#4989 [electron] add 'Close Window' electron command
  packages/core/src/electron-browser/menu/electron-menu-contribution.ts
Labels: electron

#5061 [command] add clear recently used commands test
  packages/core/src/common/command.spec.ts
Labels: commands, test

#5081 [commands] fix 'Remove Folder' and 'Add Folder' commands
  packages/navigator/src/browser/navigator-contribution.ts
Labels: bug, commands

#5071 [markers] add 'Collapse All' toolbar item for the problems widget
  packages/markers/src/browser/problem/problem-contribution.ts
  packages/markers/src/browser/problem/problem-frontend-module.ts
  packages/markers/src/browser/problem/problem-widget.tsx
Labels: enhancement, markers

#5080 Add ability to close editor and retrieve document without opening the last one
  packages/plugin-ext/src/api/plugin-api.ts
  packages/plugin-ext/src/main/browser/documents-main.ts
  packages/plugin-ext/src/plugin/documents.ts
Labels: Team: Che-IDE1, bug, plug-in system

#5051 [commands] add preference to control the number of recently used items to display
  packages/core/src/browser/core-preferences.ts
  packages/core/src/browser/quick-open/quick-command-service.ts
Labels: enhancement

#5083 [preferences] filter out preferences without a group name
  packages/preferences/src/browser/preferences-tree-widget.ts
Labels: bug, preferences

#5154 [plugin] [webview] Add min-height for webview icon as for other icons of tabs
  packages/plugin-ext/src/main/browser/style/webview.css
Labels: plug-in system

#5150 Add ability to match browser displayed node with the plugin created node
  packages/plugin-ext/src/hosted/browser/worker/worker-main.ts
  packages/plugin-ext/src/hosted/node/plugin-host-rpc.ts
  packages/plugin-ext/src/plugin/command-registry.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/selection-provider-ext.ts
  packages/plugin-ext/src/plugin/tree/tree-views.ts
Labels: Team: Che-IDE1, enhancement, plug-in system

#5153 [debug] add support for prefixed debug configuration quick-open
  packages/debug/src/browser/debug-frontend-module.ts
  packages/debug/src/browser/debug-prefix-configuration.ts
Labels: debug, enhancement

#5183 [debug] add 'Clear Console' command and toolbar item
  packages/debug/src/browser/console/debug-console-contribution.ts
Labels: debug, enhancement

#5239 Add 'reject-cycles' lerna option
  scripts/lerna.js
Labels: quality

#5160 [tasks] add 'Terminate Task' command
  packages/task/src/browser/quick-open-task.ts
  packages/task/src/browser/task-frontend-contribution.ts
  packages/task/src/browser/task-frontend-module.ts
Labels: enhancement, tasks
