Repository eclipse-theia/theia, pull requests merged in 2019-01, with the labels that each got.

#3908 [plug-in] Implement 'registerFoldingRangeProvider' Languages API
  packages/plugin-ext/src/api/model.ts
  packages/plugin-ext/src/api/plugin-api.ts
  packages/plugin-ext/src/main/browser/languages-main.ts
  packages/plugin-ext/src/plugin/languages.ts
  packages/plugin-ext/src/plugin/languages/code-action.ts
  packages/plugin-ext/src/plugin/languages/folding.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/type-converters.ts
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/plugin/API.md
  packages/plugin/src/theia.d.ts
Labels: plug-in system

#3826 Add 'tasks.onDidStartTask' for Plug-in API
  CHANGELOG.md
  packages/plugin-ext/src/api/plugin-api.ts
  packages/plugin-ext/src/main/browser/tasks-main.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/tasks/tasks.ts
  packages/plugin-ext/src/plugin/type-converters.spec.ts
  packages/plugin-ext/src/plugin/type-converters.ts
  packages/plugin/src/theia.d.ts
  packages/task/src/browser/task-service.ts
Labels: plug-in system

#3932 [plug-in]Initialize workspace's folders for plug-in system
  packages/plugin-ext/src/main/browser/workspace-main.ts
Labels: plug-in system

#3941 [task] display placeholder 'No tasks found' when no tasks are present to attach
  packages/task/src/browser/quick-open-task.ts
Labels: tasks

#3939 [task] display placeholder 'No tasks found' when no tasks are present
  packages/task/src/browser/quick-open-task.ts
Labels: tasks

#3934 [plug-in] Implement 'registerColorProvider' Languages API
  packages/plugin-ext/src/api/model.ts
  packages/plugin-ext/src/api/plugin-api.ts
  packages/plugin-ext/src/main/browser/languages-main.ts
  packages/plugin-ext/src/plugin/languages.ts
  packages/plugin-ext/src/plugin/languages/color.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/type-converters.ts
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/plugin/src/theia.d.ts
Labels: plug-in system

#3902 Use node debugger as a plugin
  packages/debug-nodejs/src/node/debug-nodejs-backend-module.ts
  packages/plugin-ext/package.json
  packages/plugin-ext/src/api/plugin-api.ts
  packages/plugin-ext/src/main/browser/debug/debug-main.ts
  packages/plugin-ext/src/main/browser/debug/plugin-debug-adapter-contribution.ts
  packages/plugin-ext/src/main/browser/debug/plugin-debug-service.ts
  packages/plugin-ext/src/main/browser/main-context.ts
  packages/plugin-ext/src/main/browser/plugin-ext-frontend-module.ts
  packages/plugin-ext/src/plugin/node/debug/debug.ts
  packages/plugin-ext/src/plugin/node/debug/plugin-debug-adapter-contribution.ts
  packages/plugin-ext/src/plugin/node/debug/plugin-debug-adapter-executable-resolver.ts
  packages/plugin-ext/src/plugin/node/debug/plugin-debug-adapter-session.ts
  packages/plugin-ext/src/plugin/node/debug/plugin-debug-adapter-starter.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  yarn.lock
Labels: Team: Che-Languages, debug, plug-in system

#3943 Add git commands 'stageAll', 'unstageAll', and 'discardAll'
  packages/git/src/browser/git-view-contribution.ts
  packages/git/src/browser/git-widget.tsx
  packages/git/src/browser/style/index.css
Labels: enhancement, git

#4022 [plug-in]Add dummy implementation to emit onWillSaveTextDocument event
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin/src/theia.d.ts
Labels: plug-in system

#4025 [plug-in] implement "registerRenameProvider" of Languages API
  packages/plugin-ext/src/api/model.ts
  packages/plugin-ext/src/api/plugin-api.ts
  packages/plugin-ext/src/main/browser/languages-main.ts
  packages/plugin-ext/src/main/browser/text-editors-main.ts
  packages/plugin-ext/src/plugin/languages.ts
  packages/plugin-ext/src/plugin/languages/rename.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin/src/theia.d.ts
Labels: plug-in system

#4056 [debug] Debug adapter download script improvements
  packages/debug/bin/download-adapters.js
  packages/debug/package.json
Labels: debug, enhancement

#3996 [git] add default configured remote for git pull & git push
  packages/git/src/browser/git-quick-open-service.ts
  packages/git/src/browser/git-view-contribution.ts
Labels: enhancement, git

#4028 [Debug] Debug toolbar resume button stuck in wrong state
  packages/debug/src/browser/debug-session.tsx
Labels: bug, debug

#4092 [plug-in] Fix some signatures
  packages/plugin/src/theia.d.ts
Labels: plug-in system

#4021 [plug-in]Register code lenses from the vscode extensions
  packages/plugin-ext-vscode/src/node/plugin-vscode-init.ts
  packages/plugin-ext/src/plugin/command-registry.ts
  packages/plugin-ext/src/plugin/type-converters.ts
  packages/plugin/src/theia.d.ts
Labels: plug-in system

#4119 Fix 'onDidSelectItem' behavior for Quick Pick widget
  packages/plugin-ext/src/main/browser/quick-open-main.ts
Labels: bug, plug-in system

#4101 Add 'tasks.onDidEndTask' Plug-in API
  CHANGELOG.md
  packages/plugin-ext/src/api/plugin-api.ts
  packages/plugin-ext/src/main/browser/tasks-main.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/tasks/tasks.ts
  packages/plugin/src/theia.d.ts
Labels: plug-in system

#4170 Fixes for typescript plugin
  packages/plugin-ext-vscode/src/node/plugin-vscode-init.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/preference-registry.ts
  packages/plugin/src/theia-proposed.d.ts
  packages/plugin/src/theia.d.ts
  packages/typescript/src/browser/jsx-tags-language-config.ts
  packages/typescript/src/browser/typescript-frontend-module.ts
  packages/typescript/src/common/index.ts
Labels: plug-in system

#4180 Handle uncaught plugin local dir does not exist
  packages/plugin-ext/src/main/node/plugin-deployer-impl.ts
  packages/plugin-ext/src/main/node/resolvers/plugin-local-dir-resolver.ts
Labels: plug-in system

#4186 [plug-in][debug]Make it possible to connect to remote debug server
  packages/plugin-ext/src/plugin/node/debug/debug.ts
  packages/plugin-ext/src/plugin/node/debug/plugin-debug-adapter-starter.ts
Labels: dap, plug-in system

#4153 [plug-in] Implement inspect configuration method of Preferences API
  packages/core/src/browser/frontend-application-module.ts
  packages/core/src/browser/preferences/preference-service.ts
  packages/plugin-ext/src/api/plugin-api.ts
  packages/plugin-ext/src/common/plugin-protocol.ts
  packages/plugin-ext/src/hosted/browser/hosted-plugin.ts
  packages/plugin-ext/src/hosted/browser/worker/worker-main.ts
  packages/plugin-ext/src/hosted/node/plugin-host-rpc.ts
  packages/plugin-ext/src/main/browser/plugin-worker.ts
  packages/plugin-ext/src/main/browser/preference-registry-main.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/preference-registry.ts
  packages/plugin-ext/src/plugin/preferences/configuration.ts
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/plugin/src/theia.d.ts
Labels: plug-in system
