Repository eclipse-theia/theia, pull requests merged in 2019-10, with the labels that each got.

#6283 [Fylesystem] Fixed error on handling of nsfw RENAMED event
  packages/core/src/typings/nsfw/index.d.ts
  packages/filesystem/src/node/nsfw-watcher/nsfw-filesystem-watcher.ts
Labels: filesystem

#6281 [quick-open] Do not validate input on start
  packages/core/src/browser/quick-open/quick-input-service.ts
Labels: quick-open

#6304 [plugin-ext] Fix WorkspaceEdits for rename providers
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/languages-main.ts
  packages/plugin-ext/src/main/browser/text-editors-main.ts
  packages/plugin-ext/src/plugin/languages/rename.ts
Labels: plug-in system

#6318 [terminal] Move hover tooltip zIndex above the xterm.js canvas layers
  packages/terminal/src/browser/terminal-widget-impl.ts
Labels: terminal

#6321 [plugin] start document listening when all clients are ready
  packages/plugin-ext/src/main/browser/editors-and-documents-main.ts
  packages/plugin-ext/src/main/browser/main-context.ts
Labels: plug-in system, vscode

#6323 [plugin] initialize ext storage proxy earlier
  packages/plugin-ext/src/hosted/browser/worker/worker-main.ts
  packages/plugin-ext/src/hosted/node/plugin-host-rpc.ts
  packages/plugin-ext/src/plugin/plugin-manager.ts
  packages/plugin-ext/src/plugin/plugin-storage.ts
Labels: plug-in system

#6326 [plugin] dispose webview by a handle, not a widget id
  packages/plugin-ext/src/main/browser/webviews-main.ts
Labels: plug-in system, vscode, webviews

#6302 Align 'ActionProvider' related entities with VS Code
  CHANGELOG.md
  packages/core/src/common/quick-open-model.ts
  packages/monaco/src/browser/monaco-quick-open-service.ts
  packages/monaco/src/typings/monaco/index.d.ts
  packages/task/src/browser/task-action-provider.ts
Labels: tasks

#6328 fix command execution for inline editors
  packages/monaco/src/browser/monaco-command-registry.ts
  packages/monaco/src/browser/monaco-editor-provider.ts
Labels: debug, monaco

#6271 [cpp] Update clangd install snippet to clangd-10 in README.md
  packages/cpp/README.md
Labels: cpp

#6280 Add option to only allow a single instance of the Electron app
  dev-packages/application-manager/src/generator/frontend-generator.ts
  dev-packages/application-package/src/application-props.ts
Labels: electron, enhancement

#6331 support input variables for tasks
  packages/task/src/browser/process/process-task-resolver.ts
  packages/task/src/browser/task-service.ts
  packages/variable-resolver/src/browser/common-variable-contribution.ts
  packages/variable-resolver/src/browser/variable-resolver-service.ts
Labels: tasks

#6334 add content assist for input variables in tasks.json
  packages/task/src/browser/task-schema-updater.ts
  packages/variable-resolver/src/browser/common-variable-contribution.ts
  packages/variable-resolver/src/browser/variable-resolver-service.ts
Labels: tasks

#6313 Fix loss of local storage in Electron
  packages/core/src/browser/storage-service.ts
Labels: electron

#6335 Make plugins crash error message dependent on the error type
  packages/plugin-ext/src/hosted/node/hosted-plugin-process.ts
Labels: enhancement, plug-in system

#6285 Fixed confirmExit behaviour for Electron apps
  dev-packages/application-manager/src/generator/frontend-generator.ts
  packages/core/package.json
  packages/core/src/browser/window/default-window-service.ts
  packages/core/src/electron-browser/shutdown-hook/electron-shutdown-hook-module.ts
  packages/core/src/electron-browser/shutdown-hook/electron-shutdown-hook.ts
  packages/core/src/electron-browser/window/electron-window-service.ts
Labels: electron

#6341 [core] Don't reject schemas with issues, but add valid properties.
  packages/core/src/browser/preferences/preference-contribution.ts
  packages/core/src/browser/preferences/preference-proxy.ts
  packages/core/src/browser/preferences/preference-service.spec.ts
  packages/core/src/browser/preferences/preference-service.ts
  packages/editor-preview/src/browser/editor-preview-manager.spec.ts
Labels: preferences, vscode

#6342 [vscode] Improved Tree View
  packages/core/src/browser/style/tree.css
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/style/tree.css
  packages/plugin-ext/src/main/browser/view/tree-view-widget.tsx
  packages/plugin-ext/src/main/browser/view/tree-views-main.ts
  packages/plugin-ext/src/plugin/tree/tree-views.ts
  packages/plugin/src/theia.d.ts
Labels: preferences, tree, vscode

#6307 Upgrade to Electron 4
  dev-packages/application-manager/package.json
  dev-packages/electron/package.json
  doc/Developing.md
  package.json
  yarn.lock
Labels: electron

#6312 Pass pluginInfo through to output channel append method
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/output-channel-registry-main.ts
  packages/plugin-ext/src/plugin/output-channel-registry.ts
  packages/plugin-ext/src/plugin/output-channel/output-channel-item.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
Labels: plug-in system

#6277 [WIP] [releng] update release instructions
  doc/Publishing.md
Labels: documentation

#6247 Support preLaunchTask and postDebugTask
  packages/debug/package.json
  packages/debug/src/browser/debug-session-manager.ts
  packages/debug/src/common/debug-configuration.ts
  packages/debug/src/node/vscode/vscode-debug-adapter-contribution.ts
  packages/plugin-ext/src/hosted/node/scanners/scanner-theia.ts
  packages/task/src/browser/quick-open-task.ts
  packages/task/src/browser/task-configurations.ts
  packages/task/src/browser/task-frontend-module.ts
  packages/task/src/browser/task-name-resolver.ts
  packages/task/src/browser/task-service.ts
  packages/task/src/common/task-protocol.ts
Labels: debug, tasks, vscode

#6364 Update C/C++ Documentation
  packages/cpp/src/browser/cpp-build-configurations-ui.ts
  packages/cpp/src/browser/cpp-build-configurations.ts
  packages/cpp/src/browser/cpp-commands.ts
  packages/cpp/src/browser/cpp-keybinding.ts
  packages/cpp/src/browser/cpp-language-client-contribution.ts
  packages/cpp/src/browser/cpp-preferences.ts
  packages/cpp/src/browser/cpp-task-provider.ts
  packages/cpp/src/common/cpp-build-configuration-protocol.ts
  packages/cpp/src/common/index.ts
  packages/cpp/src/node/cpp-contribution.ts
Labels: cpp, documentation

#6365 Fix `cancellable` option for `withProgress`
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/notification-main.ts
  packages/plugin-ext/src/plugin/notification.ts
Labels: progress, vscode

#6382 Fix #6380: Add configuration attribute to DebugSession
  packages/plugin-ext/src/plugin/node/debug/debug.ts
  packages/plugin-ext/src/plugin/node/debug/plugin-debug-adapter-session.ts
  packages/plugin/src/theia.d.ts
Labels: debug, vscode

#6369 Update the 'keymaps' documentation.
  packages/core/src/browser/keybinding.ts
  packages/core/src/browser/shell/tab-bar-toolbar.tsx
  packages/core/src/common/menu.ts
  packages/keymaps/src/browser/keybindings-widget.tsx
  packages/keymaps/src/browser/keymaps-frontend-contribution.ts
  packages/keymaps/src/browser/keymaps-parser.spec.ts
  packages/keymaps/src/browser/keymaps-parser.ts
  packages/keymaps/src/browser/keymaps-service.ts
Labels: documentation, keybindings

#6388 open minibrowser without url encode
  packages/mini-browser/src/browser/mini-browser-open-handler.ts
Labels: mini-browser

#6266 statically compress webpack artifacts
  CHANGELOG.md
  dev-packages/application-manager/package.json
  dev-packages/application-manager/src/generator/webpack-generator.ts
  packages/core/src/node/backend-application.ts
  packages/task/src/node/test/task-test-container.ts
  packages/terminal/src/node/test/terminal-test-container.ts
  yarn.lock
Labels: performance

#6378 Enhance loop condition in URI.allLocations to prevent endless loops
  packages/core/src/common/path.spec.ts
  packages/core/src/common/path.ts
  packages/core/src/common/uri.spec.ts
  packages/core/src/common/uri.ts
Labels: shell

#6397 Made Preferences widget rebindable
  packages/preferences/src/browser/preference-frontend-module.ts
Labels: preferences

#6398 provide empty initializationOptions for json LS
  packages/json/src/browser/json-client-contribution.ts
  yarn.lock
Labels: json

#6403 [markdown-preview] resolve relative links properly
  packages/preview/src/browser/markdown/markdown-preview-handler.ts
  packages/preview/src/browser/preview-uri.ts
Labels: preview

#5451 Allow amending of the initial commit in the repository
  packages/git/src/browser/git-scm-provider.ts
  packages/scm/src/browser/scm-amend-component.tsx
  packages/scm/src/browser/scm-provider.ts
Labels: git, scm

#6411 Rebind Go to Definition to ctrl+f11
  packages/monaco/src/browser/monaco-command.ts
  packages/monaco/src/browser/monaco-keybinding.ts
Labels: monaco

#6413 feat(OutputChannelRegistry): introduce interface and add it into rpc
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/plugin/output-channel-registry.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
Labels: plug-in system

#6437 GH-6432: Deprecated `getDefaultWorkspacePath`.
  CHANGELOG.md
  packages/workspace/src/browser/workspace-service.ts
Labels: workspace

#6422 add registered ProblemMatchers to tasks schema
  packages/task/src/browser/task-problem-matcher-registry.ts
  packages/task/src/browser/task-schema-updater.ts
Labels: enhancement, tasks

#6436 [travis] fix failing windows CI due to ffmpeg
  dev-packages/electron/native/src/ffmpeg.c
  dev-packages/electron/native/src/ffmpeg.h
  dev-packages/electron/native/src/linux-ffmpeg.c
  dev-packages/electron/native/src/win-ffmpeg.c
Labels: OS/Windows, ci

#6443 [cli] add explicit 'yargs' dependency
  dev-packages/cli/package.json
Labels: dependencies

#6419 fix cpp task labels and ensure they can be run
  packages/cpp/src/browser/cpp-task-provider.spec.ts
  packages/cpp/src/browser/cpp-task-provider.ts
  packages/task/src/browser/quick-open-task.ts
  packages/task/src/browser/task-name-resolver.ts
Labels: cpp, tasks

#6450 [monaco] Fix bad preference initialization
  packages/monaco/src/browser/monaco-frontend-application-contribution.ts
Labels: monaco

#6426 Fixes to default selected SCM code
  packages/git/src/browser/git-repository-provider.ts
  packages/scm/src/browser/scm-service.ts
Labels: git, scm

#6469 [travis] remove 'allow_failures' from config
  .travis.yml
Labels: ci

#6471 Add terminal renderer option into terminal preferences
  packages/terminal/src/browser/terminal-preferences.ts
  packages/terminal/src/browser/terminal-widget-impl.ts
Labels: terminal

#6476 Update changelog for 0.12.0
  CHANGELOG.md
Labels: documentation
