Repository eclipse-theia/theia, pull requests merged in 2019-09, with the labels that each got.

#6078 [vscode] vscode.extension.contributes.configuration can be array
  packages/plugin-ext/src/common/plugin-protocol.ts
  packages/plugin-ext/src/hosted/node/scanners/scanner-theia.ts
  packages/plugin-ext/src/main/browser/plugin-contribution-handler.ts
Labels: plug-in system, preferences

#6068 [vscode] parse view contribution "when" clause context
  packages/core/src/browser/context-key-service.ts
  packages/monaco/src/browser/monaco-context-key-service.ts
  packages/monaco/src/typings/monaco/index.d.ts
  packages/plugin-ext/src/main/browser/view/plugin-view-registry.ts
Labels: plug-in system, vscode

#6073 [plugin] Add missing return statements
  packages/plugin-ext-vscode/src/node/plugin-vscode-resolver.ts
Labels: plug-in system

#6086 fix typos
  packages/plugin-ext/src/main/browser/view/plugin-view-registry.ts
Labels: plug-in system

#6085 Git diff list uses the perfect scroll bar now.
  packages/git/src/browser/diff/git-diff-widget.tsx
  packages/git/src/browser/git-navigable-list-widget.tsx
  packages/git/src/browser/style/history.css
Labels: git

#6013 fix bug: CompletionResultDto does not have a property named _id
  packages/plugin-ext/src/main/browser/languages-main.ts
Labels: plug-in system

#6069 support alternative commands in context menus
  CHANGELOG.md
  packages/core/src/browser/frontend-application-module.ts
  packages/core/src/browser/menu/browser-menu-plugin.ts
  packages/core/src/browser/menu/context-menu-context.ts
  packages/core/src/common/menu.ts
  packages/core/src/electron-browser/menu/electron-context-menu-renderer.ts
  packages/core/src/electron-browser/menu/electron-main-menu-factory.ts
  packages/plugin-ext/src/common/plugin-protocol.ts
  packages/plugin-ext/src/hosted/node/scanners/scanner-theia.ts
  packages/plugin-ext/src/main/browser/menus/menus-contribution-handler.ts
Labels: menus, vscode

#6089 [workspace] `workspace.supportMultiRootWorkspace` is enabled by default
  CHANGELOG.md
  packages/workspace/src/browser/workspace-preferences.ts
Labels: multi-root, workspace

#6035 fire JSON schema changed event if an underlying in-memory resource is changed
  packages/core/src/browser/json-schema-store.ts
  packages/core/src/common/resource.ts
Labels: debug, vscode

#5986 [navigator] Added toolbar to disable auto sync
  packages/core/src/browser/shell/tab-bar-toolbar.tsx
  packages/navigator/src/browser/navigator-contribution.ts
  packages/navigator/src/browser/navigator-preferences.ts
Labels: navigator

#6094 Remove hover background on the scm inline actions
  packages/scm/src/browser/style/index.css
Labels: scm, ui/ux

#6058 add fetchTasks() and executeTask() to tasks API
  CHANGELOG.md
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/tasks-main.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/tasks/tasks.ts
  packages/plugin/src/theia.d.ts
  packages/task/src/browser/task-service.ts
Labels: tasks

#5584 always show debug icon on first start
  packages/debug/src/browser/debug-frontend-application-contribution.ts
Labels: debug

#6112 Update vscode default api version to 1.38.0
  packages/plugin-ext-vscode/src/node/plugin-vscode-init.ts
Labels: plug-in system

#6116 Small adjustments in scm and search in workspace css
  packages/scm/src/browser/style/index.css
  packages/search-in-workspace/src/browser/styles/index.css
Labels: scm

#6110 [preferences] Reject invalid preference schemas.
  packages/core/src/browser/preferences/preference-contribution.ts
Labels: preferences, vscode

#6119 ESLint VS Code extension installation fails #6118
  packages/plugin-ext/src/common/plugin-protocol.ts
  packages/plugin-ext/src/hosted/node/scanners/scanner-theia.ts
Labels: plug-in system, tasks

#6123 [plugin] withProgress should start task immediately
  packages/plugin-ext/src/plugin/notification.ts
Labels: plug-in system, progress

#6120 [debug] Download vscode debug extensions from elsewhere
  packages/debug-nodejs/package.json
  packages/java-debug/package.json
Labels: debug, vscode

#6125 [textmate] don't warn when same grammar is registered multiple times
  packages/monaco/src/browser/textmate/textmate-registry.ts
  packages/plugin-ext/src/common/plugin-protocol.ts
  packages/plugin-ext/src/hosted/node/scanners/grammars-reader.ts
  packages/plugin-ext/src/main/browser/plugin-contribution-handler.ts
Labels: textmate, vscode

#5877 prompt user to choose parser to parse task output
  CHANGELOG.md
  packages/task/src/browser/task-configurations.ts
  packages/task/src/browser/task-problem-matcher-registry.ts
  packages/task/src/browser/task-service.ts
Labels: tasks, vscode

#6097 plugin host not to crash on activation error and add messages
  packages/plugin-ext/src/plugin/plugin-manager.ts
Labels: plug-in system

#6141 don't show view containers with hidden views on startup
  packages/plugin-ext/src/main/browser/view/plugin-view-registry.ts
  packages/plugin-ext/src/main/browser/view/tree-views-main.ts
Labels: plug-in system, vscode

#6132 [markers] fix false positive problem tabbar decorators
  packages/markers/src/browser/problem/problem-tabbar-decorator.ts
Labels: bug, problems

#6145 register language features even if a language is not registered
  packages/languages/package.json
  packages/monaco/src/typings/monaco/index.d.ts
  packages/plugin-ext/src/main/browser/languages-main.ts
  packages/plugin-ext/src/plugin/type-converters.ts
  yarn.lock
Labels: lsp, monaco, textmate, vscode

#6149 simplify plugin unzipping log info to one line
  packages/plugin-ext-vscode/src/node/plugin-vscode-file-handler.ts
  packages/plugin-ext/src/main/node/handlers/plugin-theia-file-handler.ts
Labels: plug-in system

#6158 add `enter` key event handler and focus style to `open button` in navigator
  packages/core/src/browser/style/index.css
  packages/navigator/src/browser/navigator-contribution.ts
  packages/navigator/src/browser/navigator-widget.tsx
  packages/navigator/src/browser/style/index.css
Labels: navigator, shell

#6155 Fix webview theme styles
  dev-packages/application-manager/src/generator/webpack-generator.ts
  packages/core/src/browser/style/index.css
  packages/core/src/browser/theming.ts
  packages/plugin-ext/src/main/browser/webview/theme-rules-service.ts
Labels: plug-in system, shell, webviews

#6162 add focus style to items in getting started page
  packages/getting-started/src/browser/style/index.css
Labels: getting-started

#6161 [plug-in] decorate vscode-ws-jsonrpc to be es5 compatible
  .theia/settings.json
  packages/plugin-ext/src/common/plugin-message-reader.ts
  packages/plugin-ext/src/common/plugin-message-writer.ts
  packages/plugin-ext/src/common/types.ts
Labels: debug, plug-in system

#6170 register Monaco keybindings in reverse order
  packages/monaco/src/browser/monaco-keybinding.ts
Labels: keybindings, monaco

#6131 Fix hosted plugin restart debug instance starts a regular instance
  packages/plugin-dev/src/browser/hosted-plugin-manager-client.ts
Labels: debug, plug-in system

#6184 Updated inversify to 5.0.1
  packages/core/package.json
  yarn.lock
Labels: dependencies

#6127 [plugin] fix: dispose deploy listener on close
  packages/plugin-ext/src/hosted/node/plugin-service.ts
Labels: plug-in system

#6172 Performance improvements for initialization
  packages/core/src/browser/preferences/preference-provider.ts
  packages/core/src/browser/preferences/preference-proxy.spec.ts
  packages/core/src/browser/preferences/preference-proxy.ts
  packages/core/src/browser/preferences/preference-service.spec.ts
  packages/core/src/browser/preferences/preference-service.ts
  packages/core/src/browser/preferences/test/mock-preference-provider.ts
  packages/core/src/browser/preferences/test/mock-preference-service.ts
  packages/debug/src/browser/preferences/launch-preferences.spec.ts
  packages/editor-preview/src/browser/editor-preview-manager.spec.ts
  packages/monaco/src/browser/monaco-configurations.ts
  packages/monaco/src/browser/monaco-editor-provider.ts
  packages/monaco/src/browser/monaco-frontend-module.ts
  packages/monaco/src/typings/monaco/index.d.ts
  packages/preferences/src/browser/folder-preference-provider.ts
  packages/preferences/src/browser/preference-service.spec.ts
  packages/preferences/src/browser/workspace-preference-provider.ts
Labels: monaco, performance, preferences

#6148 Refactored LanguagesMainImpl and OutputChannelRegistryMainImpl so they could be extended
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/common/rpc-protocol.ts
  packages/plugin-ext/src/main/browser/languages-main.ts
  packages/plugin-ext/src/main/browser/main-context.ts
  packages/plugin-ext/src/main/browser/output-channel-registry-main.ts
  packages/plugin-ext/src/main/browser/plugin-ext-frontend-module.ts
Labels: plug-in system

#6198 [preferences] prevent closing preference editor with the middle mouse click
  packages/preferences/src/browser/preference-editor-widget.ts
Labels: bug, preferences

#6207 [plugin] map dependencies to vscode builtins properly
  packages/plugin-ext-vscode/src/node/scanner-vscode.ts
Labels: vscode

#6188 [drag and drop] prevent default dnd behavior
  packages/core/src/browser/frontend-application.ts
Labels: bug, dnd

#6196 [preview] fix transparent preview widget background
  packages/core/src/browser/style/dockpanel.css
  packages/core/src/browser/style/tabs.css
Labels: bug, preview

#6219 Deep cloning values get from Preferences and set to monaco editor option.
  packages/monaco/src/browser/monaco-editor-provider.ts
Labels: monaco

#6220 Give React tab toolbar items access to the current widget instance
  packages/core/src/browser/shell/tab-bar-toolbar.tsx
Labels: toolbar

#6238 [CI] update Travis CI badge
  README.md
Labels: ci

#6241 [docs] Update developer docs with new launch configurations
  doc/Developing.md
Labels: documentation

#5941 Fix for issue #2906 (semantic highlighting styles overruled by TM scopes)
  packages/monaco/src/browser/monaco-semantic-highlighting-service.ts
Labels: monaco

#6222 [git] handle attempting to sign-off without configs
  packages/git/src/browser/git-contribution.ts
Labels: bug, git

#6236 [SCM] Fix SCM status bar commands
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/scm-main.ts
  packages/plugin-ext/src/plugin/scm.ts
  packages/scm/src/browser/scm-contribution.ts
Labels: plug-in system, scm

#6225 Minor fix for the command palette filter
  packages/core/src/common/quick-open-service.ts
  packages/monaco/src/browser/monaco-quick-open-service.ts
Labels: commands, quick-open

#6248 [plugin] wait for workspace to be ready
  packages/plugin-ext/src/hosted/browser/hosted-plugin.ts
Labels: plug-in system

#6243 [plugin] `contribute.keybindings` can be objects or arrays.
  packages/plugin-ext/src/common/plugin-protocol.ts
  packages/plugin-ext/src/hosted/node/scanners/scanner-theia.ts
  packages/plugin-ext/src/main/browser/plugin-contribution-handler.ts
Labels: vscode

#5140 GH-5100: Update the menu if the frontend is ready.
  packages/core/src/electron-browser/menu/electron-menu-contribution.ts
Labels: electron

#6229 GH-4723: Added support for `ResourceFileEdit`.
  CHANGELOG.md
  packages/monaco/src/browser/monaco-workspace.ts
Labels: monaco

#6214 Pass plugin information through to languages-main
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/languages-main.ts
  packages/plugin-ext/src/plugin/languages.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/type-converters.ts
Labels: plug-in system

#6262 [preferences] improve the display of preference descriptions
  packages/core/src/common/preferences/preference-schema.ts
  packages/editor/src/browser/editor-preferences.ts
  packages/preferences/src/browser/preferences-decorator.ts
Labels: bug, preferences, ui/ux

#6270 Allow to use HTTP resources for webview tabs
  packages/plugin-ext/src/plugin/webviews.ts
Labels: plug-in system, webviews

#6268 access tasks configs as preferences
  CHANGELOG.md
  packages/task/package.json
  packages/task/src/browser/task-action-provider.ts
  packages/task/src/browser/task-configuration-manager.ts
  packages/task/src/browser/task-configuration-model.ts
  packages/task/src/browser/task-configurations.ts
  packages/task/src/browser/task-folder-preference-provider.ts
  packages/task/src/browser/task-frontend-module.ts
  packages/task/src/browser/task-preferences.ts
  packages/task/src/browser/task-schema-updater.ts
  packages/task/src/browser/task-service.ts
Labels: preferences, tasks

#5976 fix #5229: Add language configuration items for js, ts and jsx
  packages/textmate-grammars/src/browser/js.ts
  packages/textmate-grammars/src/browser/jsx-tags.ts
  packages/textmate-grammars/src/browser/ts.ts
Labels: textmate

#6293 Add out of memory hint in case of plugins node crash
  packages/plugin-ext/src/hosted/node/hosted-plugin-process.ts
Labels: enhancement, plug-in system
