Repository eclipse-theia/theia, pull requests merged in 2019-07, with the labels that each got.

#5118 [Plugin-Api] Add stub implementation of the VsCode comment Plugin-Api
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/plugin/src/theia.d.ts
Labels: plug-in system

#5588 [Plugin API] Fix Theia workspace name getter if no folders are opened
  packages/plugin-ext/src/plugin/workspace.ts
Labels: bug, plug-in system

#5577 Fixed #5543: implemented "show all opened terminals" quick-open command
  packages/terminal/src/browser/terminal-frontend-contribution.ts
  packages/terminal/src/browser/terminal-frontend-module.ts
  packages/terminal/src/browser/terminal-quick-open-service.ts
Labels: terminal

#5632 [workspace] do not re-open an already currently opened workspace
  packages/workspace/src/browser/workspace-frontend-contribution.ts
Labels: bug, workspace

#5633 Fixed #5500: implemented "Toggle Minimap" command
  packages/editor/src/browser/editor-command.ts
  packages/editor/src/browser/editor-navigation-contribution.ts
Labels: editor, enhancement

#5553 fix #5506: Make processId and cwd in TerminalWidget return promise when throw error
  packages/terminal/src/browser/terminal-widget-impl.ts
Labels: terminal, vscode

#5646 [markers] enable single-click and keyboard arrow selection to navigate markers
  packages/markers/src/browser/marker-tree-model.ts
  packages/markers/src/browser/problem/problem-widget.tsx
Labels: enhancement, markers, problems

#5484 Improve support for empty Git repository in Git view
  packages/git/src/browser/history/git-history-widget.tsx
  packages/git/src/common/git.ts
  packages/git/src/node/dugite-git.spec.ts
  packages/git/src/node/dugite-git.ts
  packages/scm/src/browser/scm-amend-component.tsx
Labels: git

#5657 fix #5656: Fixed the position of the button on Notification when displaying multiple lines of text
  packages/messages/src/browser/style/notifications.css
Labels: notifications

#5677 Fixed #5672: fixed the tree indentation issue caused by the expansion icon
  packages/core/src/browser/tree/tree-widget.tsx
Labels: tree, ui/ux

#5669 [search-in-workspace] ensure a stable search-in-workspace result order
  packages/search-in-workspace/src/browser/search-in-workspace-result-tree-widget.tsx
Labels: bug, search in workspace

#5688 [file-dialog] fix scaling issue for the file and save dialogs
  packages/filesystem/src/browser/style/file-dialog.css
Labels: enhancement, file dialog

#5695 [plug-in] Improve plugin node.js error handling
  packages/plugin-ext/src/hosted/node/hosted-plugin-process.ts
  packages/plugin-ext/src/hosted/node/plugin-host.ts
Labels: plug-in system

#5678 align first add of launch configuration to preferences
  packages/debug/src/browser/debug-configuration-manager.ts
Labels: debug, preferences, vscode

#5649 support workspaceContains activation events
  CHANGELOG.md
  packages/plugin-ext/src/hosted/browser/hosted-plugin.ts
  packages/plugin-ext/src/plugin/plugin-manager.ts
Labels: CQ Required, vscode

#5686 [search-in-workspace] add the 'search.collapseResults' preference
  packages/search-in-workspace/src/browser/search-in-workspace-preferences.ts
  packages/search-in-workspace/src/browser/search-in-workspace-result-tree-widget.tsx
Labels: enhancement, search in workspace

#5701 [search-in-workspace] fix search-in-workspace search result info
  packages/search-in-workspace/src/browser/search-in-workspace-widget.tsx
Labels: search in workspace

#5326 [keybindings] Aligned keybindings with VSCode
  packages/core/src/browser/keybinding.spec.ts
  packages/core/src/browser/keybinding.ts
  packages/keymaps/src/browser/keybindings-widget.tsx
  packages/plugin-ext/src/main/browser/keybindings/keybindings-contribution-handler.ts
Labels: keybindings, vscode

#5741 Fixed #5734 correct workspace path variables on windows
  packages/workspace/src/browser/workspace-variable-contribution.ts
Labels: workspace

#5754 [plugin] fix #5753: redetect languages on new grammar
  CHANGELOG.md
  packages/monaco/src/browser/monaco-editor.ts
  packages/plugin-ext/src/main/browser/plugin-contribution-handler.ts
Labels: monaco, vscode

#5771 [vscode] unzip node_modules for built-in extensions
  CHANGELOG.md
  packages/plugin-ext-vscode/src/node/plugin-vscode-file-handler.ts
Labels: critical, vscode

#5770 Revert "[keybindings] Aligned keybindings with VSCode"
  packages/core/src/browser/keybinding.spec.ts
  packages/core/src/browser/keybinding.ts
  packages/keymaps/src/browser/keybindings-widget.tsx
  packages/plugin-ext/src/main/browser/keybindings/keybindings-contribution-handler.ts
Labels: keybindings

#5772 Fix execution of configured tasks
  packages/task/src/browser/quick-open-task.ts
  packages/task/src/browser/task-configurations.ts
  packages/task/src/browser/task-service.ts
Labels: tasks

#5723 change the size of webview icon
  packages/plugin-ext/src/main/browser/style/webview.css
  packages/plugin-ext/src/main/browser/webview/theme-rules-service.ts
Labels: vscode, webviews

#5742 [mobile] Prevent the IDE from scrolling along with the text (e.g. on iPad)
  CHANGELOG.md
  packages/core/src/browser/frontend-application.ts
Labels: ipad, ui/ux

#5763 [markers] support 'information' diagnostic severity
  packages/markers/src/browser/problem/problem-contribution.ts
  packages/markers/src/browser/problem/problem-manager.ts
Labels: enhancement, markers

#5508 Ensure node-based debug adapters spawn same node exec as Theia
  packages/debug/src/common/debug-model.ts
  packages/debug/src/node/debug-adapter-factory.ts
  packages/debug/src/node/vscode/vscode-debug-adapter-contribution.ts
Labels: debug

#5619 fix extensions webview route on windows
  packages/plugin-ext-vscode/src/node/plugin-vscode-init.ts
  packages/plugin-ext/src/main/browser/webview/theme-rules-service.ts
  packages/plugin-ext/src/main/node/plugin-service.ts
  packages/plugin-ext/src/plugin/webviews.ts
Labels: vscode, webviews

#5795 Fix getting value from Memento
  packages/plugin-ext/src/plugin/plugin-storage.ts
Labels: bug

#5791 fix '@theia' implicit dependencies
  dev-packages/cli/package.json
  packages/debug/package.json
  packages/filesystem/package.json
  packages/json/package.json
  packages/plugin-dev/package.json
  packages/plugin-ext-vscode/package.json
  packages/plugin-ext/package.json
  packages/plugin-ext/src/plugin/languages/color.ts
  packages/plugin-ext/src/plugin/languages/folding.ts
  packages/plugin-ext/src/plugin/languages/rename.ts
  packages/task/package.json
Labels: plug-in system, quality

#5803 Move cpp grammars to textmate-grammars extension
  packages/cpp/src/browser/cpp-frontend-module.ts
  packages/textmate-grammars/data/c.tmLanguage.json
  packages/textmate-grammars/data/cpp.tmLanguage.json
  packages/textmate-grammars/data/platform.tmLanguage.json
  packages/textmate-grammars/src/browser/cpp.ts
  packages/textmate-grammars/src/browser/textmate-grammars-frontend-module.ts
Labels: cpp, enhancement

#5808 [quality] fix 'no-implicit-dependencies' errors
  configs/errors.tslint.json
  configs/warnings.tslint.json
  packages/core/package.json
  packages/debug/package.json
  packages/extension-manager/package.json
  packages/git/src/node/dugite-git.spec.ts
  packages/plugin-dev/package.json
  packages/plugin-ext-vscode/package.json
  packages/plugin-ext/package.json
  packages/plugin-ext/src/main/browser/menus/menus-contribution-handler.spec.ts
  packages/scm/package.json
  packages/textmate-grammars/package.json
Labels: quality

#5817 preserve debug view layout
  packages/core/src/browser/view-container.ts
Labels: debug, shell
