Repository eclipse-theia/theia, pull requests merged in 2019-02, with the labels that each got.

#4232 Support additional preload HTML elements
  dev-packages/application-manager/src/generator/frontend-generator.ts
  dev-packages/application-package/src/application-props.ts
Labels: theming, ui/ux

#4274 [plug-in][java][preferences] Add files.exclude preference
  CHANGELOG.md
  packages/filesystem/src/browser/filesystem-preferences.ts
  packages/navigator/src/browser/navigator-filter.ts
  packages/navigator/src/browser/navigator-preferences.ts
Labels: Team: Che-Languages, java, plug-in system, preferences, vscode

#4317 Removed duplicate 'new build config' when triggering for the first time.
  packages/cpp/src/browser/cpp-build-configurations-ui.ts
  packages/cpp/src/browser/cpp-preferences.ts
Labels: cpp

#4313 [cpp] add missing build config commands
  packages/cpp/src/browser/cpp-build-configurations-ui.ts
Labels: cpp

#4333 [cpp] update cpp change build config statusbar on active change
  packages/cpp/src/browser/cpp-build-configurations-statusbar-element.ts
  packages/cpp/src/browser/cpp-build-configurations.ts
Labels: cpp

#4336 [cpp] update cpp build config status bar item
  packages/cpp/src/browser/cpp-build-configurations-statusbar-element.ts
Labels: cpp

#4190 Improve `git pull` & `git push` quick-open-items
  packages/git/src/browser/git-quick-open-service.ts
  packages/git/src/common/git-model.ts
  packages/git/src/common/git.ts
  packages/git/src/node/dugite-git.ts
Labels: git

#4089 Improve UI test suite
  appveyor.yml
  examples/browser/package.json
  examples/browser/test/cpp/cpp-change-build-config.ui-spec.ts
  examples/browser/wdio.base.conf.js
  package.json
  yarn.lock
Labels: ci, test

#4320 [languages] fix clash in language server session ids
  packages/languages/src/node/languages-backend-contribution.ts
Labels: bug, languages

#4290 Add ability to specify container for webview panel
  CHANGELOG.md
  packages/plugin-ext/src/api/plugin-api.ts
  packages/plugin-ext/src/main/browser/webviews-main.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/type-converters.spec.ts
  packages/plugin-ext/src/plugin/type-converters.ts
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/plugin-ext/src/plugin/webviews.ts
  packages/plugin/src/theia.d.ts
Labels: plug-in system

#4375 Introduce vscode.previeHtml command support
  CHANGELOG.md
  examples/browser/package.json
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
  packages/plugin-ext/src/main/browser/webview/webview.ts
  packages/plugin-ext/src/main/browser/webviews-main.ts
  packages/plugin-ext/src/plugin/command-registry.ts
Labels: plug-in system

#4350 [file-search] update quick open file sort order
  packages/file-search/src/browser/quick-file-open.ts
Labels: enhancement, file search

#4315 Add ability to handle vscode.diff command and open diff editor
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
  packages/workspace/src/browser/diff-service.ts
  packages/workspace/src/browser/workspace-commands.ts
  packages/workspace/src/browser/workspace-compare-handler.ts
  packages/workspace/src/browser/workspace-frontend-module.ts
Labels: Team: Che-IDE1, plug-in system

#4374 Add 'tasks.taskExecutions' Plug-in API
  CHANGELOG.md
  packages/plugin-ext/src/api/plugin-api.ts
  packages/plugin-ext/src/main/browser/tasks-main.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/tasks/tasks.ts
  packages/plugin/src/theia.d.ts
Labels: plug-in system

#4392 [file-search] add 'Clear Editor History' command
  packages/editor/src/browser/editor-command.ts
  packages/editor/src/browser/editor-navigation-contribution.ts
  packages/editor/src/browser/navigation/navigation-location-service.ts
Labels: enhancement

#4405 Align TaskDto with TaskConfiguration
  packages/plugin-ext/src/api/plugin-api.ts
  packages/plugin-ext/src/plugin/type-converters.spec.ts
  packages/plugin-ext/src/plugin/type-converters.ts
Labels: plug-in system

#4410 Fix minor scrollbar issues for the command palette
  packages/core/src/browser/style/scrollbars.css
Labels: ui/ux

#4407 Add border between 'recently opened' and 'file results' quick open groups
  packages/file-search/src/browser/quick-file-open.ts
Labels: enhancement, file search, ui/ux

#4423 Register editor to location stack when 'onCurrentEditorChanged'
  packages/editor/src/browser/editor-navigation-contribution.ts
Labels: bug, file search

#4421 Remove git diff editors from quick file open
  packages/file-search/src/browser/quick-file-open.ts
Labels: bug, file search

#4419 Decouple language and grammar contributions for typescript
  packages/textmate-grammars/data/javascript.jsx.tmlanguage.json
  packages/textmate-grammars/data/javascript.tmlanguage.json
  packages/textmate-grammars/data/snippets/typescript.json
  packages/textmate-grammars/data/typescript.tmlanguage.json
  packages/textmate-grammars/data/typescript.tsx.tmlanguage.json
  packages/textmate-grammars/src/browser/js.ts
  packages/textmate-grammars/src/browser/jsx-tags.ts
  packages/textmate-grammars/src/browser/textmate-grammars-frontend-module.ts
  packages/textmate-grammars/src/browser/ts.ts
  packages/typescript/src/browser/javascript-language-config.ts
  packages/typescript/src/browser/typescript-frontend-module.ts
Labels: Team: Che-Languages, languages, plug-in system, typescript

#4420 [ui/ux] update tab-bar styling
  packages/core/src/browser/style/tabs.css
Labels: enhancement, ui/ux

#4447 Update tabbar padding
  packages/core/src/browser/style/tabs.css
Labels: ui/ux
