Repository eclipse-theia/theia, pull requests merged in 2019-12, with the labels that each got.

#6663 [terminal] map localhost to external links
  packages/terminal/src/browser/terminal-linkmatcher.ts
Labels: terminal

#6664 [fs][plugin] fix #6661: map editor icon paths to external URIs
  packages/filesystem/src/node/download/file-download-endpoint.ts
  packages/plugin-ext/src/main/browser/text-editors-main.ts
Labels: vscode

#6674 [core] don't scroll when closing a dialog
  packages/core/src/browser/dialogs.ts
Labels: dialogs

#6683 Set 'noopener' when opening windows to avoid sharing event loops
  CHANGELOG.md
  packages/core/src/browser/http-open-handler.ts
  packages/core/src/browser/window/default-window-service.ts
  packages/core/src/browser/window/window-service.ts
Labels: core

#6681 GH-6499: Explicitly close the socket `onStop` in electron
  dev-packages/application-manager/src/generator/frontend-generator.ts
  packages/core/src/common/messaging/web-socket-channel.ts
  packages/core/src/electron-browser/messaging/electron-messaging-frontend-module.ts
  packages/core/src/electron-browser/messaging/electron-ws-connection-provider.ts
  packages/core/src/node/messaging/messaging-contribution.ts
  packages/search-in-workspace/src/browser/search-in-workspace-frontend-module.ts
  packages/search-in-workspace/src/common/search-in-workspace-interface.ts
  packages/search-in-workspace/src/node/search-in-workspace-backend-module.ts
Labels: electron, messaging

#6671 Fix typo.
  doc/Developing.md
Labels: documentation

#6690 [keybinding] Align Electron keybindings for 'Open File' and 'Open Workspace Symbol' with VS Code
  packages/languages/package.json
  packages/languages/src/browser/workspace-symbols.ts
  packages/workspace/src/browser/workspace-frontend-contribution.ts
Labels: electron, keybindings

#6695 [vscode] add allow-forms
  packages/plugin-ext/src/main/browser/webview/webview.ts
Labels: webviews

#6692 Fix 'terminal' extension typos
  CHANGELOG.md
  packages/terminal/src/browser/terminal-copy-on-selection-handler.ts
  packages/terminal/src/browser/terminal-frontend-module.ts
  packages/terminal/src/browser/terminal-linkmatcher-files.ts
  packages/terminal/src/browser/terminal-widget-impl.ts
  packages/terminal/src/node/terminal-server.spec.ts
Labels: terminal

#6682 [vscode] allow installation of extension packs
  packages/plugin-ext-vscode/src/node/scanner-vscode.ts
  packages/plugin-ext/src/common/plugin-protocol.ts
Labels: vscode

#6673 Stop dispatching to keybindings in editing coposition text.
  packages/core/src/browser/frontend-application.ts
Labels: keybindings, monaco

#6703 [electron] Use VS Code's keychord for the 'Close All' command
  packages/core/src/browser/common-frontend-contribution.ts
Labels: electron

#6708 GH-6707: Fixed a timeout issue for notifications
  packages/messages/src/browser/notifications-manager.ts
Labels: notifications

#6668 ask user to terminate or restart a task if it is active
  packages/task/src/browser/task-configurations.ts
  packages/task/src/browser/task-frontend-module.ts
  packages/task/src/browser/task-service.ts
  packages/task/src/browser/task-source-resolver.ts
Labels: tasks, vscode

#6698 [debug] fix typos present in 'debug' extension
  CHANGELOG.md
  packages/debug/src/browser/debug-frontend-application-contribution.ts
  packages/debug/src/browser/preferences/launch-preferences.spec.ts
  packages/debug/src/browser/view/debug-threads-source.tsx
  packages/debug/src/browser/view/debug-threads-widget.ts
  packages/debug/src/common/debug-model.ts
Labels: debug

#6726 Explicitly set the electron app name.
  dev-packages/application-manager/src/generator/frontend-generator.ts
Labels: electron

#6718 search detected tasks by scope
  CHANGELOG.md
  packages/task/src/browser/provided-task-configurations.spec.ts
  packages/task/src/browser/provided-task-configurations.ts
  packages/task/src/browser/quick-open-task.ts
  packages/task/src/browser/task-frontend-contribution.ts
  packages/task/src/browser/task-service.ts
Labels: multi-root, tasks

#6687 Fixes for VsCode Vim extension
  packages/core/src/common/command.ts
  packages/monaco/src/browser/monaco-editor.ts
  packages/monaco/src/typings/monaco/index.d.ts
  packages/plugin-ext-vscode/package.json
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
  packages/plugin-ext/src/main/browser/command-registry-main.ts
Labels: keybindings, vscode

#6533 Fix `Task.execution` instantiation
  packages/plugin-ext/src/plugin/type-converters.spec.ts
  packages/plugin-ext/src/plugin/type-converters.ts
Labels: bug, plug-in system, tasks

#6742 Fix documentation typo in diff-computer.ts
  packages/scm/src/browser/dirty-diff/diff-computer.ts
Labels: documentation

#6745 Fix documentation typo in filesystem.ts
  packages/filesystem/src/common/filesystem.ts
Labels: documentation

#6751 Fix documentation typos in navigator extension
  packages/navigator/src/browser/navigator-diff.spec.ts
  packages/navigator/src/browser/navigator-diff.ts
Labels: documentation, navigator

#6752 Check partial keybindings to match current context
  packages/core/src/browser/keybinding.ts
Labels: keybindings, vscode

#6625 Fixes for Vscode emacs extension
  packages/core/src/browser/keybinding.ts
  packages/core/src/browser/keyboard/keys.ts
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
  packages/plugin-ext/src/common/known-commands.ts
  packages/plugin-ext/src/main/browser/keybindings/keybindings-contribution-handler.ts
Labels: keybindings, vscode

#6756 [task] fix circular dependencies from 'task' extension
  packages/task/src/browser/quick-open-task.ts
  packages/task/src/browser/task-action-provider.ts
  packages/task/src/browser/task-frontend-module.ts
Labels: quality, tasks

#6766 [messages] add tooltip to notification statusbar item
  packages/messages/src/browser/notifications-contribution.ts
Labels: notifications, statusbar

#6680 Support Compound Tasks
  packages/debug/src/browser/debug-session-manager.ts
  packages/debug/src/common/debug-configuration.ts
  packages/task/src/browser/task-node.ts
  packages/task/src/browser/task-schema-updater.ts
  packages/task/src/browser/task-service.ts
  packages/task/src/common/task-protocol.ts
  packages/task/src/common/task-watcher.ts
  packages/task/src/node/task-line-matchers.ts
  packages/task/src/node/task-problem-collector.ts
  packages/task/src/node/task-server.ts
  packages/variable-resolver/src/browser/variable-resolver-service.ts
Labels: debug, tasks, variable-resolver

#6774 [documentation] update changelog for 0.14.0 release
  CHANGELOG.md
Labels: documentation

#6770 [statusbar] add misc statusbar tooltips
  packages/editor/src/browser/editor-contribution.ts
  packages/monaco/src/browser/monaco-status-bar-contribution.ts
Labels: statusbar

#6771 [markers] add problems statusbar tooltip
  packages/markers/src/browser/problem/problem-contribution.ts
Labels: markers, statusbar

#6736 [preferences] fix indentation when updating preferences through the tree
  packages/core/src/browser/preferences/preference-service.ts
  packages/preferences/src/browser/abstract-resource-preference-provider.ts
Labels: bug, preferences

#6780 [task] fix miscellaneous typos present in the task extension
  CHANGELOG.md
  packages/task/src/browser/task-configurations.ts
  packages/task/src/browser/task-definition-registry.spec.ts
  packages/task/src/browser/task-schema-updater.ts
  packages/task/src/browser/task-service.ts
  packages/task/src/node/process/process-task-runner.ts
  packages/task/src/node/process/process-task.ts
  packages/task/src/node/task-server.slow-spec.ts
Labels: tasks

#6779 [git] update 'git checkout' statusbar tooltip
  packages/git/src/browser/git-contribution.ts
Labels: git, statusbar

#6789 [editor-preview] fix typos present in 'editor-preview' extension
  packages/editor-preview/src/browser/editor-preview-frontend-module.ts
  packages/editor-preview/src/browser/editor-preview-manager.spec.ts
Labels: editor-preview

#6799 [terminal] fix #6797: terminal change event bug
  packages/terminal/src/browser/terminal-frontend-contribution.ts
Labels: terminal
