Repository eclipse-theia/theia, pull requests merged in 2020-07, with the labels that each got.

#8045 Remove slash at the end of extension path
  packages/plugin-ext/src/hosted/node-electron/scanner-theia-electron.ts
  packages/plugin-ext/src/hosted/node/plugin-reader.ts
Labels: vscode

#8115 [debug] Save the dirty editor when starting launch config
  packages/debug/src/browser/debug-session-manager.ts
Labels: debug

#8092 navigator: add new command 'copy relative path'
  packages/navigator/src/browser/navigator-contribution.ts
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
Labels: commands, navigator

#8132 remove unused resolution for vscode-json-languageserver
  package.json
  yarn.lock
Labels: dependencies

#8083 fix #7680 remove css escape for html class attribute
  CHANGELOG.md
  packages/plugin-ext/src/main/browser/plugin-icon-theme-service.ts
Labels: theming, vscode

#7868 [7576]: Support for `vscode.workspace.findTextInFiles` API
  packages/core/src/browser/style/sidepanel.css
  packages/plugin-ext/src/common/plugin-api-rpc-model.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/view/tree-view-widget.tsx
  packages/plugin-ext/src/main/browser/workspace-main.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/workspace.ts
  packages/plugin/src/theia-proposed.d.ts
  packages/plugin/src/theia.d.ts
  packages/search-in-workspace/src/browser/search-in-workspace-service.ts
Labels: search in workspace, vscode

#8137 [Fix] Webview is not focused after cancelling quick open widget
  packages/plugin-ext/src/main/browser/webview/webview.ts
Labels: webviews

#8139 deprecate potentially used APIs in preparation to remove monaco-languageclient
  packages/languages/README.md
  packages/languages/src/browser/language-client-contribution.ts
  packages/languages/src/browser/language-client-services.ts
  packages/languages/src/browser/semantic-highlighting/semantic-highlighting-feature.ts
  packages/languages/src/browser/typehierarchy/typehierarchy-feature.ts
  packages/languages/src/node/language-server-contribution.ts
  packages/plugin/src/theia-proposed.d.ts
Labels: languages, monaco, vscode

#8144 tsconfig: add property to suppress tsconfig output
  tsconfig.json
Labels: dependencies

#8134 debug: add run statusbar item
  packages/debug/src/browser/debug-preferences.ts
  packages/debug/src/browser/debug-prefix-configuration.ts
Labels: debug, enhancement, statusbar

#8141 [Fix] onDidEndTaskProcess event is not fired for plugins when task ends
  packages/task/src/node/task-server.ts
Labels: tasks, vscode

#8107 fix #8106:fix open deleted file in git scm errors
  packages/git/src/browser/git-scm-provider.ts
Labels: git

#7996 Introduce a token to scope contributed tasks
  packages/debug/src/browser/debug-session-manager.ts
  packages/plugin-ext/src/main/browser/tasks-main.ts
  packages/task/src/browser/provided-task-configurations.spec.ts
  packages/task/src/browser/provided-task-configurations.ts
  packages/task/src/browser/quick-open-task.ts
  packages/task/src/browser/task-configurations.ts
  packages/task/src/browser/task-frontend-contribution.ts
  packages/task/src/browser/task-service.ts
Labels: tasks

#7968 Node.js 12.x + Electron 9x
  .gitpod.dockerfile
  .travis.yml
  CHANGELOG.md
  dev-packages/application-manager/package.json
  dev-packages/application-manager/src/generator/frontend-generator.ts
  dev-packages/application-manager/src/generator/webpack-generator.ts
  dev-packages/electron/package.json
  package.json
  packages/core/package.json
  packages/core/src/electron-browser/keyboard/electron-keyboard-layout-change-notifier.ts
  packages/core/src/electron-browser/menu/electron-main-menu-factory.ts
  packages/core/src/electron-browser/menu/electron-menu-contribution.ts
  packages/filesystem/src/electron-browser/file-dialog/electron-file-dialog-service.ts
  packages/git/package.json
  packages/plugin-ext/src/main/electron-browser/webview/electron-webview-widget-factory.ts
  yarn.lock
Labels: CQ Required, dependencies, electron

#8188 Made menu and keybinding contributions extensible
  packages/editor/src/browser/editor-frontend-module.ts
  packages/monaco/src/browser/monaco-frontend-module.ts
  packages/workspace/src/browser/workspace-frontend-module.ts
Labels: extensibility, keybindings, menus

#8086 vsx-extensions-view-styling-improvements
  packages/vsx-registry/src/browser/style/index.css
  packages/vsx-registry/src/browser/vsx-extension-editor.tsx
  packages/vsx-registry/src/browser/vsx-extension.tsx
Labels: ui/ux, vsx-registry

#8196 fix: load vsix with no publisher
  packages/plugin-ext-vscode/src/node/scanner-vscode.ts
Labels: plug-in system

#8163 editor: save dirty editors when toggling auto-save on
  packages/editor/src/browser/editor-command.ts
Labels: editor, enhancement

#8193 quality: miscellaneous typo fixes
  CHANGELOG.md
  doc/Developing.md
  doc/api-management.md
  doc/pull-requests.md
  packages/core/src/browser/context-menu-renderer.ts
  packages/core/src/browser/keybinding.spec.ts
  packages/core/src/browser/keybinding.ts
  packages/core/src/browser/preferences/preference-provider.ts
  packages/languages/src/common/language-selector/glob.ts
  packages/monaco/src/browser/monaco-command.ts
  packages/plugin-ext/doc/how-to-add-new-plugin-namespace.md
  packages/plugin-ext/src/common/plugin-protocol.ts
  packages/plugin-ext/src/main/browser/editors-and-documents-main.ts
  packages/plugin-ext/src/main/browser/terminal-main.ts
  packages/preferences/src/browser/preference-tree-provider.ts
  packages/preferences/src/browser/section-preference-provider.ts
  packages/process/src/common/shell-command-builder.slow-spec.ts
  packages/process/src/node/multi-ring-buffer.ts
  packages/search-in-workspace/src/common/search-in-workspace-interface.ts
  packages/task/src/browser/task-configuration-manager.ts
  packages/task/src/node/task-abstract-line-matcher.ts
  packages/terminal/src/browser/base/terminal-widget.ts
  packages/terminal/src/browser/terminal-widget-impl.ts
  packages/vsx-registry/README.md
Labels: documentation, quality

#8204 terminal: fix xterm opacity issue
  packages/terminal/src/browser/style/terminal.css
Labels: terminal, ui/ux

#8218 git: skip flaky chronological branch test
  packages/git/src/node/dugite-git.spec.ts
Labels: ci, git, test

#8192 Change Debug Panel reveal to false
  packages/debug/src/browser/debug-frontend-application-contribution.ts
Labels: debug, vscode

#8224 [example apps] update html-language-features vscode built-in
  package.json
Labels: builtins, html

#8154 [tree] fix scroll behavior when selecting or expanding a node
  packages/core/src/browser/tree/tree-widget.tsx
Labels: bug, core, tree

#8172 [markers] Sync problem markers with active editor
  packages/markers/src/browser/problem/problem-preferences.ts
  packages/markers/src/browser/problem/problem-widget.tsx
Labels: markers

#8237 [preferences] module name changed (preferences-contribution)
  packages/preferences/src/browser/preference-frontend-module.ts
  packages/preferences/src/browser/preferences-contribution.ts
Labels: preferences, quality

#8249 [preferences] Unused static variable
  packages/preferences/src/browser/views/preference-widget.tsx
Labels: preferences, quality

#8229 [SIW]: Run search on input change
  packages/search-in-workspace/src/browser/search-in-workspace-widget.tsx
Labels: search in workspace

#8267 [vscode] support theme icons
  packages/monaco/src/browser/monaco-loader.ts
  packages/monaco/src/typings/monaco/index.d.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/common/plugin-protocol.ts
  packages/plugin-ext/src/hosted/node/scanners/scanner-theia.ts
  packages/plugin-ext/src/main/browser/plugin-contribution-handler.ts
  packages/plugin-ext/src/main/browser/quick-open-main.ts
  packages/plugin-ext/src/main/browser/view/plugin-tree-view-node-label-provider.ts
  packages/plugin-ext/src/main/browser/view/tree-view-widget.tsx
Labels: theming, vscode

#8268 normalize base of language filter pattern to support clients on another OS
  packages/monaco/src/browser/monaco-loader.ts
  packages/monaco/src/typings/monaco/index.d.ts
  packages/plugin-ext/src/main/browser/languages-main.ts
  packages/plugin-ext/src/plugin/type-converters.ts
Labels: OS/Windows, vscode

#8275 documentation: updated changelog for 1.4.0
  CHANGELOG.md
Labels: documentation

#8243 Exposed `preserveFocus` on `OutputChannel#show`.
  CHANGELOG.md
  packages/output/src/browser/output-commands.ts
  packages/output/src/browser/output-contribution.ts
  packages/output/src/browser/output-toolbar-contribution.tsx
  packages/output/src/browser/output-widget.tsx
  packages/output/src/common/output-channel.ts
Labels: output
