Repository eclipse-theia/theia, pull requests merged in 2020-09, with the labels that each got.

#8454 electron: fix rebuild:electron command
  dev-packages/application-manager/src/rebuild.ts
Labels: bug, electron

#6965 Core: Do no expand the widgets on the side-bars for the context menu
  CHANGELOG.md
  packages/core/src/browser/common-frontend-contribution.ts
  packages/core/src/browser/shell/application-shell.ts
  packages/core/src/browser/shell/tab-bars.ts
  packages/navigator/src/browser/navigator-contribution.ts
Labels: shell

#7997 Apply vscode Timeline Plugin API
  .travis.yml
  configs/root-compilation.tsconfig.json
  examples/browser/package.json
  examples/electron/compile.tsconfig.json
  examples/electron/package.json
  packages/plugin-ext/compile.tsconfig.json
  packages/plugin-ext/package.json
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/main-context.ts
  packages/plugin-ext/src/main/browser/menus/menus-contribution-handler.ts
  packages/plugin-ext/src/main/browser/timeline-main.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/timeline.ts
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/plugin/src/theia-proposed.d.ts
  packages/timeline/README.md
  packages/timeline/compile.tsconfig.json
  packages/timeline/package.json
  packages/timeline/src/browser/style/index.css
  packages/timeline/src/browser/timeline-context-key-service.ts
  packages/timeline/src/browser/timeline-contribution.ts
  packages/timeline/src/browser/timeline-empty-widget.tsx
  packages/timeline/src/browser/timeline-frontend-module.ts
  packages/timeline/src/browser/timeline-service.ts
  packages/timeline/src/browser/timeline-tree-model.ts
  packages/timeline/src/browser/timeline-tree-widget.tsx
  packages/timeline/src/browser/timeline-widget.tsx
  packages/timeline/src/common/timeline-model.ts
  tsconfig.json
Labels: CQ Required, plug-in system, vscode

#8465 repo: fix misc typos and formatting issues
  packages/core/src/browser/keybinding.ts
  packages/core/src/common/encoding-service.ts
  packages/filesystem/src/browser/file-service.ts
  packages/filesystem/src/browser/filesystem-watcher.ts
  packages/filesystem/src/common/delegating-file-system-provider.ts
  packages/filesystem/src/common/files.ts
  packages/filesystem/src/common/filesystem.ts
  packages/plugin-ext/src/common/link-computer.ts
  packages/plugin-ext/src/main/browser/label-service-main.ts
  packages/workspace/src/common/utils.ts
Labels: documentation, quality

#8458 Show message if insufficient file watcher handles
  CHANGELOG.md
  packages/filesystem/src/browser/file-service.ts
  packages/filesystem/src/browser/filesystem-frontend-module.ts
  packages/filesystem/src/browser/filesystem-watcher-error-handler.ts
  packages/filesystem/src/common/delegating-file-system-provider.ts
  packages/filesystem/src/common/files.ts
  packages/filesystem/src/common/filesystem-watcher-protocol.ts
  packages/filesystem/src/common/remote-file-system-provider.ts
  packages/filesystem/src/node/disk-file-system-provider.ts
  packages/filesystem/src/node/filesystem-watcher-client.ts
  packages/filesystem/src/node/nsfw-watcher/nsfw-filesystem-watcher.spec.ts
  packages/filesystem/src/node/nsfw-watcher/nsfw-filesystem-watcher.ts
  packages/plugin-ext/src/main/browser/file-system-main-impl.ts
Labels: file-watchers, filesystem

#8402 Apply vscode Authentication plugin API
  packages/core/src/browser/authentication-service.ts
  packages/core/src/browser/common-frontend-contribution.ts
  packages/core/src/browser/frontend-application-module.ts
  packages/core/src/browser/shell/side-panel-handler.ts
  packages/core/src/browser/shell/sidebar-bottom-menu-widget.tsx
  packages/core/src/common/menu.ts
  packages/plugin-ext/src/common/plugin-api-rpc-model.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/authentication-main.ts
  packages/plugin-ext/src/main/browser/main-context.ts
  packages/plugin-ext/src/plugin/authentication-ext.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin/src/theia-proposed.d.ts
  packages/plugin/src/theia.d.ts
Labels: CQ Required, plug-in system, security, vscode

#8433 siw: respect 'files.exclude' preference
  packages/search-in-workspace/src/browser/search-in-workspace-result-tree-widget.tsx
  packages/search-in-workspace/src/node/ripgrep-search-in-workspace-server.slow-spec.ts
Labels: search in workspace

#8452 plugin: findFiles should handle ignored files
  packages/plugin-ext/src/main/browser/workspace-main.ts
Labels: vscode

#8499 output: Change output-widget file extension
  packages/output/src/browser/output-widget.ts
Labels: output, quality

#8481 Introduces XSS sink detecting eslint rules
  .eslintrc.js
  configs/xss.eslintrc.json
  package.json
  yarn.lock
Labels: linting, security

#8446 Menu to select default formatter for the document
  packages/editor/src/browser/editor-preferences.ts
  packages/monaco/src/browser/monaco-formatting-conflicts.ts
  packages/monaco/src/browser/monaco-frontend-module.ts
  packages/monaco/src/browser/monaco-loader.ts
  packages/monaco/src/typings/monaco/index.d.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/languages-main.ts
  packages/plugin-ext/src/plugin/languages.ts
  packages/plugin-metrics/src/browser/plugin-metrics-languages-main.ts
Labels: monaco, vscode

#8490 Fixes misleading documentation in application shell
  packages/core/src/browser/shell/application-shell.ts
Labels: documentation

#8502 fix:prevent url hash changes when edit keybinding
  packages/keymaps/src/browser/keybindings-widget.tsx
Labels: keybindings

#8508 [scm] Add check to determine which scm-widget should be focused
  packages/scm/src/browser/scm-widget.tsx
Labels: quality, scm

#8513 Add missing DebugConsoleMode enum to vscode API
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/types-impl.ts
Labels: debug, vscode

#8512 preferences: improve category headers and leaf
  packages/preferences/src/browser/style/index.css
  packages/preferences/src/browser/util/preference-tree-generator.spec.ts
  packages/preferences/src/browser/util/preference-tree-generator.ts
  packages/preferences/src/browser/views/preference-editor-widget.tsx
Labels: preferences, ui/ux

#8487 Do not show the Timeline panel if no Timeline providers were registered
  packages/timeline/src/browser/timeline-contribution.ts
Labels: navigator, plug-in system

#8544 Add builtin js-debug and upgrade builtin node debug extensions
  package.json
Labels: builtins, debug

#8517 plugin: support deprecated code completion items
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/plugin/src/theia.d.ts
Labels: bug, builtins, vscode

#8507 Instantiate the returned FileSystem object for the frontend binding
  CHANGELOG.md
  packages/filesystem/src/browser/filesystem-frontend-module.ts
Labels: filesystem

#8496 Apply revealInExplorer vscode command
  packages/navigator/src/browser/navigator-contribution.ts
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
Labels: commands, git, vscode

#8558 documentation: update changelog for 1.6.0 release
  CHANGELOG.md
Labels: documentation

#6156 add branch name into commit textarea placeholder
  CHANGELOG.md
  packages/git/src/browser/git-repository-provider.ts
  packages/git/src/browser/git-scm-provider.ts
  packages/scm/src/browser/scm-commit-widget.tsx
Labels: git, scm

#8485 6601 load plugin manifest
  packages/core/src/browser/endpoint.ts
  packages/core/src/electron-main/electron-main-application.ts
  packages/plugin-ext/src/common/plugin-protocol.ts
  packages/plugin-ext/src/hosted/browser/worker/plugin-manifest-loader.ts
  packages/plugin-ext/src/hosted/browser/worker/worker-main.ts
Labels: electron, plug-in system

#8556 typings: upgrade to @types/node@12
  dev-packages/application-manager/src/application-process.ts
  package.json
  packages/core/src/node/messaging/ipc-connection-provider.ts
  packages/plugin-dev/src/node/hosted-instance-manager.ts
  packages/plugin-ext/src/hosted/node/hosted-plugin-process.ts
  packages/plugin-ext/src/plugin/node/debug/plugin-debug-adapter-starter.ts
  packages/process/src/common/shell-command-builder.slow-spec.ts
  packages/process/src/node/multi-ring-buffer.ts
  packages/process/src/node/raw-process.ts
  yarn.lock
Labels: dependencies, quality

#8543 [core][monaco] Implement `Save without Formatting` command
  packages/core/src/browser/common-frontend-contribution.ts
  packages/core/src/browser/saveable.ts
  packages/core/src/browser/shell/application-shell.ts
  packages/monaco/src/browser/monaco-editor-model.ts
  packages/monaco/src/browser/monaco-editor-provider.ts
Labels: filesystem

#8551 monaco: command `Save All` now formats all open editors
  packages/monaco/src/browser/monaco-editor-provider.ts
Labels: editor

#8530 add isWeb Operating System context when clause
  packages/core/src/browser/common-frontend-contribution.ts
Labels: plug-in system, vscode

#8525 Add `onStartupFinished` plugin activation event
  packages/plugin-ext/src/hosted/browser/hosted-plugin.ts
Labels: plug-in system, vscode

#8084 Use ScmTreeWidget in both commit details and in the diff widget
  CHANGELOG.md
  packages/git/src/browser/diff/git-diff-contribution.ts
  packages/git/src/browser/diff/git-diff-frontend-module.ts
  packages/git/src/browser/diff/git-diff-header-widget.tsx
  packages/git/src/browser/diff/git-diff-tree-model.tsx
  packages/git/src/browser/diff/git-diff-widget.tsx
  packages/git/src/browser/diff/git-opener-in-primary-area.ts
  packages/git/src/browser/diff/git-resource-opener.ts
  packages/git/src/browser/git-scm-provider.ts
  packages/git/src/browser/history/git-commit-detail-header-widget.tsx
  packages/git/src/browser/history/git-commit-detail-open-handler.ts
  packages/git/src/browser/history/git-commit-detail-widget-options.ts
  packages/git/src/browser/history/git-commit-detail-widget.tsx
  packages/git/src/browser/history/git-history-frontend-module.ts
  packages/git/src/browser/history/git-opener-in-secondary-area.ts
  packages/git/src/browser/style/diff.css
  packages/scm-extra/src/browser/history/scm-history-widget.tsx
  packages/scm-extra/src/browser/style/history.css
  packages/scm/src/browser/scm-frontend-module.ts
  packages/scm/src/browser/scm-groups-tree-model.ts
  packages/scm/src/browser/scm-tree-model.ts
  packages/scm/src/browser/scm-tree-widget.tsx
Labels: git, scm
