Repository eclipse-theia/theia, pull requests merged in 2020-05, with the labels that each got.

#7702 Support for VSCode Command workbench.action.revertAndCloseActiveEditor
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
Labels: vscode

#7505 Show file changes as a tree in Source Control view
  CHANGELOG.md
  packages/git/src/browser/git-contribution.ts
  packages/git/src/browser/git-scm-provider.ts
  packages/plugin-ext/src/main/browser/menus/menus-contribution-handler.ts
  packages/scm/src/browser/scm-amend-component.tsx
  packages/scm/src/browser/scm-amend-widget.tsx
  packages/scm/src/browser/scm-commit-widget.tsx
  packages/scm/src/browser/scm-contribution.ts
  packages/scm/src/browser/scm-frontend-module.ts
  packages/scm/src/browser/scm-no-repository-widget.tsx
  packages/scm/src/browser/scm-provider.ts
  packages/scm/src/browser/scm-repository.ts
  packages/scm/src/browser/scm-service.ts
  packages/scm/src/browser/scm-tree-label-provider.ts
  packages/scm/src/browser/scm-tree-model.ts
  packages/scm/src/browser/scm-tree-widget.tsx
  packages/scm/src/browser/scm-widget.tsx
  packages/scm/src/browser/style/index.css
  packages/search-in-workspace/src/browser/styles/index.css
Labels: scm

#7696 Run Task related refactoring
  packages/task/src/browser/task-service.ts
Labels: tasks

#7727 bug: fix momentjs dependency
  packages/git/package.json
  packages/workspace/package.json
  yarn.lock
Labels: bug, critical, dependencies

#7717 scm: add 'scm.defaultViewMode' preference
  packages/scm/src/browser/scm-contribution.ts
  packages/scm/src/browser/scm-frontend-module.ts
  packages/scm/src/browser/scm-preferences.ts
  packages/scm/src/browser/scm-tree-model.ts
  packages/scm/src/browser/scm-tree-widget.tsx
  packages/scm/src/browser/scm-widget.tsx
Labels: preferences, scm

#7730 fix file icons in explorer are not aligned if file name is truncated
  packages/filesystem/src/browser/style/file-icons.css
Labels: theming

#7747 cli: use proxy settings when downloading plugins
  dev-packages/cli/package.json
  dev-packages/cli/src/download-plugins.ts
  yarn.lock
Labels: enhancement, theia-cli

#7736 Fix potential problems in Scm State restore
  packages/git/src/browser/git-contribution.ts
  packages/scm/src/browser/scm-tree-model.ts
  packages/scm/src/browser/scm-tree-widget.tsx
Labels: scm

#7756 Fix blank square plugins icon when theia starts
  packages/plugin-ext/src/main/browser/style/index.css
  packages/plugin-ext/src/main/browser/view/plugin-view-registry.ts
Labels: plug-in system

#7735 Fix ElectronContextMenuRenderer to use passed in anchor XY values
  packages/core/src/electron-browser/menu/electron-context-menu-renderer.ts
Labels: electron, menus

#7749 Update uuid to v8
  dev-packages/application-manager/src/generator/frontend-generator.ts
  package.json
  packages/filesystem/package.json
  packages/languages/package.json
  packages/plugin-ext/package.json
  packages/typehierarchy/package.json
  packages/vsx-registry/package.json
  yarn.lock
Labels: dependencies

#7774 preferences: fix regex incompatible with Firefox
  packages/preferences/src/browser/util/preference-tree-generator.spec.ts
  packages/preferences/src/browser/util/preference-tree-generator.ts
Labels: browser/firefox, bug

#7764 Preferences: Add Visible Leaf Count
  packages/preferences/src/browser/preference-tree-provider.ts
  packages/preferences/src/browser/views/preference-tree-widget.tsx
Labels: preferences

#7761 theming: fix preferences 'descriptionForeground
  packages/preferences/src/browser/style/index.css
Labels: preferences, theming

#7296 #7295 Theia API is incompatible with VSCode
  packages/plugin-ext-vscode/src/node/plugin-vscode-init.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin/src/theia.d.ts
Labels: plug-in system, vscode

#7782 Upgrade the built-in version to 1.44.2
  package.json
Labels: builtins

#7766 Support api keybinding test on mac
  examples/api-tests/src/monaco-api.spec.js
Labels: OS/Mac, test

#7620 Enable user-level task configurations
  packages/core/src/browser/preferences/preference-provider.ts
  packages/debug/src/browser/preferences/launch-folder-preference-provider.ts
  packages/debug/src/browser/preferences/launch-preferences.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/tasks-main.ts
  packages/plugin-ext/src/plugin/type-converters.spec.ts
  packages/plugin-ext/src/plugin/type-converters.ts
  packages/preferences/src/browser/folder-preference-provider.ts
  packages/preferences/src/browser/folders-preferences-provider.ts
  packages/preferences/src/browser/index.ts
  packages/preferences/src/browser/preference-bindings.ts
  packages/preferences/src/browser/section-preference-provider.ts
  packages/preferences/src/browser/user-configs-preference-provider.ts
  packages/preferences/src/browser/user-preference-provider.ts
  packages/task/src/browser/process/process-task-resolver.ts
  packages/task/src/browser/provided-task-configurations.ts
  packages/task/src/browser/quick-open-task.ts
  packages/task/src/browser/task-configuration-manager.ts
  packages/task/src/browser/task-configuration-model.ts
  packages/task/src/browser/task-configurations.ts
  packages/task/src/browser/task-definition-registry.ts
  packages/task/src/browser/task-folder-preference-provider.ts
  packages/task/src/browser/task-frontend-contribution.ts
  packages/task/src/browser/task-name-resolver.ts
  packages/task/src/browser/task-preferences.ts
  packages/task/src/browser/task-schema-updater.ts
  packages/task/src/browser/task-service.ts
  packages/task/src/browser/task-source-resolver.ts
  packages/task/src/common/task-protocol.ts
Labels: debug, preferences, tasks

#7765 Give more flexibility for tasks related sub classes
  CHANGELOG.md
  packages/task/src/browser/task-service.ts
  packages/task/src/browser/task-terminal-widget-manager.ts
Labels: tasks

#7769 Fix missing commit and amend widgets on opening new workspace
  packages/scm/src/browser/scm-amend-widget.tsx
  packages/scm/src/browser/scm-commit-widget.tsx
  packages/scm/src/browser/scm-widget.tsx
Labels: scm

#7798 upgrade to typescript 3.9.1-rc
  package.json
  packages/core/src/browser/shell/application-shell.ts
  packages/core/src/browser/shell/side-panel-handler.ts
  packages/core/src/browser/status-bar/status-bar.tsx
  packages/core/src/browser/view-container.ts
  packages/core/src/common/types.ts
  packages/git/src/browser/git-resource.ts
  packages/git/src/node/git-locator/git-locator-impl.ts
  packages/scm/src/browser/scm-amend-component.tsx
  yarn.lock
Labels: dependencies, typescript

#7787 Enable clients to persistently change the electron windowOptions
  CHANGELOG.md
  dev-packages/application-manager/src/generator/frontend-generator.ts
Labels: electron

#7804 [quick-pick] always accept items on type callback
  packages/core/src/browser/quick-open/quick-pick-service-impl.ts
Labels: critical, quick-open

#7807 upgrade to typescript 3.9.2
  package.json
  yarn.lock
Labels: dependencies, typescript

#7812 Bind command for handling workbench.action.openRecent request
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
Labels: Team: Che-Editors, commands

#7762 Select created new files and folders in the navigator
  packages/navigator/src/browser/navigator-contribution.ts
  packages/workspace/src/browser/workspace-commands.ts
Labels: navigator, workspace

#7793 Feature/preferences ui tab styling
  packages/preferences/src/browser/style/index.css
  packages/preferences/src/browser/util/preference-types.ts
  packages/preferences/src/browser/views/preference-editor-widget.tsx
  packages/preferences/src/browser/views/preference-scope-tabbar-widget.tsx
Labels: preferences, ui/ux

#7799 Fix: Plugins folders are created with exclamation mark, which breaks webpack
  packages/plugin-ext-vscode/src/node/plugin-vscode-file-handler.ts
  packages/plugin-ext/src/main/node/handlers/plugin-theia-file-handler.ts
Labels: plug-in system

#7817 Removed global shortcuts if window is not focused.
  dev-packages/application-manager/src/generator/frontend-generator.ts
Labels: electron

#7820 [vscode] support new CompletionItem.range shape
  packages/plugin-ext/src/common/plugin-api-rpc-model.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/languages-main.ts
  packages/plugin-ext/src/plugin/languages.ts
  packages/plugin-ext/src/plugin/languages/completion.ts
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/plugin/src/theia.d.ts
Labels: typescript, vscode

#7823 [electron] fix resolution of hostname placeholder
  .vscode/launch.json
  packages/core/src/browser/endpoint.ts
  packages/plugin-ext/src/main/browser/webview/webview-environment.ts
  packages/plugin-ext/src/main/common/webview-protocol.ts
  packages/plugin-ext/src/main/node/plugin-service.ts
Labels: electron, webviews

#7835 GH-7834: Restored the find widget's "border" color.
  packages/monaco/src/browser/style/index.css
Labels: monaco, theming

#7839 respect keybinding scope and registration order during evaluation
  CHANGELOG.md
  examples/api-tests/src/keybindings.spec.js
  examples/api-tests/src/typescript.spec.js
  packages/core/src/browser/keybinding.spec.ts
  packages/core/src/browser/keybinding.ts
  packages/monaco/src/browser/monaco-keybinding.ts
  packages/monaco/src/typings/monaco/index.d.ts
  packages/plugin-ext/src/main/browser/keybindings/keybindings-contribution-handler.ts
  packages/terminal/src/browser/terminal-frontend-contribution.ts
Labels: keybindings, monaco, vscode

#7855 Getting started: use new documentation URLs
  packages/getting-started/src/browser/getting-started-widget.tsx
Labels: getting-started

#7803 Added ability to change windowOptions & it's defaults. Moved disallowReloadKeybinding inside electron subsection
  CHANGELOG.md
  dev-packages/application-manager/src/generator/frontend-generator.ts
  dev-packages/application-package/src/application-props.ts
Labels: electron

#7842 Update publishing documentation.
  doc/Publishing.md
Labels: documentation

#7870 Fix bug that caused repositories to not be found
  packages/git/src/node/git-locator/git-locator-impl.ts
Labels: git

#7852 [vscode] don't require non existing plugin main
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/hosted/browser/worker/worker-main.ts
  packages/plugin-ext/src/hosted/node/plugin-host-rpc.ts
Labels: vscode

#7876 [preferences] only apply array component for string items
  packages/preferences/src/browser/views/components/preference-array-input.tsx
  packages/preferences/src/browser/views/components/preference-boolean-input.tsx
  packages/preferences/src/browser/views/components/single-preference-wrapper.tsx
Labels: preferences

#7872 Added default value for getting the persistent windowOptions from electronStore
  dev-packages/application-manager/src/generator/frontend-generator.ts
Labels: electron

#7880 [scm] refesh on widget activation
  packages/scm/src/browser/scm-widget.tsx
Labels: scm

#7884 [preferences] Fix opening json
  packages/preferences/src/browser/preference-contribution.ts
Labels: preferences

#7866 Set the upstream remote branch when pushing
  packages/git/src/browser/git-quick-open-service.ts
Labels: git

#7843 Bind command for explorer.newFolder
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
Labels: Team: Che-Editors, vscode

#7894 [shell] clean up toDisposeOnActiveChanged properly
  packages/core/src/browser/shell/application-shell.ts
Labels: shell

#7893 Fixed collapsed state when restoring view container parts
  packages/core/src/browser/view-container.ts
Labels: shell

#7890 specify `when` closure for `Run Last Task` keybinding
  packages/task/src/browser/task-frontend-contribution.ts
Labels: tasks

#7869 electron: update rendering of menu items
  packages/core/src/electron-browser/menu/electron-main-menu-factory.ts
Labels: electron, menus

#7718 plugin: add workspace file api
  packages/filesystem/src/browser/filesystem-watcher.ts
  packages/filesystem/src/common/filesystem.ts
  packages/filesystem/src/node/node-filesystem.ts
  packages/plugin-ext/src/common/plugin-api-rpc-model.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/in-plugin-filesystem-watcher-manager.ts
  packages/plugin-ext/src/main/browser/workspace-main.ts
  packages/plugin-ext/src/plugin/file-system.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/workspace.ts
  packages/plugin/src/theia-proposed.d.ts
  packages/plugin/src/theia.d.ts
  packages/workspace/src/browser/workspace-commands.ts
  packages/workspace/src/browser/workspace-delete-handler.ts
Labels: plug-in system, workspace

#7824 [vscode] Support all workspace.fs APIs for registered fs providers
  CHANGELOG.md
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/file-system-main.ts
  packages/plugin-ext/src/plugin/file-system.ts
  packages/plugin-ext/src/plugin/in-plugin-filesystem-proxy.ts
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/plugin/src/theia.d.ts
Labels: filesystem, vscode

#7827 output: improve output display
  packages/core/src/browser/style/variables-bright.useable.css
  packages/core/src/browser/style/variables-dark.useable.css
  packages/output/src/browser/output-widget.tsx
  packages/output/src/browser/style/output.css
Labels: output, ui/ux

#7881 download-plugins: display errors at the end of the script
  dev-packages/cli/src/download-plugins.ts
Labels: theia-cli

#7847 plugin-ext: attach security cookie to webviews
  dev-packages/application-manager/src/generator/frontend-generator.ts
  packages/core/package.json
  packages/core/src/electron-browser/token/electron-token-frontend-module.ts
  packages/plugin-ext/package.json
  packages/plugin-ext/src/main/browser/plugin-ext-frontend-module.ts
  packages/plugin-ext/src/main/browser/webview/webview-widget-factory.ts
  packages/plugin-ext/src/main/electron-browser/plugin-ext-frontend-electron-module.ts
  packages/plugin-ext/src/main/electron-browser/webview/electron-webview-widget-factory.ts
  packages/plugin-ext/src/plugin-ext-frontend-electron-module.ts
Labels: bug, electron, webviews

#7882 [Terminal] Detach TerminalSearchWidget before disposing TerminalWidget
  packages/terminal/src/browser/terminal-widget-impl.ts
Labels: terminal

#7903 [monaco] only focus an editor if it's revealed
  packages/editor/src/browser/editor.ts
  packages/monaco/src/browser/monaco-command.ts
  packages/monaco/src/browser/monaco-editor-provider.ts
  packages/monaco/src/browser/monaco-editor.ts
  packages/monaco/src/typings/monaco/index.d.ts
Labels: editor, monaco

#7906 Bind commands for terminal.sendSequence and terminal.kill
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
Labels: Team: Che-Editors, enhancement, vscode
