Repository eclipse-theia/theia, pull requests merged in 2020-10, with the labels that each got.

#8570 [vsx-registry] Use new 'query' API endpoint
  packages/vsx-registry/src/common/vsx-registry-api.ts
Labels: vsx-registry

#8560 plugin-metrics: fix typos
  CHANGELOG.md
  packages/plugin-metrics/src/browser/plugin-metrics-creator.ts
  packages/plugin-metrics/src/browser/plugin-metrics-resolver.ts
  packages/plugin-metrics/src/common/plugin-metrics-types.ts
  packages/plugin-metrics/src/node/metric-output/plugin-metrics-time-count.ts
  packages/plugin-metrics/src/node/metrics-contributor.spec.ts
  packages/plugin-metrics/src/node/metrics-contributor.ts
Labels: documentation, quality

#8553 plugin: support 'deprecated' strikethrough
  packages/plugin-ext/src/common/plugin-api-rpc-model.ts
  packages/plugin-ext/src/plugin/languages/completion.ts
  packages/plugin/src/theia.d.ts
Labels: editor, vscode

#8539 Align the Comments plugin API with the latest vscode
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin/src/theia.d.ts
Labels: plug-in system, vscode

#8554 core: Command `Save All` only formats the file if it is dirty
  packages/core/src/browser/common-frontend-contribution.ts
  packages/core/src/browser/saveable.ts
  packages/core/src/browser/shell/application-shell.ts
  packages/monaco/src/browser/monaco-editor-provider.ts
Labels: editor

#8479 Fix progress notification issues
  CHANGELOG.md
  packages/core/src/common/message-service-protocol.ts
  packages/messages/src/browser/notification-component.tsx
  packages/messages/src/browser/notifications-manager.ts
Labels: progress, vscode

#8607 vsx-registry: fix the search query based on the search parameters
  packages/vsx-registry/src/common/vsx-registry-api.spec.ts
  packages/vsx-registry/src/common/vsx-registry-api.ts
  packages/vsx-registry/src/common/vsx-registry-types.ts
Labels: bug, vsx-registry

#8606 Fix SCM accept input commnad
  packages/scm/src/browser/scm-contribution.ts
Labels: bug, git, plug-in system, scm, vscode

#8604 markers: add additional problem-manager tests
  packages/markers/src/browser/problem/problem-manager.spec.ts
Labels: markers, quality, test

#8523 Add environmentVariableCollection to PluginContext
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/hosted/browser/worker/worker-main.ts
  packages/plugin-ext/src/hosted/node/plugin-host-rpc.ts
  packages/plugin-ext/src/main/browser/terminal-main.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/plugin-manager.ts
  packages/plugin-ext/src/plugin/terminal-ext.ts
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/plugin/src/theia.d.ts
  packages/terminal/src/browser/terminal-frontend-contribution.ts
  packages/terminal/src/common/base-terminal-protocol.ts
  packages/terminal/src/common/terminal-watcher.ts
  packages/terminal/src/node/base-terminal-server.ts
  packages/terminal/src/node/shell-terminal-server.ts
Labels: CQ Required, plug-in system, terminal, vscode

#8619 Made it easier to customize view container part.
  packages/core/src/browser/style/view-container.css
  packages/core/src/browser/view-container.ts
Labels: extensibility

#8596 Add documentation for `FileService` & `FileSystemProvider`
  packages/filesystem/src/browser/file-service.ts
  packages/filesystem/src/common/files.ts
Labels: documentation

#8563 Fixed race condition on monaco editor initialization
  packages/monaco/src/browser/monaco-editor-provider.ts
  packages/monaco/src/browser/monaco-text-model-service.ts
Labels: monaco

#8629 fix(tabs): replace tab character by space characters
  packages/plugin/src/theia.d.ts
Labels: plug-in system, vscode

#8569 Added documentation for Label Provider and Contribution
  packages/core/src/browser/label-provider.ts
Labels: documentation

#8631 chore(github): Automatically set the milestone on merged PRs
  .github/workflows/set-milestone-on-pr.yml
Labels: documentation, enhancement

#8641 workspace.workspaceFolders API should return undefined when no folder is open
  packages/plugin-ext/src/plugin/workspace.ts
Labels: vscode

#8542 Fix Issue 8463 - calling extension activate() by other extension
  packages/plugin-ext/src/plugin/plugin-manager.ts
Labels: plug-in system, vscode

#8546 watchers: use singleton server
  CHANGELOG.md
  examples/api-samples/src/browser/api-samples-frontend-module.ts
  examples/api-samples/src/browser/file-watching/sample-file-watching-contribution.ts
  packages/filesystem/compile.tsconfig.json
  packages/filesystem/src/common/filesystem-watcher-protocol.ts
  packages/filesystem/src/common/remote-file-system-provider.ts
  packages/filesystem/src/node/disk-file-system-provider.ts
  packages/filesystem/src/node/filesystem-backend-module.ts
  packages/filesystem/src/node/filesystem-watcher-client.ts
  packages/filesystem/src/node/filesystem-watcher-dispatcher.ts
  packages/filesystem/src/node/nsfw-watcher/index.ts
  packages/filesystem/src/node/nsfw-watcher/nsfw-filesystem-service.ts
  packages/filesystem/src/node/nsfw-watcher/nsfw-filesystem-watcher.spec.ts
  packages/filesystem/src/node/nsfw-watcher/nsfw-filesystem-watcher.ts
Labels: file-watchers

#8651 Eclipse Theia is a framework
  README.md
Labels: documentation

#8653 Rename Debug main menu according to VS Code
  packages/debug/src/browser/debug-frontend-application-contribution.ts
Labels: debug, menus

#8637 Add documentation for Keybinding, KeybindingContribution and KeybindingRegistry
  packages/core/src/browser/keybinding.ts
  packages/core/src/common/keybinding.ts
Labels: documentation, keybindings

#8612 Add API documentation for 'PreferenceService'
  packages/core/src/browser/preferences/preference-proxy.ts
  packages/core/src/browser/preferences/preference-service.ts
Labels: core, documentation, preferences

#8625 Add documentation for 'PreviewHandler'
  packages/preview/README.md
  packages/preview/src/browser/preview-handler.ts
Labels: documentation, preview

#8644 Add documentation for widget manager & open handler
  packages/core/src/browser/widget-manager.ts
  packages/core/src/browser/widget-open-handler.ts
Labels: core, documentation

#8665 repo: fix misc typos
  examples/api-tests/src/keybindings.spec.js
  examples/api-tests/src/typescript.spec.js
  packages/filesystem/src/common/filesystem-watcher-protocol.ts
  packages/filesystem/src/node/nsfw-watcher/nsfw-filesystem-service.ts
  packages/plugin-ext/src/main/browser/webview/pre/main.js
  packages/plugin-ext/src/plugin/type-converters.spec.ts
Labels: documentation, quality

#8659 explorer: fixed 'doOpenNode' implementation
  packages/navigator/src/browser/navigator-model.ts
Labels: bug, navigator

#8663 Changed srcElement to target in mini browser
  packages/mini-browser/src/browser/mini-browser-content.ts
Labels: mini-browser

#8633 [FIX] menus are not closed when clicking inside webviews
  packages/plugin-ext/src/main/browser/webview/pre/main.js
  packages/plugin-ext/src/main/browser/webview/webview.ts
Labels: menus, webviews

#8616 Use Named Listeners in `DebugSession`
  packages/debug/src/browser/debug-session.tsx
Labels: debug, extensibility

#8672 Make CodeEditorWidget predicate injectable
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
  packages/plugin-ext/src/main/browser/menus/menus-contribution-handler.ts
  packages/plugin-ext/src/main/browser/plugin-ext-frontend-module.ts
Labels: extensibility, plug-in system

#8609 Add preference to fall back to using `keyCode` for keybindings
  packages/core/src/browser/core-preferences.ts
  packages/core/src/browser/keybinding.spec.ts
  packages/core/src/browser/keybinding.ts
  packages/core/src/browser/keyboard/keys.spec.ts
  packages/core/src/browser/keyboard/keys.ts
Labels: keybindings

#8388 Applies DOMSanitize.sanitize to innerHTML write
  packages/plugin-ext/package.json
  packages/plugin-ext/src/main/browser/commands.ts
Labels: security, vscode

#8675 fix(merge): Avoid protototype pollution when parsing properties
  packages/plugin-ext/src/plugin/preference-registry.spec.ts
  packages/plugin-ext/src/plugin/preference-registry.ts
  packages/plugin-ext/src/plugin/preferences/configuration.spec.ts
  packages/plugin-ext/src/plugin/preferences/configuration.ts
Labels: plug-in system

#8684 documentation: updated changelog for 1.7.0 release
  CHANGELOG.md
Labels: documentation

#8185 Sort for quick open entries respecting highlight information
  packages/monaco/src/browser/monaco-comparers.ts
  packages/monaco/src/browser/monaco-loader.ts
  packages/monaco/src/browser/monaco-quick-open-service.ts
  packages/monaco/src/typings/monaco/index.d.ts
Labels: CQ Required, Team: Che-Editors, monaco

#8677 Improve Documentation for `PreferenceContribution` and related types
  packages/core/src/browser/preferences/preference-contribution.ts
  packages/core/src/browser/preferences/preference-provider.ts
  packages/core/src/browser/preferences/preference-service.ts
Labels: documentation, preferences

#8579 search-in-workspace: Perform workspace search in dirty file content
  packages/editor/src/browser/editor-preferences.ts
  packages/editor/src/browser/editor.ts
  packages/monaco/src/browser/monaco-editor-model.ts
  packages/monaco/src/browser/monaco-text-model-service.ts
  packages/search-in-workspace/package.json
  packages/search-in-workspace/src/browser/search-in-workspace-result-tree-widget.tsx
  packages/search-in-workspace/src/browser/search-in-workspace-widget.tsx
Labels: search in workspace
