Repository eclipse-theia/theia, pull requests merged in 2020-01, with the labels that each got.

#6809 [theming] fix sidebar icons
  packages/core/src/browser/style/sidepanel.css
Labels: enhancement, theming

#6798 Search in workspace improvements
  packages/core/src/browser/style/tabs.css
  packages/search-in-workspace/src/browser/search-in-workspace-frontend-contribution.ts
  packages/search-in-workspace/src/browser/search-in-workspace-result-tree-widget.tsx
  packages/search-in-workspace/src/browser/search-in-workspace-widget.tsx
  packages/search-in-workspace/src/common/search-in-workspace-interface.ts
  packages/search-in-workspace/src/node/ripgrep-search-in-workspace-server.slow-spec.ts
  packages/search-in-workspace/src/node/ripgrep-search-in-workspace-server.ts
Labels: performance, search in workspace

#6811 [task] add ability to restart running task
  packages/task/src/browser/quick-open-task.ts
  packages/task/src/browser/task-frontend-contribution.ts
  packages/task/src/browser/task-frontend-module.ts
  packages/task/src/browser/task-service.ts
Labels: enhancement, tasks

#6820 [theming] fix hardcoded search result overview ruler color
  packages/search-in-workspace/src/browser/search-in-workspace-result-tree-widget.tsx
Labels: enhancement, search in workspace, theming

#6829 [keybinding] parse minus as key
  packages/core/src/browser/keyboard/keys.spec.ts
  packages/core/src/browser/keyboard/keys.ts
Labels: keybindings

#6817 [core] Fixed race condition on contribution initialization
  packages/navigator/src/browser/navigator-contribution.ts
Labels: bug, navigator

#6825 Add info about processId and terminalId to TaskExitedEvent
  packages/task/src/common/task-protocol.ts
  packages/task/src/node/process/process-task.ts
Labels: tasks

#6835 [monaco] fix incorrect color from editor peek widget
  packages/monaco/src/browser/style/index.css
Labels: monaco, theming

#6833 [filesystem] fix type check during `uriCompare`
  packages/filesystem/src/browser/file-tree/file-tree.ts
Labels: bug, filesystem, navigator

#6316 Fix self-hosting on Windows
  packages/plugin-dev/src/node/hosted-plugins-manager.ts
Labels: OS/Windows, plug-in system

#6814 support presentation.reveal and presentation.focus in task config
  packages/task/src/browser/task-configurations.ts
  packages/task/src/browser/task-schema-updater.ts
  packages/task/src/browser/task-service.ts
  packages/task/src/common/task-protocol.ts
  packages/task/src/node/task-server.ts
Labels: tasks, vscode

#6848 [theming] adjust tree node foreground color when active
  packages/core/src/browser/style/tree.css
Labels: theming, tree

#6850 Bumped version of find-git-repositories
  packages/git/package.json
  yarn.lock
Labels: dependencies, electron

#6858 [quality][performance] Format performance numbers in the log
  packages/core/src/browser/frontend-application.ts
  packages/plugin-ext/src/hosted/browser/hosted-plugin.ts
  packages/plugin-ext/src/main/browser/webview/pre/main.js
Labels: performance, quality

#6851 Fix add missing await on workspace edits file create
  packages/monaco/src/browser/monaco-workspace.ts
Labels: vscode, workspace

#6859 yarn upgrade
  packages/monaco/src/browser/textmate/monaco-textmate-service.ts
  yarn.lock
Labels: dependencies, quality

#6876 [terminal] improve the display of 'new terminal'
  packages/terminal/src/browser/terminal-frontend-contribution.ts
Labels: multi-root, terminal

#6642 [file-search] improve results obtained when performing file search
  packages/file-search/src/node/file-search-service-impl.ts
Labels: file search

#6882 Added new color variables for warning alert (as in scm widget)
  packages/core/src/browser/common-frontend-contribution.ts
  packages/core/src/browser/style/alert-messages.css
Labels: scm, theming

#6870 Don't show empty debugger list when there isn't any debug config
  packages/core/src/browser/quick-open/quick-pick-service-impl.ts
Labels: bug, debug

#6881 Exclude all numpad keys from keyboard mapping
  packages/core/src/browser/keyboard/keyboard-layout-service.ts
Labels: OS/Windows, keybindings

#6854 #6308: Close websocket channel when a language server connection is closed
  packages/core/src/common/messaging/web-socket-channel.ts
  packages/core/src/node/messaging/messaging-contribution.ts
  packages/core/src/node/messaging/messaging-service.ts
  packages/languages/src/node/language-server-contribution.ts
Labels: core, messaging

#6885 [core] remove virtual-widget and virtual-renderer
  CHANGELOG.md
  packages/core/src/browser/widgets/index.ts
  packages/core/src/browser/widgets/virtual-renderer.ts
  packages/core/src/browser/widgets/virtual-widget.ts
Labels: quality, shell

#6884 [extension-manager] delete deprecated extension-manager
  .travis.yml
  .vscode/settings.json
  packages/extension-manager/.gitignore
  packages/extension-manager/README.md
  packages/extension-manager/compile.tsconfig.json
  packages/extension-manager/package.json
  packages/extension-manager/src/browser/extension-contribution.ts
  packages/extension-manager/src/browser/extension-detail-widget.tsx
  packages/extension-manager/src/browser/extension-frontend-module.ts
  packages/extension-manager/src/browser/extension-open-handler.ts
  packages/extension-manager/src/browser/extension-uri.ts
  packages/extension-manager/src/browser/extension-widget-factory.ts
  packages/extension-manager/src/browser/extension-widget.tsx
  packages/extension-manager/src/browser/style/extension-detail.css
  packages/extension-manager/src/browser/style/extension-sidebar.css
  packages/extension-manager/src/browser/style/extensions.svg
  packages/extension-manager/src/browser/style/index.css
  packages/extension-manager/src/common/extension-manager.ts
  packages/extension-manager/src/common/extension-protocol.ts
  packages/extension-manager/src/common/index.ts
  packages/extension-manager/src/node/application-project-cli.ts
  packages/extension-manager/src/node/application-project.spec.ts
  packages/extension-manager/src/node/application-project.ts
  packages/extension-manager/src/node/extension-backend-module.ts
  packages/extension-manager/src/node/node-extension-server.slow-spec.ts
  packages/extension-manager/src/node/node-extension-server.ts
  packages/extension-manager/src/node/npm-client.ts
  packages/extension-manager/src/node/npms.ts
  packages/extension-manager/src/node/test/extension-node-test-container.ts
  yarn.lock
Labels: quality

#6873 Improve the 'file has changed' dialog
  packages/filesystem/src/browser/filesystem-frontend-module.ts
Labels: filesystem

#6887 Styling issues in the debug hover
  packages/debug/src/browser/style/index.css
Labels: debug

#6875 [terminal] Always open terminal links on touch events
  CHANGELOG.md
  packages/terminal/src/browser/terminal-linkmatcher.ts
  packages/terminal/src/browser/terminal-widget-impl.ts
Labels: ipad, terminal

#6934 Add keybinding check in case when full and partial bindings are registered
  packages/core/src/browser/keybinding.ts
Labels: keybindings

#6943 [cli] added `@types/tar` dependency
  dev-packages/cli/package.json
  yarn.lock
Labels: dependencies, theia-cli

#6647 No one package should depend on @theia/json
  CHANGELOG.md
  packages/debug/package.json
  packages/preferences/package.json
  packages/preferences/src/browser/preferences-tree-widget.ts
Labels: json, vscode

#6962 fix ci failure because of missing access config for api tests
  examples/api-tests/package.json
Labels: ci

#6939 Title: Display Ellipses when content not displayed fully
  packages/plugin-ext/src/main/browser/style/tree.css
  packages/plugin-ext/src/main/browser/view/tree-view-widget.tsx
Labels: navigator, tree

#6958 Adjust the debug console user input alignment
  packages/console/src/browser/style/index.css
Labels: console, debug

#6961 fix typos present in '@theia/core'
  CHANGELOG.md
  packages/core/src/browser/common-frontend-contribution.ts
  packages/core/src/browser/external-uri-service.ts
  packages/core/src/browser/frontend-application.ts
  packages/core/src/browser/keyboard/browser-keyboard-layout-provider.ts
  packages/core/src/browser/keyboard/keys.spec.ts
  packages/core/src/browser/preferences/preference-contribution.ts
  packages/core/src/browser/shell/application-shell.ts
  packages/core/src/browser/shell/tab-bars.ts
Labels: core

#6981 Added a config for disabling the window reload
  dev-packages/application-manager/src/generator/frontend-generator.ts
  dev-packages/application-package/src/application-props.ts
Labels: electron

#6973 Fix icons & file names alignment issue in tree
  packages/filesystem/src/browser/style/file-icons.css
Labels: tree

#6977 fix #6976: XSS in New File dialog.
  packages/core/src/browser/dialogs.ts
  packages/workspace/src/browser/workspace-commands.ts
Labels: security

#6988 fix #6987 XSS vulnerability in browser sidebar
  packages/core/src/browser/shell/side-panel-toolbar.ts
Labels: security

#6994 fix close all and others commands
  examples/api-tests/src/views.spec.js
  packages/core/src/browser/shell/application-shell.ts
Labels: shell

#6963 Collapse panel on toggle view
  examples/api-tests/src/browser-utils.spec.js
  examples/api-tests/src/views.spec.js
  packages/core/src/browser/browser.ts
  packages/core/src/browser/frontend-application.ts
  packages/core/src/browser/shell/application-shell.ts
  packages/core/src/browser/shell/side-panel-handler.ts
  packages/core/src/browser/shell/view-contribution.ts
  packages/core/src/browser/view-container.ts
Labels: shell

#6995 expose monaco indexed db
  packages/monaco/src/browser/monaco-indexed-db.ts
  packages/monaco/src/browser/monaco-theming-service.ts
Labels: monaco, theming

#6967 [mobile] Add meta viewport tag.
  dev-packages/application-manager/src/generator/frontend-generator.ts
Labels: ipad

#6972 Parallel resolve plugin entries
  packages/plugin-ext/src/main/node/plugin-deployer-impl.ts
Labels: performance, plug-in system

#6978 FIX Issue 6955 - workbench.action.closeActiveEditor command
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
Labels: vscode

#6970 [eslint] add 'eslint' recommendation
  .vscode/extensions.json
Labels: dependencies

#6983 fix plugin header container alignment
  packages/plugin-ext/src/main/browser/style/index.css
  packages/plugin-ext/src/main/browser/style/plugin-sidebar.css
Labels: plug-in system

#7000 [accessibility] Add lang="en" to html element.
  dev-packages/application-manager/src/generator/frontend-generator.ts
Labels: accessibility

#7004 [eslint] add 'eslint' plugin to examples
  package.json
Labels: linting

#6956 Only keep last 10 session logs.
  CHANGELOG.md
  packages/plugin-ext/src/main/node/paths/plugin-paths-service.ts
  packages/plugin-ext/src/main/node/plugin-cli-contribution.ts
Labels: plug-in system

#6989 Keymaps: adjust keybindings-widget column spacing on firefox
  packages/keymaps/src/browser/style/index.css
Labels: keybindings

#7016 fall back to default foreground and background colors
  packages/monaco/src/browser/textmate/monaco-theme-registry.ts
Labels: textmate, theming, vscode

#7003 [readme] update readme to include doc links
  README.md
Labels: documentation

#7018 FIX Issue 6997 - workbench.action.closeEditorsInGroup command
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
Labels: vscode

#7006 [eslint] fix bogus enable no-any rules
  packages/core/src/common/event.ts
  packages/monaco/src/browser/monaco-theming-service.ts
  packages/plugin-ext/src/common/types.ts
  packages/plugin-ext/src/plugin/command-registry.ts
  packages/plugin-ext/src/plugin/documents.ts
Labels: ci, linting

#7014 [changelog] update changelog for 0.15.0
  CHANGELOG.md
Labels: documentation

#7029 API to create integration test pages
  dev-packages/cli/src/run-test.ts
  dev-packages/cli/src/test-page.ts
Labels: test

#7025 Fix tree text highlighting
  packages/core/src/browser/style/tree.css
Labels: theming, tree

#7031 [test] fix skipping a page if it is not matching
  dev-packages/cli/src/run-test.ts
  dev-packages/cli/src/test-page.ts
Labels: test

#7042 Relaxed the log level for the navigation service
  packages/editor/src/browser/navigation/navigation-location-service.ts
Labels: logging

#7012 fix #6996 TOGGLE_MAXIMIZED overrides monaco tab capture
  packages/core/src/browser/common-frontend-contribution.ts
Labels: accessibility, keybindings
