Repository eclipse-theia/theia, pull requests merged in 2020-06, with the labels that each got.

#7934 Add command Copy Path and bind handler for native VS Code command
  packages/core/src/browser/common-frontend-contribution.ts
  packages/editor/src/browser/editor-menu.ts
  packages/navigator/src/browser/navigator-contribution.ts
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
Labels: Team: Che-Editors, core, enhancement, vscode

#7922 workspace: do not load an invalid workspace file
  packages/workspace/src/browser/workspace-service.spec.ts
  packages/workspace/src/browser/workspace-service.ts
Labels: bug, workspace

#7929 Include global tasks in "Configure Tasks"
  packages/task/src/browser/quick-open-task.ts
Labels: tasks

#7928 Allow updating user-level task
  CHANGELOG.md
  packages/task/src/browser/task-configuration-manager.ts
  packages/task/src/browser/task-configurations.ts
Labels: tasks

#7950 GH-7948: Fixed incorrect handler enablement logic.
  packages/output/src/browser/output-contribution.ts
Labels: output

#7944 vsx: set the extensions-view as a default view
  packages/vsx-registry/src/browser/vsx-extensions-contribution.ts
Labels: vsx-registry

#7943 GH-7767: Added context menu for input and textArea
  packages/core/src/electron-browser/menu/electron-context-menu-renderer.ts
  packages/core/src/electron-browser/menu/electron-menu-module.ts
Labels: electron, menus

#7925 feat #7892: support vsc ext create pseudo terminal
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/terminal-main.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/terminal-ext.ts
  packages/plugin/src/theia.d.ts
  packages/process/src/node/pseudo-pty.ts
  packages/process/src/node/terminal-process.ts
  packages/terminal/src/browser/base/terminal-widget.ts
  packages/terminal/src/browser/terminal-widget-impl.ts
  packages/terminal/src/common/shell-terminal-protocol.ts
  packages/terminal/src/node/shell-process.ts
Labels: process, terminal, vscode

#7969 plugin-ext: fix non-awaited promise
  packages/plugin-ext/src/main/electron-browser/webview/electron-webview-widget-factory.ts
Labels: electron, webviews

#7963 Support ordering of sub menus
  examples/api-samples/src/browser/api-samples-frontend-module.ts
  examples/api-samples/src/browser/menu/sample-menu-contribution.ts
  packages/core/src/common/menu.ts
Labels: menus

#7465 Expose NSFW to inheritors of NsfwFilesystemWatcher
  packages/filesystem/src/node/filesystem-backend-module.ts
  packages/filesystem/src/node/filesystem-watcher-client.ts
  packages/filesystem/src/node/nsfw-watcher/index.ts
  packages/filesystem/src/node/nsfw-watcher/nsfw-filesystem-watcher.ts
  packages/filesystem/src/node/nsfw-watcher/nsfw-options.ts
Labels: filesystem

#7965 Implement VS Code workbench.view.explorer command
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
Labels: Team: Che-Editors, commands, enhancement, vscode

#7900 Support multi-select in Source Control view
  CHANGELOG.md
  packages/git/src/browser/git-contribution.ts
  packages/scm/src/browser/scm-frontend-module.ts
  packages/scm/src/browser/scm-tree-model.ts
  packages/scm/src/browser/scm-tree-widget.tsx
Labels: scm

#7971 Sanitizing markdown text.
  packages/preview/package.json
  packages/preview/src/browser/markdown/markdown-preview-handler.spec.ts
  packages/preview/src/browser/markdown/markdown-preview-handler.ts
  yarn.lock
Labels: markdown, security

#7984 [vsx-extensions] Adjust width of search box
  packages/vsx-registry/src/browser/style/index.css
Labels: vsx-registry

#7998 Updated the status badge for the chat.
  README.md
  doc/Publishing.md
Labels: documentation

#7883 bump react & react-dom to 16.8
  packages/core/package.json
  yarn.lock
Labels: dependencies, react

#8008 feat(messaging): Create container in its own method to easier subclassing
  packages/core/src/node/messaging/messaging-contribution.ts
Labels: messaging

#8024 Exposed `toOpenModel` as an API method.
  packages/monaco/src/browser/monaco-quick-open-service.ts
Labels: extensibility, quick-open

#8015 Add 'when' condition for copyFilePath command
  packages/core/src/browser/common-frontend-contribution.ts
  packages/editor/src/browser/editor-menu.ts
Labels: Team: Che-Editors, bug, vscode

#8029 GH-8023: Disabled the failing branch list test on Windows.
  packages/git/src/node/dugite-git.spec.ts
Labels: ci

#8002 [problems] Implemented clear-all in problems view.
  packages/markers/src/browser/problem/problem-contribution.ts
Labels: output

#8027 Bug fix (theia hanging on long lines)
  packages/editor/src/browser/editor-preferences.ts
Labels: monaco

#8038 Add UIKind API
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/hosted/browser/hosted-plugin.ts
  packages/plugin-ext/src/plugin/env.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/plugin-manager.ts
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/plugin/src/theia.d.ts
Labels: vscode

#8036 Add vscode-languageserver-protocol as a dependency
  packages/core/package.json
Labels: dependencies

#8046 Handle special output URI characters gracefully.
  examples/api-samples/src/browser/output/sample-output-channel-with-severity.ts
  packages/output/src/common/output-uri.spec.ts
  packages/output/src/common/output-uri.ts
  packages/output/src/package.spec.ts
Labels: output

#8043 [gitpod] increase yarn network timeout to fix prebuilds
  .gitpod.yml
Labels: gitpod

#8044 fix isInSync check to be with latest resource stat
  packages/filesystem/src/browser/file-resource.ts
Labels: filesystem

#7990 Search-In-Worspace: no more different substrings/duplicates in search result
  packages/search-in-workspace/src/browser/search-in-workspace-result-tree-widget.tsx
Labels: search in workspace

#8058 cli: update 'download:plugins' script
  dev-packages/cli/src/download-plugins.ts
Labels: theia-cli

#7982 Bugfix/Stringify Task ENUMs for Presentation and PanelKind
  packages/task/src/common/task-protocol.ts
Labels: tasks

#8042 Bug fix (Output-Contextmenu Clear-Command missing)
  packages/output/src/browser/output-contribution.ts
  packages/output/src/browser/output-toolbar-contribution.tsx
Labels: output

#8034 plugin: include registration of view containers
  packages/plugin-ext/src/main/browser/view/plugin-view-registry.ts
Labels: plug-in system

#7936 Preferences - Responsive Scope Changes
  packages/preferences/src/browser/preference-tree-provider.ts
  packages/preferences/src/browser/util/preference-event-service.ts
  packages/preferences/src/browser/views/preference-editor-widget.tsx
  packages/preferences/src/browser/views/preference-tree-widget.tsx
Labels: preferences

#8025 preferences: update 'modified scope'
  packages/preferences/src/browser/style/index.css
  packages/preferences/src/browser/views/components/single-preference-wrapper.tsx
Labels: bug, preferences

#8048 Fix broken SCM tree
  packages/scm/src/browser/scm-tree-model.ts
Labels: scm

#8074 Fix ignore minimatch to include folders starting with dot
  packages/filesystem/src/node/nsfw-watcher/nsfw-filesystem-watcher.ts
Labels: file-watchers, filesystem

#7921 GH-7909: Inline variable values in editor.
  packages/debug/src/browser/console/debug-console-items.tsx
  packages/debug/src/browser/debug-frontend-module.ts
  packages/debug/src/browser/debug-preferences.ts
  packages/debug/src/browser/editor/debug-editor-model.ts
  packages/debug/src/browser/editor/debug-inline-value-decorator.ts
  packages/debug/src/browser/model/debug-stack-frame.tsx
  packages/monaco/src/browser/monaco-loader.ts
  packages/monaco/src/typings/monaco/index.d.ts
Labels: CQ Required, debug

#8073 Ensure 'All Files' key present in File Dialog Filters
  packages/filesystem/src/browser/file-dialog/file-dialog-tree-filters-renderer.tsx
Labels: file dialog, filesystem

#8089 changelog: update for 1.3.0 release
  CHANGELOG.md
Labels: documentation

#8087 vsx: add version field
  packages/vsx-registry/src/browser/vsx-extension.tsx
Labels: vsx-registry

#8057 'Copy all' for context menu in output view
  packages/output/src/browser/output-contribution.ts
  packages/output/src/browser/output-widget.tsx
Labels: clipboard, output

#8095 vsx-registry: fix the 'licenseUrl' link
  packages/vsx-registry/src/browser/vsx-extension.tsx
Labels: bug, vsx-registry

#8080 Fix modal dialog max-width and text wrapping
  packages/plugin-ext/src/main/browser/dialogs/modal-notification.ts
  packages/plugin-ext/src/main/browser/dialogs/style/modal-notification.css
Labels: vscode

#8103 [plugin] handle plugin host activation exceptions
  packages/plugin-ext/src/hosted/node/plugin-host-rpc.ts
  packages/plugin-ext/src/plugin/plugin-manager.ts
Labels: plug-in system

#8109 [monaco] remove unused dependencies
  packages/monaco/package.json
  yarn.lock
Labels: dependencies, monaco

#8082 fix #7973: Collect env vars lowercase on windows
  CHANGELOG.md
  packages/core/src/node/env-variables/env-variables-server.ts
Labels: OS/Windows, debug, tasks

#8117 debug: await handler's result
  packages/debug/src/browser/debug-session-connection.ts
Labels: debug
