Repository eclipse-theia/theia, pull requests merged in 2020-02, with the labels that each got.

#7017 Show progress on plugin activation
  packages/plugin-ext/src/plugin/plugin-manager.ts
Labels: plug-in system

#7041 [scm] fix alignment of file-icons
  packages/scm/src/browser/style/index.css
Labels: scm, ui/ux

#7044 [scm] incorrect colors for icons on hover
  packages/scm/src/browser/style/index.css
Labels: scm, theming

#7033 Amending without previous commit fails #7032
  packages/git/src/browser/git-contribution.ts
Labels: git, scm

#7075 core: fix import in `lsp-types.ts`
  packages/core/src/common/lsp-types.ts
Labels: bug, core

#7068 git: make git unit test more robust
  packages/git/src/node/dugite-git.spec.ts
Labels: ci, git

#7011 [preferences] fix the display of file icons
  packages/preferences/src/browser/preferences-tree-widget.ts
  packages/preferences/src/browser/style/index.css
Labels: bug, preferences, theming

#6969 [mini-browser] support '.xhtml' file for preview
  packages/mini-browser/src/browser/mini-browser-open-handler.ts
  packages/mini-browser/src/node/mini-browser-endpoint.ts
Labels: mini-browser

#7060 Keymaps: Keyboard shortcuts text is too small
  packages/keymaps/src/browser/style/index.css
Labels: keybindings, ui/ux

#6855 React dialog type
  CHANGELOG.md
  packages/core/src/browser/about-dialog.ts
  packages/core/src/browser/about-dialog.tsx
  packages/core/src/browser/dialogs/react-dialog.tsx
  packages/core/src/browser/style/about.css
Labels: core, dialogs

#7093 [cli] Keep downloaded .vsix plugins as they are
  dev-packages/cli/src/download-plugins.ts
Labels: builtins

#7091 [#6891] Add support for setting the icon of a submenu
  packages/core/src/browser/menu/browser-menu-plugin.ts
  packages/core/src/common/menu.ts
Labels: menus

#7115 Attempt to fix the deploy job on Travis.
  .travis.yml
Labels: ci

#7119 fix(prepare-travis): Always use JSON output of the yarn workspaces command
  scripts/prepare-travis.js
Labels: ci

#7123 plugins: add flag to 'download:plugins' script
  dev-packages/cli/src/download-plugins.ts
  dev-packages/cli/src/theia.ts
Labels: builtins

#7128 [revert] GH-7115: Reverted the Travis changes.
  .travis.yml
Labels: ci

#7101 Added separate commands to close main area widgets (editors)
  packages/core/src/browser/common-frontend-contribution.ts
  packages/core/src/browser/shell/application-shell.ts
Labels: shell, vscode

#7134 Exposed the metadata scanner to the API.
  packages/plugin-ext/src/hosted/node/plugin-reader.ts
Labels: plug-in system

#7124 plugin tree rows are bogusly rendered [work in progress]
  packages/plugin-ext/src/main/browser/style/tree.css
Labels: tree, vscode

#7144 about: dialog does not display correctly when re-opened
  packages/core/src/browser/about-dialog.tsx
Labels: bug, dialogs

#7135 about: enhancement to use application name in title
  packages/core/src/browser/about-dialog.tsx
Labels: dialogs, enhancement

#6980 feat(vscode): Implements readFile/writeFile for workspace.fs
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/file-system-main.ts
  packages/plugin-ext/src/plugin/file-system.ts
  packages/plugin-ext/src/plugin/in-plugin-filesystem-proxy.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin/src/theia.d.ts
Labels: filesystem, plug-in system, vscode

#7089 Adjust z-index for the search box in the file tree
  packages/core/src/browser/style/search-box.css
  packages/core/src/browser/style/tabs.css
Labels: bug, navigator

#7147 fix set selection on right click selected node
  packages/core/src/browser/tree/tree-widget.tsx
Labels: tree

#7163 fix warnings on languages.ts
  packages/plugin-ext/src/plugin/languages.ts
Labels: plug-in system

#7175 [#7173] Prevent error on disabled performance API
  packages/plugin-ext/src/hosted/browser/hosted-plugin.ts
Labels: browser/firefox, plug-in system

#7184 eslint: update 'no-multiple-empty-lines' rule
  configs/errors.eslintrc.json
  packages/git/src/browser/git-contribution.ts
Labels: linting

#7136 Close active menubar dropdown when the command palette is launched
  CHANGELOG.md
  packages/monaco/src/browser/monaco-quick-open-service.ts
Labels: menus, quick-open

#7177 Code snippet: Add support for an array of prefixes
  CHANGELOG.md
  packages/monaco/src/browser/monaco-snippet-suggest-provider.ts
Labels: monaco

#7161 Update Code of Conduct
  CHANGELOG.md
  CODE_OF_CONDUCT.md
Labels: documentation

#7182 [ls] implement multiple workspace folders in MonacoWorkspace
  packages/monaco/src/browser/monaco-workspace.ts
Labels: monaco, multi-root

#7192 gracefully terminate plugin host process without rpc connection
  packages/plugin-ext/src/common/rpc-protocol.ts
  packages/plugin-ext/src/hosted/node/hosted-plugin-cli-contribution.ts
  packages/plugin-ext/src/hosted/node/hosted-plugin-process.ts
  packages/plugin-ext/src/hosted/node/plugin-host-rpc.ts
  packages/plugin-ext/src/hosted/node/plugin-host.ts
  packages/plugin-ext/src/plugin/command-registry.ts
  packages/plugin-ext/src/plugin/plugin-manager.ts
  packages/plugin-ext/src/plugin/tasks/tasks.ts
Labels: plug-in system, vscode

#7181 feat(plugins): Allow to customise the plugin-host process
  packages/plugin-ext/src/hosted/node/hosted-plugin-process.ts
  packages/plugin-ext/src/hosted/node/plugin-ext-hosted-backend-module.ts
Labels: plug-in system

#6803 Fix 'window.showTextDocument' to open resources with 'untitled' schema
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
  packages/plugin-ext/src/main/browser/documents-main.ts
  packages/plugin-ext/src/main/browser/editor/untitled-resource.ts
  packages/plugin-ext/src/main/browser/main-context.ts
Labels: vscode

#5471 Add ability search text in the terminal widget.
  packages/core/src/browser/icons/arrow-down-bright.svg
  packages/core/src/browser/icons/arrow-down-dark.svg
  packages/core/src/browser/icons/arrow-up-bright.svg
  packages/core/src/browser/icons/arrow-up-dark.svg
  packages/core/src/browser/style/variables-bright.useable.css
  packages/core/src/browser/style/variables-dark.useable.css
  packages/terminal/src/browser/base/terminal-widget.ts
  packages/terminal/src/browser/search/terminal-search-container.ts
  packages/terminal/src/browser/search/terminal-search-widget.tsx
  packages/terminal/src/browser/style/terminal-search.css
  packages/terminal/src/browser/style/terminal.css
  packages/terminal/src/browser/terminal-frontend-contribution.ts
  packages/terminal/src/browser/terminal-frontend-module.ts
  packages/terminal/src/browser/terminal-keybinding-contexts.ts
  packages/terminal/src/browser/terminal-widget-impl.ts
Labels: terminal

#7201 GH-7200: Made `RecursivePartial` array aware.
  packages/core/src/common/types.spec.ts
  packages/core/src/common/types.ts
Labels: core

#7207 markers: update tooltip to display full path
  packages/markers/src/browser/problem/problem-widget.tsx
Labels: enhancement, markers

#7208 [electron] Add ability to create folder in OpenDialog on MacOS
  packages/filesystem/src/electron-browser/file-dialog/electron-file-dialog-service.ts
Labels: OS/Mac, electron, filesystem

#7205 electron: only allow browser-window
  dev-packages/application-manager/src/generator/frontend-generator.ts
  packages/core/package.json
  packages/core/src/electron-common/electron-token.ts
  packages/core/src/electron-node/token/electron-token-backend-contribution.ts
  packages/core/src/electron-node/token/electron-token-backend-module.ts
  packages/core/src/electron-node/token/electron-token-messaging-contribution.ts
  packages/core/src/electron-node/token/electron-token-validator.ts
  packages/core/src/node/messaging/messaging-backend-module.ts
  packages/core/src/node/messaging/messaging-contribution.ts
  packages/core/src/node/messaging/messaging-service.ts
  yarn.lock
Labels: electron, security

#7216 Prevent default handling for the browser reserved hotkeys inside webviews
  packages/plugin-ext/src/main/browser/webview/pre/main.js
Labels: Team: Che-Editors, enhancement, webviews

#6869 Lazily update frames of all threads in all-stop mode
  packages/debug/src/browser/debug-session.tsx
  packages/debug/src/browser/model/debug-thread.tsx
Labels: debug

#7197 [Electron] Don't stat for electron save dialog
  packages/filesystem/src/electron-browser/file-dialog/electron-file-dialog-service.ts
Labels: electron, filesystem

#7179 Add terminal scroll commands.
  CHANGELOG.md
  packages/terminal/src/browser/base/terminal-widget.ts
  packages/terminal/src/browser/terminal-frontend-contribution.ts
  packages/terminal/src/browser/terminal-widget-impl.ts
Labels: accessibility, keybindings, terminal

#7080 [dialogs] Improve display of dialogs
  packages/core/src/browser/dialogs.ts
Labels: dialogs, ui/ux

#7077 [getting-started] update extension readme following updated template
  logo/theia.svg
  packages/getting-started/README.md
Labels: documentation, getting-started

#7230 getting-started: use absolute link for logo
  packages/getting-started/README.md
Labels: documentation, getting-started

#7211 Fix inline breakpoints
  packages/debug/src/browser/editor/debug-editor-model.ts
Labels: debug

#7209 markers: improve 'description'
  packages/markers/src/browser/marker-tree-label-provider.spec.ts
  packages/markers/src/browser/marker-tree-label-provider.ts
Labels: markers, ui/ux

#7233 webview: fix user input
  packages/plugin-ext/src/main/browser/webview/pre/main.js
Labels: critical, webviews

#7234 preview: allow rendering of '.markdown' files
  packages/preview/src/browser/markdown/markdown-preview-handler.spec.ts
  packages/preview/src/browser/markdown/markdown-preview-handler.ts
Labels: markdown, preview

#7236 changelog: update changelog for 0.16
  CHANGELOG.md
Labels: documentation

#7237 [plugin] : align tree item description properly
  packages/plugin-ext/src/main/browser/view/tree-view-widget.tsx
Labels: plug-in system, tree
