Repository eclipse-theia/theia, pull requests merged in 2020-03, with the labels that each got.

#7238 Plug-ins leaking CodeLens, etc. #4472
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/languages-main.ts
  packages/plugin-ext/src/plugin/languages.ts
  packages/plugin-ext/src/plugin/languages/lens.ts
  packages/plugin-ext/src/plugin/languages/link-provider.ts
  packages/plugin-ext/src/plugin/tasks/task-provider.ts
Labels: performance, plug-in system

#7055 `Find All references` doesn't exist for typescript plugin #14856
  package.json
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
  packages/plugin-ext/src/common/index.ts
  packages/plugin-ext/src/common/known-commands.ts
  packages/plugin-ext/src/common/plugin-api-rpc-model.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/style/tree.css
  packages/plugin-ext/src/main/browser/view/plugin-view-registry.ts
  packages/plugin-ext/src/main/browser/view/plugin-view-widget.ts
  packages/plugin-ext/src/main/browser/view/tree-view-widget.tsx
  packages/plugin-ext/src/main/browser/view/tree-views-main.ts
  packages/plugin-ext/src/plugin/command-registry.ts
  packages/plugin-ext/src/plugin/known-commands.spec.ts
  packages/plugin-ext/src/plugin/known-commands.ts
  packages/plugin-ext/src/plugin/tree/tree-views.ts
  packages/plugin-ext/src/plugin/type-converters.ts
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/plugin/src/theia.d.ts
Labels: typescript, vscode

#7241 [Logging] Enhanced backend and frontend contribution startup measurements
  packages/core/src/browser/frontend-application.ts
  packages/core/src/node/backend-application.ts
Labels: enhancement, logging

#7267 Fix travis API test broken by the move of the history view
  examples/api-tests/src/menus.spec.js
Labels: ci, scm

#7256 documentation: update prerequisites
  doc/Developing.md
Labels: documentation

#7121 Bump version of Xtermjs to 4.4.0
  packages/terminal/package.json
  packages/terminal/src/browser/search/terminal-search-widget.tsx
  packages/terminal/src/browser/terminal-frontend-module.ts
  packages/terminal/src/browser/terminal-linkmatcher.ts
  packages/terminal/src/browser/terminal-theme-service.ts
  packages/terminal/src/browser/terminal-widget-impl.ts
  yarn.lock
Labels: terminal

#7272 Revert "Lazily update frames of all threads in all-stop mode"
  packages/debug/src/browser/debug-session.tsx
  packages/debug/src/browser/model/debug-thread.tsx
Labels: debug

#7242 fix #7240: support loading plugins from symbolic links
  packages/plugin-ext/src/main/node/plugin-deployer-entry-impl.ts
Labels: plug-in system

#7221 Scope local storage per-application for electron development
  .vscode/launch.json
  dev-packages/application-manager/src/application-package-manager.ts
  examples/electron/package.json
Labels: electron

#7195 Add a new preference to silence notifications
  CHANGELOG.md
  packages/core/src/browser/core-preferences.ts
  packages/messages/src/browser/notification-toasts-component.tsx
  packages/messages/src/browser/notifications-renderer.tsx
Labels: notifications

#7278 Adjust behavior of all close tab commands
  examples/api-samples/src/browser/api-samples-frontend-module.ts
  examples/api-samples/src/browser/label/sample-dymanic-label-provider-command-contribution.ts
  examples/api-samples/src/browser/label/sample-dynamic-label-provider-contribution.ts
  examples/api-samples/src/browser/view/sample-unclosable-view-contribution.ts
  examples/api-samples/src/browser/view/sample-unclosable-view.tsx
  packages/core/src/browser/common-frontend-contribution.ts
Labels: shell

#7289 [notifications] disallow arbitrary html in message content
  packages/messages/src/browser/messages-frontend-module.ts
  packages/messages/src/browser/notification-content-renderer.spec.ts
  packages/messages/src/browser/notification-content-renderer.ts
  packages/messages/src/browser/notifications-manager.ts
Labels: notifications, vscode

#7276 Exposed `onChanged` event on the menu registry
  CHANGELOG.md
  examples/api-tests/src/menus.spec.js
  packages/core/src/browser/menu/browser-context-menu-renderer.ts
  packages/core/src/browser/menu/browser-main-menu-factory.ts
  packages/core/src/browser/menu/browser-menu-contribution.ts
  packages/core/src/browser/menu/browser-menu-module.ts
  packages/core/src/common/menu.ts
  packages/core/src/electron-browser/menu/electron-main-menu-factory.ts
  packages/core/src/electron-browser/menu/electron-menu-contribution.ts
  packages/monaco/src/browser/monaco-quick-open-service.ts
Labels: electron, menus

#7305 Fix HOME, PageUp, PageDown shortcuts for terminal.
  packages/terminal/src/browser/terminal-frontend-contribution.ts
Labels: keybindings, terminal

#7307 fix #7306: reverts the pull-request #7276 (expose 'onChanged' event for menus)
  CHANGELOG.md
  examples/api-tests/src/menus.spec.js
  packages/core/src/browser/menu/browser-context-menu-renderer.ts
  packages/core/src/browser/menu/browser-menu-contribution.ts
  packages/core/src/browser/menu/browser-menu-module.ts
  packages/core/src/browser/menu/browser-menu-plugin.ts
  packages/core/src/common/menu.ts
  packages/core/src/electron-browser/menu/electron-main-menu-factory.ts
  packages/core/src/electron-browser/menu/electron-menu-contribution.ts
  packages/monaco/src/browser/monaco-quick-open-service.ts
Labels: critical, menus

#7284 terminal: additional preferences to control xterm options
  packages/terminal/src/browser/terminal-preferences.ts
  packages/terminal/src/browser/terminal-widget-impl.ts
Labels: terminal

#7188 [git] Fixed duplicated entries for git history on merge operations
  packages/git/src/browser/git-scm-provider.ts
  packages/git/src/common/git.ts
  packages/git/src/node/dugite-git.ts
Labels: git

#7292 Wrong icons appear on "References: Results" view of `vscode-reference…
  packages/core/src/browser/label-provider.ts
  packages/plugin-ext/src/main/browser/plugin-icon-theme-service.ts
  packages/plugin-ext/src/main/browser/view/tree-view-widget.tsx
Labels: theming, vscode

#7314 FIx missing progress events
  packages/core/src/browser/frontend-application-module.ts
  packages/core/src/browser/progress-bar-factory.ts
  packages/core/src/browser/progress-bar.ts
  packages/core/src/browser/progress-location-service.spec.ts
  packages/core/src/browser/progress-location-service.ts
  packages/core/src/browser/view-container.ts
  packages/debug/src/browser/view/debug-widget.ts
  packages/plugin-ext/src/main/browser/plugin-ext-widget.tsx
  packages/search-in-workspace/src/browser/search-in-workspace-widget.tsx
Labels: progress

#7321 [gitpod] Improve development environment Dockerfile
  .gitpod.dockerfile
Labels: gitpod

#7308 electron: use timingSafeEqual to check token
  packages/core/src/electron-node/token/electron-token-validator.ts
Labels: electron, security

#7294 Ensure node-based debug adapters spawn same node exec as Theia
  packages/plugin-ext/src/plugin/node/debug/plugin-debug-adapter-starter.ts
Labels: debug

#7325 terminal: fix color theming
  packages/terminal/src/browser/terminal-theme-service.ts
Labels: terminal, theming

#7288 docs: fix incorrectly generated api docs
  configs/typedoc.json
Labels: bug, documentation

#7320 plugins: add workbench.action.openSettings
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
Labels: vscode

#7301 Corrected the rejection when formatting on save.
  packages/monaco/src/browser/monaco-editor-provider.ts
Labels: monaco

#7326 always use `CommandService.execute` to run a command
  packages/core/src/browser/keybinding.ts
  packages/core/src/common/command.ts
  packages/monaco/src/browser/monaco-command-service.ts
  packages/monaco/src/browser/monaco-editor-provider.ts
  packages/monaco/src/typings/monaco/index.d.ts
Labels: commands, monaco, vscode

#7340 scm: fixed focused border of scm textarea
  packages/scm/src/browser/style/index.css
Labels: scm, theming

#7281 [debug] Lazily update frames of all threads in all-stop mode
  packages/debug/src/browser/debug-session.tsx
  packages/debug/src/browser/model/debug-thread.tsx
Labels: debug

#7350 Handle 'workbench.action.addRootFolder' vscode command
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
Labels: vscode

#7355 [gitpod] rebuild workpace image to reflect base image changes
  .gitpod.dockerfile
Labels: gitpod

#7329 Fix: Keybindings on Numpad special keys (#7315)
  CHANGELOG.md
  packages/core/src/browser/keyboard/keys.ts
Labels: keybindings

#7331 terminal: improve option help message
  packages/terminal/src/browser/terminal-preferences.ts
Labels: preferences, terminal

#7344 markers: update format of markers
  packages/markers/src/browser/problem/problem-widget.tsx
  packages/markers/src/browser/style/index.css
Labels: markers, ui/ux

#7313 markers: apply problem marker sorting based on severity, line, and column number
  packages/markers/src/browser/problem/problem-decorator.ts
  packages/markers/src/browser/problem/problem-tree-model.spec.ts
  packages/markers/src/browser/problem/problem-tree-model.ts
  packages/markers/src/browser/problem/problem-utils.ts
Labels: markers

#7356 Update MiniBrowserEndpoint.defaultHandler() response to return content even when file type is not exists at mime-db
  packages/mini-browser/src/node/mini-browser-endpoint.ts
Labels: mini-browser

#7374 [minor] fix minor variable spellings in vsx
  packages/vsx-registry/src/browser/vsx-extensions-source.ts
  packages/vsx-registry/src/browser/vsx-extensions-widget.ts
  packages/vsx-registry/src/browser/vsx-registry-frontend-module.ts
Labels: vsx-registry

#7333 Allow ripgrep to search files in hidden folders
  packages/file-search/src/node/file-search-service-impl.ts
Labels: vscode

#7378 Remove obsolete QUIT command
  packages/core/src/browser/common-frontend-contribution.ts
Labels: quality

#7351 theming: apply proper inputValidation theming
  packages/core/src/browser/common-frontend-contribution.ts
  packages/core/src/browser/style/alert-messages.css
  packages/core/src/browser/widgets/alert-message.tsx
  packages/scm/src/browser/style/index.css
  packages/search-in-workspace/src/browser/styles/index.css
Labels: theming

#7377 Update styling of extensions in the tree-view
  packages/vsx-registry/src/browser/style/index.css
  packages/vsx-registry/src/browser/vsx-extensions-widget.ts
Labels: theming, vsx-registry

#7400 ensure that on expansion nodes are refreshed
  packages/core/src/browser/tree/tree-expansion.spec.ts
  packages/core/src/browser/tree/tree-expansion.ts
Labels: tree

#7404 [gitpod] Update Node.js v10 pinning code
  .gitpod.dockerfile
Labels: gitpod

#7413 vsx: use builtins published on open vsx
  package.json
Labels: builtins, vsx-registry

#7392 align how tasks are displayed as quick open items
  CHANGELOG.md
  packages/task/src/browser/quick-open-task.ts
Labels: enhancement, tasks

#7391 Hosted plugin - Add support of killing sub treads in Linux run by shell script
  packages/plugin-dev/src/node/hosted-plugins-manager.ts
Labels: plug-in system

#7394 fix #7393 can't open tomcat configuration without workspaces opened
  packages/plugin-ext/src/plugin/plugin-manager.ts
Labels: vscode

#7302 Fix creating a new file or folder if the preferences widget is opened.
  packages/workspace/src/browser/workspace-commands.ts
Labels: bug, preferences

#7418 fixed "applyTo" property in problem matcher for task output
  CHANGELOG.md
  packages/task/src/browser/task-service.ts
Labels: tasks

#7409 repo: fix misc typos
  CHANGELOG.md
  packages/callhierarchy/src/browser/callhierarchy-contribution.ts
  packages/core/src/browser/preferences/preference-service.spec.ts
  packages/core/src/browser/quick-open/quick-title-bar.ts
  packages/core/src/browser/shell/application-shell.ts
  packages/core/src/common/resource.ts
  packages/debug/src/browser/debug-frontend-application-contribution.ts
  packages/debug/src/browser/editor/debug-breakpoint-widget.tsx
  packages/debug/src/browser/view/debug-watch-expression.tsx
  packages/file-search/src/node/file-search-service-impl.spec.ts
  packages/filesystem/src/browser/file-tree/file-tree-widget.tsx
  packages/git/src/browser/git-repository-tracker.ts
  packages/git/src/node/git-repository-manager.ts
  packages/keymaps/src/browser/keymaps-service.ts
  packages/languages/src/common/language-selector/glob.ts
  packages/messages/src/browser/notification-content-renderer.spec.ts
  packages/monaco/src/browser/monaco-editor-provider.ts
  packages/monaco/src/browser/monaco-editor.ts
  packages/monaco/src/browser/monaco-semantic-highlighting-service.ts
  packages/monaco/src/browser/monaco-snippet-suggest-provider.ts
  packages/monaco/src/browser/textmate/monaco-theme-registry.ts
  packages/plugin-dev/src/browser/hosted-plugin-controller.ts
  packages/plugin-dev/src/node/hosted-plugins-manager.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/common/rpc-protocol.ts
  packages/plugin-ext/src/hosted/browser/hosted-plugin.ts
  packages/plugin-ext/src/hosted/node/plugin-host.ts
  packages/plugin-ext/src/hosted/node/plugin-reader.ts
  packages/plugin-ext/src/main/browser/languages-contribution-main.ts
  packages/plugin-ext/src/main/browser/menus/menus-contribution-handler.ts
  packages/plugin-ext/src/main/browser/plugin-contribution-handler.ts
  packages/plugin-ext/src/main/browser/preference-registry-main.ts
  packages/plugin-ext/src/main/browser/view/tree-view-widget.tsx
  packages/plugin-ext/src/main/browser/view/view-context-key-service.ts
  packages/plugin-ext/src/main/browser/webview/webview.ts
  packages/plugin-ext/src/plugin/decorations.ts
  packages/plugin-ext/src/plugin/editors-and-documents.ts
  packages/plugin-ext/src/plugin/in-plugin-filesystem-watcher-proxy.ts
  packages/plugin-ext/src/plugin/languages.ts
  packages/plugin-ext/src/plugin/languages/diagnostics.ts
  packages/plugin-ext/src/plugin/type-converters.spec.ts
  packages/process/src/node/multi-ring-buffer.spec.ts
  packages/process/src/node/multi-ring-buffer.ts
  packages/scm/src/browser/scm-amend-component.tsx
  packages/terminal/src/browser/search/terminal-search-widget.tsx
  packages/variable-resolver/src/browser/variable.ts
  packages/workspace/src/browser/workspace-service.spec.ts
  packages/workspace/src/browser/workspace-variable-contribution.ts
Labels: documentation, quality

#6863 [markers] add problem decorator fontData
  packages/markers/src/browser/problem/problem-decorator.ts
Labels: markers

#7401 vsx: sort exts based on displayname, publisher
  packages/vsx-registry/src/browser/vsx-extensions-model.ts
Labels: vsx-registry

#7425 documentation: updated changelog for v1.0.0
  CHANGELOG.md
Labels: documentation

#7260 support presentation.panel in task config
  packages/core/src/browser/widgets/widget.ts
  packages/task/src/browser/task-frontend-module.ts
  packages/task/src/browser/task-schema-updater.ts
  packages/task/src/browser/task-service.ts
  packages/task/src/browser/task-terminal-widget-manager.ts
  packages/task/src/common/task-protocol.ts
  packages/terminal/src/browser/base/terminal-service.ts
  packages/terminal/src/browser/base/terminal-widget.ts
  packages/terminal/src/browser/terminal-frontend-contribution.ts
  packages/terminal/src/browser/terminal-widget-impl.ts
Labels: tasks, vscode

#7422 allow to provide a custom node for ReactWidget
  packages/core/src/browser/widgets/react-widget.tsx
Labels: core

#7437 [built-in extensions] Updated builtin extensions
  package.json
Labels: builtins, vsx-registry
