Repository eclipse-theia/theia, pull requests merged in 2021-07, with the labels that each got.

#9686 Added Twitter to the post release process
  doc/Publishing.md
Labels: documentation

#9693 api-test: fix `file-search` tests
  examples/api-tests/src/file-search.spec.js
Labels: file search, test

#9636 Keep the collapse state of a tree-view
  packages/core/src/browser/view-container.ts
Labels: tree, vscode

#9695 Enable file links when task terminals complete
  packages/task/src/browser/task-terminal-widget-manager.ts
  packages/terminal/src/browser/base/terminal-widget.ts
  packages/terminal/src/browser/terminal-widget-impl.ts
Labels: tasks, terminal

#9671 Fix #9670: Custom editor plugin activation called 3 times when double click quickly
  packages/plugin-ext/src/main/browser/custom-editors/custom-editor-opener.tsx
Labels: custom-editor, vscode

#9100 bulk-edit: fix spelling mistake in border value
  packages/bulk-edit/src/browser/style/bulk-edit.css
Labels: bulk-edit, ui/ux

#9683 repo: upgrade `yarn.lock`
  yarn.lock
Labels: dependencies

#9429 siw: improve search result message
  packages/search-in-workspace/src/browser/search-in-workspace-widget.tsx
Labels: enhancement, search in workspace

#9719 Don't modify settings.json when adding debug configurations
  packages/debug/src/browser/debug-configuration-manager.ts
Labels: bug, debug, preferences

#9720 Modify closeOnFileDelete default to agree with VSCode
  packages/core/src/browser/core-preferences.ts
Labels: preferences, vscode

#9717 Fix #9714: test failure following monaco upgrade.
  examples/api-tests/src/typescript.spec.js
Labels: ci, test

#9721 plugin: add `showDeprecated` support
  packages/monaco/src/browser/protocol-to-monaco-converter.ts
  packages/plugin-ext/src/common/plugin-api-rpc-model.ts
  packages/plugin-ext/src/main/browser/languages-main.ts
  packages/plugin-ext/src/plugin/type-converters.ts
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/plugin/src/theia.d.ts
Labels: monaco, vscode

#9713 fix file tree scroll bug
  packages/core/src/browser/tree/tree-widget.tsx
Labels: tree, ui/ux

#9726 doc: update yarn prerequisites
  doc/Developing.md
  package.json
Labels: documentation

#9684 Support multiselection in 'Add Folder to Workspace...' dialog
  CHANGELOG.md
  packages/workspace/src/browser/workspace-commands.ts
  packages/workspace/src/browser/workspace-service.ts
Labels: dialogs, multi-root, workspace

#9728 editor: add 'revert and close editor' command
  packages/editor/src/browser/editor-command.ts
  packages/monaco/src/browser/monaco-command.ts
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
Labels: commands, vscode

#9725 monaco: fix monaco peek styling
  packages/monaco/src/browser/style/index.css
Labels: monaco, ui/ux

#9747 Fix Cannot Read property 'cwd' of undefined
  packages/task/src/browser/task-terminal-widget-manager.ts
  packages/terminal/src/browser/base/terminal-widget.ts
  packages/terminal/src/browser/terminal-widget-impl.ts
Labels: bug, tasks

#9736 Update `CHANGELOG.md` with #9154 breaking changes.
  CHANGELOG.md
Labels: documentation

#9524 [search-in-workspace] Add history to input fields
  packages/search-in-workspace/src/browser/components/search-in-workspace-input.tsx
  packages/search-in-workspace/src/browser/search-in-workspace-widget.tsx
Labels: search in workspace

#9647 Enhancement: Supporting deep comparison of tasks with reference value in custom properties
  packages/task/src/browser/task-definition-registry.spec.ts
  packages/task/src/browser/task-definition-registry.ts
Labels: tasks

#9738 plugin: add support for `refreshFilesExplorer`
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
Labels: navigator, vscode

#9696 Align collapsable item behaviour with VSCode
  packages/plugin-ext/src/main/browser/plugin-ext-frontend-module.ts
  packages/plugin-ext/src/main/browser/view/tree-view-widget.tsx
Labels: tree, vscode

#9681 Implement missing functionality for call hierarchy API
  CHANGELOG.md
  packages/callhierarchy/src/browser/callhierarchy-contribution.ts
  packages/callhierarchy/src/browser/callhierarchy-frontend-module.ts
  packages/callhierarchy/src/browser/current-editor-access.ts
  packages/plugin-ext-vscode/compile.tsconfig.json
  packages/plugin-ext-vscode/package.json
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/callhierarchy/callhierarchy-type-converters.ts
  packages/plugin-ext/src/main/browser/command-registry-main.ts
  packages/plugin-ext/src/main/browser/languages-main.ts
  packages/plugin-ext/src/main/browser/view/tree-view-widget.tsx
  packages/plugin-ext/src/plugin/documents.ts
  packages/plugin-ext/src/plugin/known-commands.ts
  packages/plugin-ext/src/plugin/languages.ts
  packages/plugin-ext/src/plugin/languages/call-hierarchy.ts
  packages/plugin-ext/src/plugin/type-converters.ts
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/timeline/src/browser/timeline-widget.tsx
Labels: call-hierarchy, vscode

#9700 Remove important keyword in focus opacity style
  packages/core/src/browser/style/index.css
Labels: css, extensibility

#9745 scm: add `title` for resources
  packages/scm/src/browser/scm-tree-widget.tsx
Labels: scm, ui/ux

#9749 siw: add `expand-all` toolbar item
  packages/search-in-workspace/src/browser/search-in-workspace-frontend-contribution.ts
  packages/search-in-workspace/src/browser/search-in-workspace-result-tree-widget.tsx
  packages/search-in-workspace/src/browser/search-in-workspace-widget.tsx
Labels: enhancement, search in workspace

#8706 4016-debug-extension: support debugging of extensions using Debug panel
  CHANGELOG.md
  packages/debug/src/browser/debug-contribution.ts
  packages/debug/src/browser/debug-frontend-application-contribution.ts
  packages/debug/src/browser/debug-frontend-module.ts
  packages/debug/src/browser/debug-session-contribution.ts
  packages/debug/src/browser/debug-session-manager.ts
  packages/debug/src/browser/debug-session.tsx
  packages/debug/src/browser/view/debug-toolbar-widget.tsx
  packages/debug/src/browser/view/debug-view-model.ts
  packages/plugin-dev/src/browser/hosted-plugin-controller.ts
  packages/plugin-dev/src/browser/hosted-plugin-manager-client.ts
  packages/plugin-dev/src/browser/plugin-dev-frontend-module.ts
  packages/plugin-dev/src/common/plugin-dev-protocol.ts
  packages/plugin-dev/src/node/hosted-instance-manager.ts
  packages/plugin-dev/src/node/hosted-plugin-service.ts
  packages/plugin-ext/src/main/browser/debug/debug-main.ts
  packages/plugin-ext/src/main/browser/debug/plugin-debug-service.ts
  packages/plugin-ext/src/main/browser/debug/plugin-debug-session-factory.ts
Labels: CQ Required, debug, vscode

#9284 Open editors widget in navigator
  packages/core/src/browser/shell/application-shell.ts
  packages/editor-preview/compile.tsconfig.json
  packages/editor-preview/package.json
  packages/editor-preview/src/browser/editor-preview-frontend-module.ts
  packages/editor-preview/src/browser/editor-preview-tree-decorator.ts
  packages/markers/src/browser/problem/problem-decorator.ts
  packages/markers/src/browser/problem/problem-frontend-module.ts
  packages/navigator/src/browser/navigator-container.ts
  packages/navigator/src/browser/navigator-contribution.ts
  packages/navigator/src/browser/navigator-frontend-module.ts
  packages/navigator/src/browser/navigator-widget-factory.ts
  packages/navigator/src/browser/open-editors-widget/navigator-open-editors-commands.ts
  packages/navigator/src/browser/open-editors-widget/navigator-open-editors-decorator-service.ts
  packages/navigator/src/browser/open-editors-widget/navigator-open-editors-menus.ts
  packages/navigator/src/browser/open-editors-widget/navigator-open-editors-tree-model.ts
  packages/navigator/src/browser/open-editors-widget/navigator-open-editors-widget.tsx
  packages/navigator/src/browser/open-editors-widget/open-editors.css
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
  packages/scm/src/browser/scm-frontend-module.ts
  packages/terminal/src/browser/terminal-frontend-contribution.ts
Labels: enhancement, navigator

#9759 Align code-lens css with vscode
  packages/debug/src/browser/debug-frontend-application-contribution.ts
  packages/monaco/src/browser/style/index.css
Labels: ui/ux, vscode

#9703 enable searching tree-view in extension
  packages/plugin-ext/src/main/browser/plugin-ext-frontend-module.ts
  packages/plugin-ext/src/main/browser/style/tree.css
  packages/plugin-ext/src/main/browser/view/tree-view-widget.tsx
Labels: tree, vscode

#9613 Add vscode API `DebugSessionOptions`
  CHANGELOG.md
  packages/console/src/browser/console-session-manager.ts
  packages/console/src/browser/console-session.ts
  packages/console/src/browser/console-widget.ts
  packages/core/src/browser/style/index.css
  packages/debug/src/browser/console/debug-console-contribution.tsx
  packages/debug/src/browser/console/debug-console-session.ts
  packages/debug/src/browser/debug-session-contribution.ts
  packages/debug/src/browser/debug-session-manager.ts
  packages/debug/src/browser/debug-session.tsx
  packages/debug/src/browser/view/debug-threads-source.tsx
  packages/debug/src/common/debug-configuration.ts
  packages/debug/src/common/debug-model.ts
  packages/debug/src/node/debug-adapter-session-manager.ts
  packages/plugin-ext/compile.tsconfig.json
  packages/plugin-ext/package.json
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/debug/debug-main.ts
  packages/plugin-ext/src/main/browser/debug/plugin-debug-session-factory.ts
  packages/plugin-ext/src/plugin/node/debug/debug.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin/src/theia.d.ts
Labels: debug, vscode

#9775 Fix #9774 Incorrect TreeView item ordering.
  packages/plugin-ext/src/plugin/tree/tree-views.ts
Labels: plug-in system, tree

#9780 Fix #9761: Hosted plugin can't be stop or restart
  packages/plugin-dev/src/browser/hosted-plugin-controller.ts
Labels: plug-in system

#9782 Fix #9781: update `.theia-select` styling
  packages/core/src/browser/style/index.css
  packages/debug/src/browser/style/index.css
Labels: debug, file dialog, ui/ux

#9786 Remove colons after empty strings in diff labels
  packages/core/src/browser/diff-uris.ts
Labels: diff editor

#9785 Preferences: Additional `Open Preferences` Commands
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
  packages/preferences/src/browser/preferences-contribution.ts
  packages/preferences/src/browser/util/preference-types.ts
  packages/preferences/src/browser/views/preference-widget.tsx
Labels: preferences

#9694 Downgrade keytar dependency for broader compatibility
  packages/core/package.json
  yarn.lock
Labels: dependencies

#9783 monaco: fix quick-command separator
  packages/monaco/src/browser/monaco-quick-command-service.ts
Labels: monaco

#9772 vsx: fix search input behavior
  packages/vsx-registry/src/browser/vsx-extensions-search-bar.tsx
Labels: vsx-registry

#9764 plugin: fix `hosted-plugin` dialog
  packages/plugin-dev/src/browser/hosted-plugin-manager-client.ts
Labels: plug-in system

#9770 Replace chevron icon with codicon
  packages/core/src/browser/style/tree.css
  packages/core/src/browser/tree/tree-widget.tsx
  packages/core/src/browser/view-container.ts
  packages/core/src/browser/widgets/widget.ts
Labels: tree, ui/ux

#9802 documentation: update `changelog` for `1.16.0`
  CHANGELOG.md
Labels: documentation
