Repository eclipse-theia/theia, pull requests merged in 2021-05, with the labels that each got.

#9413 yarn upgrade
  examples/api-tests/src/typescript.spec.js
  yarn.lock
Labels: dependencies

#9419 UI: Improve Styling of `Rename Symbol`
  packages/monaco/src/browser/style/index.css
Labels: monaco, ui/ux

#9408 SIW: Support 'search.smartCase'
  packages/search-in-workspace/src/browser/search-in-workspace-preferences.ts
  packages/search-in-workspace/src/browser/search-in-workspace-widget.tsx
Labels: enhancement, search in workspace

#9424 vsx-registry: sanitize readme
  packages/vsx-registry/package.json
  packages/vsx-registry/src/browser/vsx-extension.tsx
Labels: security, vsx-registry

#9452 terminal: remove process.env from browser
  packages/terminal/src/browser/terminal-preferences.ts
Labels: terminal

#9307 Improve include/exclude search in workspace
  packages/search-in-workspace/src/browser/search-in-workspace-result-tree-widget.tsx
  packages/search-in-workspace/src/node/ripgrep-search-in-workspace-server.slow-spec.ts
  packages/search-in-workspace/src/node/ripgrep-search-in-workspace-server.ts
Labels: search in workspace

#9451 application-manager: use Webpack v5
  dev-packages/application-manager/package.json
  dev-packages/application-manager/src/expose-loader.ts
  dev-packages/application-manager/src/generator/frontend-generator.ts
  dev-packages/application-manager/src/generator/webpack-generator.ts
  yarn.lock
Labels: dependencies, enhancement

#9437 Fix applying variable updates provided by plugins
  packages/terminal/src/node/shell-process.spec.ts
  packages/terminal/src/node/shell-process.ts
  packages/terminal/src/node/shell-terminal-server.ts
Labels: terminal

#9479 Fix enable/disable of verified breakpoints if moved
  packages/debug/src/browser/model/debug-source-breakpoint.tsx
Labels: bug, debug

#8911 Apply FileDecoration provider API
  packages/core/src/browser/decorations-service.ts
  packages/core/src/browser/frontend-application-module.ts
  packages/git/src/browser/git-contribution.ts
  packages/git/src/browser/git-decoration-provider.ts
  packages/git/src/browser/git-decorator.ts
  packages/git/src/browser/git-frontend-module.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/decorations/decorations-main.ts
  packages/plugin-ext/src/plugin/decorations.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/plugin/src/theia-proposed.d.ts
  packages/plugin/src/theia.d.ts
  packages/scm/src/browser/decorations/scm-decorations-service.ts
  packages/scm/src/browser/decorations/scm-navigator-decorator.ts
  packages/scm/src/browser/scm-contribution.ts
  packages/scm/src/browser/scm-tree-widget.tsx
Labels: git, scm, vscode

#9371 Expanding Submenus contribution support
  packages/plugin-ext/src/main/browser/menus/menus-contribution-handler.ts
Labels: menus, vscode

#9478 Support quick file-search with go to line
  packages/file-search/src/browser/quick-file-open.ts
Labels: enhancement, file search

#9428 Implement extensionsUri field
  packages/plugin-ext-vscode/src/node/plugin-vscode-init.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/hosted/browser/worker/worker-main.ts
  packages/plugin-ext/src/hosted/node/plugin-host-rpc.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin/src/theia.d.ts
Labels: vscode

#9496 Increase specificity of Output styles
  packages/output/src/browser/style/output.css
Labels: output

#9467 Use Monaco when creating files in `DebugConfigurationManager`
  CHANGELOG.md
  packages/debug/src/browser/debug-configuration-manager.ts
Labels: bug, debug

#9486 vsx: update compatibility check for builtins
  packages/vsx-registry/src/browser/vsx-extensions-model.ts
  packages/vsx-registry/src/common/vsx-registry-api.spec.ts
  packages/vsx-registry/src/common/vsx-registry-api.ts
  packages/vsx-registry/src/common/vsx-registry-types.ts
Labels: builtins, vsx-registry

#9176 8965-hosted-plugin-outfiles
  packages/plugin-dev/src/browser/hosted-plugin-manager-client.ts
  packages/plugin-dev/src/browser/hosted-plugin-preferences.ts
Labels: debug, plug-in system

#9516 [search-in-workspace] Show diff editor only when replacement term is provided
  packages/search-in-workspace/src/browser/search-in-workspace-result-tree-widget.tsx
Labels: search in workspace

#9520 Explicitly sanitize notification content
  packages/messages/package.json
  packages/messages/src/browser/notification-component.tsx
Labels: notifications, security

#9522 changelog: updated changelog for v1.14.0 release
  CHANGELOG.md
Labels: documentation

#9525 vsx-registry: upgrade `sanitize-html` dependency
  packages/vsx-registry/package.json
  yarn.lock
Labels: dependencies, security, vsx-registry

#9376 GH-9375: fix nested wrapped issue of Disposable
  packages/core/src/common/disposable.ts
Labels: performance, quality

#9529 Change default of goto line range to undefined
  packages/file-search/src/browser/quick-file-open.ts
Labels: file search, quality
