Repository eclipse-theia/theia, pull requests merged in 2021-08, with the labels that each got.

#9804 Add SECURITY.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/PULL_REQUEST_TEMPLATE.md
  SECURITY.md
Labels: documentation, security

#9807 documentation: document `libsecret` dependency
  CHANGELOG.md
  doc/Developing.md
Labels: documentation

#9832 preferences: add `json` commands
  packages/preferences/src/browser/preferences-contribution.ts
  packages/preferences/src/browser/util/preference-types.ts
Labels: preferences

#9798 Delegate `ViewContainer` toolbar checks to child widgets
  CHANGELOG.md
  packages/core/src/browser/shell/side-panel-toolbar.ts
  packages/core/src/browser/shell/tab-bar-toolbar.tsx
  packages/core/src/browser/shell/tab-bars.ts
  packages/core/src/browser/view-container.ts
  packages/navigator/src/browser/navigator-widget.tsx
  packages/scm/src/browser/scm-contribution.ts
  packages/vsx-registry/src/browser/vsx-extension-commands.ts
  packages/vsx-registry/src/browser/vsx-extensions-contribution.ts
  packages/vsx-registry/src/browser/vsx-extensions-view-container.ts
  packages/vsx-registry/src/browser/vsx-registry-frontend-module.ts
Labels: quality, toolbar

#9833 Update DebugRequestTypes to reflect DAP changes
  packages/debug/src/browser/debug-session-connection.ts
Labels: dap, debug

#9828 Add `@vscode/codicons` dependency to core package
  packages/core/package.json
  packages/core/src/browser/frontend-application-module.ts
  packages/core/src/browser/widgets/widget.ts
  yarn.lock
Labels: monaco, ui/ux

#9560 Enhancement : Avoid electron windows to overlap
  packages/core/src/electron-main/electron-main-application.ts
Labels: electron

#9847 Make `PluginViewRegistry` class more extensible
  packages/plugin-ext/src/main/browser/view/plugin-view-registry.ts
Labels: plug-in system, extensibility

#9842 cli: fix help message
  dev-packages/application-manager/src/application-package-manager.ts
  dev-packages/application-manager/src/generator/abstract-generator.ts
  dev-packages/application-manager/src/generator/frontend-generator.ts
  dev-packages/cli/src/test-page.ts
  dev-packages/cli/src/theia.ts
Labels: bug, theia-cli

#9819 dependencies: update dependencies
  dev-packages/application-manager/package.json
  dev-packages/electron/electron-replace-ffmpeg.js
  dev-packages/electron/package.json
  yarn.lock
Labels: dependencies

#9900 cli: better error handling
  dev-packages/cli/src/theia.ts
Labels: enhancement, quality, theia-cli

#9874 plugin: fix starting hosted-plugins
  packages/plugin-dev/src/browser/hosted-plugin-manager-client.ts
Labels: plug-in system

#9852 editor: update monaco editor preferences
  packages/editor/src/browser/editor-preferences.ts
Labels: preferences, monaco

#9890 Added support for yarn aliases
  dev-packages/application-package/src/application-package.ts
  dev-packages/application-package/src/extension-package-collector.ts
  dev-packages/application-package/src/extension-package.ts
Labels: enhancement

#9877 Bind handleExpansionToggleDblClickEvent in TreeWidget
  CHANGELOG.md
  packages/core/src/browser/tree/tree-widget.tsx
Labels: tree

#9905 api-tests: remove `.only`
  packages/workspace/src/browser/workspace-commands.spec.ts
Labels: ci, test

#9908 [eclipse-theiaGH-9882] Add missing completion kind for monaco in plugin
  packages/plugin-ext/src/common/plugin-api-rpc-model.ts
Labels: monaco, vscode

#9886 menus: make menus that reference unregistered commands more robust
  examples/api-samples/src/browser/menu/sample-menu-contribution.ts
  examples/api-tests/src/menus.spec.js
  packages/core/src/common/menu.ts
  packages/core/src/electron-browser/menu/electron-main-menu-factory.ts
Labels: menus, extensibility

#9727 Refactor to hide VS Code interfaces behind core services
  examples/api-tests/src/file-search.spec.js
  packages/core/src/browser/common-frontend-contribution.ts
  packages/core/src/browser/frontend-application-module.ts
  packages/core/src/browser/quick-input/index.ts
  packages/core/src/browser/quick-input/quick-access-contribution.ts
  packages/core/src/browser/quick-input/quick-access.ts
  packages/core/src/browser/quick-input/quick-command-frontend-contribution.ts
  packages/core/src/browser/quick-input/quick-command-service.ts
  packages/core/src/browser/quick-input/quick-editor-service.ts
  packages/core/src/browser/quick-input/quick-help-frontend-contribution.ts
  packages/core/src/browser/quick-input/quick-help-service.ts
  packages/core/src/browser/quick-input/quick-input-frontend-contribution.ts
  packages/core/src/browser/quick-input/quick-input-service.ts
  packages/core/src/browser/quick-input/quick-view-service.ts
  packages/debug/src/browser/debug-frontend-module.ts
  packages/debug/src/browser/debug-prefix-configuration.ts
  packages/editor/src/browser/editor-contribution.ts
  packages/editor/src/browser/editor-frontend-module.ts
  packages/editor/src/browser/quick-editor-service.ts
  packages/file-search/src/browser/file-search-frontend-module.ts
  packages/file-search/src/browser/quick-file-open.ts
  packages/git/src/browser/git-quick-open-service.ts
  packages/monaco/src/browser/monaco-command.ts
  packages/monaco/src/browser/monaco-editor-provider.ts
  packages/monaco/src/browser/monaco-frontend-module.ts
  packages/monaco/src/browser/monaco-quick-access-registry.ts
  packages/monaco/src/browser/monaco-quick-command-service.ts
  packages/monaco/src/browser/monaco-quick-help-service.ts
  packages/monaco/src/browser/monaco-quick-input-service.ts
  packages/monaco/src/browser/monaco-quick-view-service.ts
  packages/monaco/src/browser/workspace-symbol-command.ts
  packages/monaco/src/typings/monaco/index.d.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/plugin-ext-deploy-command.ts
  packages/plugin-ext/src/main/browser/quick-open-main.ts
  packages/task/src/browser/quick-open-task.ts
  packages/task/src/browser/task-frontend-module.ts
  packages/terminal/src/browser/terminal-frontend-module.ts
  packages/terminal/src/browser/terminal-quick-open-service.ts
Labels: quality, monaco

#9913 update: vs-code-extensions build badge
  README.md
Labels: documentation

#9921 core: fix `quick-commands` to properly display recently used commands
  packages/core/src/browser/quick-input/quick-command-frontend-contribution.ts
  packages/core/src/browser/quick-input/quick-command-service.ts
Labels: monaco, commands, core

#9915 Fix 9914: vscode builtin GIT showing incorrect tree state
  packages/scm/src/browser/scm-groups-tree-model.ts
  packages/scm/src/browser/scm-provider.ts
Labels: vscode, scm

#9929 Fixed broken link in README
  packages/keymaps/README.md
Labels: keybindings, documentation

#9883 preferences: make schemas extensible
  packages/core/src/browser/core-preferences.ts
  packages/core/src/electron-browser/window/electron-window-preferences.ts
  packages/debug/src/browser/debug-preferences.ts
  packages/editor-preview/src/browser/editor-preview-preferences.ts
  packages/editor/src/browser/editor-preferences.ts
  packages/filesystem/src/browser/filesystem-preferences.ts
  packages/git/src/browser/git-preferences.ts
  packages/markers/src/browser/problem/problem-preferences.ts
  packages/messages/src/browser/notification-preferences.ts
  packages/navigator/src/browser/navigator-preferences.ts
  packages/output/src/common/output-preferences.ts
  packages/plugin-dev/src/browser/hosted-plugin-preferences.ts
  packages/plugin-ext/src/main/browser/webview/webview-preferences.ts
  packages/preview/src/browser/preview-preferences.ts
  packages/scm/src/browser/scm-preferences.ts
  packages/search-in-workspace/src/browser/search-in-workspace-preferences.ts
  packages/terminal/src/browser/terminal-preferences.ts
  packages/workspace/src/browser/workspace-preferences.ts
Labels: preferences, extensibility

#9674 Tests: update file-search tests
  examples/api-tests/src/file-search.spec.js
Labels: file search, test

#9932 preferences: Fix search term on open via menu
  packages/preferences/src/browser/preferences-contribution.ts
Labels: preferences

#9902 Fix frontend plugin-ext can not load two plugin at the same time
  packages/plugin-ext/src/hosted/browser/hosted-plugin.ts
Labels: plug-in system

#9937 monaco: adjust `find-widget` font-family
  packages/monaco/src/browser/style/index.css
Labels: monaco, ui/ux

#9938 monaco: restore `drop-shadow` for quick-input
  packages/monaco/src/browser/style/index.css
Labels: monaco, ui/ux

#9928 core: implement `fuzzy` searching and highlights
  packages/core/src/browser/quick-input/quick-input-service.spec.ts
  packages/core/src/browser/quick-input/quick-input-service.ts
Labels: monaco, core

#9858 Introduce lock to prevent parallel task execution
  packages/core/src/common/promise-util.ts
  packages/task/package.json
  packages/task/src/browser/task-service.ts
  yarn.lock
Labels: tasks

#9731 Implement http fallback for unavailable websockets
  packages/core/src/browser/frontend-application-bindings.ts
  packages/core/src/browser/messaging/messaging-frontend-module.ts
  packages/core/src/browser/messaging/ws-connection-provider.ts
  packages/core/src/common/message-service.ts
  packages/core/src/common/promise-util.ts
  packages/core/src/node/messaging/http-websocket-adapter.ts
  packages/core/src/node/messaging/messaging-backend-module.ts
  packages/core/src/node/messaging/messaging-contribution.ts
Labels: core, websocket

#9935 Use CSS to control ViewContainerPart toolbar visibility
  CHANGELOG.md
  packages/core/src/browser/shell/tab-bar-toolbar.tsx
  packages/core/src/browser/style/view-container.css
  packages/core/src/browser/view-container.ts
Labels: ui/ux, toolbar

#9820 filesystem: upload via HTTP
  packages/filesystem/package.json
  packages/filesystem/src/browser/file-upload-service.ts
  packages/filesystem/src/browser/filesystem-preferences.ts
  packages/filesystem/src/common/file-upload.ts
  packages/filesystem/src/node/filesystem-backend-module.ts
  packages/filesystem/src/node/node-file-upload-service.ts
  packages/filesystem/src/node/node-file-upload.ts
  yarn.lock
Labels: filesystem, websocket

#9952 file-search: fix paths when performing quick-file-open
  packages/file-search/src/browser/quick-file-open.ts
Labels: file search

#9957 electron: fix problematic `HttpFallbackOptions` injection
  packages/core/src/browser/messaging/ws-connection-provider.ts
Labels: electron

#9979 upgrade to `inversify@^5.1.1`
  doc/Migration.md
  packages/core/README.md
  packages/core/package.json
  yarn.lock
Labels: bug, dependencies

#9995 electron: restore previous workspace
  packages/core/src/browser/window/window-service.ts
  packages/core/src/electron-main/electron-main-application.ts
  packages/workspace/src/browser/workspace-service.ts
  packages/workspace/src/node/default-workspace-server.ts
Labels: bug, electron

#9909 Add support for sub heading in extension views
  packages/core/src/browser/style/view-container.css
  packages/core/src/browser/view-container.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/view/plugin-view-widget.ts
  packages/plugin-ext/src/main/browser/view/tree-views-main.ts
  packages/plugin-ext/src/plugin/tree/tree-views.ts
  packages/plugin/src/theia.d.ts
Labels: tree, vscode

#9959 Bump API version to 1.53.2
  packages/plugin-ext-vscode/src/common/plugin-vscode-types.ts
Labels: vscode

#10012 Replace `instanceof ThemeIcon` with an `is` method
  packages/plugin-ext/src/plugin/quick-open.ts
  packages/plugin-ext/src/plugin/tree/tree-views.ts
  packages/plugin-ext/src/plugin/types-impl.ts
Labels: vscode

#10019 license: update baseline
  license-check-baseline.json
Labels: dependencies

#10021 changelog: update changelog for 1.17.1
  CHANGELOG.md
Labels: documentation
