Repository eclipse-theia/theia, pull requests merged in 2021-11, with the labels that each got.

#10226 Normalize and prefix windows paths with Path.separator
  packages/core/src/common/path.spec.ts
  packages/core/src/common/path.ts
Labels: OS/Windows

#10356 api-tests: increase timeout for test case
  examples/api-tests/src/typescript.spec.js
Labels: ci, test

#10349 repo: yarn upgrade following `v1.19.0` release
  packages/core/package.json
  yarn.lock
Labels: dependencies

#10274 typedoc: fix docs for `@theia/plugin`
  configs/typedoc.json
  packages/plugin/src/theia-proposed.d.ts
  packages/plugin/src/theia.d.ts
Labels: documentation, plug-in system

#10371 search-in-workspace: add `noselect` to line result nodes
  packages/search-in-workspace/src/browser/search-in-workspace-result-tree-widget.tsx
Labels: search in workspace, ui/ux

#10373 Open VSX: add noselect to className
  packages/vsx-registry/src/browser/vsx-extension.tsx
Labels: vsx-registry

#10307 Increased visibility of selected item in peek
  packages/monaco/src/browser/style/index.css
Labels: monaco, ui/ux

#10388 search-in-workspace: fix padding when hovering over head node
  packages/search-in-workspace/src/browser/styles/index.css
Labels: search in workspace, ui/ux

#10381 dep: update `sinon` dependency
  package.json
  packages/core/src/browser/keyboard/browser-keyboard-layout-provider.spec.ts
  packages/core/src/browser/messaging/ws-connection-provider.ts
  packages/core/src/browser/storage-service.spec.ts
  packages/core/src/common/messaging/abstract-connection-provider.ts
  packages/filesystem/src/browser/file-service.ts
  yarn.lock
Labels: test, security, dependencies

#10391 dep: update `compression-webpack-plugin`
  dev-packages/application-manager/package.json
  dev-packages/application-manager/src/generator/webpack-generator.ts
  yarn.lock
Labels: quality, security, dependencies

#10399 Always show plugin notification regardless of options
  packages/plugin-ext/src/plugin/message-registry.ts
Labels: notifications, vscode

#10374 terminal: add `confirmOnExit` preference
  packages/terminal/src/browser/terminal-frontend-contribution.ts
  packages/terminal/src/browser/terminal-frontend-module.ts
  packages/terminal/src/browser/terminal-preferences.ts
  packages/terminal/src/browser/terminal-widget-impl.ts
Labels: terminal

#10364 core: fix `new window` command for the browser
  packages/core/src/browser/window/default-window-service.ts
Labels: bug, core

#10401 dep: remove `font-awesome-webpack`
  dev-packages/application-manager/package.json
  yarn.lock
Labels: quality, security, dependencies

#10411 better document recommended node version
  doc/Developing.md
Labels: documentation

#10395 Disable http fallback after successful websocket connection
  packages/core/src/browser/messaging/ws-connection-provider.ts
Labels: messaging

#10413 search-in-workspace: allow search to follow symlinks
  packages/search-in-workspace/src/browser/search-in-workspace-preferences.ts
  packages/search-in-workspace/src/browser/search-in-workspace-widget.tsx
  packages/search-in-workspace/src/common/search-in-workspace-interface.ts
  packages/search-in-workspace/src/node/ripgrep-search-in-workspace-server.ts
Labels: search in workspace

#10375 Fix #10369: icons of custom tree view row are not visible on mouse hover
  packages/plugin-ext/src/main/browser/style/tree.css
  packages/plugin-ext/src/main/browser/view/tree-view-widget.tsx
Labels: tree, vscode

#10392 Refactor to improve extensibility of ProcessTaskRunner
  packages/task/src/node/process/process-task-runner.ts
Labels: tasks, extensibility

#10410 search-in-workspace: correct scrollbar display when no results
  packages/search-in-workspace/src/browser/styles/index.css
Labels: search in workspace, ui/ux

#10361 Handle deleted files in open editors widget
  packages/filesystem/src/browser/filesystem-frontend-contribution.ts
  packages/navigator/src/browser/navigator-frontend-module.ts
  packages/navigator/src/browser/open-editors-widget/navigator-deleted-editor-decorator.ts
  packages/navigator/src/browser/open-editors-widget/navigator-open-editors-tree-model.ts
Labels: navigator, scm

#10359 fix(application-package): Fix the return value error of electron.isDevMode API in Windows system in development mode.
  dev-packages/application-package/src/environment.ts
Labels: electron, OS/Windows

#10352 Rename HostedPluginServer, etc.
  CHANGELOG.md
  packages/core/src/common/messaging/proxy-factory.ts
  packages/plugin-dev/src/browser/hosted-plugin-controller.ts
  packages/plugin-dev/src/browser/hosted-plugin-informer.ts
  packages/plugin-dev/src/browser/hosted-plugin-manager-client.ts
  packages/plugin-dev/src/browser/plugin-dev-frontend-module.ts
  packages/plugin-dev/src/common/plugin-dev-protocol.ts
  packages/plugin-dev/src/node/plugin-dev-backend-module.ts
  packages/plugin-dev/src/node/plugin-dev-service.ts
Labels: quality, plug-in system, potentially-breaking

#10429 workaround `electron-rebuild` bug
  dev-packages/application-manager/src/rebuild.ts
Labels: bug, electron, theia-cli

#10455 core: improve Deferred typings
  CHANGELOG.md
  packages/core/src/common/promise-util.ts
  packages/vsx-registry/src/browser/vsx-extension-editor.tsx
  packages/workspace/src/node/default-workspace-server.ts
Labels: quality

#10208 Expand variables in env section of tasks.json
  packages/task/src/browser/process/process-task-resolver.ts
Labels: tasks

#10461 doc: update changelog for `v1.20.0`
  CHANGELOG.md
Labels: documentation

#10333 Clean up debug session lifecycle
  packages/console/src/browser/console-session-manager.ts
  packages/console/src/browser/console-widget.ts
  packages/core/src/common/promise-util.spec.ts
  packages/core/src/common/promise-util.ts
  packages/debug/src/browser/console/debug-console-session.ts
  packages/debug/src/browser/debug-frontend-application-contribution.ts
  packages/debug/src/browser/debug-session-connection.ts
  packages/debug/src/browser/debug-session-contribution.ts
  packages/debug/src/browser/debug-session-manager.ts
  packages/debug/src/browser/debug-session.tsx
  packages/debug/src/browser/view/debug-view-model.ts
  packages/debug/src/common/debug-service.ts
  packages/debug/src/node/debug-adapter-factory.ts
  packages/debug/src/node/debug-adapter-session-manager.ts
  packages/debug/src/node/debug-adapter-session.ts
  packages/debug/src/node/debug-model.ts
  packages/debug/src/node/inline-debug-adapter.ts
  packages/debug/src/node/stream-debug-adapter.ts
  packages/plugin-dev/src/browser/hosted-plugin-manager-client.ts
  packages/plugin-ext/src/common/connection.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/common/plugin-message-reader.ts
  packages/plugin-ext/src/common/plugin-message-writer.ts
  packages/plugin-ext/src/main/browser/connection-main.ts
  packages/plugin-ext/src/main/browser/debug/debug-main.ts
  packages/plugin-ext/src/main/browser/debug/plugin-debug-session-factory.ts
  packages/plugin-ext/src/main/browser/main-context.ts
  packages/plugin-ext/src/plugin/connection-ext.ts
  packages/plugin-ext/src/plugin/node/debug/debug.ts
  packages/plugin-ext/src/plugin/node/debug/plugin-debug-adapter-session.ts
  packages/plugin-ext/src/plugin/node/debug/plugin-debug-adapter-starter.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
Labels: quality, debug

#10480 webpack: fix the frontend source map names
  .vscode/launch.json
  CHANGELOG.md
  dev-packages/application-manager/src/generator/webpack-generator.ts
  doc/Migration.md
Labels: quality, debug, contributor experience, potentially-breaking

#10460 filesystem: fix `createFolder` emitter for user gestures
  packages/filesystem/src/browser/file-service.ts
  packages/plugin-ext/src/hosted/browser/hosted-plugin.ts
  packages/plugin-ext/src/main/browser/file-system-main-impl.ts
Labels: filesystem, vscode

#10491 Support codicon icon references for plugin view containers
  packages/plugin-ext/src/common/plugin-protocol.ts
  packages/plugin-ext/src/hosted/node/scanners/scanner-theia.ts
  packages/plugin-ext/src/main/browser/view/plugin-view-registry.ts
Labels: plug-in system, vscode
