Repository eclipse-theia/theia, pull requests merged in 2021-09, with the labels that each got.

#10037 documentation: update changelog for `1.17.2` (patch)
  CHANGELOG.md
Labels: documentation

#10039 workspace: add command mapping to plugin-system
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
Labels: plug-in system, vscode

#10062 debug: fix flickering when clicking toolbar items
  packages/debug/src/browser/style/index.css
Labels: debug, ui/ux

#10015 task: make `TaskDefinition` `required` optional
  CHANGELOG.md
  packages/plugin-ext/src/hosted/node/scanners/scanner-theia.ts
  packages/task/src/browser/provided-task-configurations.ts
  packages/task/src/browser/task-configurations.ts
  packages/task/src/browser/task-definition-registry.ts
  packages/task/src/browser/task-schema-updater.ts
  packages/task/src/common/task-protocol.ts
Labels: bug, tasks

#10061 plugin: align `provideTasks` with vscode
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/plugin/tasks/tasks.ts
Labels: tasks, plug-in system

#10071 outline-view: fixed typo `udpate` to `update`
  packages/outline-view/src/browser/outline-view-service.ts
Labels: documentation

#10020 fix #10007: [core] fix typo for ApplicationShell method
  CHANGELOG.md
  packages/core/src/browser/shell/application-shell.ts
Labels: quality

#9881 register vscode.openWith api
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
  packages/plugin-ext/src/main/browser/custom-editors/custom-editor-opener.tsx
Labels: vscode

#10082 cli: support downloading `.theia` plugins
  dev-packages/cli/src/download-plugins.ts
Labels: theia-cli

#10070 use ReadonlyArray for DocumentSelector
  packages/plugin-ext/src/common/arrays.ts
  packages/plugin-ext/src/plugin/languages.ts
  packages/plugin-ext/src/plugin/type-converters.ts
  packages/plugin/src/theia.d.ts
Labels: vscode

#9999 fix git annotations bug
  CHANGELOG.md
  packages/git/src/browser/blame/blame-decorator.ts
Labels: git

#10097 plugin: fix tree-searching in tree-views
  packages/plugin-ext/src/main/browser/plugin-ext-frontend-module.ts
Labels: bug, tree, plug-in system

#10096 monaco: properly pass `options` to `input`
  examples/api-samples/src/browser/menu/sample-menu-contribution.ts
  packages/monaco/src/browser/monaco-quick-input-service.ts
Labels: bug, monaco

#10101 fix electron frontend debug configuration
  .vscode/launch.json
Labels: electron, debug, contributor experience

#10123 CompletionItemKind: add enum values `User` and `Issue`
  packages/plugin-ext/src/plugin/type-converters.ts
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/plugin/src/theia.d.ts
Labels: vscode

#10074 monaco: fix focused quick-input
  packages/core/src/browser/common-frontend-contribution.ts
  packages/monaco/src/browser/style/index.css
Labels: monaco, ui/ux

#10133 file-dialog: apply the default filter
  packages/filesystem/src/browser/file-dialog/file-dialog.ts
Labels: file dialog

#10113 Add enum DebugConsoleMode
  packages/plugin/src/theia.d.ts
Labels: vscode

#10124 repo: add `runtime-import-check` eslint rule
  configs/errors.eslintrc.json
  dev-packages/eslint-plugin/README.md
  dev-packages/eslint-plugin/index.js
  dev-packages/eslint-plugin/rules/runtime-import-check.js
  packages/core/src/common/command.ts
  packages/core/src/common/quick-pick-service.ts
  packages/core/src/electron-common/electron-main-window-service.ts
  packages/core/src/electron-main/electron-main-application.ts
  packages/core/src/electron-main/electron-main-window-service-impl.ts
  packages/filesystem/src/electron-browser/file-dialog/electron-file-dialog-service.ts
  packages/output/src/common/output-channel.ts
  packages/output/src/common/output-preferences.ts
  packages/plugin-dev/src/common/plugin-dev-protocol.ts
  packages/plugin-dev/src/node/hosted-instance-manager.ts
  packages/plugin-dev/src/node/hosted-plugin-service.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/common/plugin-protocol.ts
  packages/plugin-ext/src/hosted/browser/worker/debug-stub.ts
  packages/plugin-ext/src/hosted/node/scanners/scanner-theia.ts
Labels: quality, linting

#10146 eslint-plugin: enable linting of rules
  dev-packages/eslint-plugin/.eslintrc.js
  dev-packages/eslint-plugin/rules/runtime-import-check.js
  dev-packages/eslint-plugin/rules/shared-dependencies.js
  dev-packages/eslint-plugin/tsconfig.json
  tsconfig.json
Labels: quality, linting

#10156 add ts-clean script
  dev-packages/application-manager/package.json
  dev-packages/application-package/package.json
  dev-packages/ext-scripts/package.json
  dev-packages/ext-scripts/theia-ts-clean.js
  dev-packages/ovsx-client/package.json
  package.json
  packages/bulk-edit/package.json
  packages/callhierarchy/package.json
  packages/console/package.json
  packages/core/package.json
  packages/debug/package.json
  packages/editor-preview/package.json
  packages/editor/package.json
  packages/external-terminal/package.json
  packages/file-search/package.json
  packages/filesystem/package.json
  packages/getting-started/package.json
  packages/git/package.json
  packages/keymaps/package.json
  packages/markers/package.json
  packages/messages/package.json
  packages/metrics/package.json
  packages/mini-browser/package.json
  packages/monaco/package.json
  packages/navigator/package.json
  packages/outline-view/package.json
  packages/output/package.json
  packages/plugin-dev/package.json
  packages/plugin-ext-vscode/package.json
  packages/plugin-ext/package.json
  packages/plugin-metrics/package.json
  packages/plugin/package.json
  packages/preferences/package.json
  packages/preview/package.json
  packages/process/package.json
  packages/property-view/package.json
  packages/scm-extra/package.json
  packages/scm/package.json
  packages/search-in-workspace/package.json
  packages/task/package.json
  packages/terminal/package.json
  packages/timeline/package.json
  packages/timeline/src/package.spec.ts
  packages/typehierarchy/package.json
  packages/userstorage/package.json
  packages/variable-resolver/package.json
  packages/vsx-registry/package.json
  packages/workspace/package.json
  yarn.lock
Labels: quality, contributor experience

#10167 Wait for reading prefs before init dbg configs
  packages/debug/src/browser/debug-configuration-manager.ts
Labels: debug

#10114 call-hierarchy: add support for `tags`
  packages/callhierarchy/src/browser/callhierarchy-tree/callhierarchy-tree-widget.tsx
  packages/callhierarchy/src/browser/callhierarchy.ts
  packages/callhierarchy/src/browser/style/index.css
  packages/plugin-ext/src/common/plugin-api-rpc-model.ts
  packages/plugin-ext/src/main/browser/callhierarchy/callhierarchy-type-converters.ts
  packages/plugin-ext/src/plugin/languages/call-hierarchy.ts
  packages/plugin-ext/src/plugin/type-converters.ts
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/plugin/src/theia.d.ts
Labels: vscode, call-hierarchy

#10035 Add CancellationError
  packages/core/src/common/cancellation.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin/src/theia.d.ts
Labels: vscode

#10078 Aligns icons of alerts and notifications to the text
  packages/core/src/browser/style/alert-messages.css
  packages/messages/src/browser/style/notifications.css
Labels: notifications, ui/ux

#10079 Improve icon handling on file dialog
  packages/filesystem/src/browser/file-dialog/file-dialog.ts
  packages/filesystem/src/browser/style/file-dialog.css
Labels: file dialog, ui/ux

#10080 Align the menu separator with vscode
  packages/core/src/browser/style/menus.css
Labels: ui/ux, menus

#10158 custom-editor: update opener to respect `option`
  packages/plugin-ext/src/main/browser/custom-editors/custom-editor-opener.tsx
Labels: custom-editor

#10134 Add dynamic debug configurations API
  packages/debug/src/browser/debug-configuration-manager.ts
  packages/debug/src/browser/debug-prefix-configuration.ts
  packages/debug/src/common/debug-configuration.ts
  packages/debug/src/common/debug-service.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/hosted/browser/hosted-plugin.ts
  packages/plugin-ext/src/main/browser/debug/plugin-debug-adapter-contribution.ts
  packages/plugin-ext/src/main/browser/debug/plugin-debug-service.ts
  packages/plugin-ext/src/plugin/node/debug/debug.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/plugin-manager.ts
  packages/plugin/src/theia.d.ts
Labels: vscode, debug

#10182 fix typedoc generation
  .github/workflows/build.yml
  configs/typedoc-tsconfig.json
  configs/typedoc.json
  package.json
  yarn.lock
Labels: ci, documentation

#10174 Show Folder Icon for Workspace Roots
  packages/workspace/src/browser/workspace-uri-contribution.spec.ts
  packages/workspace/src/browser/workspace-uri-contribution.ts
Labels: workspace, ui/ux

#10165 Add possibility of DebugVariables navigation
  packages/debug/src/browser/console/debug-console-items.tsx
Labels: debug

#10183 ci: increase Node max memory for docs
  .github/workflows/build.yml
Labels: ci

#10092 support hiding the status bar
  CHANGELOG.md
  packages/core/src/browser/common-frontend-contribution.ts
  packages/core/src/browser/core-preferences.ts
  packages/core/src/browser/keybinding.spec.ts
  packages/core/src/browser/status-bar/status-bar.tsx
Labels: statusbar

#10184 cli: allow rebuild to skip missing modules
  dev-packages/application-manager/src/rebuild.ts
  dev-packages/cli/src/theia.ts
Labels: theia-cli

#10131 electron: fix `canRead` implementation
  packages/filesystem/src/electron-browser/file-dialog/electron-file-dialog-service.ts
Labels: file dialog, electron

#9805 terminal: add mouse support of GUI terminal application , such as vim, mc
  packages/terminal/src/browser/terminal-widget-impl.ts
Labels: terminal

#10180 Use fixed font-size for compact sidebar menu
  packages/core/src/browser/style/sidepanel.css
Labels: ui/ux

#10172 Align file icon margins with vscode
  packages/core/src/browser/tree/tree-widget.tsx
  packages/filesystem/src/browser/style/file-icons.css
  packages/markers/src/browser/style/index.css
Labels: navigator, ui/ux

#10162 Change panel location of viewsContainers to align to vscode.
  packages/plugin-ext/src/hosted/node/scanners/scanner-theia.ts
Labels: vscode

#10202 webview: check message source frame
  packages/plugin-ext/src/main/browser/webview/pre/host.js
  packages/plugin-ext/src/main/browser/webview/pre/main.js
Labels: webviews

#10203 documentation: updated changelog for `v1.18.0`
  CHANGELOG.md
Labels: documentation
