Repository eclipse-theia/theia, pull requests merged in 2021-01, with the labels that each got.

#8926 Specify order of 'Select for Compare' and 'Compare with Selected'
  packages/navigator/src/browser/navigator-contribution.ts
Labels: menus, navigator

#8928 Fix typo 'mounpoint'
  packages/core/src/node/env-variables/env-variables-server.ts
Labels: quality

#8586 fix #7131: don't use in operator to allow late client registration
  packages/core/src/common/messaging/proxy-factory.ts
Labels: messaging

#8908 Change few terminal logs from error to warning
  packages/terminal/src/browser/terminal-widget-impl.ts
  packages/terminal/src/node/base-terminal-server.ts
Labels: terminal

#8937 core: fix TreeWidget#applyFontStyles
  packages/core/src/browser/tree/tree-widget.tsx
Labels: bug, core, tree

#8898 Fix horizontal scrollbar not to disappear
  packages/core/src/browser/style/tabs.css
Labels: bug, ui/ux

#8919 make extension deploy command extensible
  CHANGELOG.md
  packages/plugin-ext/src/main/browser/plugin-ext-deploy-command.ts
Labels: extensibility, plug-in system

#8957 update NOTICE.md
  NOTICE.md
Labels: eclipse

#8949 Fix running a task when 'cwd' is not provided
  packages/task/src/node/process/process-task-runner.ts
Labels: bug, debug, tasks

#8942 api-tests: fix 'workbench.editor.closeOnFileDelete' test
  examples/api-tests/src/saveable.spec.js
Labels: quality, test

#8958 Implement vscode navigateBack, navigateForward, and navigateToLastEditLocation commands
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
Labels: vscode

#8742 Add Trim Trailing Whitespace Preference
  packages/core/src/common/preferences/preference-scope.ts
  packages/filesystem/src/browser/filesystem-preferences.ts
  packages/monaco/src/browser/monaco-editor-provider.ts
Labels: filesystem, monaco, preferences

#8880 Always set exact version when publishing
  CHANGELOG.md
  package.json
Labels: proposal

#8929 Fix Highlighting in SCM Tree
  CHANGELOG.md
  packages/core/src/browser/tree/tree-widget.tsx
  packages/scm/src/browser/scm-tree-label-provider.ts
  packages/scm/src/browser/scm-tree-widget.tsx
Labels: scm, tree

#8978 Fix log on failure of command execution.
  packages/core/src/common/command.ts
Labels: bug, commands

#8986 Correct type guard for FileStat.is
  packages/filesystem/src/common/files.ts
Labels: filesystem

#8962 Create navigator widget factory
  examples/api-tests/src/menus.spec.js
  packages/navigator/src/browser/index.ts
  packages/navigator/src/browser/navigator-contribution.ts
  packages/navigator/src/browser/navigator-frontend-module.ts
  packages/navigator/src/browser/navigator-layout-migrations.ts
  packages/navigator/src/browser/navigator-tab-bar-decorator.ts
  packages/navigator/src/browser/navigator-widget-factory.ts
  packages/navigator/src/browser/navigator-widget.tsx
Labels: extensibility, navigator

#8968 Highlight Toggled State of Toolbar Items
  examples/api-samples/src/browser/view/sample-unclosable-view-contribution.ts
  packages/core/src/browser/shell/tab-bar-toolbar.tsx
  packages/core/src/browser/style/tabs.css
Labels: enhancement, toolbar

#9001 documentation: updated changelog for 1.10.0
  CHANGELOG.md
Labels: documentation

#8927 Fix for DnD files to main area #8739
  packages/navigator/src/browser/navigator-widget.tsx
Labels: dnd, navigator
