Repository eclipse-theia/theia, pull requests merged in 2021-04, with the labels that each got.

#9248 Support tasks presentation options received from plugins
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/tasks-main.ts
  packages/plugin-ext/src/plugin/type-converters.spec.ts
  packages/plugin-ext/src/plugin/type-converters.ts
  packages/plugin-ext/src/plugin/types-impl.ts
Labels: tasks

#9273 complete arguments in addEventListener function
  packages/core/src/browser/widgets/widget.ts
Labels: quality

#9236 VSX: Keep Recently Uninstalled Extensions in View
  packages/vsx-registry/src/browser/vsx-extensions-model.ts
Labels: ui/ux, vsx-registry

#9311 terminal: garbage characters when reloading the application #8990
  .gitpod.dockerfile
Labels: terminal

#9308 Added link to roadmap to README
  README.md
Labels: documentation

#9302 custom-editor: remove 'editor-preview` coupling
  packages/plugin-ext/compile.tsconfig.json
  packages/plugin-ext/package.json
  packages/plugin-ext/src/main/browser/custom-editors/custom-editor-opener.tsx
Labels: custom-editor, quality

#9280 vsx-registry: update api-compatibility handling
  packages/vsx-registry/src/browser/vsx-extensions-model.ts
  packages/vsx-registry/src/common/vsx-registry-api.ts
Labels: builtins, vsx-registry

#9292 VSX: Add Extension Context-Menu & Copy Commands
  packages/vsx-registry/src/browser/style/index.css
  packages/vsx-registry/src/browser/vsx-extension.tsx
  packages/vsx-registry/src/browser/vsx-extensions-contribution.ts
Labels: vsx-registry

#9299 Automatically reconnect on offline event
  packages/core/src/browser/messaging/ws-connection-provider.ts
Labels: messaging, websocket

#9318 getting-started: fix command links
  packages/getting-started/src/browser/getting-started-widget.tsx
  packages/getting-started/src/browser/style/index.css
Labels: getting-started

#9355 Activate Preferences Widget When Opened by Command
  packages/preferences/src/browser/preferences-contribution.ts
Labels: preferences

#9336 Use task.type first to look up task runner
  packages/task/src/node/task-runner.ts
  packages/task/src/node/task-server.ts
Labels: tasks

#9346 Activate pinned editor only if already active
  packages/editor-preview/src/browser/editor-preview-manager.spec.ts
  packages/editor-preview/src/browser/editor-preview-manager.ts
Labels: bug, editor-preview

#9364 Don't send widgets on `.focus` command
  packages/plugin-ext/src/main/browser/view/plugin-view-registry.ts
Labels: bug, plug-in system

#9343 9338-setContext-not-working
  packages/monaco/src/browser/monaco-command.ts
Labels: vscode

#9022 Save as command correctly creates a new file before saving
  CHANGELOG.md
  packages/workspace/src/browser/workspace-frontend-contribution.ts
Labels: filesystem, workspace

#9339 console: sanitize html content for ansi-console-item
  packages/console/package.json
  packages/console/src/browser/ansi-console-item.tsx
Labels: console, security

#9374 Remove duplicated Keybinding interface
  packages/plugin-ext/src/common/plugin-protocol.ts
Labels: quality, vscode

#9331 [task]: Update `TaskConfigurationManager` on Workspace Location Change
  packages/task/src/browser/task-configuration-manager.ts
  packages/task/src/browser/task-configurations.ts
  packages/task/src/browser/task-service.ts
Labels: tasks

#9386 Format error logs in debug module [issue 9244]
  packages/debug/src/browser/console/debug-console-items.tsx
  packages/debug/src/browser/debug-session-manager.ts
  packages/debug/src/browser/debug-session.tsx
  packages/debug/src/browser/model/debug-thread.tsx
  packages/debug/src/node/debug-adapter-contribution-registry.ts
  packages/debug/src/node/debug-service-impl.ts
Labels: debug

#9369 Allow multiple editors for same file
  packages/core/src/browser/navigatable.ts
  packages/core/src/browser/widget-open-handler.ts
  packages/editor/src/browser/editor-command.ts
  packages/editor/src/browser/editor-contribution.ts
  packages/editor/src/browser/editor-manager.ts
  packages/editor/src/browser/editor-widget-factory.ts
Labels: editor

#9372 [vscode] Read args from keybindings #9126
  packages/plugin-ext/src/common/plugin-protocol.ts
  packages/plugin-ext/src/hosted/node/scanners/scanner-theia.ts
  packages/plugin-ext/src/main/browser/keybindings/keybindings-contribution-handler.ts
Labels: keybindings, vscode

#9313 Preferences: Render node only if present in schema
  packages/preferences/src/browser/views/preference-editor-widget.tsx
Labels: preferences

#9303 Use IndexedDB for Themes if Available (#6999)
  packages/core/src/browser/frontend-application-module.ts
  packages/core/src/browser/theming.ts
  packages/monaco/src/browser/monaco-indexed-db.ts
  packages/monaco/src/browser/monaco-theming-service.ts
Labels: monaco, theming

#8972 Refactor RPCProtocol
  packages/plugin-ext/src/common/plugin-protocol.ts
  packages/plugin-ext/src/common/rpc-protocol.ts
  packages/plugin-ext/src/hosted/browser/hosted-plugin-watcher.ts
  packages/plugin-ext/src/hosted/browser/hosted-plugin.ts
  packages/plugin-ext/src/hosted/browser/worker/worker-main.ts
  packages/plugin-ext/src/hosted/node/hosted-plugin-process.ts
  packages/plugin-ext/src/hosted/node/hosted-plugin.ts
  packages/plugin-ext/src/hosted/node/metadata-scanner.ts
  packages/plugin-ext/src/hosted/node/plugin-host.ts
  packages/plugin-ext/src/hosted/node/plugin-service.ts
  packages/plugin-ext/src/main/browser/plugin-worker.ts
Labels: jsonrpc

#9390 getting-started: fix opening of external links
  packages/getting-started/src/browser/getting-started-widget.tsx
Labels: electron, getting-started

#9324 [git] Group the context menu items per Git command #8400
  packages/core/src/browser/shell/tab-bar-toolbar.tsx
  packages/git/src/browser/git-contribution.ts
Labels: git, ui/ux

#9381 Modify formatting of perference's name to align vscode
  packages/preferences/src/browser/util/preference-tree-generator.spec.ts
  packages/preferences/src/browser/util/preference-tree-generator.ts
Labels: preferences

#9399 Electron: Add 'Toggle Full Screen' Command
  packages/core/src/electron-browser/menu/electron-menu-contribution.ts
Labels: electron

#9403 Handle pref display without plugins
  packages/preferences/src/browser/util/preference-tree-generator.ts
Labels: bug, preferences

#9368 plugin-ext: Add CodeActionTriggerKind enum
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/types-impl.ts
Labels: CQ Required, vscode

#9377 Clean up handling of 'taskType' field
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/tasks-main.ts
  packages/plugin-ext/src/plugin/tasks/tasks.ts
  packages/plugin-ext/src/plugin/type-converters.spec.ts
  packages/plugin-ext/src/plugin/type-converters.ts
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/task/src/browser/process/process-task-contribution.ts
  packages/task/src/browser/task-configurations.ts
  packages/task/src/browser/task-contribution.ts
  packages/task/src/browser/task-definition-registry.ts
  packages/task/src/browser/task-service.ts
  packages/task/src/node/process/process-task-runner.ts
Labels: tasks, vscode
