Repository eclipse-theia/theia, pull requests merged in 2021-06, with the labels that each got.

#9531 WorkspacePreferenceProvider waits for WorkspaceService to be ready
  packages/preferences/src/browser/workspace-preference-provider.ts
  packages/workspace/src/browser/workspace-service.ts
Labels: multi-root, preferences, workspace

#9536 yarn: upgrade 'yarn.lock'
  yarn.lock
Labels: dependencies

#9539 Don't re-open hidden tree-view after reload
  packages/plugin-ext/src/main/browser/view/plugin-view-widget.ts
Labels: plug-in system, vscode

#9549 Track index in Pref Tree to facilitate automatic scrolling
  packages/preferences/src/browser/views/preference-tree-widget.tsx
Labels: preferences, ui/ux

#9542 Open last seen editor, not last created
  packages/editor/src/browser/editor-manager.ts
  packages/editor/src/browser/editor-widget-factory.ts
Labels: editor

#9461 core: add BackendApplicationServer
  dev-packages/application-manager/src/generator/backend-generator.ts
  examples/api-samples/package.json
  examples/api-samples/src/node/api-samples-backend-module.ts
  examples/api-samples/src/node/sample-backend-application-server.ts
  packages/core/src/node/backend-application-module.ts
  packages/core/src/node/backend-application.ts
Labels: core, enhancement

#9463 Apply Secrets plugin API
  packages/core/package.json
  packages/core/src/browser/credentials-service.ts
  packages/core/src/browser/frontend-application-module.ts
  packages/core/src/common/keytar-protocol.ts
  packages/core/src/node/backend-application-module.ts
  packages/core/src/node/keytar-server.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/hosted/browser/worker/worker-main.ts
  packages/plugin-ext/src/hosted/node/plugin-host-rpc.ts
  packages/plugin-ext/src/main/browser/main-context.ts
  packages/plugin-ext/src/main/browser/secrets-main.ts
  packages/plugin-ext/src/plugin/plugin-manager.ts
  packages/plugin-ext/src/plugin/secrets-ext.ts
  packages/plugin/src/theia.d.ts
  yarn.lock
Labels: CQ Required, vscode

#9043 Enable `extensions.json`
  packages/core/src/browser/preferences/preference-service.ts
  packages/preferences/src/browser/folders-preferences-provider.ts
  packages/preferences/src/browser/user-configs-preference-provider.ts
  packages/preferences/src/browser/workspace-file-preference-provider.ts
  packages/vsx-registry/compile.tsconfig.json
  packages/vsx-registry/package.json
  packages/vsx-registry/src/browser/recommended-extensions/preference-provider-overrides.ts
  packages/vsx-registry/src/browser/recommended-extensions/recommended-extensions-json-schema.ts
  packages/vsx-registry/src/browser/recommended-extensions/recommended-extensions-preference-contribution.ts
  packages/vsx-registry/src/browser/vsx-extensions-contribution.ts
  packages/vsx-registry/src/browser/vsx-extensions-model.ts
  packages/vsx-registry/src/browser/vsx-extensions-search-model.ts
  packages/vsx-registry/src/browser/vsx-extensions-source.ts
  packages/vsx-registry/src/browser/vsx-extensions-view-container.ts
  packages/vsx-registry/src/browser/vsx-extensions-widget.ts
  packages/vsx-registry/src/browser/vsx-registry-frontend-module.ts
Labels: enhancement, vsx-registry

#9518 Rewrite editor-preview package as extensions of editor classes
  CHANGELOG.md
  examples/api-tests/src/keybindings.spec.js
  examples/api-tests/src/saveable.spec.js
  examples/api-tests/src/typescript.spec.js
  packages/core/src/browser/keybinding.ts
  packages/core/src/browser/shell/application-shell.ts
  packages/core/src/browser/widget-manager.ts
  packages/core/src/browser/widget-open-handler.ts
  packages/editor-preview/src/browser/editor-preview-contribution.ts
  packages/editor-preview/src/browser/editor-preview-factory.spec.ts
  packages/editor-preview/src/browser/editor-preview-factory.ts
  packages/editor-preview/src/browser/editor-preview-frontend-module.ts
  packages/editor-preview/src/browser/editor-preview-manager.spec.ts
  packages/editor-preview/src/browser/editor-preview-manager.ts
  packages/editor-preview/src/browser/editor-preview-widget-factory.ts
  packages/editor-preview/src/browser/editor-preview-widget.ts
  packages/editor-preview/src/browser/index.ts
  packages/editor/src/browser/editor-manager.ts
  packages/editor/src/browser/editor-widget-factory.ts
  packages/navigator/src/browser/navigator-contribution.ts
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
Labels: editor-preview, quality

#9568 application-package: refine config typings
  dev-packages/application-package/src/application-props.ts
  packages/core/src/browser/frontend-application-config-provider.spec.ts
  packages/core/src/browser/frontend-application-config-provider.ts
  packages/core/src/electron-main/electron-main-application.ts
  packages/core/src/node/backend-application-config-provider.spec.ts
  packages/core/src/node/backend-application-config-provider.ts
Labels: extensibility, quality

#9566 plugin: support prefix arguments for `workbench.action.quickOpen`
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
Labels: vscode

#9527 Fix breakpoint expression resizing
  packages/debug/src/browser/editor/debug-breakpoint-widget.tsx
  packages/debug/src/browser/editor/debug-editor-model.ts
  packages/monaco/src/browser/monaco-editor.ts
Labels: debug, ui/ux

#9582 gitpod: add libsecret to dockerfile
  .gitpod.dockerfile
Labels: dependencies, gitpod

#9572 vsx-registry: add support for additional queries
  packages/vsx-registry/src/browser/vsx-extensions-contribution.ts
  packages/vsx-registry/src/browser/vsx-extensions-search-model.ts
  packages/vsx-registry/src/browser/vsx-extensions-view-container.ts
Labels: vsx-registry

#9571 core: re-export `dompurify` as a shared dependency
  packages/console/package.json
  packages/console/src/browser/ansi-console-item.tsx
  packages/core/README.md
  packages/core/package.json
  packages/core/shared/dompurify.d.ts
  packages/core/shared/dompurify.js
  packages/messages/package.json
  packages/messages/src/browser/notification-component.tsx
  packages/plugin-ext/package.json
  packages/plugin-ext/src/main/browser/commands.ts
  packages/preview/package.json
  packages/preview/src/browser/markdown/markdown-preview-handler.ts
  packages/vsx-registry/package.json
  packages/vsx-registry/src/browser/vsx-extension.tsx
  yarn.lock
Labels: dependencies, extensibility

#9557 Preserve cursor and selection when reopening editors
  packages/file-search/src/browser/quick-file-open.ts
Labels: enhancement, file search

#9584 Check visible leaves for all change types
  packages/preferences/src/browser/preference-tree-model.ts
  packages/preferences/src/browser/views/preference-editor-widget.ts
Labels: preferences, ui/ux

#9586 Use more unique ID for non-command toolbar items
  packages/core/src/browser/view-container.ts
Labels: toolbar

#9425 vsx: support buildtime 'extensionPack' handling
  configs/root-compilation.tsconfig.json
  dev-packages/cli/compile.tsconfig.json
  dev-packages/cli/package.json
  dev-packages/cli/src/download-plugins.ts
  dev-packages/cli/src/theia.ts
  dev-packages/ovsx-client/.eslintrc.js
  dev-packages/ovsx-client/README.md
  dev-packages/ovsx-client/compile.tsconfig.json
  dev-packages/ovsx-client/package.json
  dev-packages/ovsx-client/src/index.ts
  dev-packages/ovsx-client/src/ovsx-client.spec.ts
  dev-packages/ovsx-client/src/ovsx-client.ts
  dev-packages/ovsx-client/src/ovsx-types.ts
  packages/plugin-ext-vscode/src/common/plugin-vscode-types.ts
  packages/vsx-registry/compile.tsconfig.json
  packages/vsx-registry/package.json
  packages/vsx-registry/src/browser/ovsx-async-client.ts
  packages/vsx-registry/src/browser/vsx-api-version-provider-frontend-impl.ts
  packages/vsx-registry/src/browser/vsx-extension.tsx
  packages/vsx-registry/src/browser/vsx-extensions-model.ts
  packages/vsx-registry/src/browser/vsx-registry-frontend-module.ts
  packages/vsx-registry/src/common/vsx-registry-api.spec.ts
  packages/vsx-registry/src/node/vsx-api-version-provider-backend-impl.ts
  packages/vsx-registry/src/node/vsx-extension-resolver.ts
  packages/vsx-registry/src/node/vsx-registry-backend-module.ts
  tsconfig.json
Labels: vsx-registry

#9598 Keep separate commits for PR fixups
  doc/pull-requests.md
Labels: documentation

#9590 Make preference widget initialization independent of event timing
  packages/preferences/src/browser/preference-tree-model.ts
  packages/preferences/src/browser/util/preference-tree-generator.ts
  packages/preferences/src/browser/views/preference-editor-widget.ts
Labels: preferences

#9499 add-resource-dir-name-and-resource-path:
  packages/core/src/browser/resource-context-key.ts
Labels: vscode

#9608 Convert iconPath to URL
  packages/plugin-ext/src/main/browser/webview/webview.ts
Labels: vscode, webviews

#9602 Make IPC debug tracing configurable
  examples/electron/package.json
  package.json
  packages/core/src/node/messaging/ipc-connection-provider.ts
Labels: logging

#9597 Replaced all unnecessary 'private' modifiers with 'protected' in Work…
  packages/workspace/src/browser/workspace-service.ts
Labels: quality, workspace

#9620 monaco: use fetch instead of old AJAX
  packages/monaco/src/browser/textmate/monaco-textmate-frontend-bindings.ts
Labels: quality, textmate

#9623 application-package: require deepmerge cjs
  dev-packages/application-package/src/application-package.ts
  dev-packages/application-package/src/application-props.ts
Labels: quality

#9283 electron: correctly erase ELECTRON_RUN_AS_NODE
  dev-packages/application-manager/src/generator/backend-generator.ts
  packages/plugin-dev/src/node/hosted-instance-manager.ts
  packages/plugin-ext/package.json
  packages/plugin-ext/src/plugin/node/debug/plugin-debug-adapter-starter.ts
  yarn.lock
Labels: bug, electron

#9634 api-test: remove leftover `.only`
  examples/api-tests/src/saveable.spec.js
Labels: test

#9583 5876-align-outline-expansion-with-vscode
  CHANGELOG.md
  packages/core/src/browser/tree/tree-widget.tsx
  packages/outline-view/src/browser/outline-view-frontend-module.ts
  packages/outline-view/src/browser/outline-view-tree-model.ts
  packages/outline-view/src/browser/outline-view-widget.tsx
Labels: outline, tree

#9635 file-search: fix possible infinite recursion when comparing items
  examples/api-tests/src/file-search.spec.js
  packages/file-search/src/browser/quick-file-open.ts
Labels: file search, quality, test

#9616 [Debug] Fixed issue on readonly variables
  packages/debug/src/browser/console/debug-console-items.tsx
Labels: debug

#9630 Tests: Add resource property-view unit-tests
  packages/property-view/src/browser/resource-property-view/resource-property-data-service.spec.ts
  packages/property-view/src/browser/resource-property-view/resource-property-view-label-provider.spec.ts
  packages/property-view/src/browser/resource-property-view/resource-property-view-label-provider.ts
Labels: property-view, test

#9652 fix(types-impl): add toJSON function to Range and Position. fix #9573
  packages/plugin-ext/src/plugin/types-impl.ts
Labels: vscode

#9317 Provide API to filter unwanted contributions
  CHANGELOG.md
  examples/api-samples/src/browser/api-samples-frontend-module.ts
  examples/api-samples/src/browser/contribution-filter/sample-filtered-command-contribution.ts
  examples/api-tests/src/contribution-filter.spec.js
  packages/core/src/browser/frontend-application-module.ts
  packages/core/src/common/contribution-filter/contribution-filter-registry.ts
  packages/core/src/common/contribution-filter/contribution-filter.ts
  packages/core/src/common/contribution-filter/filter.ts
  packages/core/src/common/contribution-filter/index.ts
  packages/core/src/common/contribution-provider.ts
  packages/core/src/common/index.ts
  packages/core/src/node/backend-application-module.ts
Labels: core, extensibility

#9563 mini-browser, webview: warn if unsecure
  packages/mini-browser/README.md
  packages/mini-browser/src/browser/environment/mini-browser-environment.ts
  packages/mini-browser/src/browser/location-mapper-service.ts
  packages/mini-browser/src/browser/mini-browser-frontend-module.ts
  packages/mini-browser/src/browser/mini-browser-frontend-security-warnings.ts
  packages/mini-browser/src/electron-browser/environment/electron-mini-browser-environment.ts
  packages/mini-browser/src/node/mini-browser-backend-module.ts
  packages/mini-browser/src/node/mini-browser-backend-security-warnings.ts
  packages/plugin-ext/README.md
  packages/plugin-ext/src/main/browser/plugin-ext-frontend-module.ts
  packages/plugin-ext/src/main/browser/webview/webview-environment.ts
  packages/plugin-ext/src/main/browser/webview/webview-frontend-security-warnings.ts
  packages/plugin-ext/src/main/browser/webview/webview-preferences.ts
  packages/plugin-ext/src/main/node/plugin-ext-backend-module.ts
  packages/plugin-ext/src/main/node/webview-backend-security-warnings.ts
Labels: mini-browser, webviews

#9658 Modify next-node selection logic for PreferenceTreeModel
  packages/core/src/browser/tree/tree-model.ts
  packages/preferences/src/browser/preference-tree-model.ts
Labels: preferences, ui/ux

#9659 Use supplied filter by default
  packages/filesystem/src/browser/file-dialog/file-dialog-tree-filters-renderer.tsx
  packages/filesystem/src/electron-browser/file-dialog/electron-file-dialog-service.ts
Labels: dialogs

#9667 ci(compile-references): add error info for configureTypeScriptNavigation
  scripts/compile-references.js
Labels: theia-cli

#9673 Fix tree view selection
  packages/plugin-ext/src/plugin/tree/tree-views.ts
Labels: tree, vscode

#9579 Fix search debounce in search-in-workspace widget
  packages/search-in-workspace/src/browser/search-in-workspace-widget.tsx
Labels: search in workspace

#9619 Align addOrReattachWidget behavior with VSCode
  packages/plugin-ext/src/main/browser/webviews-main.ts
Labels: vscode, webviews

#9680 documentation: update changelog for 1.15.0
  CHANGELOG.md
Labels: documentation
