Repository eclipse-theia/theia, pull requests merged in 2021-02, with the labels that each got.

#9017 Update Built-in Extensions Version
  package.json
Labels: builtins, open-vsx

#8964 8536-compatibility-third-party-themes
  packages/monaco/src/browser/textmate/monaco-theme-registry.ts
Labels: bug, monaco, theming

#9018 Add 'Debugging Plugin Sources' in Developing.md
  doc/Developing.md
Labels: debug, documentation, plug-in system, vscode

#8971 Fix incomplete data in generated tasks.json
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/tasks-main.ts
  packages/plugin-ext/src/plugin/type-converters.spec.ts
  packages/plugin-ext/src/plugin/type-converters.ts
  packages/task/src/browser/task-configurations.ts
  packages/task/src/browser/task-service.ts
  packages/task/src/common/task-protocol.ts
Labels: bug, plug-in system, tasks

#8996 Fix context-keys ScmProvider update, add submenu plugin contribution
  packages/core/src/browser/shell/tab-bar-toolbar.tsx
  packages/plugin-ext/src/common/plugin-protocol.ts
  packages/plugin-ext/src/hosted/node/scanners/scanner-theia.ts
  packages/plugin-ext/src/main/browser/menus/menus-contribution-handler.ts
  packages/scm/src/browser/scm-groups-tree-model.ts
  packages/scm/src/browser/scm-tree-model.ts
Labels: scm, vscode

#9023 open-vsx: update 'markdown-language-features'
  package.json
Labels: builtins, markdown, open-vsx

#8989 Quick File Open: Support for Search Queries with Whitespaces
  packages/file-search/src/browser/quick-file-open.ts
  packages/file-search/src/common/file-search-service.ts
  packages/file-search/src/node/file-search-service-impl.spec.ts
  packages/file-search/src/node/file-search-service-impl.ts
Labels: enhancement, file search

#9033 core: fix progress documentation
  packages/core/src/common/message-service-protocol.ts
Labels: documentation, messaging

#9027 Extract plugin uri generation to injectable class
  packages/plugin-ext-vscode/src/node/scanner-vscode.ts
  packages/plugin-ext/src/hosted/node/plugin-ext-hosted-backend-module.ts
  packages/plugin-ext/src/hosted/node/scanners/file-plugin-uri-factory.ts
  packages/plugin-ext/src/hosted/node/scanners/plugin-uri-factory.ts
  packages/plugin-ext/src/hosted/node/scanners/scanner-theia.ts
Labels: extensibility, plug-in system

#9073 fix missing semi-colon
  packages/core/src/browser/shell/split-panels.ts
Labels: quality

#9047 fix view welcome empty condition
  packages/plugin-ext/src/main/browser/view/tree-view-widget.tsx
Labels: tree, vscode

#9059 preferences: Fix `problems.decorations.tabbar.enabled`
  packages/markers/src/browser/problem/problem-tabbar-decorator.ts
Labels: markers

#8943 GH-8654: Fix SelectAll/Copy/Paste Keyboard Shortcuts are not working within DevTools and native input and file dialogs for macOS
  packages/core/src/electron-browser/menu/electron-main-menu-factory.ts
Labels: bug, electron

#9092 Fix typo in 'Developing.md'
  doc/Developing.md
Labels: documentation

#9090 Fix border for search-in-workspace replace items
  packages/search-in-workspace/src/browser/styles/index.css
Labels: search in workspace, theming, ui/ux

#8263 Improve Preference Filtering
  packages/preferences/src/browser/preference-frontend-module.ts
  packages/preferences/src/browser/preference-tree-model.ts
  packages/preferences/src/browser/preference-tree-provider.ts
  packages/preferences/src/browser/preferences-contribution.ts
  packages/preferences/src/browser/util/preference-event-service.ts
  packages/preferences/src/browser/util/preference-tree-generator.spec.ts
  packages/preferences/src/browser/util/preference-tree-generator.ts
  packages/preferences/src/browser/util/preference-types.ts
  packages/preferences/src/browser/views/components/single-preference-display-factory.tsx
  packages/preferences/src/browser/views/components/single-preference-wrapper.tsx
  packages/preferences/src/browser/views/preference-editor-widget.tsx
  packages/preferences/src/browser/views/preference-scope-tabbar-widget.tsx
  packages/preferences/src/browser/views/preference-searchbar-widget.tsx
  packages/preferences/src/browser/views/preference-tree-widget.tsx
  packages/preferences/src/browser/views/preference-widget-bindings.ts
  packages/preferences/src/browser/views/preference-widget.tsx
Labels: performance, preferences

#9060 Generalized Output APIs.
  packages/output/src/browser/output-editor-factory.ts
  packages/output/src/browser/output-editor-model-factory.ts
Labels: extensibility, output

#9057 fix PreferenceChangeEvent<T> type
  examples/api-samples/src/browser/file-watching/sample-file-watching-contribution.ts
  packages/core/src/browser/preferences/preference-proxy.ts
  packages/git/src/browser/diff/git-diff-widget.tsx
  packages/git/src/browser/history/git-commit-detail-widget.tsx
  packages/markers/src/browser/problem/problem-decorator.ts
  packages/monaco/src/browser/textmate/monaco-textmate-service.ts
  packages/output/src/common/output-channel.ts
  packages/preview/src/browser/preview-widget.ts
  packages/scm/src/browser/scm-widget.tsx
  packages/terminal/src/browser/terminal-preferences.ts
  packages/terminal/src/browser/terminal-widget-impl.ts
  packages/workspace/src/browser/workspace-service.ts
Labels: core, enhancement, preferences

#9093 Only execute file open command during drag-and-drop for dragged files
  packages/navigator/src/browser/navigator-widget.tsx
Labels: dnd

#9089 preferences: fix 'number' input validation
  packages/preferences/src/browser/views/components/preference-number-input.tsx
Labels: bug, preferences

#9048 9012-registerTerminalLinkProvider-stub: for vscode-java-debug
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin/src/theia.d.ts
Labels: vscode

#9085 CI: Uplift Python to 3.x
  .github/workflows/build.yml
Labels: ci

#9088 Store keybindings properly in keymaps.json and improve conflict checking
  packages/core/src/browser/keybinding.ts
  packages/core/src/common/keybinding.ts
  packages/keymaps/src/browser/keymaps-service.ts
Labels: keybindings

#9119 file-search: fix whitespace unit-test
  packages/file-search/src/node/file-search-service-impl.spec.ts
Labels: file search, test

#9113 Preferences: Improve Search Bar
  packages/preferences/src/browser/preference-tree-model.ts
  packages/preferences/src/browser/style/search-input.css
  packages/preferences/src/browser/views/preference-editor-widget.tsx
  packages/preferences/src/browser/views/preference-searchbar-widget.tsx
Labels: preferences, ui/ux

#7629 Remove extraneous entries in Source Control view for nested Git repos
  packages/git/src/node/dugite-git.ts
Labels: git

#9123 api-tests: fix intermittent failures
  examples/api-tests/src/monaco-api.spec.js
  examples/api-tests/src/navigator.spec.js
Labels: ci, test

#9125 Hidden tabs can no longer be clicked
  packages/core/src/browser/shell/tab-bar-toolbar.tsx
Labels: bug, output, toolbar

#9128 Increase Font-Weight on Toolbar Titles
  packages/core/src/browser/style/view-container.css
Labels: tree, ui/ux

#9127 docs: updated changelog for 1.11.0 release
  CHANGELOG.md
Labels: documentation
