Repository eclipse-theia/theia, pull requests merged in 2021-12, with the labels that each got.

#10492 Implement 'editorHasCallHierarchyProvider' context key
  packages/callhierarchy/src/browser/callhierarchy-contribution.ts
  packages/callhierarchy/src/browser/callhierarchy-service.ts
Labels: plug-in system, vscode

#10471 Properly render 'expand' and 'collapse' action on notification
  packages/messages/src/browser/notification-component.tsx
  packages/messages/src/browser/style/notifications.css
Labels: notifications

#10464 repo: perform `yarn upgrade` following `v1.20.0` release
  license-check-baseline.json
  packages/monaco/src/typings/monaco/index.d.ts
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
  packages/plugin/src/theia-proposed.d.ts
  yarn.lock
Labels: quality, dependencies

#10498 Open plugin editor view on single click
  packages/vsx-registry/src/browser/vsx-extension.tsx
  packages/vsx-registry/src/browser/vsx-extensions-model.ts
  packages/vsx-registry/src/browser/vsx-extensions-widget.ts
Labels: ui/ux, vsx-registry

#10484 feat: add timestamp for DAP trace and formate output using `JSON.stringify(message, null, 4)`
  packages/debug/src/browser/debug-session-connection.ts
Labels: logging, dap

#10394 Improve tabbar context menu
  CHANGELOG.md
  packages/core/src/browser/common-frontend-contribution.ts
  packages/core/src/browser/frontend-application-module.ts
  packages/core/src/browser/shell/application-shell.ts
  packages/core/src/browser/shell/current-widget-command-adapter.ts
  packages/core/src/browser/shell/tab-bars.ts
  packages/editor-preview/src/browser/editor-preview-contribution.ts
  packages/editor/src/browser/editor-contribution.ts
  packages/editor/src/browser/editor-frontend-module.ts
  packages/navigator/src/browser/navigator-contribution.ts
  packages/workspace/src/browser/workspace-commands.spec.ts
  packages/workspace/src/browser/workspace-commands.ts
  packages/workspace/src/browser/workspace-frontend-contribution.ts
Labels: enhancement, menus

#10436 electron: restore last window state if the layout still exists
  packages/core/src/electron-main/electron-main-application.ts
Labels: electron

#7775 Handle open preference files
  CHANGELOG.md
  packages/core/src/browser/preferences/preference-provider.ts
  packages/core/src/browser/preferences/preference-service.spec.ts
  packages/monaco/src/browser/monaco-workspace.ts
  packages/preferences/package.json
  packages/preferences/src/browser/abstract-resource-preference-provider.spec.ts
  packages/preferences/src/browser/abstract-resource-preference-provider.ts
  packages/preferences/src/browser/views/components/preference-node-renderer.ts
Labels: preferences

#10481 fixed mini browser getSource uri
  packages/mini-browser/src/browser/mini-browser-open-handler.ts
Labels: mini-browser

#10439 navigator-decorator: add symlink icon and tooltip to symlinked files in navigator
  packages/navigator/src/browser/navigator-frontend-module.ts
  packages/navigator/src/browser/navigator-symlink-decorator.ts
Labels: navigator

#10510 Remove double colon in indentation status item
  packages/editor/src/browser/editor-command.ts
  packages/monaco/src/browser/monaco-status-bar-contribution.ts
Labels: monaco, localization

#10511 Handle non-string enum values in preference schemata
  packages/preferences/src/browser/views/components/preference-select-input.ts
Labels: bug, preferences

#10442 Add Electron start-up performance script
  .gitignore
  CHANGELOG.md
  package.json
  scripts/performance/.gitignore
  scripts/performance/README.md
  scripts/performance/base-package.json
  scripts/performance/browser-performance.js
  scripts/performance/common-performance.js
  scripts/performance/electron-performance.js
  scripts/performance/electron-trace-config.json
  scripts/performance/extension-impact.js
Labels: electron, performance

#10530 ovsx-client: add additional `isVersionLTE` unit tests to cover `preview` versions
  dev-packages/ovsx-client/src/ovsx-client.spec.ts
Labels: test, open-vsx

#10529 Removed deprecated activateTerminal method #10521
  CHANGELOG.md
  packages/task/src/browser/task-service.ts
  packages/terminal/src/browser/base/terminal-service.ts
  packages/terminal/src/browser/terminal-frontend-contribution.ts
Labels: quality

#10509 tasks: Use valid column when creating range for problem matcher
  packages/core/src/common/index.ts
  packages/core/src/common/numbers.ts
  packages/task/src/node/task-abstract-line-matcher.ts
Labels: bug, tasks

#10431 preferences: Render markdown descriptions
  packages/core/package.json
  packages/core/src/browser/core-preferences.ts
  packages/core/src/browser/index.ts
  packages/core/src/browser/markdown-renderer.spec.ts
  packages/core/src/browser/markdown-renderer.ts
  packages/editor/src/browser/editor-preferences.ts
  packages/filesystem/src/browser/filesystem-preferences.ts
  packages/plugin-dev/src/browser/hosted-plugin-preferences.ts
  packages/preferences/src/browser/preference-tree-model.ts
  packages/preferences/src/browser/style/index.css
  packages/preferences/src/browser/util/preference-tree-generator.ts
  packages/preferences/src/browser/util/preference-tree-label-provider.spec.ts
  packages/preferences/src/browser/util/preference-types.ts
  packages/preferences/src/browser/views/components/preference-json-input.ts
  packages/preferences/src/browser/views/components/preference-node-renderer.ts
  packages/preferences/src/browser/views/preference-searchbar-widget.tsx
  packages/search-in-workspace/src/browser/search-in-workspace-preferences.ts
  packages/terminal/src/browser/terminal-preferences.ts
Labels: preferences, ui/ux

#10518 Fix running plugin host on electron windows
  packages/plugin-dev/src/node/hosted-instance-manager.ts
Labels: electron

#10537 repo: perform `yarn upgrade` for `v1.21.0`
  doc/Developing.md
  doc/Publishing.md
  packages/core/src/electron-browser/window/electron-window-service.ts
  packages/debug/src/node/debug-model.ts
  scripts/performance/README.md
  scripts/translate-monaco.js
  yarn.lock
Labels: dependencies

#10493 Align vscode: Set theme attributes to webview body element
  CHANGELOG.md
  packages/plugin-ext/src/main/browser/webview/pre/main.js
  packages/plugin-ext/src/main/browser/webview/webview-theme-data-provider.ts
  packages/plugin-ext/src/main/browser/webview/webview.ts
Labels: theming, vscode

#10353 plugin: removed `resolveSystemPlugins` application prop
  CHANGELOG.md
  doc/Migration.md
  examples/browser/package.json
  examples/electron/package.json
  packages/plugin-ext/src/hosted/node/hosted-plugin-deployer-handler.ts
Labels: plug-in system, builtins

#10500 Remove languageserver-types dependency in favor of -protocol
  CHANGELOG.md
  dev-packages/application-manager/src/generator/webpack-generator.ts
  packages/callhierarchy/src/browser/callhierarchy-service.ts
  packages/callhierarchy/src/browser/callhierarchy-tree/callhierarchy-tree-model.ts
  packages/callhierarchy/src/browser/callhierarchy-tree/callhierarchy-tree-widget.tsx
  packages/callhierarchy/src/browser/callhierarchy.ts
  packages/callhierarchy/src/browser/current-editor-access.ts
  packages/callhierarchy/src/browser/utils.ts
  packages/core/README.md
  packages/core/package.json
  packages/core/shared/vscode-languageserver-types.d.ts
  packages/core/shared/vscode-languageserver-types.js
  packages/core/src/common/lsp-types.ts
  packages/core/src/common/severity.ts
  packages/editor/src/browser/editor.ts
  packages/markers/src/browser/marker-tree.ts
  packages/markers/src/browser/problem/problem-composite-tree-node.spec.ts
  packages/markers/src/browser/problem/problem-composite-tree-node.ts
  packages/markers/src/browser/problem/problem-decorator.ts
  packages/markers/src/browser/problem/problem-manager.spec.ts
  packages/markers/src/browser/problem/problem-manager.ts
  packages/markers/src/browser/problem/problem-tabbar-decorator.ts
  packages/markers/src/browser/problem/problem-tree-model.spec.ts
  packages/markers/src/browser/problem/problem-tree-model.ts
  packages/markers/src/browser/problem/problem-utils.ts
  packages/markers/src/browser/problem/problem-widget.tsx
  packages/markers/src/common/problem-marker.ts
  packages/monaco/src/browser/monaco-command.ts
  packages/monaco/src/browser/monaco-diagnostic-collection.ts
  packages/monaco/src/browser/monaco-editor-model.ts
  packages/monaco/src/browser/monaco-editor.ts
  packages/monaco/src/browser/monaco-languages.ts
  packages/monaco/src/browser/monaco-to-protocol-converter.ts
  packages/monaco/src/browser/protocol-to-monaco-converter.ts
  packages/monaco/src/browser/workspace-symbol-command.ts
  packages/outline-view/src/browser/outline-view-widget.tsx
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/callhierarchy/callhierarchy-type-converters.ts
  packages/plugin-ext/src/main/browser/documents-main.ts
  packages/plugin-ext/src/main/browser/languages-main.ts
  packages/plugin-ext/src/plugin/known-commands.ts
  packages/plugin-ext/src/plugin/languages.ts
  packages/plugin-ext/src/plugin/languages/workspace-symbol.ts
  packages/plugin-ext/src/plugin/type-converters.ts
  packages/plugin-metrics/src/browser/plugin-metrics-languages-main.ts
  packages/preview/src/browser/preview-contribution.ts
  packages/preview/src/browser/preview-widget.ts
  packages/search-in-workspace/src/browser/search-in-workspace-frontend-contribution.ts
  packages/task/src/browser/task-service.ts
  packages/task/src/common/problem-matcher-protocol.ts
  packages/task/src/node/task-abstract-line-matcher.ts
  packages/task/src/node/task-problem-collector.spec.ts
  packages/typehierarchy/src/browser/tree/typehierarchy-tree-widget.tsx
  packages/typehierarchy/src/browser/typehierarchy-provider.ts
  yarn.lock
Labels: quality, dependencies

#10543 doc: fix typedoc dependency
  package.json
  yarn.lock
Labels: documentation, dependencies

#10441 Add sash option for widget resize
  CHANGELOG.md
  packages/core/src/browser/common-frontend-contribution.ts
  packages/core/src/browser/core-preferences.ts
  packages/core/src/browser/decoration-style.ts
  packages/core/src/browser/index.ts
  packages/core/src/browser/shell/application-shell.ts
  packages/core/src/browser/style/dockpanel.css
  packages/core/src/browser/style/view-container.css
  packages/core/src/browser/view-container.ts
  packages/editor/src/browser/decorations/editor-decoration-style.ts
  packages/git/src/browser/blame/blame-decorator.ts
Labels: shell, core, ui/ux

#10547 Export interfaces to aid extension in ProcessTaskRunner
  packages/task/src/node/process/process-task-runner.ts
Labels: extensibility

#10553 doc: updated changelog for v1.21.0
  CHANGELOG.md
Labels: documentation

#10220 core: added appearance and editor layout sub-menus
  packages/core/src/browser/common-frontend-contribution.ts
  packages/core/src/electron-browser/menu/electron-menu-contribution.ts
  packages/editor/src/browser/editor-contribution.ts
  packages/editor/src/browser/editor-menu.ts
Labels: menus

#10573 Fix showOpenDialog fallback
  packages/plugin-ext/src/main/browser/dialogs-main.ts
Labels: bug, file dialog
