Repository eclipse-theia/theia, pull requests merged in 2022-05, with the labels that each got.

#11095 Prevent MonacoEditorService from instantiating ContextKeyService thro…
  examples/api-tests/src/monaco-api.spec.js
  examples/api-tests/src/saveable.spec.js
  examples/api-tests/src/typescript.spec.js
  examples/api-tests/src/undo-redo-selectAll.spec.js
  examples/api-tests/test-ts-workspace/demo-definitions-file.ts
  examples/api-tests/test-ts-workspace/demo-file.ts
  examples/api-tests/test-ts-workspace/tsconfig.json
  package.json
  packages/monaco/src/browser/monaco-editor-service.ts
Labels: monaco

#11101 Update Monaco keybindings on keybinding change
  packages/monaco/src/browser/monaco-context-key-service.ts
  packages/monaco/src/browser/monaco-keybinding.ts
Labels: keybindings, monaco

#11102 Update keybinding widget when keybindings change
  packages/keymaps/src/browser/keybindings-widget.tsx
Labels: keybindings

#11106 Minor: Add missing PR links
  CHANGELOG.md
Labels: documentation, repo

#11111 repo: give proper `id` for builtin themes
  dev-packages/cli/README.md
  package.json
Labels: builtins

#9269 Remove deprecation of permission flags
  packages/filesystem/src/browser/file-service.ts
  packages/filesystem/src/common/files.ts
  packages/filesystem/src/common/filesystem.ts
Labels: filesystem, quality, documentation

#10924 [playwright] Add support for handling option preferences and reactivate skipped test
  examples/playwright/src/tests/theia-preference-view.test.ts
  examples/playwright/src/tests/theia-text-editor.test.ts
  examples/playwright/src/theia-preference-view.ts
Labels: playwright

#11130 fixed typo in function Transaction::disposeWhenDone
  packages/preferences/src/browser/preference-transaction-manager.ts
Labels: documentation

#11090 Introduce DebugSession#workspaceFolder
  CHANGELOG.md
  packages/debug/src/browser/debug-session-contribution.ts
  packages/debug/src/browser/debug-session-manager.ts
  packages/debug/src/browser/debug-session.tsx
  packages/debug/src/common/debug-service.ts
  packages/debug/src/node/debug-service-impl.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/debug/debug-main.ts
  packages/plugin-ext/src/main/browser/debug/plugin-debug-adapter-contribution.ts
  packages/plugin-ext/src/main/browser/debug/plugin-debug-service.ts
  packages/plugin-ext/src/main/browser/debug/plugin-debug-session-factory.ts
  packages/plugin-ext/src/plugin/node/debug/debug.ts
  packages/plugin-ext/src/plugin/node/debug/plugin-debug-adapter-session.ts
  packages/plugin/src/theia.d.ts
Labels: vscode, debug

#11141 Reenable Typescript codelens test
  examples/api-tests/src/typescript.spec.js
  examples/api-tests/src/undo-redo-selectAll.spec.js
Labels: ci

#11152 Call `onHide` in MonacoContextMenuService
  packages/monaco/src/browser/monaco-context-menu.ts
Labels: monaco, menus

#11117 core: fix `onclick` for statusbar items
  packages/core/src/browser/status-bar/status-bar.tsx
Labels: statusbar

#11118 tree: ensure that decorations respect selection
  packages/core/src/browser/style/tree.css
Labels: tree, ui/ux

#11160 core: track `ApplicationError` codes
  packages/core/src/common/application-error.spec.ts
  packages/core/src/common/application-error.ts
Labels: quality

#11166 Fix localization for `threads` term
  packages/core/i18n/nls.de.json
  packages/core/i18n/nls.zh-cn.json
Labels: localization

#11162 Console: Fixed issues involving Console History not being capped at specified limit, regarding Issue #10598
  CHANGELOG.md
  packages/console/src/browser/console-history.ts
Labels: console

#11137 plugin: add `LinkedEditingRanges` support
  packages/plugin-ext/src/common/plugin-api-rpc-model.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/languages-main.ts
  packages/plugin-ext/src/plugin/languages-utils.ts
  packages/plugin-ext/src/plugin/languages.ts
  packages/plugin-ext/src/plugin/languages/linked-editing-range.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/plugin/src/theia.d.ts
Labels: vscode

#11165 Update Windows Build instructions
  doc/Developing.md
Labels: OS/Windows, documentation

#11178 Use correct path for call hierarchy
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
Labels: vscode, call-hierarchy

#11192 Align focused button outline to vscode
  packages/core/src/browser/style/dialog.css
  packages/core/src/browser/style/index.css
Labels: ui/ux

#11174 electron: Removed `disallowReloadKeybinding` option, fixes Issue #11099
  CHANGELOG.md
  dev-packages/application-package/src/application-props.ts
  packages/core/src/browser/frontend-application-config-provider.spec.ts
Labels: electron, quality

#11184 quality: fix misc typos
  CHANGELOG.md
  packages/core/src/browser/status-bar/status-bar-types.ts
  packages/core/src/browser/style/status-bar.css
  packages/core/src/node/cli.spec.ts
  packages/debug/src/browser/debug-session-connection.ts
  packages/debug/src/common/debug-service.ts
  packages/filesystem/src/browser/file-tree/file-tree-decorator-adapter.ts
  packages/git/src/node/dugite-git.ts
  packages/monaco/src/browser/monaco-quick-input-service.ts
  packages/plugin-ext/src/plugin/comments.ts
  packages/plugin-ext/src/plugin/prefix-sum-computer.ts
  packages/plugin-ext/src/plugin/theming.ts
  packages/plugin/src/theia.d.ts
  packages/task/src/browser/task-configurations.ts
Labels: quality, documentation

#11189 Optional schema validation
  dev-packages/application-package/src/application-props.ts
  packages/core/src/browser/preferences/preference-contribution.ts
Labels: preferences

#10977 Add correct extension mode to plugin context
  CHANGELOG.md
  packages/plugin-dev/src/node/hosted-plugin-reader.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/common/plugin-protocol.ts
  packages/plugin-ext/src/hosted/browser/worker/worker-main.ts
  packages/plugin-ext/src/hosted/node/hosted-plugin-deployer-handler.ts
  packages/plugin-ext/src/hosted/node/plugin-host-rpc.ts
  packages/plugin-ext/src/plugin/plugin-manager.ts
Labels: vscode

#11180 Replace `Path.toString()` with `fsPath()`
  packages/core/src/browser/label-provider.spec.ts
  packages/core/src/browser/label-provider.ts
  packages/core/src/common/uri.ts
  packages/debug/src/browser/model/debug-source.ts
  packages/editor/src/browser/editor-widget-factory.ts
  packages/editor/src/browser/quick-editor-service.ts
  packages/filesystem/src/browser/location/location-renderer.tsx
  packages/markers/src/browser/marker-tree-label-provider.spec.ts
  packages/markers/src/browser/problem/problem-decorator.ts
  packages/navigator/src/browser/open-editors-widget/navigator-open-editors-widget.tsx
  packages/preferences/src/browser/preferences-contribution.ts
  packages/preferences/src/browser/views/components/preference-file-input.ts
  packages/property-view/src/browser/resource-property-view/resource-property-view-tree-widget.tsx
  packages/scm/src/browser/scm-tree-widget.tsx
  packages/search-in-workspace/src/browser/search-in-workspace-result-tree-widget.tsx
  packages/workspace/src/browser/workspace-frontend-contribution.ts
  packages/workspace/src/browser/workspace-input-dialog.ts
  packages/workspace/src/browser/workspace-uri-contribution.spec.ts
Labels: filesystem, OS/Windows

#11190 task: fix problem matcher failed when kind is file
  packages/task/src/node/task-abstract-line-matcher.ts
  packages/task/src/node/task-problem-collector.spec.ts
Labels: tasks

#11175 vscode: support `Terminal#exitStatus`
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/terminal-main.ts
  packages/plugin-ext/src/plugin/terminal-ext.ts
  packages/plugin/src/theia.d.ts
  packages/terminal/src/browser/base/terminal-widget.ts
  packages/terminal/src/browser/terminal-widget-impl.ts
Labels: terminal, vscode

#11195 core: bind `UntitledResourceResolver` in core
  packages/core/src/browser/frontend-application-module.ts
  packages/plugin-ext/src/main/browser/plugin-ext-frontend-module.ts
Labels: core

#11119 core: respect `visible` `menuBarVisibility` for fullscreen
  packages/core/src/electron-browser/menu/electron-menu-contribution.ts
Labels: electron

#11201 Perform download after resolving version
  dev-packages/cli/src/download-plugins.ts
Labels: plug-in system, builtins

#11176 filesystem: remove deprecated apis
  CHANGELOG.md
  packages/filesystem/src/browser/file-tree/file-tree-widget.tsx
  packages/filesystem/src/browser/file-tree/file-tree.ts
  packages/filesystem/src/browser/filesystem-frontend-module.ts
  packages/filesystem/src/browser/filesystem-watcher.ts
  packages/filesystem/src/browser/index.ts
  packages/filesystem/src/common/filesystem-watcher-protocol.ts
  packages/filesystem/src/common/filesystem.ts
  packages/filesystem/src/node/node-file-upload.ts
  packages/filesystem/src/node/nsfw-watcher/nsfw-filesystem-watcher.ts
  packages/navigator/src/browser/open-editors-widget/navigator-deleted-editor-decorator.ts
  packages/scm/src/browser/scm-tree-widget.tsx
Labels: filesystem, quality

#11170 Resolve command variables contributed by debuggers
  packages/debug/src/browser/debug-session-manager.ts
  packages/debug/src/common/debug-service.ts
  packages/debug/src/node/debug-service-impl.ts
  packages/plugin-ext/package.json
  packages/plugin-ext/src/main/browser/debug/plugin-debug-service.ts
  packages/plugin-ext/tsconfig.json
  packages/variable-resolver/src/browser/common-variable-contribution.ts
  packages/variable-resolver/src/browser/variable-resolver-service.spec.ts
  packages/variable-resolver/src/browser/variable-resolver-service.ts
  packages/variable-resolver/src/browser/variable.ts
Labels: vscode, debug, variable-resolver

#11208 docs: update changelog for 1.26
  CHANGELOG.md
Labels: documentation

#11212 lint: fix `runtime-import-check` plugin
  dev-packages/private-eslint-plugin/rules/runtime-import-check.js
  packages/debug/src/common/debug-service.ts
  packages/debug/src/node/debug-service-impl.ts
  packages/plugin-ext/src/main/browser/debug/plugin-debug-service.ts
  packages/variable-resolver/src/browser/variable-resolver-service.ts
  packages/variable-resolver/src/browser/variable.ts
  packages/variable-resolver/src/common/variable-types.ts
Labels: linting

#11215 deps: upgrade `multer` to resolve vulnerability
  packages/filesystem/package.json
  yarn.lock
Labels: security, dependencies

#11223 core: set cursor to pointer for active menu items
  packages/core/src/browser/style/menus.css
Labels: ui/ux, menus
