Repository eclipse-theia/theia, pull requests merged in 2022-01, with the labels that each got.

#10588 Render notification progress update as html
  packages/messages/src/browser/notification-component.tsx
  packages/messages/src/browser/notifications-manager.ts
Labels: notifications

#10589 Simplify markdown rendering for preferences
  CHANGELOG.md
  packages/core/src/browser/index.ts
  packages/core/src/browser/markdown-renderer.spec.ts
  packages/core/src/browser/markdown-renderer.ts
  packages/preferences/package.json
  packages/preferences/src/browser/views/components/preference-node-renderer.ts
Labels: preferences

#10570 Fix memory leak in ApplicationShell#activateWidget
  packages/core/src/browser/shell/application-shell.ts
Labels: shell, quality

#10546 Improve plugin-view toolbar lifecycle
  CHANGELOG.md
  packages/core/src/browser/context-key-service.ts
  packages/core/src/browser/frontend-application-module.ts
  packages/core/src/browser/keybinding.spec.ts
  packages/debug/src/browser/console/debug-console-contribution.tsx
  packages/debug/src/browser/debug-frontend-module.ts
  packages/git/src/browser/git-repository-provider.spec.ts
  packages/monaco/src/browser/monaco-context-key-service.ts
  packages/monaco/src/browser/monaco-frontend-module.ts
  packages/monaco/src/typings/monaco/index.d.ts
  packages/plugin-ext/src/main/browser/menus/menus-contribution-handler.ts
  packages/plugin-ext/src/main/browser/view/plugin-view-widget.ts
  packages/plugin-ext/src/main/browser/view/tree-view-widget.tsx
  packages/plugin-ext/src/main/browser/view/view-context-key-service.ts
Labels: monaco, plug-in system

#10576 Tasks: Ensure workspace delegate and scope defined
  packages/task/src/browser/task-configuration-manager.ts
  packages/workspace/src/browser/workspace-service.ts
Labels: bug, tasks

#10550 workspace: add `workbenchState` context key
  packages/workspace/src/browser/workspace-frontend-contribution.ts
Labels: vscode, workspace

#10597 electron: Fix path comparison for exit confirmation
  packages/core/src/electron-main/electron-main-application.ts
Labels: electron, OS/Windows

#10434 Fix joinPath() issue on URIs (#10370)
  packages/plugin-ext/src/plugin/types-impl.spec.ts
  packages/plugin-ext/src/plugin/types-impl.ts
Labels: OS/Windows, vscode

#10523 Add command for opening the containing folder of a file
  CHANGELOG.md
  packages/navigator/package.json
  packages/navigator/src/electron-browser/electron-navigator-menu-contribution.ts
  packages/navigator/src/electron-browser/electron-navigator-module.ts
Labels: navigator

#10590 core: properly handle localhost uris on Electron
  packages/core/src/browser/external-uri-service.ts
Labels: electron

#10631 ci: fix `set-milestone-on-pr` workflow
  .github/workflows/set-milestone-on-pr.yml
Labels: bug, ci

#10612 dep: replace `colors` with `chalk`
  dev-packages/cli/package.json
  dev-packages/cli/src/download-plugins.ts
  doc/Migration.md
  package.json
  packages/process/src/common/shell-command-builder.slow-spec.ts
  yarn.lock
Labels: quality, dependencies

#10613 Add schema for key binding file
  packages/core/src/browser/preferences/preference-contribution.ts
  packages/core/src/common/command.ts
  packages/core/src/common/json-schema.ts
  packages/core/src/common/keybinding.ts
  packages/debug/src/browser/debug-schema-updater.ts
  packages/keymaps/src/browser/keybinding-schema-updater.ts
  packages/keymaps/src/browser/keymaps-frontend-module.ts
  packages/keymaps/src/browser/keymaps-service.ts
  packages/task/src/browser/task-schema-updater.ts
  packages/vsx-registry/src/browser/recommended-extensions/recommended-extensions-json-schema.ts
  packages/workspace/src/browser/workspace-schema-updater.ts
Labels: keybindings

#10636 Add SIW context menu
  packages/core/src/browser/navigatable-types.ts
  packages/core/src/browser/tree/tree-widget-selection.ts
  packages/navigator/src/browser/navigator-contribution.ts
  packages/search-in-workspace/src/browser/search-in-workspace-frontend-contribution.ts
  packages/search-in-workspace/src/browser/search-in-workspace-frontend-module.ts
  packages/search-in-workspace/src/browser/search-in-workspace-result-tree-widget.tsx
  packages/search-in-workspace/src/browser/search-in-workspace-widget.tsx
Labels: navigator, search in workspace

#10580 Fix the widget options when opening a VSCode Custom Editor
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/custom-editors/custom-editor-opener.tsx
  packages/plugin-ext/src/main/browser/custom-editors/custom-editors-main.ts
  packages/plugin-ext/src/main/browser/custom-editors/plugin-custom-editor-registry.ts
  packages/plugin-ext/src/plugin/custom-editors.ts
Labels: vscode, custom-editor

#10151 Offer permanent deletion if Trash deletion fails
  packages/workspace/src/browser/workspace-delete-handler.ts
Labels: workspace

#10617 terminal: expose `onKey` event to clients
  packages/terminal/src/browser/base/terminal-widget.ts
  packages/terminal/src/browser/terminal-widget-impl.ts
Labels: terminal

#10634 dep: update `markdown-it` dependency
  packages/core/README.md
  packages/core/package.json
  packages/core/shared/markdown-it.d.ts
  packages/core/shared/markdown-it.js
  packages/messages/package.json
  packages/messages/src/browser/notification-content-renderer.ts
  packages/plugin-ext/package.json
  packages/plugin-ext/src/main/browser/view/tree-view-widget.tsx
  packages/preferences/package.json
  packages/preferences/src/browser/views/components/preference-node-renderer.ts
  packages/preview/package.json
  packages/preview/src/browser/markdown/markdown-preview-handler.ts
  packages/vsx-registry/package.json
  packages/vsx-registry/src/browser/vsx-extension.tsx
  yarn.lock
Labels: security, dependencies

#10638 debug: add support for `stopDebugging` api
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/debug/debug-main.ts
  packages/plugin-ext/src/plugin/node/debug/debug.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin/src/theia.d.ts
Labels: vscode, debug

#10357 Implement multiroot Open Folder command
  packages/core/src/browser/dialogs.ts
  packages/core/src/browser/frontend-application.ts
  packages/core/src/browser/window/default-window-service.ts
  packages/core/src/common/path.spec.ts
  packages/core/src/common/path.ts
  packages/core/src/common/uri.spec.ts
  packages/core/src/common/uri.ts
  packages/workspace/src/browser/untitled-workspace-exit-dialog.ts
  packages/workspace/src/browser/workspace-commands.ts
  packages/workspace/src/browser/workspace-frontend-contribution.ts
  packages/workspace/src/browser/workspace-frontend-module.ts
  packages/workspace/src/browser/workspace-service.ts
  packages/workspace/src/common/utils.ts
  packages/workspace/src/node/default-workspace-server.ts
  packages/workspace/src/node/workspace-backend-module.ts
Labels: multi-root

#10626 Add option to remove `anchor` arg from context menus
  packages/core/src/browser/common-frontend-contribution.ts
  packages/core/src/browser/context-menu-renderer.ts
  packages/core/src/browser/shell/sidebar-bottom-menu-widget.tsx
  packages/core/src/browser/shell/sidebar-menu-widget.tsx
Labels: menus

#10624 vsx-registry: Skip extension resolution if already installed
  CHANGELOG.md
  packages/plugin-ext/src/common/plugin-protocol.ts
  packages/plugin-ext/src/main/node/plugin-deployer-impl.ts
  packages/plugin-ext/src/main/node/plugin-server-handler.ts
  packages/vsx-registry/src/node/vsx-extension-resolver.ts
Labels: plug-in system, vsx-registry

#10562 Ensure preference files only in problems view if open
  CHANGELOG.md
  examples/api-tests/src/launch-preferences.spec.js
  packages/preferences/src/browser/abstract-resource-preference-provider.spec.ts
  packages/preferences/src/browser/abstract-resource-preference-provider.ts
  packages/preferences/src/browser/folder-preference-provider.ts
  packages/preferences/src/browser/monaco-jsonc-editor.ts
  packages/preferences/src/browser/preference-frontend-module.ts
  packages/preferences/src/browser/preference-transaction-manager.ts
  packages/preferences/src/browser/user-preference-provider.ts
  packages/preferences/src/browser/workspace-file-preference-provider.ts
Labels: preferences, problems, monaco

#10656 plugin: align `startDebugging` api
  packages/plugin-ext/src/main/browser/debug/debug-main.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin/src/theia.d.ts
Labels: vscode, debug

#10673 Use ascii-only labels for Electron menus
  packages/core/src/browser/keybinding.ts
  packages/core/src/electron-browser/menu/electron-main-menu-factory.ts
Labels: OS/Mac, menus

#10674 Use absolute path for "Copy relative path" outside of workspace
  packages/workspace/src/browser/workspace-commands.ts
Labels: bug, commands

#10670 deps: update `node-fetch`
  dev-packages/cli/package.json
  yarn.lock
Labels: security, dependencies

#10671 console: do not clear output when a session ends
  packages/console/src/browser/console-widget.ts
Labels: debug

#10686 fix npm publishing
  dev-packages/cli/package.json
  dev-packages/ffmpeg/package.json
  packages/electron/README_TEMPLATE.md
  packages/electron/package.json
Labels: theia-cli, critical

#10688 skip `TypeScript: run reference code lens`
  examples/api-tests/src/typescript.spec.js
Labels: ci

#10685 fix: return focus to least recently active tab #10533
  packages/core/src/browser/shell/application-shell.ts
Labels: bug, shell

#10683 Align window.createTerminal API with VSCode
  CHANGELOG.md
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/terminal-ext.ts
  packages/plugin/src/theia.d.ts
Labels: terminal, vscode

#10614 No save dialog if another widget shares identical model
  examples/api-tests/src/saveable.spec.js
  packages/core/src/browser/saveable.ts
  packages/core/src/browser/shell/application-shell.ts
  packages/core/src/browser/widget-open-handler.ts
  packages/filesystem/src/browser/filesystem-frontend-contribution.ts
  packages/navigator/src/browser/navigator-contribution.ts
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
  packages/workspace/src/browser/workspace-delete-handler.ts
Labels: editor, shell
