Repository eclipse-theia/theia, pull requests merged in 2022-08, with the labels that each got.

#11473 Modify theme services to use preference service
  CHANGELOG.md
  packages/core/src/browser/common-frontend-contribution.ts
  packages/core/src/browser/icon-theme-service.ts
  packages/core/src/browser/preferences/preference-service.ts
  packages/core/src/browser/preferences/test/mock-preference-service.ts
  packages/core/src/browser/theming.ts
  packages/monaco/src/browser/monaco-color-registry.ts
  packages/monaco/src/browser/monaco-frontend-application-contribution.ts
  packages/monaco/src/browser/monaco-indexed-db.ts
  packages/monaco/src/browser/monaco-theming-service.ts
Labels: theming

#11393 Improve Plugin Preference Access
  packages/core/src/browser/preferences/preference-service.ts
  packages/core/src/browser/preferences/test/mock-preference-service.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/preference-registry-main.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/preference-registry.spec.ts
  packages/plugin-ext/src/plugin/preference-registry.ts
  packages/plugin-ext/src/plugin/preferences/configuration.spec.ts
  packages/plugin-ext/src/plugin/preferences/configuration.ts
  packages/plugin/src/theia.d.ts
  packages/preferences/src/browser/preferences-contribution.ts
  packages/preferences/src/browser/workspace-file-preference-provider.ts
Labels: preferences, plug-in system

#11487 plugin: add `keys` support for `Memento`
  packages/plugin-ext/src/plugin/plugin-storage.ts
  packages/plugin/src/theia.d.ts
Labels: vscode

#11484 #10027 Support EvaluatableExpressions
  CHANGELOG.md
  packages/core/src/common/types.ts
  packages/debug/src/browser/editor/debug-hover-widget.ts
  packages/plugin-ext/src/common/plugin-api-rpc-model.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/languages-main.ts
  packages/plugin-ext/src/plugin/languages.ts
  packages/plugin-ext/src/plugin/languages/evaluatable-expression.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/type-converters.ts
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/plugin/src/theia.d.ts
Labels: vscode

#11526 Run automatic translation on `workflow_dispatch`
  .github/workflows/translation.yml
  doc/Publishing.md
  scripts/translation-update.js
Labels: ci, localization

#11524 Add the check in both Proxies
  packages/plugin-ext/src/plugin/preference-registry.spec.ts
  packages/plugin-ext/src/plugin/preference-registry.ts
Labels: preferences, plug-in system

#11527 Map vscode theme icons to codicons
  packages/plugin-ext/src/main/browser/plugin-ext-frontend-module.ts
  packages/plugin-ext/src/main/browser/theme-icon-override.ts
Labels: vscode

#11193 terminal: add `toggle terminal` command
  packages/terminal/src/browser/terminal-frontend-contribution.ts
Labels: terminal

#11523 nls: do not localize `open vsx registry`
  packages/core/i18n/nls.cs.json
  packages/core/i18n/nls.de.json
  packages/core/i18n/nls.es.json
  packages/core/i18n/nls.fr.json
  packages/core/i18n/nls.hu.json
  packages/core/i18n/nls.it.json
  packages/core/i18n/nls.ja.json
  packages/core/i18n/nls.json
  packages/core/i18n/nls.pl.json
  packages/core/i18n/nls.pt-br.json
  packages/core/i18n/nls.pt-pt.json
  packages/core/i18n/nls.ru.json
  packages/core/i18n/nls.zh-cn.json
  packages/vsx-registry/src/browser/vsx-extensions-widget.tsx
Labels: vsx-registry, localization

#11494 Standardized Plugins Downloads and Center Icons
  packages/vsx-registry/src/browser/style/index.css
  packages/vsx-registry/src/browser/vsx-extension.tsx
Labels: vsx-registry, localization

#11540 Git blame: ensure disposal
  packages/git/src/browser/blame/blame-contribution.ts
Labels: git

#11496 Implement `workbench.focusNthEditorGroup`
  packages/core/src/browser/common-frontend-contribution.ts
  packages/core/src/browser/menu/browser-menu-plugin.ts
  packages/editor/src/browser/editor-menu.ts
Labels: shell, commands

#11455 Update React to v18
  CHANGELOG.md
  doc/Migration.md
  package.json
  packages/core/README.md
  packages/core/package.json
  packages/core/shared/react-dom/client/index.d.ts
  packages/core/shared/react-dom/client/index.js
  packages/core/src/browser/breadcrumbs/breadcrumbs-renderer.tsx
  packages/core/src/browser/dialogs/react-dialog.tsx
  packages/core/src/browser/shell/tab-bar-toolbar/tab-bar-toolbar.tsx
  packages/core/src/browser/tooltip-service.tsx
  packages/core/src/browser/tree/tree-widget.tsx
  packages/core/src/browser/widgets/alert-message.tsx
  packages/core/src/browser/widgets/react-renderer.tsx
  packages/core/src/browser/widgets/react-widget.tsx
  packages/debug/src/browser/editor/debug-breakpoint-widget.tsx
  packages/debug/src/browser/editor/debug-exception-widget.tsx
  packages/debug/src/browser/view/debug-configuration-widget.tsx
  packages/debug/src/browser/view/debug-toolbar-widget.tsx
  packages/filesystem/src/browser/location/location-renderer.tsx
  packages/keymaps/src/browser/keybindings-widget.tsx
  packages/messages/src/browser/notifications-renderer.tsx
  packages/plugin-ext/src/main/browser/comments/comment-thread-widget.tsx
  packages/preferences/src/browser/views/components/preference-select-input.ts
  packages/preferences/src/browser/views/preference-searchbar-widget.tsx
  packages/search-in-workspace/src/browser/components/search-in-workspace-input.tsx
  packages/search-in-workspace/src/browser/search-in-workspace-widget.tsx
  packages/toolbar/src/browser/toolbar-icon-selector-dialog.tsx
  packages/toolbar/src/browser/toolbar.tsx
  yarn.lock
Labels: react, dependencies

#11444 Add support for compound launches
  packages/core/src/browser/widgets/select-component.tsx
  packages/debug/src/browser/debug-configuration-manager.ts
  packages/debug/src/browser/debug-configuration-model.ts
  packages/debug/src/browser/debug-frontend-application-contribution.ts
  packages/debug/src/browser/debug-prefix-configuration.ts
  packages/debug/src/browser/debug-schema-updater.ts
  packages/debug/src/browser/debug-session-contribution.ts
  packages/debug/src/browser/debug-session-manager.ts
  packages/debug/src/browser/debug-session-options.ts
  packages/debug/src/browser/debug-session.tsx
  packages/debug/src/browser/view/debug-configuration-select.tsx
  packages/debug/src/common/debug-compound.ts
  packages/plugin-dev/src/browser/hosted-plugin-manager-client.ts
  packages/plugin-ext/src/main/browser/debug/debug-main.ts
  packages/plugin-ext/src/main/browser/debug/plugin-debug-session-factory.ts
Labels: debug

#11398 terminal-linkmatcher: update regex with current vscode versions
  packages/terminal/src/browser/terminal-linkmatcher-files.ts
Labels: terminal, CQ Required

#11545 editor: add `next group` and `previous group`
  packages/editor/src/browser/editor-menu.ts
Labels: editor

#11553 Replace `react-virtualized` with `react-virtuoso` for React 18 compatibility
  CHANGELOG.md
  dependency-check-baseline.json
  doc/Migration.md
  package.json
  packages/core/README.md
  packages/core/package.json
  packages/core/shared/react-virtualized/index.d.ts
  packages/core/shared/react-virtualized/index.js
  packages/core/shared/react-virtuoso/index.d.ts
  packages/core/shared/react-virtuoso/index.js
  packages/core/src/browser/tree/tree-widget.tsx
  packages/git/src/browser/history/git-history-support.ts
  packages/scm-extra/src/browser/history/scm-history-widget.tsx
  packages/scm-extra/src/browser/scm-navigable-list-widget.tsx
  yarn.lock
Labels: tree

#11568 eslint: disable `no-unused-expressions` for tests
  configs/errors.eslintrc.json
  examples/api-tests/src/launch-preferences.spec.js
  examples/electron/test/basic-example.espec.ts
  packages/core/src/browser/keybinding.spec.ts
  packages/core/src/browser/keyboard/keys.spec.ts
  packages/core/src/browser/label-parser.spec.ts
  packages/core/src/browser/preferences/preference-proxy.spec.ts
  packages/core/src/browser/preferences/preference-service.spec.ts
  packages/core/src/browser/preferences/preference-validation-service.spec.ts
  packages/core/src/browser/tree/tree-decorator.spec.ts
  packages/core/src/browser/tree/tree-expansion.spec.ts
  packages/core/src/browser/tree/tree-iterator.spec.ts
  packages/core/src/browser/tree/tree-selection-state.spec.ts
  packages/core/src/browser/tree/tree.spec.ts
  packages/core/src/browser/widget-manager.spec.ts
  packages/core/src/common/command.spec.ts
  packages/core/src/common/disposable.spec.ts
  packages/core/src/common/logger.spec.ts
  packages/core/src/common/menu/menu.spec.ts
  packages/core/src/common/preferences/preference-scope.spec.ts
  packages/editor/src/browser/navigation/navigation-location-service.spec.ts
  packages/editor/src/browser/navigation/navigation-location-similarity.spec.ts
  packages/editor/src/browser/navigation/navigation-location-updater.spec.ts
  packages/file-search/src/node/file-search-service-impl.spec.ts
  packages/filesystem/src/common/remote-file-system-provider.ts
  packages/filesystem/src/node/download/directory-archiver.spec.ts
  packages/filesystem/src/node/nsfw-watcher/nsfw-filesystem-watcher.spec.ts
  packages/git/src/node/dugite-git-watcher.slow-spec.ts
  packages/git/src/node/dugite-git.slow-spec.ts
  packages/git/src/node/dugite-git.spec.ts
  packages/messages/src/browser/notification-content-renderer.spec.ts
  packages/metrics/src/node/prometheus.spec.ts
  packages/navigator/src/browser/navigator-diff.spec.ts
  packages/plugin-ext/src/main/browser/view/plugin-view-registry.ts
  packages/plugin-ext/src/plugin/preference-registry.spec.ts
  packages/preferences/src/browser/abstract-resource-preference-provider.spec.ts
  packages/process/src/node/multi-ring-buffer.spec.ts
  packages/scm/src/browser/dirty-diff/diff-computer.spec.ts
  packages/task/src/browser/task-definition-registry.spec.ts
  packages/task/src/node/task-server.slow-spec.ts
  packages/variable-resolver/src/browser/variable.spec.ts
  packages/workspace/src/node/default-workspace-server.spec.ts
Labels: linting

#11565 terminal: allow `terminal clear` without it being active
  packages/terminal/src/browser/terminal-frontend-contribution.ts
Labels: terminal

#11472 Wait for plugins to deploy before restoring the current language
  packages/core/src/node/i18n/localization-backend-contribution.ts
  packages/plugin-ext/src/main/node/plugin-ext-backend-module.ts
  packages/plugin-ext/src/main/node/plugin-localization-backend-contribution.ts
  packages/plugin-ext/src/plugin-ext-backend-electron-module.ts
  packages/plugin-ext/src/plugin-ext-backend-module.ts
Labels: localization

#11492 plugin: add support for `InputBoxValidationMessage`
  packages/core/src/common/quick-pick-service.ts
  packages/monaco/src/browser/monaco-color-registry.ts
  packages/monaco/src/browser/monaco-quick-input-service.ts
  packages/monaco/src/browser/style/index.css
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/quick-open.ts
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/plugin/src/theia.d.ts
Labels: monaco, vscode

#11573 [ffmpeg] upgrade electron/get to 2.0.0
  dev-packages/ffmpeg/package.json
  yarn.lock
Labels: dependencies

#11582 Remove `virtuoso-dev` from the license check baseline
  dependency-check-baseline.json
Labels: ci

#11580 vscode: update `showQuickPick` typings
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin/src/theia.d.ts
Labels: vscode

#11542 Fix off-center codeicons in the custom tree view
  packages/plugin-ext/src/main/browser/style/tree.css
Labels: vscode, ui/ux

#11575 application-manager: set the `applicationName` in title
  dev-packages/application-manager/src/generator/frontend-generator.ts
Labels: ui/ux

#11577 Fix empty menus in browser
  packages/core/src/browser/menu/browser-menu-plugin.ts
Labels: menus

#11560 scm: select node based on active editor
  packages/scm/src/browser/scm-tree-widget.tsx
  packages/scm/src/browser/scm-widget.tsx
Labels: scm

#11588 Respect `included` property on preferences
  packages/core/src/browser/preferences/preference-contribution.ts
  packages/core/src/common/preferences/preference-schema.ts
  packages/preferences/src/browser/util/preference-tree-generator.ts
Labels: preferences

#11601 core: Fix DescriptionWidget and BadgeWidget APIs
  CHANGELOG.md
  packages/core/src/browser/view-container.ts
  packages/plugin-ext/src/main/browser/view/plugin-view-widget.ts
  packages/vsx-registry/src/browser/vsx-extensions-widget.tsx
Labels: quality

#11597 Fix Debug hover might not appear (#11500)
  packages/debug/src/browser/editor/debug-hover-widget.ts
Labels: debug

#11596 monaco: update handling for invalid theming values
  packages/monaco/src/browser/monaco-theming-service.ts
Labels: theming

#11602 Show `window.menuBarVisibility` on OSX (browser)
  packages/core/src/browser/core-preferences.ts
Labels: preferences

#11605 Remove manual height manipulation in Extension Editor
  packages/vsx-registry/src/browser/style/index.css
  packages/vsx-registry/src/browser/vsx-extension.tsx
Labels: vsx-registry

#11483 cli: Enhance tooling for checking dependencies
  dev-packages/cli/package.json
  dev-packages/cli/src/check-dependencies.ts
  dev-packages/cli/src/check-hoisting.ts
  dev-packages/cli/src/theia.ts
  yarn.lock
Labels: theia-cli

#11584 macos: fix `window.titleBarStyle` on macOS
  packages/core/src/electron-main/electron-main-application.ts
Labels: bug, OS/Mac

#11612 docs: update changelog for `v1.29.0`
  CHANGELOG.md
  packages/core/src/browser/authentication-service.ts
  packages/terminal/src/browser/terminal-linkmatcher-files.ts
Labels: documentation

#11493 Clean Up `theia.d.ts`
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/terminal-main.ts
  packages/plugin-ext/src/plugin/authentication-ext.ts
  packages/plugin-ext/src/plugin/custom-editors.ts
  packages/plugin-ext/src/plugin/type-converters.ts
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/plugin/src/theia-proposed.d.ts
  packages/plugin/src/theia.d.ts
Labels: quality, plug-in system

#11621 update doc to target node 14.18.0
  doc/Developing.md
  package.json
Labels: documentation
