Repository eclipse-theia/theia, pull requests merged in 2022-04, with the labels that each got.

#10868 New File opens untitled editor
  CHANGELOG.md
  packages/core/src/browser/common-frontend-contribution.ts
  packages/core/src/browser/decorations-service.ts
  packages/core/src/browser/frontend-application-module.ts
  packages/core/src/browser/save-resource-service.ts
  packages/core/src/browser/saveable.ts
  packages/core/src/browser/shell/application-shell.ts
  packages/core/src/browser/user-working-directory-provider.ts
  packages/core/src/common/resource.ts
  packages/editor-preview/src/browser/editor-preview-widget.ts
  packages/editor/src/browser/editor-widget.ts
  packages/filesystem/src/browser/file-dialog/file-dialog-service.ts
  packages/filesystem/src/browser/filesystem-frontend-module.ts
  packages/filesystem/src/browser/filesystem-save-resource-service.ts
  packages/monaco/src/browser/monaco-editor-model.ts
  packages/monaco/src/browser/monaco-languages.ts
  packages/navigator/src/browser/navigator-contribution.ts
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
  packages/plugin-ext/src/common/rpc-protocol.ts
  packages/plugin-ext/src/main/browser/custom-editors/custom-editor-widget.ts
  packages/plugin-ext/src/main/browser/documents-main.ts
  packages/plugin-ext/src/main/browser/editor/untitled-resource.ts
  packages/plugin-ext/src/main/browser/main-context.ts
  packages/workspace/src/browser/workspace-commands.ts
  packages/workspace/src/browser/workspace-frontend-contribution.ts
  packages/workspace/src/browser/workspace-frontend-module.ts
  packages/workspace/src/browser/workspace-save-resource-service.ts
  packages/workspace/src/browser/workspace-user-working-directory-provider.ts
Labels: editor, core

#10969 Add method appendChoice to class SnippetString of VS Code API
  CHANGELOG.md
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/plugin/src/theia.d.ts
Labels: vscode

#11002 vscode: support `keepScrollPosition` for `QuickPick`
  packages/core/src/common/quick-pick-service.ts
  packages/monaco/src/browser/monaco-quick-input-service.ts
  packages/plugin-ext/src/plugin/quick-open.ts
  packages/plugin/src/theia.d.ts
Labels: monaco, vscode

#10908 Align tabbar styling to vscode
  packages/core/src/browser/common-frontend-contribution.ts
  packages/core/src/browser/shell/application-shell.ts
  packages/core/src/browser/shell/theia-dock-panel.ts
  packages/core/src/browser/style/sidepanel.css
  packages/core/src/browser/style/tabs.css
Labels: ui/ux

#10961 Add Accessibility API
  CHANGELOG.md
  packages/core/src/browser/shell/application-shell.ts
  packages/core/src/browser/status-bar/status-bar.tsx
  packages/core/src/common/accessibility.ts
  packages/messages/src/browser/notifications-contribution.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/status-bar-message-registry-main.ts
  packages/plugin-ext/src/main/browser/view/tree-view-widget.tsx
  packages/plugin-ext/src/plugin/status-bar/status-bar-item.ts
  packages/plugin-ext/src/plugin/tree/tree-views.ts
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/plugin/src/theia-proposed.d.ts
  packages/plugin/src/theia.d.ts
Labels: vscode, accessibility

#10954 Fix debug session to be deleted in $sessionDidDestroy instead of $terminateDebugSession
  packages/plugin-ext/src/plugin/node/debug/debug.ts
Labels: vscode, debug

#11009 dep: resolve moment vulnerability
  packages/git/package.json
  yarn.lock
Labels: security, dependencies

#10049 repo: update bundled builtins
  package.json
Labels: builtins

#10951 Use same tempdir for user and system compressed plugin files
  packages/plugin-ext-vscode/src/node/plugin-vscode-file-handler.ts
  packages/plugin-ext/src/main/node/handlers/plugin-theia-file-handler.ts
Labels: plug-in system

#11014 Add missing lib folder to package.json's files
  examples/playwright/package.json
Labels: playwright

#10991 Introduce custom select component
  packages/core/src/browser/browser.ts
  packages/core/src/browser/common-frontend-contribution.ts
  packages/core/src/browser/style/select-component.css
  packages/core/src/browser/widgets/select-component.tsx
  packages/debug/src/browser/console/debug-console-contribution.tsx
  packages/debug/src/browser/editor/debug-breakpoint-widget.tsx
  packages/debug/src/browser/style/index.css
  packages/debug/src/browser/view/debug-configuration-widget.tsx
  packages/output/src/browser/output-toolbar-contribution.tsx
  packages/output/src/browser/style/output.css
  packages/preferences/src/browser/style/index.css
  packages/preferences/src/browser/views/components/preference-select-input.ts
Labels: preferences, ui/ux

#11018 Allow to override language metadata
  CHANGELOG.md
  packages/core/src/browser/common-frontend-contribution.ts
  packages/core/src/common/i18n/localization.ts
  packages/core/src/node/i18n/localization-backend-contribution.ts
  packages/core/src/node/i18n/localization-contribution.ts
  packages/core/src/node/i18n/localization-provider.ts
Labels: localization

#11029 Fix more quick input styling issues
  packages/monaco/src/browser/style/index.css
Labels: ui/ux, quick-open

#10999 Honor debug stop from configuration providers
  CHANGELOG.md
  packages/debug/src/browser/debug-session-manager.ts
  packages/debug/src/common/debug-service.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/debug/plugin-debug-adapter-contribution.ts
  packages/plugin-ext/src/main/browser/debug/plugin-debug-configuration-provider.ts
  packages/plugin-ext/src/main/browser/debug/plugin-debug-service.ts
  packages/plugin-ext/src/plugin/comments.ts
  packages/plugin-ext/src/plugin/languages/lens.ts
  packages/plugin-ext/src/plugin/node/debug/debug.ts
  packages/plugin-ext/src/plugin/tree/tree-views.ts
  packages/plugin-ext/src/plugin/workspace.ts
  packages/plugin/src/theia.d.ts
Labels: vscode, debug

#11022 #11021 Add API documentation for property-view and selection-service
  packages/core/src/common/selection-service.ts
  packages/property-view/src/browser/empty-property-view-widget-provider.tsx
  packages/property-view/src/browser/property-data-service.ts
  packages/property-view/src/browser/property-view-content-widget.ts
  packages/property-view/src/browser/property-view-service.ts
  packages/property-view/src/browser/property-view-widget-provider.ts
  packages/property-view/src/browser/property-view-widget.tsx
  packages/property-view/src/browser/resource-property-view/resource-property-data-service.ts
  packages/property-view/src/browser/resource-property-view/resource-property-view-tree-widget.tsx
  packages/property-view/src/browser/resource-property-view/resource-property-view-widget-provider.ts
Labels: documentation, property-view

#11039 Coerce extension localizations into expected format
  packages/plugin-ext/src/hosted/node/hosted-plugin-localization-service.ts
Labels: vscode, localization

#11042 Fix default translations with incorrect case
  packages/core/src/common/nls.ts
  packages/workspace/src/browser/workspace-commands.ts
Labels: localization

#11016 Normalize URI's before interacting with recentworkspaces.json
  packages/workspace/src/node/default-workspace-server.spec.ts
  packages/workspace/src/node/default-workspace-server.ts
Labels: workspace

#10591 Path conversion for windows and posix file systems
  dev-packages/application-manager/src/generator/frontend-generator.ts
  packages/core/src/browser/preloader.ts
  packages/core/src/browser/resource-context-key.ts
  packages/core/src/common/application-protocol.ts
  packages/core/src/common/os.ts
  packages/core/src/common/path.spec.ts
  packages/core/src/common/path.ts
  packages/core/src/node/backend-application-module.ts
  packages/core/src/node/os-backend-application-contribution.ts
  packages/filesystem/src/browser/file-tree/file-tree-widget.tsx
  packages/monaco/src/browser/monaco-text-model-service.ts
  packages/terminal/src/browser/terminal-linkmatcher-files.ts
  packages/variable-resolver/src/browser/common-variable-contribution.ts
  packages/workspace/src/browser/workspace-commands.ts
Labels: filesystem

#11032 Narrow typing of Saveable.createSnapshot
  CHANGELOG.md
  packages/core/src/browser/saveable.ts
  packages/monaco/src/browser/monaco-editor-model.ts
Labels: bug, monaco

#11049 Restore `selection` in Monaco editor options
  packages/monaco/src/browser/monaco-editor-service.ts
Labels: monaco

#11027 Implement CancellationToken logic for withProgress API
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/main-context.ts
  packages/plugin-ext/src/main/browser/notification-main.ts
  packages/plugin-ext/src/plugin/notification.ts
Labels: vscode

#11061 Fix preference and view container ui regressions
  packages/core/src/browser/style/view-container.css
  packages/preferences/src/browser/style/index.css
Labels: ui/ux

#11057 Revert "Use same tempdir for user and system compressed plugin files"
  packages/plugin-ext-vscode/src/node/plugin-vscode-file-handler.ts
  packages/plugin-ext/src/main/node/handlers/plugin-theia-file-handler.ts
Labels: plug-in system

#11058 quality: remove duplicate header from a ts file
  packages/core/src/common/quick-pick-service.ts
Labels: quality

#11065 Restore `detail` field of EditorMouseEvent
  packages/monaco/src/browser/monaco-editor.ts
Labels: monaco, vscode

#11053 Ensure `Disposable.NULL` always returns a new `Disposable`
  packages/core/src/common/disposable.spec.ts
  packages/core/src/common/disposable.ts
Labels: bug, core

#11054 Attach QP to body but position at top of main panel
  packages/monaco/src/browser/monaco-quick-input-service.ts
Labels: monaco, quick-open

#11025 Reduce Preference Validation Warnings & Improve Monaco Extractor
  examples/api-samples/src/browser/monaco-editor-preferences/monaco-editor-preference-extractor.ts
  packages/core/src/browser/preferences/preference-validation-service.spec.ts
  packages/core/src/browser/preferences/preference-validation-service.ts
  packages/core/src/common/json-schema.ts
  packages/editor/src/browser/editor-generated-preference-schema.ts
  packages/preferences/src/browser/views/components/preference-node-renderer.ts
  packages/preferences/src/browser/views/components/preference-select-input.ts
Labels: preferences, editor, monaco

#10997 For calls to vscode.tasks.executeTask that use shell tasks, treat command as we treat the arguments in terms of the use of ShellQuotedString.
  packages/plugin-ext/src/plugin/type-converters.spec.ts
  packages/plugin-ext/src/plugin/type-converters.ts
Labels: tasks, vscode

#11055 fix quick-open: multi-step input (#8777)
  packages/plugin-ext/src/plugin/quick-open.ts
Labels: vscode, quick-open

#11066 [Decorations]: Emit old and new URI's to ensure ProvideWrapper.data correctly updated
  packages/git/src/browser/git-decoration-provider.ts
  packages/markers/src/browser/problem/problem-decorations-provider.ts
Labels: markers

#11069 Optionally chain check for logger in test page to reduce probability of failure on load
  dev-packages/cli/src/test-page.ts
Labels: ci

#10857 Cache instances from call hierarchy provider
  CHANGELOG.md
  packages/callhierarchy/src/browser/callhierarchy-service.ts
  packages/callhierarchy/src/browser/callhierarchy-tree/callhierarchy-tree-model.ts
  packages/callhierarchy/src/browser/callhierarchy-tree/callhierarchy-tree-widget.tsx
  packages/callhierarchy/src/browser/callhierarchy-tree/callhierarchy-tree.ts
  packages/callhierarchy/src/browser/callhierarchy.ts
  packages/core/src/common/uri.ts
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
  packages/plugin-ext/src/common/plugin-api-rpc-model.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/common/uri-components.ts
  packages/plugin-ext/src/main/browser/callhierarchy/callhierarchy-type-converters.ts
  packages/plugin-ext/src/main/browser/languages-main.ts
  packages/plugin-ext/src/plugin/languages.ts
  packages/plugin-ext/src/plugin/languages/call-hierarchy.ts
  packages/plugin-ext/src/plugin/type-converters.ts
  packages/plugin-ext/src/plugin/types-impl.ts
Labels: vscode, call-hierarchy

#11073 Use old header for CSS
  .vscode/theia.code-snippets
Labels: collaboration

#11074 Make preference node renderers more robust against `null` values
  packages/preferences/src/browser/views/components/preference-array-input.ts
  packages/preferences/src/browser/views/components/preference-boolean-input.ts
  packages/preferences/src/browser/views/components/preference-node-renderer.ts
  packages/preferences/src/browser/views/components/preference-number-input.ts
  packages/preferences/src/browser/views/components/preference-string-input.ts
Labels: preferences

#11071 Allow easier extensibility for custom Theia applications
  examples/playwright/docs/EXTENSIBILITY.md
  examples/playwright/src/tests/theia-sample-app.test.ts
  examples/playwright/src/theia-app.ts
Labels: playwright

#11068 Guarantee that `QuickPickService.showQuickPick` resolves on hide
  CHANGELOG.md
  packages/core/src/browser/quick-input/quick-pick-service-impl.ts
  packages/core/src/common/quick-pick-service.ts
  packages/git/src/browser/git-sync-service.ts
  packages/monaco/src/browser/monaco-formatting-conflicts.ts
  packages/monaco/src/browser/monaco-quick-input-service.ts
  packages/preferences/src/browser/preferences-contribution.ts
  packages/toolbar/src/browser/toolbar-command-quick-input-service.ts
Labels: bug, quick-open

#11062 10002: Add canReply to CommentThread
  CHANGELOG.md
  packages/plugin-ext/src/common/plugin-api-rpc-model.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/comments/comment-thread-widget.tsx
  packages/plugin-ext/src/main/browser/comments/comments-main.ts
  packages/plugin-ext/src/plugin/comments.ts
  packages/plugin/src/theia.d.ts
Labels: vscode

#11079 fix files.eol preferences cannot display correctly
  packages/preferences/src/browser/views/components/preference-select-input.ts
Labels: preferences

#11087 doc: update `changelog` for `1.25.0`
  CHANGELOG.md
Labels: documentation

#11072 repo: upgrade `yarn.lock`
  yarn.lock
Labels: dependencies
