Repository eclipse-theia/theia, pull requests merged in 2022-03, with the labels that each got.

#10818 core: publish `i18n` folder to npm
  packages/core/package.json
Labels: core, localization

#10813 vsx-registry: Increase query delay to 500ms
  packages/vsx-registry/src/browser/vsx-extensions-model.ts
Labels: vsx-registry

#10802 doc: split up `changelog` and archive old content
  CHANGELOG.md
  doc/changelogs/CHANGELOG-2018.md
  doc/changelogs/CHANGELOG-2019.md
  doc/changelogs/CHANGELOG-2020.md
  doc/changelogs/CHANGELOG-2021.md
Labels: documentation, proposal

#10811 #10026 Implement DocumentSymbolProviderMetadata
  CHANGELOG.md
  packages/debug/src/browser/debug-frontend-module.ts
  packages/debug/src/browser/debug-monaco-contribution.ts
  packages/monaco/src/browser/monaco-outline-contribution.ts
  packages/monaco/src/typings/monaco/index.d.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/languages-main.ts
  packages/plugin-ext/src/plugin/languages.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/type-converters.ts
  packages/plugin-metrics/src/browser/plugin-metrics-languages-main.ts
  packages/plugin/README.md
  packages/plugin/src/theia.d.ts
Labels: outline, vscode

#10823 application-package: accept any `@theia/electron`
  dev-packages/application-manager/package.json
Labels: dependencies

#10829 Fix undefined reference error when uninstalling extensions
  packages/plugin-ext/src/hosted/node/hosted-plugin-deployer-handler.ts
Labels: vsx-registry

#10832 doc: update prerequisites and migration guide.
  doc/Developing.md
  doc/Migration.md
Labels: documentation

#10831 deps: update `requestretry` dependency to resolve security vulnerability
  packages/debug/package.json
  packages/vsx-registry/package.json
  yarn.lock
Labels: dependencies

#10814 workspace: fix path alignment in dialogs
  packages/workspace/src/browser/workspace-input-dialog.ts
Labels: dialogs, ui/ux

#10820 Use tail decorations for problems in TreeWidget
  CHANGELOG.md
  packages/core/src/browser/style/tree.css
  packages/core/src/browser/tree/tree-widget.tsx
  packages/core/src/browser/widget-decoration.ts
  packages/markers/src/browser/marker-manager.ts
  packages/markers/src/browser/problem/problem-decorator.ts
  packages/navigator/src/browser/navigator-widget.tsx
Labels: tree, problems

#10838 Add migration step for the socket.io update on Theia 1.23
  doc/Migration.md
Labels: documentation

#10840 Align "Add Folder" visibility with VSCode
  packages/core/src/browser/style/tree.css
  packages/navigator/src/browser/navigator-contribution.ts
  packages/navigator/src/browser/navigator-widget.tsx
Labels: navigator, tree

#10839 Open SIW results as previews
  packages/search-in-workspace/src/browser/search-in-workspace-result-tree-widget.tsx
Labels: search in workspace

#10837 Align plugin API getSession method signatures with VS Code API
  packages/plugin/src/theia.d.ts
Labels: vscode

#10822 ui: improve tabbar styling
  packages/core/src/browser/style/sidepanel.css
  packages/core/src/browser/style/tabs.css
Labels: ui/ux

#10845 application-manager: fix expose-loader
  dev-packages/application-manager/src/expose-loader.ts
Labels: bug

#10833 vsx-registry: prevent search with no query present
  packages/vsx-registry/src/browser/vsx-extensions-model.ts
Labels: vsx-registry, open-vsx

#10862 Update windows-build-tools installation instructions
  doc/Developing.md
Labels: OS/Windows, documentation

#10863 Refactor Menu Contribution Handler to define variables before use
  packages/plugin-ext/src/main/browser/menus/menus-contribution-handler.ts
Labels: plug-in system, menus

#10608 Fix 'Save As' when saving a document with 'untitled' scheme
  packages/core/src/browser/common-frontend-contribution.ts
  packages/core/src/browser/frontend-application-module.ts
  packages/core/src/browser/save-resource-service.ts
  packages/core/src/browser/saveable.ts
  packages/plugin-ext/src/main/browser/documents-main.ts
  packages/plugin-ext/src/main/browser/editor/untitled-resource.ts
  packages/plugin-ext/src/main/browser/main-context.ts
  packages/workspace/src/browser/workspace-frontend-contribution.ts
  packages/workspace/src/browser/workspace-frontend-module.ts
  packages/workspace/src/browser/workspace-save-resource-service.ts
Labels: filesystem, vscode

#10869 electron: fix electron global shortcuts
  CHANGELOG.md
  packages/core/src/electron-main/theia-electron-window.ts
Labels: electron

#10854 Align view container styling with VSCode
  packages/core/src/browser/style/index.css
  packages/core/src/browser/style/view-container.css
  packages/core/src/browser/view-container.ts
  packages/debug/src/browser/style/index.css
Labels: ui/ux

#10872 Ensure compression parent is also visible
  packages/core/src/browser/tree/tree-compression/tree-compression-service.ts
Labels: bug, navigator

#10870 Preferences UI: Delegate Classnames to Type Renderers
  packages/editor/src/browser/editor-preferences.ts
  packages/preferences/src/browser/views/components/preference-boolean-input.ts
  packages/preferences/src/browser/views/components/preference-node-renderer.ts
Labels: preferences, ui/ux

#10852 Ensure active element is preserved when opening context menu
  packages/core/src/browser/menu/browser-menu-plugin.ts
Labels: menus

#10883 Fix check for Cmd+Click on MacOS for Trees
  packages/core/src/browser/tree/tree-widget.tsx
Labels: bug, OS/Mac, tree

#10767 Copy/paste not working within folder in Explorer
  CHANGELOG.md
  packages/filesystem/src/browser/file-service.ts
  packages/filesystem/src/browser/file-tree/file-tree-model.ts
  packages/filesystem/src/common/filesystem-utils.spec.ts
  packages/filesystem/src/common/filesystem-utils.ts
  packages/workspace/src/browser/workspace-commands.ts
  packages/workspace/src/browser/workspace-duplicate-handler.ts
Labels: filesystem

#10849 Support frontend extensions in asWebviewUri
  packages/plugin-ext/src/hosted/browser/hosted-plugin.ts
  packages/plugin-ext/src/main/browser/webview/webview-environment.ts
  packages/plugin-ext/src/plugin/webviews.ts
Labels: vscode, webviews

#10887 No validation warning for undefined preference value
  packages/core/src/browser/preferences/preference-validation-service.ts
Labels: preferences

#10848 Add iframe allow attribute fow access to web-* APIs
  packages/plugin-ext/src/main/browser/webview/webview.ts
Labels: webviews

#10866 preferences: fix tab styling for inactive scopes
  packages/preferences/src/browser/style/index.css
Labels: preferences, ui/ux

#10875 debug: add multi-root support for add configurations
  CHANGELOG.md
  packages/debug/src/browser/debug-configuration-manager.ts
Labels: debug, multi-root

#10881 Update type check for `TreeContainerProps`
  packages/core/src/browser/tree/tree-container.spec.ts
  packages/core/src/browser/tree/tree-container.ts
Labels: bug, tree

#10898 Add TailDecoration comma as content rather than CSS
  packages/core/src/browser/style/tree.css
  packages/core/src/browser/tree/tree-widget.tsx
Labels: tree

#10903 plugin: add `Uri.from` declaration
  packages/plugin/src/theia.d.ts
Labels: vscode

#10900 Check application state before showing file resource dialog
  packages/filesystem/src/browser/file-resource.ts
Labels: filesystem, editor, shell

#10884 Check for locked after unlocked
  examples/api-tests/src/preferences.spec.js
  packages/preferences/src/browser/abstract-resource-preference-provider.ts
  packages/preferences/src/browser/preference-transaction-manager.ts
Labels: bug, preferences

#10899 Implement icon reference rendering for plugin tree view tooltips
  packages/plugin-ext/src/main/browser/style/tree.css
  packages/plugin-ext/src/main/browser/view/tree-view-widget.tsx
Labels: tree, plug-in system

#10918 plugin: align `updateWorkspaceFolders` api signature
  packages/plugin/src/theia.d.ts
Labels: vscode

#10919 plugin: align `addBreakpoints` and `removeBreakpoints` API
  packages/plugin-ext/src/plugin/node/debug/debug.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin/src/theia.d.ts
Labels: vscode, debug

#10905 plugin: align `Task.detail` declaration
  packages/plugin-ext/src/plugin/type-converters.ts
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/plugin/src/theia.d.ts
Labels: tasks, vscode

#10915 plugin: add `replace` method support for `OutputChannel`
  packages/plugin-ext/src/plugin/output-channel/output-channel-item.ts
  packages/plugin/src/theia.d.ts
Labels: vscode

#10930 Attach Open Editors after Navigator
  packages/core/src/browser/view-container.ts
  packages/navigator/src/browser/navigator-widget-factory.ts
Labels: navigator, open-editors

#10921 plugin: add `SourceFixAll` declaration to `CodeActionKind`
  packages/plugin/src/theia.d.ts
Labels: vscode

#10909 monaco: adjust where the monaco menu appears
  packages/monaco/src/browser/monaco-quick-input-service.ts
  packages/monaco/src/browser/style/index.css
Labels: monaco, ui/ux

#10911 Allow override of provider -> context
  packages/preferences/src/browser/abstract-resource-preference-provider.ts
Labels: preferences, extensibility

#10938 Ensure default icon theme is properly applied even if registered late
  packages/core/src/browser/icon-theme-service.ts
Labels: theming

#10947 Load script in body
  dev-packages/application-manager/src/generator/frontend-generator.ts
  doc/Migration.md
Labels: critical

#10945 Support indeterminate progress notifications
  examples/api-samples/src/browser/menu/sample-menu-contribution.ts
  packages/core/src/common/message-service.ts
  packages/messages/src/browser/notification-component.tsx
  packages/messages/src/browser/style/notifications.css
Labels: notifications, progress

#10925 [playwright] Start theia with THEIA_CONFIG_DIR
  examples/playwright/.gitignore
  examples/playwright/package.json
  package.json
Labels: playwright

#10766 Make preference node rendering customizable and provide file selection
  packages/core/src/common/preferences/preference-schema.ts
  packages/external-terminal/src/electron-browser/external-terminal-preference.ts
  packages/preferences/src/browser/style/index.css
  packages/preferences/src/browser/style/preference-file.css
  packages/preferences/src/browser/util/preference-types.ts
  packages/preferences/src/browser/views/components/preference-array-input.ts
  packages/preferences/src/browser/views/components/preference-boolean-input.ts
  packages/preferences/src/browser/views/components/preference-file-input.ts
  packages/preferences/src/browser/views/components/preference-json-input.ts
  packages/preferences/src/browser/views/components/preference-node-renderer-creator.ts
  packages/preferences/src/browser/views/components/preference-node-renderer.ts
  packages/preferences/src/browser/views/components/preference-number-input.ts
  packages/preferences/src/browser/views/components/preference-select-input.ts
  packages/preferences/src/browser/views/components/preference-string-input.ts
  packages/preferences/src/browser/views/preference-editor-widget.ts
  packages/preferences/src/browser/views/preference-widget-bindings.ts
  packages/terminal/src/browser/terminal-preferences.ts
Labels: preferences, proposal

#10950 Use correct colors for problem markers
  packages/core/src/browser/common-frontend-contribution.ts
  packages/markers/src/browser/problem/problem-decorator.ts
  packages/markers/src/browser/problem/problem-tabbar-decorator.ts
Labels: markers, ui/ux

#10948 Update debugging icons
  packages/debug/src/browser/console/debug-console-session.ts
  packages/debug/src/browser/debug-frontend-application-contribution.ts
  packages/debug/src/browser/editor/debug-editor-model.ts
  packages/debug/src/browser/model/debug-breakpoint.tsx
  packages/debug/src/browser/model/debug-function-breakpoint.tsx
  packages/debug/src/browser/model/debug-source-breakpoint.tsx
  packages/debug/src/browser/style/breakpoint-conditional-disabled.svg
  packages/debug/src/browser/style/breakpoint-conditional-unverified.svg
  packages/debug/src/browser/style/breakpoint-conditional.svg
  packages/debug/src/browser/style/breakpoint-disabled.svg
  packages/debug/src/browser/style/breakpoint-function-disabled.svg
  packages/debug/src/browser/style/breakpoint-function-unverified.svg
  packages/debug/src/browser/style/breakpoint-function.svg
  packages/debug/src/browser/style/breakpoint-hint.svg
  packages/debug/src/browser/style/breakpoint-log-disabled.svg
  packages/debug/src/browser/style/breakpoint-log-unverified.svg
  packages/debug/src/browser/style/breakpoint-log.svg
  packages/debug/src/browser/style/breakpoint-unsupported.svg
  packages/debug/src/browser/style/breakpoint-unverified.svg
  packages/debug/src/browser/style/breakpoint.svg
  packages/debug/src/browser/style/breakpoints-activate-inverse.svg
  packages/debug/src/browser/style/breakpoints-activate.svg
  packages/debug/src/browser/style/configure-inverse.svg
  packages/debug/src/browser/style/configure.svg
  packages/debug/src/browser/style/continue-inverse.svg
  packages/debug/src/browser/style/continue.svg
  packages/debug/src/browser/style/current-and-breakpoint.svg
  packages/debug/src/browser/style/current-arrow.svg
  packages/debug/src/browser/style/debug-bright.useable.css
  packages/debug/src/browser/style/debug-dark.svg
  packages/debug/src/browser/style/debug-dark.useable.css
  packages/debug/src/browser/style/index.css
  packages/debug/src/browser/style/pause-inverse.svg
  packages/debug/src/browser/style/pause.svg
  packages/debug/src/browser/style/repl-inverse.svg
  packages/debug/src/browser/style/repl.svg
  packages/debug/src/browser/style/restart-inverse.svg
  packages/debug/src/browser/style/restart.svg
  packages/debug/src/browser/style/stackframe-and-breakpoint.svg
  packages/debug/src/browser/style/stackframe-arrow.svg
  packages/debug/src/browser/style/start-inverse.svg
  packages/debug/src/browser/style/start.svg
  packages/debug/src/browser/style/step-into-inverse.svg
  packages/debug/src/browser/style/step-into.svg
  packages/debug/src/browser/style/step-out-inverse.svg
  packages/debug/src/browser/style/step-out.svg
  packages/debug/src/browser/style/step-over-inverse.svg
  packages/debug/src/browser/style/step-over.svg
  packages/debug/src/browser/style/stop-inverse.svg
  packages/debug/src/browser/style/stop.svg
Labels: debug, ui/ux

#10910 Separate debug configuration providers from debug adapter contributors
  .gitignore
  CHANGELOG.md
  packages/debug/src/browser/debug-configuration-manager.ts
  packages/debug/src/browser/debug-prefix-configuration.ts
  packages/debug/src/common/debug-service.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/debug/debug-main.ts
  packages/plugin-ext/src/main/browser/debug/plugin-debug-adapter-contribution.ts
  packages/plugin-ext/src/main/browser/debug/plugin-debug-configuration-provider.ts
  packages/plugin-ext/src/main/browser/debug/plugin-debug-service.ts
  packages/plugin-ext/src/plugin/node/debug/debug.ts
Labels: debug

#10917 Keep current configuration when executing a dynamic configuration
  packages/debug/src/browser/debug-prefix-configuration.ts
Labels: debug

#10946 Translate monaco using default keys
  examples/api-samples/src/browser/monaco-editor-preferences/monaco-editor-preference-extractor.ts
  packages/core/src/common/nls.ts
  packages/editor/src/browser/editor-generated-preference-schema.ts
  packages/editor/src/browser/editor-preferences.ts
  packages/monaco/src/browser/monaco-frontend-module.ts
  packages/plugin-ext/src/hosted/browser/hosted-plugin.ts
Labels: monaco, localization

#10963 Ensure previous transaction has saved before checking for dirty
  packages/preferences/src/browser/abstract-resource-preference-provider.ts
  packages/preferences/src/browser/preference-frontend-module.ts
  packages/preferences/src/browser/preference-transaction-manager.ts
Labels: preferences

#10962 monaco: fix styling of toggled commands
  packages/monaco/src/browser/style/index.css
Labels: monaco, ui/ux

#10966 Update translations for Theia 1.24.0
  packages/core/i18n/nls.cs.json
  packages/core/i18n/nls.de.json
  packages/core/i18n/nls.es.json
  packages/core/i18n/nls.fr.json
  packages/core/i18n/nls.hu.json
  packages/core/i18n/nls.it.json
  packages/core/i18n/nls.ja.json
  packages/core/i18n/nls.json
  packages/core/i18n/nls.pl.json
  packages/core/i18n/nls.pt-br.json
  packages/core/i18n/nls.pt-pt.json
  packages/core/i18n/nls.ru.json
  packages/core/i18n/nls.zh-cn.json
Labels: localization

#10965 Ensure that old values aren't cached inappropriately
  packages/core/src/browser/preferences/preference-proxy.spec.ts
  packages/core/src/browser/preferences/validated-preference-proxy.ts
Labels: bug, preferences

#10971 Correct Handling of Plugin QuickPick selections
  packages/monaco/src/browser/monaco-quick-input-service.ts
Labels: vscode

#10972 docs: update changelog for `v1.24.0`
  CHANGELOG.md
Labels: documentation
