Repository eclipse-theia/theia, pull requests merged in 2022-07, with the labels that each got.

#11388 Fix browser freezing when executing child debug
  packages/debug/src/browser/debug-session.tsx
Labels: debug

#11338 Unload language pack correctly
  packages/core/src/browser/preloader.ts
  packages/core/src/node/i18n/localization-provider.ts
  packages/plugin-ext/src/hosted/node/hosted-plugin-deployer-handler.ts
  packages/plugin-ext/src/hosted/node/hosted-plugin-localization-service.ts
  packages/plugin-ext/src/hosted/node/plugin-ext-hosted-backend-module.ts
Labels: localization

#11395 Map 'workbench.action.saveWorkspaceAs' to SAVE_WORKSPACE_AS
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
Labels: vscode

#11396 Ensure proper null-value encoding in new RPC
  packages/core/src/common/message-rpc/rpc-message-encoder.ts
Labels: messaging

#11410 Ensure model disposed after saving
  packages/preferences/src/browser/preference-transaction-manager.ts
Labels: bug, preferences

#11331 Uplift Monaco to VSCode 1.67.2
  examples/api-samples/package.json
  packages/bulk-edit/package.json
  packages/console/package.json
  packages/core/src/common/color.ts
  packages/debug/package.json
  packages/debug/src/browser/editor/debug-inline-value-decorator.ts
  packages/editor/src/browser/editor-generated-preference-schema.ts
  packages/git/package.json
  packages/keymaps/package.json
  packages/monaco/README.md
  packages/monaco/package.json
  packages/monaco/src/browser/monaco-color-registry.ts
  packages/monaco/src/browser/monaco-diff-editor.ts
  packages/monaco/src/browser/monaco-editor.ts
  packages/monaco/src/browser/monaco-frontend-application-contribution.ts
  packages/monaco/src/browser/monaco-indexed-db.ts
  packages/monaco/src/browser/monaco-quick-input-service.ts
  packages/monaco/src/browser/monaco-text-model-service.ts
  packages/monaco/src/browser/textmate/monaco-textmate-frontend-bindings.ts
  packages/monaco/src/browser/textmate/monaco-textmate-service.ts
  packages/monaco/src/browser/textmate/monaco-theme-registry.ts
  packages/monaco/src/browser/textmate/monaco-theme-types.ts
  packages/output/package.json
  packages/plugin-ext-vscode/package.json
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
  packages/plugin-ext/package.json
  packages/plugin-ext/src/common/plugin-protocol.ts
  packages/plugin-ext/src/main/browser/languages-main.ts
  packages/plugin-ext/src/main/browser/plugin-contribution-handler.ts
  packages/plugin-metrics/package.json
  packages/preferences/package.json
  packages/preferences/src/browser/folders-preferences-provider.ts
  packages/task/package.json
  packages/toolbar/package.json
  yarn.lock
Labels: monaco, dependencies

#11409 Fix for #11401
  packages/filesystem/src/common/files.spec.ts
  packages/filesystem/src/common/files.ts
Labels: filesystem, file-watchers

#11406 handle user cancellation for variables
  packages/debug/src/browser/debug-session-manager.ts
  packages/task/src/browser/process/process-task-resolver.ts
  packages/variable-resolver/src/browser/common-variable-contribution.ts
  packages/variable-resolver/src/browser/variable-resolver-service.spec.ts
  packages/variable-resolver/src/browser/variable-resolver-service.ts
  packages/variable-resolver/src/browser/variable.ts
Labels: variable-resolver

#11411 Speed up lsof on macOS
  packages/process/src/node/process.ts
Labels: OS/Mac, process

#11400 file-search: fix test case
  packages/file-search/src/node/file-search-service-impl.spec.ts
Labels: file search, test

#11416 monaco: update `tokenization`
  packages/monaco/src/browser/textmate/textmate-tokenizer.ts
Labels: monaco

#11426 Added activeParameter to SignatureInformation
  packages/plugin-ext/src/common/plugin-api-rpc-model.ts
  packages/plugin-ext/src/plugin/languages/signature.ts
  packages/plugin-ext/src/plugin/type-converters.ts
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/plugin/src/theia.d.ts
Labels: vscode

#11433 Provide all selected URIs for command execution
  packages/plugin-ext/src/main/browser/menus/plugin-menu-command-adapter.ts
Labels: vscode

#11408 markers: update problem-widget rendering
  packages/markers/src/browser/problem/problem-widget.tsx
Labels: markers, problems

#11418 plugin: support `title` in `QuickPickOptions`
  packages/core/src/common/quick-pick-service.ts
  packages/plugin-ext/src/plugin/quick-open.ts
  packages/plugin/src/theia.d.ts
Labels: vscode

#11422 core: update `caption` for `ViewContainer`
  packages/core/src/browser/view-container.ts
Labels: ui/ux

#11113 repo: update builtins
  package.json
Labels: builtins

#11429 explorer: update toolbar items for `new file` and `new folder`
  CHANGELOG.md
  packages/core/src/browser/common-frontend-contribution.ts
  packages/navigator/src/browser/navigator-contribution.ts
  packages/workspace/src/browser/workspace-commands.ts
Labels: navigator

#11434 Add original labels for monaco commands
  packages/monaco/src/browser/monaco-command.ts
Labels: monaco, localization

#11439 ci: update macos version to `latest`
  .github/workflows/ci-cd.yml
Labels: OS/Mac, ci

#10926 10011: Add DebugProtocolSource and DebugProtocolBreakpoint
  CHANGELOG.md
  packages/debug/src/browser/debug-session.tsx
  packages/debug/src/browser/model/debug-source.ts
  packages/debug/src/common/debug-uri-utils.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/debug/debug-main.ts
  packages/plugin-ext/src/plugin/debug/debug-ext.ts
  packages/plugin-ext/src/plugin/debug/plugin-debug-adapter-session.ts
  packages/plugin-ext/src/plugin/node/debug/debug.spec.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/plugin/src/theia.d.ts
Labels: vscode

#11445 Update `dugite-extra` to 0.1.16
  packages/git/package.json
  yarn.lock
Labels: git, dependencies

#11450 Ensure WidgetManager creates same key for objects that are deep equal
  packages/core/package.json
  packages/core/src/browser/widget-manager.spec.ts
  packages/core/src/browser/widget-manager.ts
  yarn.lock
Labels: core

#11441 debug: add ability to dismiss exception widgets
  packages/debug/src/browser/editor/debug-exception-widget.tsx
  packages/debug/src/browser/style/index.css
Labels: debug

#11453 Only show "New File/Folder" on folders
  packages/navigator/src/browser/navigator-contribution.ts
Labels: navigator

#11456 siw: update `find in folder` menu to only apply for folders
  packages/search-in-workspace/src/browser/search-in-workspace-frontend-contribution.ts
Labels: navigator, search in workspace

#11437 Implement automatic translation updates
  .github/workflows/translation.yml
  dev-packages/localization-manager/src/localization-manager.spec.ts
  dev-packages/localization-manager/src/localization-manager.ts
  packages/core/i18n/nls.cs.json
  packages/core/i18n/nls.de.json
  packages/core/i18n/nls.es.json
  packages/core/i18n/nls.fr.json
  packages/core/i18n/nls.hu.json
  packages/core/i18n/nls.it.json
  packages/core/i18n/nls.ja.json
  packages/core/i18n/nls.json
  packages/core/i18n/nls.pl.json
  packages/core/i18n/nls.pt-br.json
  packages/core/i18n/nls.pt-pt.json
  packages/core/i18n/nls.ru.json
  packages/core/i18n/nls.zh-cn.json
  scripts/translate-monaco.js
  scripts/translation-update.js
Labels: ci, localization

#11461 deps: yarn upgrade
  yarn.lock
Labels: dependencies

#11465 Harmonize definition of `LocationLink` with VSCode
  packages/plugin/src/theia.d.ts
Labels: vscode

#11467 Fix command variable returning undefined
  packages/variable-resolver/src/browser/common-variable-contribution.ts
Labels: variable-resolver

#11449 terminal: buffer the output before sending
  packages/terminal/src/node/buffering-stream.spec.ts
  packages/terminal/src/node/buffering-stream.ts
  packages/terminal/src/node/terminal-backend-contribution.ts
Labels: terminal

#11417 plugin: remove `deploy plugin by id` command
  CHANGELOG.md
  packages/plugin-ext/src/main/browser/plugin-ext-deploy-command.ts
  packages/plugin-ext/src/main/browser/plugin-ext-frontend-module.ts
  packages/plugin-ext/src/main/browser/plugin-frontend-contribution.ts
Labels: plug-in system

#11466 Move plugins to user folder during resolution
  CHANGELOG.md
  packages/plugin-ext-vscode/src/node/local-vsix-file-plugin-deployer-resolver.ts
  packages/plugin-ext-vscode/src/node/plugin-vscode-backend-module.ts
  packages/plugin-ext-vscode/src/node/plugin-vscode-file-handler.ts
  packages/plugin-ext/src/main/node/handlers/plugin-theia-file-handler.ts
  packages/plugin-ext/src/main/node/plugin-ext-backend-module.ts
  packages/plugin-ext/src/main/node/resolvers/local-file-plugin-deployer-resolver.ts
  packages/plugin-ext/src/main/node/resolvers/local-plugin-deployer-resolver.ts
  packages/vsx-registry/src/node/vsx-extension-resolver.ts
Labels: plug-in system, open-vsx

#11454 Add errors handling for plugins downloading
  dev-packages/cli/src/download-plugins.ts
Labels: vsx-registry

#11457 vsx: display error message when failing to fetch
  dev-packages/request/src/common-request-service.ts
  packages/core/i18n/nls.cs.json
  packages/core/i18n/nls.de.json
  packages/core/i18n/nls.es.json
  packages/core/i18n/nls.fr.json
  packages/core/i18n/nls.hu.json
  packages/core/i18n/nls.it.json
  packages/core/i18n/nls.ja.json
  packages/core/i18n/nls.json
  packages/core/i18n/nls.pl.json
  packages/core/i18n/nls.pt-br.json
  packages/core/i18n/nls.pt-pt.json
  packages/core/i18n/nls.ru.json
  packages/core/i18n/nls.zh-cn.json
  packages/core/src/browser/style/alert-messages.css
  packages/vsx-registry/src/browser/vsx-extensions-source.ts
  packages/vsx-registry/src/browser/vsx-extensions-widget.tsx
Labels: vsx-registry

#11428 Pass `StopReason` to `OnWillStopAction` methods
  packages/core/src/browser/frontend-application.ts
  packages/core/src/browser/shell/shell-layout-restorer.ts
  packages/core/src/browser/window/default-window-service.ts
  packages/core/src/browser/window/window-service.ts
  packages/core/src/common/frontend-application-state.ts
  packages/core/src/electron-browser/window/electron-window-service.ts
  packages/core/src/electron-common/messaging/electron-messages.ts
  packages/workspace/src/browser/workspace-frontend-contribution.ts
  packages/workspace/src/browser/workspace-service.ts
Labels: core, workspace

#11476 lint: add `no-unreachable` eslint rule
  configs/errors.eslintrc.json
Labels: quality, linting

#11480 Hide toolbars on inactive tabbars
  packages/core/src/browser/style/tabs.css
Labels: vscode, ui/ux

#11486 Ensure download directory exists
  packages/vsx-registry/src/node/vsx-extension-resolver.ts
Labels: open-vsx
