Repository eclipse-theia/theia, pull requests merged in 2022-09, with the labels that each got.

#11623 [vscode] Support Terminal#creationOptions #11138
  packages/plugin-ext/src/plugin/terminal-ext.ts
  packages/plugin/src/theia.d.ts
Labels: terminal, vscode

#11637 Improve localization of `vsx-registry` package
  packages/memory-inspector/src/browser/wrapper-widgets/memory-layout-widget.tsx
  packages/terminal/src/browser/terminal-frontend-module.ts
  packages/vsx-registry/src/browser/vsx-extensions-contribution.ts
Labels: localization

#11634 open-editors: fix toolbar enablement and updates
  packages/navigator/src/browser/navigator-contribution.ts
Labels: open-editors

#11635 Add `index` to unstage command
  packages/git/src/browser/git-scm-provider.ts
Labels: git

#11655 fix EventEmitter.fire signature
  packages/plugin/src/theia.d.ts
Labels: vscode

#11611 Organize `edt` quickpick entries by areas and groups
  packages/core/src/browser/label-provider.ts
  packages/core/src/browser/shell/application-shell.ts
  packages/editor/src/browser/quick-editor-service.ts
  packages/file-search/src/browser/quick-file-open.ts
  packages/navigator/src/browser/open-editors-widget/navigator-open-editors-tree-model.ts
  packages/navigator/src/browser/open-editors-widget/navigator-open-editors-widget.tsx
  packages/workspace/src/browser/workspace-uri-contribution.ts
Labels: editor

#11649 add missing deprecated show overload
  packages/plugin-ext/src/plugin/output-channel/output-channel-item.ts
  packages/plugin/src/theia.d.ts
Labels: vscode, output

#11660 vscode: fix partial errors with `Position`
  packages/plugin/src/theia.d.ts
Labels: vscode

#11653 [CI] Reduce repo size by auto-trimming `gh-pages` branch
  .github/workflows/ci-cd.yml
Labels: git, ci, contributor experience

#11661 vscode: add support for `MarkdownString` tooltips
  packages/plugin/src/theia.d.ts
Labels: tree, vscode

#11641 vscode: Support `TerminalOptions.strictEnv`
  packages/plugin-ext/src/main/browser/terminal-main.ts
  packages/plugin/src/theia.d.ts
  packages/terminal/src/browser/base/terminal-widget.ts
  packages/terminal/src/browser/terminal-widget-impl.ts
  packages/terminal/src/common/shell-terminal-protocol.ts
  packages/terminal/src/node/shell-process.ts
  packages/terminal/src/node/shell-terminal-server.ts
Labels: terminal, vscode

#11622 Tab bar - Add suffix to hidden tab bar 'li' elements
  packages/core/src/browser/shell/tab-bars.ts
Labels: core

#11615 [output]: Made editor and model factory customizable
  packages/output/src/browser/output-frontend-module.ts
Labels: extensibility

#11599 custom-editors: Fix the issue: Auto Save on Binary Custom Editor does not work correctly
  packages/plugin-ext/src/main/browser/custom-editors/custom-editors-main.ts
Labels: custom-editor

#11593 custom-editor: fix closing dirty custom text editor issue
  packages/plugin-ext/src/main/browser/custom-editors/custom-editors-main.ts
Labels: custom-editor

#11680 Update typing TreeDataProvider.onDidChangeTreeData
  packages/plugin-ext/src/plugin/tree/tree-views.ts
  packages/plugin/src/theia.d.ts
Labels: quality, tree

#11667 vscode: fix partial support in `theia.d.ts`
  packages/plugin-ext/src/plugin/webview-views.ts
  packages/plugin/src/theia.d.ts
Labels: vscode

#11682 Localize 'Hide' command for view containers
  packages/core/src/browser/view-container.ts
Labels: localization

#11609 process: fix `env` when building commands
  packages/process/src/common/shell-command-builder.ts
Labels: process

#11671 markers: update problem decorations
  packages/markers/src/browser/problem/problem-utils.ts
Labels: navigator, problems

#11674 git: re-add support for git decoration preferences
  packages/git/src/browser/git-decoration-provider.ts
  packages/git/src/browser/git-preferences.ts
Labels: git, navigator

#10916 Add a title for custom title bar style
  packages/core/src/browser/core-preferences.ts
  packages/core/src/browser/frontend-application-module.ts
  packages/core/src/browser/shell/theia-dock-panel.ts
  packages/core/src/browser/window/window-title-service.ts
  packages/core/src/browser/window/window-title-updater.ts
  packages/core/src/electron-browser/menu/electron-menu-contribution.ts
  packages/core/src/electron-browser/menu/electron-menu-module.ts
  packages/core/src/electron-browser/menu/electron-menu-style.css
  packages/plugin-dev/src/browser/hosted-plugin-informer.ts
  packages/preferences/src/browser/style/index.css
  packages/preferences/src/browser/views/components/preference-node-renderer.ts
  packages/workspace/src/browser/workspace-frontend-module.ts
  packages/workspace/src/browser/workspace-service.ts
  packages/workspace/src/browser/workspace-window-title-updater.ts
Labels: electron, shell

#11650 vscode: add `buttons` support for `QuickPickItem`
  packages/core/src/common/quick-pick-service.ts
  packages/monaco/src/browser/style/index.css
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/quick-open-main.ts
  packages/plugin-ext/src/plugin/quick-open.ts
  packages/plugin-ext/src/plugin/type-converters.ts
  packages/plugin/src/theia.d.ts
Labels: vscode

#11678 Improve theme preference selection
  packages/core/src/browser/core-preferences.ts
  packages/core/src/browser/icon-theme-service.ts
  packages/core/src/browser/preferences/preference-contribution.ts
  packages/core/src/browser/theming.ts
  packages/core/src/common/json-schema.ts
  packages/preferences/src/browser/views/components/preference-select-input.ts
  packages/preferences/src/browser/views/preference-editor-widget.ts
Labels: preferences, theming

#11658 Support cancellation on plugin file events
  packages/core/src/common/event.ts
  packages/core/src/common/progress-service.ts
  packages/filesystem/src/browser/file-service.ts
  packages/plugin-ext/src/plugin/file-system-event-service-ext-impl.ts
  packages/plugin/src/theia.d.ts
Labels: filesystem, vscode

#11691 getting-started: add api compatibility report link
  packages/getting-started/src/browser/getting-started-widget.tsx
Labels: getting-started

#11696 vscode: add support for `onDidChangeFoldingRanges`
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/languages-main.ts
  packages/plugin-ext/src/plugin/languages.ts
  packages/plugin-metrics/src/browser/plugin-metrics-languages-main.ts
  packages/plugin/src/theia.d.ts
Labels: vscode

#11693 11685: Restore cancellation token behavior
  packages/core/src/common/message-rpc/rpc-protocol.ts
Labels: jsonrpc

#11629 fix some localization
  packages/core/i18n/nls.zh-cn.json
  packages/vsx-registry/src/browser/vsx-extensions-contribution.ts
Labels: localization

#11722 core: fix `about` dialog `nls`
  packages/core/src/browser/about-dialog.tsx
Labels: localization

#11724 getting-started: fix comparator localization
  packages/getting-started/src/browser/getting-started-widget.tsx
Labels: localization

#11721 docs: update changelog for `v1.30.0`
  CHANGELOG.md
Labels: documentation

#11714 Add opaque wrapper for notification items
  packages/messages/src/browser/notification-component.tsx
  packages/messages/src/browser/notifications-contribution.ts
  packages/messages/src/browser/style/notifications.css
Labels: notifications, theming

#11711 Improve editor preference dendrification
  packages/monaco/src/browser/monaco-editor-provider.ts
  packages/monaco/src/browser/monaco-editor.ts
Labels: monaco
