Repository eclipse-theia/theia, pull requests merged in 2022-12, with the labels that each got.

#11927 Corrected issue regarding browser validation message for float number inputs
  packages/preferences/src/browser/views/components/preference-number-input.ts
Labels: preferences

#11944 Add Support for `TaskGroup.id` and `TaskGroup.isDefault`
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/tasks-main.ts
  packages/plugin-ext/src/plugin/type-converters.spec.ts
  packages/plugin-ext/src/plugin/type-converters.ts
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/plugin/src/theia.d.ts
  packages/task/src/common/task-protocol.ts
Labels: tasks, vscode

#10463 Integrate Performance Tests in CI
  .github/workflows/performance-tests.yml
  .gitignore
  CHANGELOG.md
  scripts/performance/browser-performance.js
  scripts/performance/common-performance.js
  scripts/performance/electron-performance.js
Labels: performance, ci

#11945 ci: replace `xvfb` action
  .github/workflows/ci-cd.yml
Labels: ci

#11607 [debug] Wait for debugger capabilities initialization before breakpoint update
  packages/debug/src/browser/debug-session.tsx
Labels: vscode, debug

#11957 Fix tab top border
  packages/core/src/browser/common-styling-participants.ts
Labels: theming

#11956 Allow to remove watch expressions one by one
  packages/core/src/browser/source-tree/source-tree-widget.tsx
  packages/core/src/browser/style/tree.css
  packages/debug/src/browser/style/index.css
  packages/debug/src/browser/view/debug-view-model.ts
  packages/debug/src/browser/view/debug-watch-expression.tsx
Labels: debug, ui/ux

#11953 debug: fix `watch` expression errors
  packages/debug/src/browser/style/index.css
  packages/debug/src/browser/view/debug-watch-expression.tsx
Labels: debug

#11901 vscode: add support for inline completions
  packages/plugin-ext/src/common/plugin-api-rpc-model.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/common/reference-map.ts
  packages/plugin-ext/src/main/browser/languages-main.ts
  packages/plugin-ext/src/plugin/languages.ts
  packages/plugin-ext/src/plugin/languages/inline-completion.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/plugin/src/theia.d.ts
Labels: vscode, CQ Required

#11589 vscode: add `hcLight` support
  packages/core/src/browser/common-frontend-contribution.ts
  packages/core/src/browser/theming.ts
  packages/core/src/common/theme.ts
  packages/debug/src/browser/debug-frontend-application-contribution.ts
  packages/git/src/browser/git-contribution.ts
  packages/messages/src/browser/notifications-contribution.ts
  packages/monaco/data/monaco-themes/vscode/hc_light.json
  packages/monaco/data/monaco-themes/vscode/hc_theia_light.json
  packages/monaco/src/browser/textmate/monaco-theme-registry.ts
  packages/plugin-ext/src/plugin/theming.ts
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/plugin/src/theia.d.ts
  packages/scm/src/browser/scm-contribution.ts
  packages/terminal/src/browser/terminal-frontend-contribution.ts
  packages/terminal/src/browser/terminal-theme-service.ts
  packages/vsx-registry/src/browser/vsx-extensions-contribution.ts
Labels: theming, vscode

#11926 Added sticky scroll view toggle and command toggle
  packages/editor/src/browser/editor-command.ts
  packages/editor/src/browser/editor-menu.ts
  packages/editor/src/browser/editor-navigation-contribution.ts
Labels: editor

#11993 [vscode] Stub vscode 'Notebook' API
  CHANGELOG.md
  packages/plugin-ext/src/common/plugin-api-rpc-model.ts
  packages/plugin-ext/src/plugin/languages.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/plugin/src/theia.d.ts
Labels: vscode, notebook

#11983 [vscode] Add `WebviewOptions.enableForms`
  CHANGELOG.md
  packages/plugin-ext/src/main/browser/custom-editors/custom-editors-main.ts
  packages/plugin-ext/src/main/browser/webview/pre/main.js
  packages/plugin-ext/src/main/browser/webview/webview.ts
  packages/plugin-ext/src/main/browser/webviews-main.ts
  packages/plugin/src/theia.d.ts
Labels: vscode, webviews

#12003 plugin: fix `notebook` stubs
  packages/plugin-ext/src/plugin/plugin-context.ts
Labels: vscode, notebook

#12013 docs: update changelog for `1.33.0`
  CHANGELOG.md
Labels: documentation

#11999 scm: add support for `strikeThrough`
  packages/git/src/browser/git-scm-provider.ts
  packages/git/src/common/git-model.ts
  packages/scm/src/browser/scm-provider.ts
  packages/scm/src/browser/scm-tree-widget.tsx
Labels: git, vscode, scm

#12012 Update vscode-languageserver-protocol version
  packages/core/README.md
  packages/core/package.json
  yarn.lock
Labels: lsp, core, dependencies
