Repository eclipse-theia/theia, pull requests merged in 2023-08, with the labels that each got.

#12790 Reuse markdown instance for preferences widget
  packages/preferences/src/browser/views/components/preference-markdown-renderer.ts
  packages/preferences/src/browser/views/components/preference-node-renderer.ts
  packages/preferences/src/browser/views/preference-widget-bindings.ts
Labels: preferences, performance

#12698 deps: perform `yarn upgrade`
  dependency-check-baseline.json
  dev-packages/application-manager/package.json
  dev-packages/application-package/package.json
  dev-packages/cli/package.json
  dev-packages/ovsx-client/package.json
  dev-packages/private-re-exports/package.json
  lerna.json
  package.json
  packages/core/package.json
  packages/plugin-ext/package.json
  packages/vsx-registry/package.json
  yarn.lock
Labels: quality, security, dependencies

#12783 navigator: handle middle-click behavior
  packages/core/src/browser/tree/tree-widget.tsx
Labels: navigator

#12795 Add localization for empty navigator
  packages/navigator/src/browser/navigator-widget.tsx
Labels: navigator, localization

#12761 terminal: Windows .exe compatibility for VSCode
  packages/process/src/node/terminal-process.spec.ts
  packages/process/src/node/terminal-process.ts
Labels: terminal, OS/Windows

#12758 A VS Code extension configurationDefault does not work #12713
  packages/core/src/browser/preferences/preference-contribution.ts
  packages/plugin-ext/src/main/browser/plugin-contribution-handler.ts
  packages/preferences/src/browser/views/components/preference-select-input.ts
Labels: preferences, vscode

#12785 feat: can rebind the monaco editor command handler
  packages/monaco/src/browser/monaco-frontend-module.ts
Labels: monaco, extensibility

#12770 Ensure we keep task type and properly support custom execution
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/tasks-main.ts
  packages/plugin-ext/src/plugin/tasks/task-provider.ts
  packages/plugin-ext/src/plugin/tasks/tasks.ts
  packages/task/src/browser/task-definition-registry.ts
Labels: tasks, vscode

#12827 Fix plugin menu icon background on hover
  packages/plugin-ext/src/main/browser/plugin-shared-style.ts
Labels: plug-in system, ui/ux, menus

#12806 Style: close icon highlights on tab hover
  packages/core/src/browser/style/tabs.css
Labels: ui/ux

#12835 repo: add `js-debug` and `js-debug-companion` builtins
  doc/Migration.md
  package.json
Labels: debug, builtins

#12801 tree: fix right-clicking tree nodes bug
  packages/core/src/browser/tree/tree-widget.tsx
Labels: bug, tree

#12763 plugins: view/title menus in all dock panel views
  packages/plugin-ext/src/main/browser/menus/menus-contribution-handler.ts
Labels: vscode, menus

#12837 fix scm history going out of sync after commit (with fixed avatar cache)
  packages/scm-extra/src/browser/history/scm-history-widget.tsx
Labels: scm

#12819 Added the file/newFile menu including menu entries
  examples/playwright/src/tests/theia-main-menu.test.ts
  packages/core/src/browser/common-frontend-contribution.ts
  packages/core/src/browser/window-contribution.ts
  packages/workspace/src/browser/workspace-commands.ts
Labels: vscode, menus

#12814 Submenu contribution to editor/title and view/title not working #12706
  packages/core/src/browser/context-menu-renderer.ts
  packages/core/src/browser/menu/browser-context-menu-renderer.ts
  packages/core/src/browser/menu/browser-menu-plugin.ts
  packages/core/src/browser/shell/tab-bar-toolbar/tab-bar-toolbar.tsx
  packages/core/src/browser/style/tabs.css
  packages/core/src/common/menu/menu-model-registry.ts
  packages/core/src/electron-browser/menu/electron-context-menu-renderer.ts
  packages/core/src/electron-browser/menu/electron-main-menu-factory.ts
Labels: vscode, menus

#12817 docs: update publishing documentation
  doc/Publishing.md
Labels: documentation

#12843 playwright: Update to latest versions and add new page objects
  examples/playwright/package.json
  examples/playwright/src/tests/theia-explorer-view.test.ts
  examples/playwright/src/theia-explorer-view.ts
  examples/playwright/src/theia-tree-node.ts
  yarn.lock
Labels: dependencies, playwright

#12797 Bundle `trash` dependency helpers in backend
  dev-packages/native-webpack-plugin/src/native-webpack-plugin.ts
Labels: filesystem

#12836 Implement VS Code tree view checkbox API.
  CHANGELOG.md
  packages/core/src/browser/tree/tree-model.ts
  packages/core/src/browser/tree/tree-widget.tsx
  packages/core/src/browser/tree/tree.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/view/tree-view-widget.tsx
  packages/plugin-ext/src/main/browser/view/tree-views-main.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/tree/tree-views.ts
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/plugin/src/theia.d.ts
Labels: vscode

#12838 [vscode] Support EnvironmentVariableCollection description #12696
  packages/core/src/browser/shell/tab-bars.ts
  packages/core/src/browser/widgets/enhanced-preview-widget.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/terminal-main.ts
  packages/plugin-ext/src/plugin/terminal-ext.ts
  packages/plugin-ext/src/plugin/type-converters.ts
  packages/plugin/src/theia.d.ts
  packages/terminal/src/browser/base/terminal-widget.ts
  packages/terminal/src/browser/terminal-frontend-contribution.ts
  packages/terminal/src/browser/terminal-widget-impl.ts
  packages/terminal/src/common/base-terminal-protocol.ts
  packages/terminal/src/node/base-terminal-server.ts
Labels: vscode

#12805 Ensure contributed problem patterns are found correctly
  packages/task/src/browser/task-configurations.ts
  packages/task/src/browser/task-problem-matcher-registry.ts
  packages/task/src/browser/task-problem-pattern-registry.ts
  packages/task/src/browser/task-schema-updater.ts
  packages/task/src/browser/task-service.ts
  packages/task/src/common/index.ts
  packages/task/src/common/task-util.ts
Labels: tasks

#12711 Move from node `16` to node `>=18`
  .github/workflows/ci-cd.yml
  .github/workflows/license-check.yml
  .github/workflows/performance-tests.yml
  .github/workflows/playwright.yml
  .github/workflows/publish-gh-pages.yml
  .github/workflows/translation.yml
  .gitpod.dockerfile
  CHANGELOG.md
  dev-packages/application-manager/src/generator/backend-generator.ts
  dev-packages/cli/src/run-test.ts
  doc/Developing.md
  doc/runtime-policy.md
  package.json
  packages/core/src/node/backend-application.ts
  packages/core/src/node/logger-cli-contribution.spec.ts
  packages/core/src/node/main.ts
  packages/plugin-ext/package.json
  packages/plugin-ext/src/typings/index.d.ts
  yarn.lock
Labels: ci, dependencies, potentially-breaking

#12812 Capture stopwatch results
  packages/core/src/browser/performance/frontend-stopwatch.ts
  packages/core/src/common/performance/measurement.ts
  packages/core/src/common/performance/stopwatch.ts
  packages/core/src/node/performance/node-stopwatch.ts
  packages/metrics/package.json
  packages/metrics/src/browser/metrics-frontend-application-contribution.ts
  packages/metrics/src/browser/metrics-frontend-module.ts
  packages/metrics/src/common/index.ts
  packages/metrics/src/common/measurement-notification-service.ts
  packages/metrics/src/node/measurement-metrics-contribution.ts
  packages/metrics/src/node/metrics-backend-module.ts
Labels: metrics

#12866 Bump API version to 1.80.0
  dev-packages/application-package/src/api.ts
Labels: vscode

#12875 Update nls metadata to vscode version 1.80.0
  packages/core/src/common/i18n/nls.metadata.json
  packages/editor/src/browser/editor-widget-factory.ts
  packages/filesystem/src/browser/file-service.ts
  packages/filesystem/src/browser/filesystem-preferences.ts
Labels: localization

#12433 Fix unhandled promise rejection during git operations
  packages/git/src/node/git-repository-manager.ts
Labels: git

#12804 tabbar: support icon-less items
  packages/core/src/browser/label-parser.spec.ts
  packages/core/src/browser/label-parser.ts
  packages/core/src/browser/shell/tab-bar-toolbar/tab-bar-toolbar.tsx
  packages/core/src/browser/style/tabs.css
Labels: vscode, ui/ux, toolbar

#12813 implement workbench: startup editor preference
  CHANGELOG.md
  packages/getting-started/package.json
  packages/getting-started/src/browser/getting-started-contribution.ts
  packages/getting-started/src/browser/getting-started-preferences.ts
  packages/getting-started/src/browser/getting-started-widget.tsx
  packages/getting-started/tsconfig.json
Labels: preferences

#12627 Fix for #12605: Edits made to watch expressions are not immediately shown when there is no debug session
  packages/debug/src/browser/view/debug-watch-expression.tsx
Labels: debug

#12577 workspace: fix untitled file-saving
  packages/core/src/browser/common-frontend-contribution.ts
Labels: core, workspace

#12857 getting-started: fixed `open folder` link
  packages/getting-started/src/browser/getting-started-widget.tsx
Labels: getting-started

#12886 docs: update changelog for `1.41.0`
  CHANGELOG.md
Labels: documentation
