Repository eclipse-theia/theia, pull requests merged in 2023-03, with the labels that each got.

#12188 outline: add 'expand-all' toolbar item
  packages/outline-view/src/browser/outline-view-contribution.ts
  packages/outline-view/src/browser/outline-view-tree-model.ts
  packages/outline-view/src/browser/outline-view-widget.tsx
Labels: outline

#12242 workspace: update add and remove folder handling
  packages/workspace/src/browser/workspace-commands.ts
Labels: quality, multi-root

#12244 dialog: add `placeholder` option
  packages/core/src/browser/dialogs.ts
  packages/debug/src/browser/console/debug-console-items.tsx
  packages/debug/src/browser/view/debug-watch-expression.tsx
  packages/workspace/src/browser/workspace-commands.ts
Labels: dialogs

#12224 Reduce plugin logging to debug level
  packages/plugin-ext-vscode/src/node/plugin-vscode-directory-handler.ts
  packages/plugin-ext/src/hosted/browser/hosted-plugin.ts
  packages/plugin-ext/src/hosted/node/hosted-plugin-deployer-handler.ts
  packages/plugin-ext/src/hosted/node/plugin-host-rpc.ts
  packages/plugin-ext/src/main/node/handlers/plugin-theia-directory-handler.ts
Labels: plug-in system

#12249 Improve Breakpoint Decoration Rendering
  packages/debug/src/browser/editor/debug-editor-model.ts
  packages/debug/src/browser/editor/debug-editor-service.ts
Labels: debug

#12225 terminal: Spawning Speed issue fix
  packages/terminal/src/browser/terminal-frontend-contribution.ts
Labels: terminal

#12254 style: Dialog style streamline
  packages/core/src/browser/style/dialog.css
Labels: dialogs, ui/ux

#12265 core: fallback to `applicationName`
  packages/core/src/browser/window/window-title-service.ts
Labels: core, ui/ux

#12277 [plugin system] Add stubbed support for proposed extensions.allAcross ExtensionHosts and related APIs
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin/src/theia-proposed.d.ts
Labels: plug-in system

#12248 playwright: cleanup build process
  .github/workflows/playwright.yml
  examples/playwright/docs/DEVELOPING.md
  examples/playwright/package.json
Labels: playwright

#12286 [CI] Increase memory for failing Pre-docs-Publish workflow step
  .github/workflows/ci-cd.yml
Labels: ci

#12283 Use vscode builtin extensions v1.70.2
  examples/api-tests/src/typescript.spec.js
  package.json
Labels: test, builtins

#10338 Debug variable nodes kept expanded while stepping
  packages/core/src/browser/source-tree/source-tree.ts
  packages/debug/src/browser/debug-variables-source-tree.ts
  packages/debug/src/browser/debug-variables-tree-model.ts
  packages/debug/src/browser/view/debug-variables-source.ts
  packages/debug/src/browser/view/debug-variables-widget.ts
Labels: tree, debug

#12293 [vscode] Support TerminalExitReason
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/terminal-ext.ts
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/plugin/src/theia.d.ts
  packages/terminal/src/browser/base/terminal-widget.ts
  packages/terminal/src/browser/terminal-widget-impl.ts
  packages/terminal/src/common/base-terminal-protocol.ts
  packages/terminal/src/node/base-terminal-server.ts
Labels: terminal, vscode

#12310 playwright: Wait for file stat nodes
  examples/playwright/src/tests/theia-workspace.test.ts
Labels: playwright

#12295 Fix SCM Inline commands
  CHANGELOG.md
  packages/plugin-ext/src/main/browser/menus/plugin-menu-command-adapter.ts
  packages/scm/src/browser/scm-tree-widget.tsx
Labels: vscode, scm

#12306 Fix bad Monaco range in outline contribution
  packages/monaco/src/browser/monaco-outline-contribution.ts
Labels: monaco

#12316 deps: upgrade `webpack` to `5.76.0`
  dev-packages/application-manager/package.json
  yarn.lock
Labels: security, dependencies

#12322 terminal: fix 'new terminal' handling
  CHANGELOG.md
  packages/terminal/src/browser/terminal-frontend-contribution.ts
Labels: terminal

#12174 preferences: fix duplicated call to `FoldersPreferencesProvider`
  examples/api-tests/src/launch-preferences.spec.js
  packages/core/src/browser/preferences/preference-provider.spec.ts
  packages/core/src/browser/preferences/preference-provider.ts
  packages/core/src/browser/preferences/preference-service.ts
  packages/preferences/src/browser/folders-preferences-provider.ts
Labels: preferences

#12326 terminal: add context menu
  packages/terminal/src/browser/base/terminal-widget.ts
  packages/terminal/src/browser/terminal-frontend-contribution.ts
  packages/terminal/src/browser/terminal-widget-impl.ts
Labels: terminal

#12266 Fix plugin proxy support
  packages/plugin-ext/package.json
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/hosted/node/plugin-host-proxy.ts
  packages/plugin-ext/src/hosted/node/plugin-host-rpc.ts
  packages/plugin-ext/src/main/browser/workspace-main.ts
  packages/plugin-ext/src/plugin/preference-registry.ts
  packages/plugin-ext/src/plugin/workspace.ts
  yarn.lock
Labels: vscode

#12347 Check renderer schema when updating preference renderers
  packages/core/src/browser/icon-theme-service.ts
  packages/core/src/browser/preferences/preference-contribution.ts
  packages/core/src/browser/theming.ts
  packages/preferences/package.json
  packages/preferences/src/browser/views/components/preference-node-renderer.ts
  packages/preferences/src/browser/views/preference-editor-widget.ts
Labels: preferences

#12278 [Workspace] Rename command resolves with FileStat
  packages/workspace/src/browser/workspace-commands.ts
Labels: commands, workspace

#12346 theming: set default to `theia-file-icons`
  CHANGELOG.md
  dev-packages/application-package/src/application-props.ts
Labels: theming

#12300 Fix boolean in waitForHidden function
  packages/core/src/browser/widgets/widget.ts
Labels: quality

#12255 QuickInput: Error Message on File not Found
  packages/file-search/src/browser/quick-file-open.ts
Labels: file search

#12307 Show tabbar when items present
  packages/core/src/browser/shell/tab-bar-toolbar/tab-bar-toolbar.tsx
Labels: core

#12361 deps: update dependency baseline
  dependency-check-baseline.json
Labels: dependencies

#12363 docs: update changelog for 1.36.0
  CHANGELOG.md
Labels: documentation
