Repository eclipse-theia/theia, pull requests merged in 2023-06, with the labels that each got.

#12587 Fix terminal widget flickering on resize
  packages/terminal/src/browser/terminal-widget-impl.ts
Labels: terminal

#12481 Implement "secondary window" support for Electron
  examples/electron/package.json
  examples/electron/tsconfig.json
  packages/core/src/browser/dialogs.ts
  packages/core/src/browser/saveable.ts
  packages/core/src/browser/secondary-window-handler.ts
  packages/core/src/browser/styling-service.ts
  packages/core/src/browser/widgets/widget.ts
  packages/core/src/browser/window/default-secondary-window-service.ts
  packages/core/src/browser/window/secondary-window-service.ts
  packages/core/src/electron-browser/preload.ts
  packages/core/src/electron-browser/window/electron-secondary-window-service.ts
  packages/core/src/electron-common/electron-api.ts
  packages/core/src/electron-main/electron-api-main.ts
  packages/core/src/electron-main/theia-electron-window.ts
  packages/plugin-ext/src/main/browser/custom-editors/custom-editors-main.ts
Labels: electron, secondary-window

#12581 core: improve & refactor rpc protocol
  packages/core/src/common/message-rpc/rpc-message-encoder.ts
  packages/core/src/common/message-rpc/rpc-protocol.ts
  packages/core/src/common/messaging/proxy-factory.ts
Labels: jsonrpc, messaging

#12608 Update ripgrep arguments for file search
  packages/file-search/src/node/file-search-service-impl.ts
Labels: file search

#12614 [vscode] Stub onWillSaveNotebookDocument (1.78 new API)
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin/src/theia.d.ts
Labels: vscode, notebook

#12617 navigator: fix hidden toolbar icons when resizing
  packages/core/src/browser/style/view-container.css
Labels: ui/ux

#12622 ui/ux: fix bug induced by PR #12604
  packages/core/src/browser/style/index.css
  packages/vsx-registry/src/browser/style/index.css
Labels: ui/ux

#12598 open-editors: better styling and visible decorations
  packages/core/src/browser/style/tree.css
  packages/navigator/src/browser/open-editors-widget/navigator-open-editors-widget.tsx
Labels: navigator, ui/ux

#12588 Rename JsonRpcProxyFactory and related types
  CHANGELOG.md
  examples/api-samples/src/common/updater/sample-updater.ts
  examples/api-samples/src/electron-main/update/sample-updater-main-module.ts
  packages/core/src/browser/messaging/ws-connection-provider.ts
  packages/core/src/common/logger-protocol.ts
  packages/core/src/common/messaging/abstract-connection-provider.ts
  packages/core/src/common/messaging/proxy-factory.spec.ts
  packages/core/src/common/messaging/proxy-factory.ts
  packages/core/src/electron-browser/messaging/electron-ipc-connection-provider.ts
  packages/core/src/electron-main/electron-main-application-module.ts
  packages/core/src/electron-main/electron-main-application.ts
  packages/core/src/electron-node/keyboard/electron-backend-keyboard-module.ts
  packages/core/src/node/backend-application-module.ts
  packages/core/src/node/i18n/i18n-backend-module.ts
  packages/core/src/node/logger-backend-module.ts
  packages/core/src/node/messaging/connection-container-module.ts
  packages/core/src/node/performance/measurement-backend-bindings.ts
  packages/external-terminal/src/electron-node/external-terminal-backend-module.ts
  packages/file-search/src/node/file-search-backend-module.ts
  packages/filesystem/src/common/filesystem-watcher-protocol.ts
  packages/filesystem/src/common/remote-file-system-provider.ts
  packages/filesystem/src/node/filesystem-backend-module.ts
  packages/filesystem/src/node/nsfw-watcher/index.ts
  packages/git/src/common/git-prompt.ts
  packages/git/src/common/git-watcher.ts
  packages/git/src/node/git-backend-module.ts
  packages/git/src/node/git-locator/git-locator-client.ts
  packages/git/src/node/git-locator/git-locator-host.ts
  packages/mini-browser/src/node/mini-browser-backend-module.ts
  packages/plugin-dev/src/common/plugin-dev-protocol.ts
  packages/plugin-ext/src/common/plugin-protocol.ts
  packages/plugin-ext/src/hosted/browser/hosted-plugin.ts
  packages/plugin-ext/src/hosted/node/plugin-ext-hosted-backend-module.ts
  packages/plugin-ext/src/main/node/plugin-ext-backend-module.ts
  packages/plugin-metrics/src/node/plugin-metrics-backend-module.ts
  packages/search-in-workspace/src/common/search-in-workspace-interface.ts
  packages/search-in-workspace/src/node/search-in-workspace-backend-module.ts
  packages/task/src/common/task-protocol.ts
  packages/task/src/node/task-backend-module.ts
  packages/terminal/src/common/base-terminal-protocol.ts
  packages/terminal/src/common/shell-terminal-protocol.ts
  packages/terminal/src/node/terminal-backend-module.ts
  packages/workspace/src/node/workspace-backend-module.ts
Labels: quality

#12550 plugin: re-organize `proposed` api files
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/plugin/src/theia-extra.d.ts
  packages/plugin/src/theia-proposed.d.ts
  packages/plugin/src/theia.d.ts
  packages/plugin/src/theia.proposed.customEditorMove.d.ts
  packages/plugin/src/theia.proposed.diffCommand.d.ts
  packages/plugin/src/theia.proposed.documentPaste.d.ts
  packages/plugin/src/theia.proposed.editSessionIdentityProvider.d.ts
  packages/plugin/src/theia.proposed.extensionsAny.d.ts
  packages/plugin/src/theia.proposed.externalUriOpener.d.ts
  packages/plugin/src/theia.proposed.findTextInFiles.d.ts
  packages/plugin/src/theia.proposed.fsChunks.d.ts
  packages/plugin/src/theia.proposed.profileContentHandlers.d.ts
  packages/plugin/src/theia.proposed.resolvers.d.ts
  packages/plugin/src/theia.proposed.scmValidation.d.ts
  packages/plugin/src/theia.proposed.terminalQuickFixProvider.d.ts
  packages/plugin/src/theia.proposed.textSearchProvider.d.ts
  packages/plugin/src/theia.proposed.timeline.d.ts
  sample-plugins/sample-namespace/plugin-a/extension.js
  sample-plugins/sample-namespace/plugin-b/extension.js
Labels: vscode

#12620 fix for windows execute command in terminal
  packages/core/src/browser/common-frontend-contribution.ts
  packages/core/src/browser/preloader.ts
  packages/core/src/common/os.ts
  packages/monaco/src/browser/monaco-text-model-service.ts
  packages/search-in-workspace/src/browser/search-in-workspace-result-tree-widget.tsx
  packages/task/src/node/task-abstract-line-matcher.ts
  packages/terminal/src/browser/terminal-widget-impl.ts
  packages/workspace/src/browser/workspace-commands.ts
Labels: terminal, OS/Windows

#12637 vscode: support editor/title/run predefined entry
  CHANGELOG.md
  packages/plugin-ext/src/main/browser/menus/menus-contribution-handler.ts
  packages/plugin-ext/src/main/browser/menus/plugin-menu-command-adapter.ts
  packages/plugin-ext/src/main/browser/menus/vscode-theia-menu-mappings.ts
Labels: vscode

#12626 terminal: fix `split-terminal` visibility
  packages/terminal/src/browser/terminal-frontend-contribution.ts
Labels: terminal

#12252 Align border-radius with vscode
  packages/core/src/browser/common-frontend-contribution.ts
  packages/core/src/browser/dialogs.ts
  packages/core/src/browser/style/alert-messages.css
  packages/core/src/browser/style/dialog.css
  packages/core/src/browser/style/index.css
  packages/core/src/browser/style/menus.css
  packages/core/src/browser/style/select-component.css
  packages/keymaps/src/browser/keybindings-widget.tsx
  packages/messages/src/browser/style/notifications.css
  packages/monaco/data/monaco-themes/vscode/dark_vs.json
  packages/search-in-workspace/src/browser/styles/index.css
Labels: ui/ux

#12662 Remove erroneous dialog min-height styling
  packages/core/src/browser/style/dialog.css
Labels: ui/ux

#12661 Update localization metadata for 1.78.0
  packages/core/src/browser/common-frontend-contribution.ts
  packages/core/src/browser/core-preferences.ts
  packages/core/src/common/i18n/nls.metadata.json
  packages/debug/src/browser/debug-frontend-application-contribution.ts
  packages/editor/src/browser/editor-generated-preference-schema.ts
  packages/git/src/browser/git-scm-provider.ts
  packages/memory-inspector/src/browser/editable-widget/memory-editable-table-widget.tsx
  packages/vsx-registry/src/browser/vsx-extension-commands.ts
  packages/vsx-registry/src/browser/vsx-extensions-contribution.ts
Labels: localization

#12585 ui/ux: styling input validation
  examples/playwright/src/theia-dialog.ts
  packages/core/src/browser/dialogs.ts
  packages/keymaps/src/browser/keybindings-widget.tsx
  packages/preferences/src/browser/style/index.css
Labels: ui/ux

#12658 cli: use `includeAllVersions` when resolving packs
  dev-packages/cli/src/download-plugins.ts
  packages/vsx-registry/src/browser/vsx-extensions-model.ts
  packages/vsx-registry/src/node/vsx-extension-resolver.ts
Labels: theia-cli, builtins

#12638 [vscode] support editor/linenumber/context menu
  CHANGELOG.md
  packages/editor/src/browser/editor-frontend-module.ts
  packages/editor/src/browser/editor-linenumber-contribution.ts
  packages/editor/src/browser/index.ts
  packages/plugin-ext/src/main/browser/menus/vscode-theia-menu-mappings.ts
Labels: vscode

#12666 docs: update `changelog` for `1.39.0`
  CHANGELOG.md
  dev-packages/ovsx-client/src/ovsx-router-client.ts
  packages/plugin-ext/src/main/browser/view/plugin-view-registry.ts
Labels: documentation
