Repository eclipse-theia/theia, pull requests merged in 2023-07, with the labels that each got.

#12586 Don't cover input field with file preference browse button
  packages/preferences/src/browser/style/preference-file.css
Labels: preferences, ui/ux

#12629 ui/ux: fix flickering icons when resizing explorer
  packages/core/src/browser/style/view-container.css
  packages/core/src/browser/view-container.ts
Labels: ui/ux

#12699 Stop publishing next
  .github/workflows/ci-cd.yml
  .github/workflows/publish-gh-pages.yml
Labels: ci

#12697 ui/ux: styling search options
  packages/search-in-workspace/src/browser/search-in-workspace-widget.tsx
  packages/search-in-workspace/src/browser/styles/index.css
Labels: search in workspace, ui/ux

#12470 styling: TreeWidget Highlighted nodes full display
  packages/scm/src/browser/scm-tree-widget.tsx
  packages/scm/src/browser/style/index.css
  packages/search-in-workspace/src/browser/search-in-workspace-result-tree-widget.tsx
  packages/search-in-workspace/src/browser/styles/index.css
Labels: tree, ui/ux

#12674 debug: improve debug configuration behavior for multi-root workspaces
  packages/debug/src/browser/debug-configuration-manager.ts
Labels: debug, multi-root

#12596 cli: Add `check:theia-extensions` command
  CHANGELOG.md
  dev-packages/cli/src/check-dependencies.ts
  dev-packages/cli/src/theia.ts
Labels: theia-cli

#11537 First cut of VS Code usage policy
  doc/vscode-usage.md
Labels: quality, documentation

#12675 keybinding: Action Button Recenter
  packages/keymaps/src/browser/style/index.css
Labels: keybindings, ui/ux

#12739 Fix background rendering for menu icons
  packages/core/src/browser/style/menus.css
Labels: ui/ux, menus

#12354 fix: readonly permissions with disk FS provider
  packages/filesystem/package.json
  packages/filesystem/src/node/disk-file-system-provider.spec.ts
  packages/filesystem/src/node/disk-file-system-provider.ts
  yarn.lock
Labels: filesystem

#12731 repo: fix launch configurations for ovsx
  .vscode/launch.json
Labels: debug

#12685 vscode: fix `MarkdownString` for `documentation`
  packages/plugin-ext/src/plugin/languages/completion.ts
Labels: vscode

#12736 [vscode] Add proposed dropMetadata API
  packages/plugin-ext/src/common/plugin-api-rpc-model.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/languages-main.ts
  packages/plugin-ext/src/plugin/languages.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/plugin/src/theia.d.ts
  packages/plugin/src/theia.proposed.dropMetadata.d.ts
Labels: vscode

#12737 [vscode] Add proposed documentPaste API
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/plugin/src/theia.proposed.documentPaste.d.ts
Labels: vscode

#12747 Stub ShareProvider API
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin/src/theia.d.ts
  packages/plugin/src/theia.proposed.shareProvider.d.ts
Labels: vscode

#12420 Enable workspace file extension customization
  CHANGELOG.md
  packages/plugin-ext/src/main/node/paths/plugin-paths-service.ts
  packages/plugin-ext/src/main/node/plugins-key-value-storage.spec.ts
  packages/preferences/src/browser/preferences-monaco-contribution.ts
  packages/workspace/package.json
  packages/workspace/src/browser/quick-open-workspace.ts
  packages/workspace/src/browser/workspace-frontend-contribution.ts
  packages/workspace/src/browser/workspace-frontend-module.ts
  packages/workspace/src/browser/workspace-schema-updater.ts
  packages/workspace/src/browser/workspace-service.ts
  packages/workspace/src/common/index.ts
  packages/workspace/src/common/untitled-workspace-service.ts
  packages/workspace/src/common/workspace-file-service.ts
  packages/workspace/src/node/default-workspace-server.spec.ts
  packages/workspace/src/node/default-workspace-server.ts
  packages/workspace/src/node/workspace-backend-module.ts
Labels: workspace

#12753 Fix bug in `TheiaDialog` page object
  examples/playwright/src/theia-dialog.ts
  examples/playwright/src/theia-explorer-view.ts
Labels: ci, playwright

#12567 Properly set the value of the select component in `DebugBreakpointWidget`
  packages/debug/src/browser/editor/debug-breakpoint-widget.tsx
Labels: debug

#12752 [vscode] support AuthenticationForceNewSessionOptions
  CHANGELOG.md
  packages/plugin-ext/src/main/browser/authentication-main.ts
  packages/plugin-ext/src/plugin/authentication-ext.ts
  packages/plugin/src/theia.d.ts
Labels: vscode, authentication

#12648 Add preference for visualPreview on hover
  CHANGELOG.md
  packages/core/src/browser/core-preferences.ts
  packages/core/src/browser/hover-service.ts
  packages/core/src/browser/shell/application-shell.ts
  packages/core/src/browser/shell/tab-bars.ts
  packages/core/src/browser/style/hover-service.css
  packages/core/src/browser/style/tabs.css
  packages/core/src/browser/widgets/previewable-widget.ts
  packages/core/src/browser/widgets/widget.ts
  packages/preferences/src/browser/views/preference-widget.tsx
Labels: proposal, core, ui/ux

#12772 doc: update `changelog` for `1.40.0`
  CHANGELOG.md
Labels: documentation

#12787 Fix web plugin initialization
  dev-packages/application-manager/src/generator/webpack-generator.ts
  packages/plugin-ext-vscode/src/node/plugin-reader.ts
  packages/plugin-ext-vscode/src/node/plugin-vscode-backend-module.ts
Labels: plug-in system
