Repository eclipse-theia/theia, pull requests merged in 2023-04, with the labels that each got.

#12367 Editor: restore `highlightModifiedTabs` functionality
  packages/core/src/browser/common-styling-participants.ts
  packages/core/src/browser/style/tabs.css
Labels: ui/ux

#12373 [ci][playwright] Solidify flaky Playwright tests
  examples/playwright/src/tests/theia-explorer-view.test.ts
  examples/playwright/src/theia-app.ts
  examples/playwright/src/theia-explorer-view.ts
Labels: ci, playwright

#12338 Guard against identical ID's in plugin tree view
  packages/plugin-ext/src/plugin/tree/tree-views.ts
Labels: tree, plug-in system

#12378 Improve localization for preferences and monaco
  examples/playwright/src/tests/theia-main-menu.test.ts
  packages/keymaps/src/browser/keymaps-frontend-contribution.ts
  packages/monaco/src/browser/monaco-formatting-conflicts.ts
  packages/monaco/src/browser/monaco-workspace.ts
  packages/plugin-ext/src/main/browser/style/test.svg
  packages/plugin-ext/src/main/browser/view/plugin-view-registry.ts
  packages/preferences/src/browser/preferences-contribution.ts
  packages/preferences/src/browser/views/preference-widget.tsx
Labels: localization

#12385 search-in-workspace: IncludeInputBox contextKey typo
  packages/search-in-workspace/src/browser/search-in-workspace-widget.tsx
Labels: search in workspace

#12389 Seach-In-Workspace: Include/Exclude Inputbox placeholder
  packages/search-in-workspace/src/browser/search-in-workspace-widget.tsx
  packages/search-in-workspace/src/browser/styles/index.css
Labels: search in workspace, ui/ux

#12284 vscode: Error feddback with vscode.open command
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
Labels: vscode

#12312 keybindings: search improvement
  packages/keymaps/src/browser/keybindings-widget.tsx
Labels: keybindings, ui/ux

#12384 playwright: Update to latest versions and add new page objects
  .vscode/launch.json
  examples/playwright/.eslintrc.js
  examples/playwright/configs/playwright.ci.config.ts
  examples/playwright/configs/playwright.debug.config.ts
  examples/playwright/configs/playwright.headful.config.ts
  examples/playwright/configs/ui-tests.eslintrc.json
  examples/playwright/configs/ui-tests.playwright.eslintrc.json
  examples/playwright/docs/DEVELOPING.md
  examples/playwright/docs/GETTING_STARTED.md
  examples/playwright/package.json
  examples/playwright/playwright.config.ts
  examples/playwright/src/index.ts
  examples/playwright/src/tests/resources/sample-files1/sampleFolderCompact/nestedFolder1/nestedFolder2/sampleFile1-1.txt
  examples/playwright/src/tests/theia-explorer-view.test.ts
  examples/playwright/src/tests/theia-output-view.test.ts
  examples/playwright/src/tests/theia-quick-command.test.ts
  examples/playwright/src/tests/theia-sample-app.test.ts
  examples/playwright/src/tests/theia-toolbar.test.ts
  examples/playwright/src/tests/theia-workspace.test.ts
  examples/playwright/src/theia-explorer-view.ts
  examples/playwright/src/theia-monaco-editor.ts
  examples/playwright/src/theia-output-channel.ts
  examples/playwright/src/theia-output-view.ts
  examples/playwright/src/theia-quick-command-palette.ts
  examples/playwright/src/theia-text-editor.ts
  examples/playwright/src/theia-toolbar-item.ts
  examples/playwright/src/theia-toolbar.ts
  examples/playwright/src/theia-tree-node.ts
  package.json
  yarn.lock
Labels: playwright

#12353 Fix memory leak in plugin tree views
  packages/plugin-ext/src/plugin/tree/tree-views.ts
Labels: tree

#12381 playwright: add page object for terminal
  examples/playwright/playwright.config.ts
  examples/playwright/src/tests/theia-terminal-view.test.ts
  examples/playwright/src/theia-app.ts
  examples/playwright/src/theia-terminal.ts
Labels: terminal, playwright

#12350 Add extended tab bar preview option
  packages/core/src/browser/core-preferences.ts
  packages/core/src/browser/hover-service.ts
  packages/core/src/browser/shell/application-shell.ts
  packages/core/src/browser/shell/tab-bars.ts
  packages/core/src/browser/style/hover-service.css
  packages/core/src/browser/style/tabs.css
Labels: shell, core, ui/ux

#12418 In MonacoEditorModel, use value for snapshot
  packages/monaco/src/browser/monaco-editor-model.ts
Labels: monaco

#12424 Split license files for better recognition
  LICENSE
  LICENSE-EPL
  LICENSE-GPL
  README.md
Labels: repo

#12192 Support for vscode `l10n` API
  packages/core/src/common/i18n/localization.ts
  packages/core/src/common/nls.ts
  packages/core/src/node/i18n/localization-backend-contribution.ts
  packages/core/src/node/i18n/localization-provider.ts
  packages/plugin-ext-vscode/src/node/scanner-vscode.ts
  packages/plugin-ext/src/common/language-pack-service.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/common/plugin-protocol.ts
  packages/plugin-ext/src/hosted/browser/hosted-plugin.ts
  packages/plugin-ext/src/hosted/browser/worker/worker-main.ts
  packages/plugin-ext/src/hosted/node/hosted-plugin-deployer-handler.ts
  packages/plugin-ext/src/hosted/node/hosted-plugin-localization-service.ts
  packages/plugin-ext/src/hosted/node/plugin-ext-hosted-backend-module.ts
  packages/plugin-ext/src/hosted/node/plugin-host-rpc.ts
  packages/plugin-ext/src/hosted/node/plugin-language-pack-service.ts
  packages/plugin-ext/src/hosted/node/scanners/scanner-theia.ts
  packages/plugin-ext/src/main/browser/localization-main.ts
  packages/plugin-ext/src/main/browser/main-context.ts
  packages/plugin-ext/src/main/browser/plugin-ext-frontend-module.ts
  packages/plugin-ext/src/main/node/plugins-key-value-storage.ts
  packages/plugin-ext/src/plugin/localization-ext.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/plugin-manager.ts
  packages/plugin/src/theia.d.ts
Labels: vscode, localization

#12419 theming: Properly Apply Default Icon Theme
  packages/core/src/browser/icon-theme-service.ts
Labels: theming

#12241 Ensure DebugWidget properly reports change in trackable widgets
  packages/debug/src/browser/view/debug-session-widget.ts
  packages/debug/src/browser/view/debug-widget.ts
Labels: debug

#12427 monaco-quick-input-service: set context key "inQuickOpen"
  examples/api-tests/src/monaco-api.spec.js
  packages/monaco/src/browser/monaco-quick-input-service.ts
Labels: monaco

#12454 [vscode] support CommentThread state property
  packages/plugin-ext/src/common/plugin-api-rpc-model.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/comments/comment-thread-widget.tsx
  packages/plugin-ext/src/main/browser/comments/comments-main.ts
  packages/plugin-ext/src/plugin/comments.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/plugin/src/theia.d.ts
Labels: vscode, comments

#12409 Fix DnD of files from OS Explorer into Tree Views
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/view/tree-view-widget.tsx
  packages/plugin-ext/src/plugin/tree/tree-views.ts
Labels: tree, dnd

#12467 dependency: add `clone` to baseline
  dependency-check-baseline.json
Labels: dependencies

#12464 electron: bump to `23.2.4`
  examples/electron/package.json
  packages/core/README.md
  packages/electron/README.md
  packages/electron/package.json
  yarn.lock
Labels: electron, OS/Linux

#12436 Style: Indent decoration blocked pointer events
  packages/core/src/browser/style/tree.css
Labels: tree, ui/ux
