Repository eclipse-theia/theia, pull requests merged in 2023-12, with the labels that each got.

#13166 Added support for webview/context menu contributions
  packages/plugin-ext/src/main/browser/menus/plugin-menu-command-adapter.ts
  packages/plugin-ext/src/main/browser/menus/vscode-theia-menu-mappings.ts
  packages/plugin-ext/src/main/browser/webview/pre/main.js
  packages/plugin-ext/src/main/browser/webview/webview.ts
Labels: vscode, menus, webviews

#13171 Fix notebook kernel selection
  packages/notebook/src/browser/notebook-editor-widget.tsx
  packages/notebook/src/browser/service/notebook-editor-widget-service.ts
  packages/notebook/src/browser/service/notebook-kernel-quick-pick-service.ts
  packages/notebook/src/common/notebook-common.ts
  packages/plugin-ext/src/main/browser/notebooks/notebook-documents-and-editors-main.ts
  packages/plugin-ext/src/plugin/command-registry.ts
  packages/plugin-ext/src/plugin/notebook/notebooks.ts
Labels: plug-in system, commands, notebook

#13101 fix: set `display: block` on plugin icon pseudo-element (#13096)
  packages/plugin-ext/src/main/browser/plugin-shared-style.ts
Labels: plug-in system, ui/ux

#13162 Fix compressed navigator indent highlight
  packages/core/src/browser/tree/tree-compression/compressed-tree-widget.tsx
  packages/core/src/browser/tree/tree-widget.tsx
Labels: tree, ui/ux

#13184 Save untitled files to the last active folder
  packages/core/src/browser/frontend-application-module.ts
  packages/core/src/browser/user-working-directory-provider.ts
  packages/filesystem/src/browser/file-dialog/file-dialog-service.ts
  packages/workspace/src/browser/workspace-user-working-directory-provider.ts
Labels: file dialog, ui/ux

#13200 Update nls metadata for vscode API 1.84.2
  packages/core/src/browser/shell/application-shell.ts
  packages/core/src/common/i18n/nls.metadata.json
  packages/editor/src/browser/editor-generated-preference-schema.ts
  packages/navigator/src/browser/navigator-widget.tsx
Labels: localization

#13199 Allow to rebind messaging services in preload
  dev-packages/application-manager/src/generator/frontend-generator.ts
Labels: messaging

#13196 fix: debug configuration provider replaces different provider
  packages/plugin-ext/src/main/browser/debug/plugin-debug-service.ts
Labels: debug

#13091 Fix `onView` activation event generation
  packages/plugin-ext/src/hosted/node/plugin-activation-events.ts
Labels: vscode, webviews

#13201 Set initial size and position of secondary windows
  packages/core/src/browser/core-preferences.ts
  packages/core/src/browser/window/default-secondary-window-service.ts
  packages/core/src/electron-main/electron-main-application.ts
Labels: electron
