Repository eclipse-theia/theia, pull requests merged in 2024-04, with the labels that each got.

#13574 Fix notebook cell EOL splitting
  packages/plugin-ext/src/main/browser/notebooks/notebook-dto.ts
  packages/plugin-ext/src/plugin/notebook/notebook-document.ts
  packages/plugin-ext/src/plugin/notebook/notebooks.ts
Labels: OS/Windows, notebook

#13573 Update "Open With..." command UX
  packages/core/src/browser/frontend-application-module.ts
  packages/core/src/browser/index.ts
  packages/core/src/browser/open-with-service.ts
  packages/editor/src/browser/editor-manager.ts
  packages/navigator/src/browser/file-navigator-commands.ts
  packages/navigator/src/browser/navigator-contribution.ts
  packages/notebook/src/browser/notebook-open-handler.ts
  packages/notebook/src/browser/notebook-type-registry.ts
  packages/plugin-ext/src/main/browser/custom-editors/plugin-custom-editor-registry.ts
  packages/plugin-ext/src/main/browser/plugin-contribution-handler.ts
  packages/workspace/src/browser/workspace-commands.ts
Labels: ui/ux

#13575 Force notebook scrollbar update after content change
  packages/notebook/src/browser/notebook-editor-widget.tsx
Labels: ui/ux, notebook

#13578 Open editor on file upload
  packages/filesystem/src/browser/file-upload-service.ts
  packages/filesystem/src/browser/filesystem-frontend-contribution.ts
Labels: filesystem, ui/ux

#13581 Hide empty plugin view containers from user
  examples/playwright/src/tests/theia-quick-command.test.ts
  packages/core/src/browser/shell/view-contribution.ts
  packages/plugin-ext/src/main/browser/view/plugin-view-registry.ts
Labels: plug-in system, vscode, ui/ux

#13585 Use notebook URI as context for toolbar commands
  packages/notebook/src/browser/contributions/notebook-actions-contribution.ts
  packages/notebook/src/browser/view/notebook-main-toolbar.tsx
Labels: vscode, notebook

#13586 Show short title for notebook toolbar commands
  packages/core/src/common/command.ts
  packages/notebook/src/browser/view/notebook-main-toolbar.tsx
  packages/plugin-ext/src/common/plugin-protocol.ts
  packages/plugin-ext/src/hosted/node/scanners/scanner-theia.ts
  packages/plugin-ext/src/main/browser/plugin-contribution-handler.ts
Labels: vscode, ui/ux, notebook

#13557 Fix monaco localization
  packages/monaco/src/browser/monaco-frontend-module.ts
  packages/monaco/src/browser/monaco-init.ts
  packages/vsx-registry/src/browser/vsx-language-quick-pick-service.ts
Labels: monaco, localization

#13606 Fix notebook model/cell disposal
  packages/notebook/src/browser/notebook-editor-widget.tsx
  packages/notebook/src/browser/service/notebook-service.ts
  packages/notebook/src/browser/view-model/notebook-model.ts
  packages/plugin-ext/src/plugin/notebook/notebooks.ts
Labels: notebook

#13584 Fix remote support in packaged apps
  dev-packages/application-manager/src/generator/backend-generator.ts
  packages/core/src/electron-main/electron-main-application.ts
  packages/core/src/node/backend-application-module.ts
  packages/core/src/node/backend-application.ts
  packages/core/src/node/env-variables/env-variables-server.ts
  packages/remote/src/electron-node/setup/remote-copy-contribution.ts
Labels: remote

#13612 Fix notebook widget icon on reload
  packages/notebook/src/browser/notebook-editor-widget-factory.ts
  packages/notebook/src/browser/notebook-editor-widget.tsx
  packages/plugin-ext/src/main/browser/notebooks/notebook-kernels-main.ts
Labels: ui/ux, notebook

#13623 Bind Extension search bar within view container so it is re-created
  packages/vsx-registry/src/browser/vsx-registry-frontend-module.ts
Labels: ui/ux, vsx-registry

#13614 Fix spawn calls for node LTS versions
  dev-packages/application-manager/src/application-process.ts
  dev-packages/cli/bin/theia-patch.js
  dev-packages/native-webpack-plugin/src/native-webpack-plugin.ts
  dev-packages/private-re-exports/src/package-re-exports.ts
  packages/process/package.json
  packages/process/src/node/pseudo-pty.ts
  packages/terminal/src/node/shell-terminal-server.ts
  yarn.lock
Labels: OS/Windows

#13658 Fix unix terminals for bundled apps
  dev-packages/native-webpack-plugin/src/native-webpack-plugin.ts
Labels: terminal, OS/Linux

#13645 Align to vscode notebook commands
  packages/notebook/src/browser/contributions/notebook-actions-contribution.ts
  packages/notebook/src/browser/contributions/notebook-cell-actions-contribution.ts
  packages/notebook/src/browser/contributions/notebook-context-keys.ts
  packages/notebook/src/browser/notebook-editor-widget.tsx
  packages/notebook/src/browser/service/notebook-context-manager.ts
  packages/plugin-ext/src/main/browser/notebooks/renderers/cell-output-webview.tsx
  packages/plugin-ext/src/main/browser/notebooks/renderers/output-webview-internal.ts
  packages/plugin-ext/src/main/browser/notebooks/renderers/webview-communication.ts
Labels: commands, notebook

#13663 Use responsive design for the main notebook toolbar
  packages/notebook/src/browser/contributions/notebook-actions-contribution.ts
  packages/notebook/src/browser/style/index.css
  packages/notebook/src/browser/view/notebook-main-toolbar.tsx
Labels: ui/ux, notebook
