Repository eclipse-theia/theia, pull requests merged in 2024-03, with the labels that each got.

#13491 Remove deprecated actions and Playwright API usage
  .github/workflows/performance-tests.yml
  .github/workflows/playwright.yml
  .github/workflows/production-smoke-test.yml
  examples/playwright/src/theia-quick-command-palette.ts
  examples/playwright/src/theia-rename-dialog.ts
  examples/playwright/src/theia-terminal.ts
Labels: playwright

#13476 Only initialize notebook cell editor when in viewport
  packages/notebook/src/browser/notebook-editor-widget.tsx
  packages/notebook/src/browser/style/index.css
  packages/notebook/src/browser/view/notebook-cell-editor.tsx
  packages/notebook/src/browser/view/notebook-code-cell-view.tsx
  packages/notebook/src/browser/view/notebook-viewport-service.ts
  packages/plugin-ext/src/main/browser/notebooks/renderers/cell-output-webview.tsx
Labels: performance, notebook

#13412 Fix default translation of `Close Editor` command
  packages/core/src/common/nls.ts
Labels: localization

#13454 Check for disposed before sending update message
  packages/core/src/browser/shell/tab-bar-toolbar/tab-bar-toolbar.tsx
Labels: toolbar

#13411 Make `acquireVsCodeApi` available on global objects
  packages/plugin-ext/src/main/browser/webview/pre/main.js
Labels: vscode, webviews
