Repository eclipse-theia/theia, pull requests merged in 2024-05, with the labels that each got.

#13675 Improve notebook cell model lifecycle
  packages/monaco/src/browser/monaco-text-model-service.ts
  packages/notebook/src/browser/service/notebook-monaco-text-model-service.ts
  packages/notebook/src/browser/service/notebook-service.ts
  packages/notebook/src/browser/view-model/notebook-cell-model.ts
  packages/notebook/src/browser/view-model/notebook-model.ts
  packages/notebook/src/common/notebook-common.ts
  packages/plugin-ext/src/plugin/editors-and-documents.ts
  packages/plugin-ext/src/plugin/notebook/notebook-document.ts
  packages/plugin-ext/src/plugin/notebook/notebooks.ts
Labels: notebook

#13664 Handle isFileSystemResource context key
  packages/navigator/src/browser/navigator-context-key-service.ts
  packages/navigator/src/browser/navigator-widget.tsx
Labels: vscode

#13580 chore: update electron to ^28.2.8
  dev-packages/application-manager/src/rebuild.ts
  examples/electron/package.json
  package.json
  packages/core/README.md
  packages/electron/README.md
  packages/electron/package.json
  yarn.lock
Labels: electron, dependencies

#13696 Improve support for creating new notebooks
  packages/notebook/src/browser/contributions/notebook-actions-contribution.ts
  packages/notebook/src/browser/notebook-editor-widget-factory.ts
  packages/notebook/src/browser/service/notebook-model-resolver-service.ts
  packages/notebook/src/browser/service/notebook-service.ts
  packages/notebook/src/browser/view-model/notebook-model.ts
  packages/plugin-ext/src/main/browser/notebooks/notebook-documents-main.ts
  packages/plugin-ext/src/main/browser/notebooks/notebook-editors-main.ts
  packages/plugin-ext/src/main/browser/notebooks/notebooks-main.ts
  packages/plugin-ext/src/plugin/notebook/notebooks.ts
Labels: vscode, notebook

#13698 Added basics for notebook cell drag image renderers
  packages/notebook/src/browser/style/index.css
  packages/notebook/src/browser/view/notebook-cell-list-view.tsx
  packages/notebook/src/browser/view/notebook-code-cell-view.tsx
  packages/notebook/src/browser/view/notebook-markdown-cell-view.tsx
Labels: notebook

#13701 Stop execution when deleting cell
  packages/notebook/src/browser/service/notebook-execution-service.ts
Labels: notebook

#13683 Refactor auto save mechanism
  CHANGELOG.md
  examples/api-tests/src/saveable.spec.js
  examples/api-tests/src/typescript.spec.js
  packages/core/src/browser/common-frontend-contribution.ts
  packages/core/src/browser/frontend-application-module.ts
  packages/core/src/browser/index.ts
  packages/core/src/browser/save-resource-service.ts
  packages/core/src/browser/saveable-service.ts
  packages/core/src/browser/saveable.ts
  packages/core/src/browser/shell/application-shell.ts
  packages/core/src/browser/window/default-secondary-window-service.ts
  packages/editor/src/browser/editor-command.ts
  packages/filesystem/src/browser/filesystem-frontend-module.ts
  packages/filesystem/src/browser/filesystem-saveable-service.ts
  packages/monaco/src/browser/monaco-editor-model.ts
  packages/monaco/src/browser/monaco-text-model-service.ts
  packages/monaco/src/browser/monaco-workspace.ts
  packages/notebook/src/browser/notebook-frontend-module.ts
  packages/notebook/src/browser/service/notebook-model-resolver-service.ts
  packages/notebook/src/browser/view-model/notebook-model.ts
  packages/plugin-ext/src/main/browser/custom-editors/custom-editor-widget.ts
  packages/plugin-ext/src/main/browser/custom-editors/custom-editors-main.ts
  packages/plugin-ext/src/main/browser/editors-and-documents-main.ts
  packages/workspace/src/browser/workspace-frontend-contribution.ts
Labels: editor, shell

#13729 Delegate showing help to the back end process.
  packages/core/package.json
  packages/core/src/electron-main/electron-main-application.ts
  packages/core/src/electron-node/cli/electron-backend-cli-module.ts
  packages/core/src/electron-node/cli/electron-cli-contribution.ts
  packages/core/src/node/cli.ts
Labels: electron

#13741 Fixed focus loss of the notebook editor widget when bluring a cell editor
  packages/notebook/src/browser/view/notebook-cell-editor.tsx
Labels: notebook

#13740 Fix quick pick separators from plugins
  packages/plugin-ext/src/main/browser/quick-open-main.ts
Labels: vscode, quick-open

#13730 Improve vscode tab API
  packages/core/src/browser/frontend-application-module.ts
  packages/core/src/browser/shell/view-column-service.ts
  packages/plugin-ext/src/main/browser/plugin-ext-frontend-module.ts
  packages/plugin-ext/src/main/browser/tabs/tabs-main.ts
  packages/plugin-ext/src/main/browser/webviews-main.ts
  packages/plugin-ext/src/plugin/tabs.ts
Labels: vscode

#13743 Update nls metadata for VSCode API 1.89.0
  packages/core/src/browser/common-frontend-contribution.ts
  packages/core/src/browser/core-preferences.ts
  packages/core/src/common/i18n/nls.metadata.json
  packages/core/src/electron-browser/window/electron-window-preferences.ts
  packages/editor/src/browser/editor-generated-preference-schema.ts
  packages/markers/src/browser/problem/problem-preferences.ts
  packages/navigator/src/browser/navigator-widget.tsx
  packages/search-in-workspace/src/browser/search-in-workspace-widget.tsx
  packages/terminal/src/browser/terminal-preferences.ts
  packages/vsx-registry/src/browser/vsx-extension.tsx
Labels: localization

#13744 Improve dev-container label
  packages/dev-container/src/electron-node/remote-container-connection-provider.ts
Labels: remote
