Repository eclipse-theia/theia, pull requests merged in 2024-09, with the labels that each got.

#14139 Support `workbench.editorAssociations` preference
  packages/core/src/browser/core-preferences.ts
  packages/core/src/browser/open-with-service.ts
  packages/core/src/browser/opener-service.ts
  packages/core/src/common/glob.ts
  packages/editor/src/browser/editor-manager.ts
  packages/notebook/src/browser/notebook-open-handler.ts
  packages/plugin-ext/src/main/browser/custom-editors/custom-editor-opener.tsx
  packages/plugin-ext/src/main/browser/custom-editors/plugin-custom-editor-registry.ts
Labels: preferences, editor

#14168 Move TerminalShellIntegration stubs to main theia API
  CHANGELOG.md
  packages/plugin-ext/src/plugin/terminal-ext.ts
  packages/plugin/src/theia.d.ts
  packages/plugin/src/theia.proposed.terminalShellIntegration.d.ts
Labels: vscode

#14171 Remove stub tag from `TerminalOptions#color`
  packages/plugin/src/theia.d.ts
Labels: vscode

#14175 Focus notebook cell container correctly
  packages/notebook/src/browser/contributions/notebook-actions-contribution.ts
  packages/notebook/src/browser/contributions/notebook-cell-actions-contribution.ts
Labels: keybindings, notebook

#14173 Properly support `executeDocumentSymbolProvider` command
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
  packages/plugin-ext/src/plugin/type-converters.ts
Labels: vscode

#14179 Fix notebook context selection
  packages/notebook/src/browser/notebook-editor-widget.tsx
  packages/notebook/src/browser/style/index.css
Labels: notebook

#14170 Expand plugin preferences on scroll correctly
  packages/preferences/src/browser/preference-tree-model.ts
Labels: preferences, ui/ux

#14147 Handle only the user workspace security settings
  packages/workspace/src/browser/workspace-trust-preferences.ts
  packages/workspace/src/browser/workspace-trust-service.ts
Labels: preferences

#14186 Leak fix in tabs-main.ts
  packages/plugin-ext/src/main/browser/tabs/tabs-main.ts
Labels: quality

#14195 Makes the cell editor border grey when not focused
  packages/notebook/src/browser/style/index.css
Labels: notebook

#14190 Aligned active text and notebook editor more towards vscode
  packages/editor/src/browser/editor-manager.ts
  packages/monaco/src/browser/simple-monaco-editor.ts
  packages/notebook/src/browser/index.ts
  packages/notebook/src/browser/notebook-frontend-module.ts
  packages/notebook/src/browser/service/notebook-cell-editor-service.ts
  packages/notebook/src/browser/view/notebook-cell-editor.tsx
  packages/notebook/src/browser/view/notebook-code-cell-view.tsx
  packages/notebook/src/browser/view/notebook-markdown-cell-view.tsx
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/editors-and-documents-main.ts
  packages/plugin-ext/src/main/browser/notebooks/notebook-documents-and-editors-main.ts
  packages/plugin-ext/src/main/browser/text-editor-main.ts
  packages/plugin-ext/src/plugin/notebook/notebooks.ts
  packages/plugin-ext/src/plugin/text-editor.ts
Labels: editor, vscode, notebook

#14232 Fix incorrect import in `split-widget.ts`
  packages/core/src/browser/widgets/split-widget.ts
Labels: quality
