Repository eclipse-theia/theia, pull requests merged in 2024-08, with the labels that each got.

#13982 Support find widget in notebooks
  dependency-check-baseline.json
  packages/core/src/browser/browser.ts
  packages/core/src/browser/common-frontend-contribution.ts
  packages/notebook/package.json
  packages/notebook/src/browser/contributions/notebook-actions-contribution.ts
  packages/notebook/src/browser/contributions/notebook-cell-actions-contribution.ts
  packages/notebook/src/browser/notebook-editor-widget.tsx
  packages/notebook/src/browser/service/notebook-context-manager.ts
  packages/notebook/src/browser/style/index.css
  packages/notebook/src/browser/view-model/notebook-cell-model.ts
  packages/notebook/src/browser/view-model/notebook-model.ts
  packages/notebook/src/browser/view/notebook-cell-editor.tsx
  packages/notebook/src/browser/view/notebook-cell-list-view.tsx
  packages/notebook/src/browser/view/notebook-find-widget.tsx
  packages/notebook/src/browser/view/notebook-markdown-cell-view.tsx
  yarn.lock
Labels: notebook

#13963 Refactor undo-redo action for editors
  packages/core/src/browser/common-frontend-contribution.ts
  packages/core/src/browser/frontend-application-module.ts
  packages/core/src/browser/index.ts
  packages/core/src/browser/undo-redo-handler.ts
  packages/monaco/src/browser/monaco-command.ts
  packages/monaco/src/browser/monaco-editor-model.ts
  packages/monaco/src/browser/monaco-frontend-module.ts
  packages/monaco/src/browser/monaco-undo-redo-handler.ts
  packages/notebook/src/browser/contributions/notebook-actions-contribution.ts
  packages/notebook/src/browser/contributions/notebook-undo-redo-handler.ts
  packages/notebook/src/browser/notebook-frontend-module.ts
  packages/notebook/src/browser/style/index.css
  packages/notebook/src/browser/view-model/notebook-cell-model.ts
  packages/notebook/src/browser/view-model/notebook-model.ts
  packages/notebook/src/browser/view/notebook-cell-editor.tsx
  packages/notebook/src/browser/view/notebook-cell-list-view.tsx
  packages/notebook/src/browser/view/notebook-markdown-cell-view.tsx
  packages/plugin-ext/src/main/browser/custom-editors/custom-editor-contribution.ts
  packages/plugin-ext/src/main/browser/custom-editors/custom-editor-undo-redo-handler.ts
  packages/plugin-ext/src/main/browser/custom-editors/custom-editor-widget.ts
  packages/plugin-ext/src/main/browser/custom-editors/custom-editors-main.ts
  packages/plugin-ext/src/main/browser/plugin-ext-frontend-module.ts
Labels: custom-editor, notebook

#14016 Fix notebook output scrolling and text rendering
  packages/core/src/browser/style/index.css
  packages/notebook/src/browser/contributions/cell-operations.ts
  packages/notebook/src/browser/contributions/notebook-actions-contribution.ts
  packages/notebook/src/browser/contributions/notebook-cell-actions-contribution.ts
  packages/notebook/src/browser/service/notebook-options.ts
  packages/notebook/src/browser/service/notebook-service.ts
  packages/notebook/src/browser/style/index.css
  packages/notebook/src/browser/view/notebook-cell-list-view.tsx
  packages/plugin-ext/src/main/browser/notebooks/renderers/cell-output-webview.tsx
  packages/plugin-ext/src/main/browser/notebooks/renderers/output-webview-internal.ts
Labels: notebook

#14029 Make sure notebook model created when calling openNotebookDocument
  packages/plugin-ext/src/main/browser/notebooks/notebook-documents-main.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
Labels: notebook

#13980 Don't use ChannelMultiplexer in RPCProtocol
  packages/plugin-ext/src/common/proxy-handler.ts
  packages/plugin-ext/src/common/rpc-protocol.ts
Labels: messaging

#14030 Fix 429 errors on OVSX requests
  dev-packages/cli/src/download-plugins.ts
  dev-packages/cli/src/theia.ts
  dev-packages/ovsx-client/package.json
  dev-packages/ovsx-client/src/index.ts
  dev-packages/ovsx-client/src/ovsx-api-filter.ts
  dev-packages/ovsx-client/src/ovsx-http-client.ts
  packages/vsx-registry/package.json
  packages/vsx-registry/src/common/vsx-environment.ts
  packages/vsx-registry/src/common/vsx-registry-common-module.ts
  packages/vsx-registry/src/node/vsx-cli.ts
  packages/vsx-registry/src/node/vsx-environment-impl.ts
Labels: open-vsx

#14027 Drop support for Node 16.x
  .github/workflows/ci-cd.yml
  .github/workflows/license-check.yml
  .github/workflows/performance-tests.yml
  .github/workflows/playwright.yml
  .github/workflows/production-smoke-test.yml
  .github/workflows/publish-gh-pages.yml
  .github/workflows/publish-next.yml
  .github/workflows/publish-release.yml
  .github/workflows/translation.yml
  CHANGELOG.md
  doc/Developing.md
  package.json
Labels: dependencies

#13916 Allow opening changes for files associated with custom editors
  packages/core/src/browser/saveable.ts
  packages/core/src/browser/style/index.css
  packages/core/src/browser/style/split-widget.css
  packages/core/src/browser/widget-open-handler.ts
  packages/core/src/browser/widgets/index.ts
  packages/core/src/browser/widgets/split-widget.ts
  packages/core/src/common/event.ts
  packages/filesystem/src/browser/file-service.ts
  packages/git/src/browser/git-contribution.ts
  packages/git/src/browser/git-file-service-contribution.ts
  packages/git/src/browser/git-file-system-provider.ts
  packages/git/src/browser/git-frontend-module.ts
  packages/git/src/browser/git-repository-provider.spec.ts
  packages/git/src/browser/git-resource.ts
  packages/git/src/browser/git-scm-provider.spec.ts
  packages/git/src/browser/git-scm-provider.ts
  packages/git/src/node/dugite-git.ts
  packages/monaco/src/browser/monaco-editor-service.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/hosted/browser/hosted-plugin.ts
  packages/plugin-ext/src/main/browser/custom-editors/custom-editor-opener.tsx
  packages/plugin-ext/src/main/browser/custom-editors/custom-editor-widget.ts
  packages/plugin-ext/src/main/browser/custom-editors/custom-editors-main.ts
  packages/plugin-ext/src/main/browser/custom-editors/plugin-custom-editor-registry.ts
  packages/plugin-ext/src/main/browser/plugin-ext-frontend-module.ts
  packages/plugin-ext/src/main/browser/webview/pre/service-worker.js
  packages/plugin-ext/src/main/browser/webview/webview.ts
  packages/plugin-ext/src/main/browser/webviews-main.ts
  packages/plugin-ext/src/plugin/custom-editors.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/webviews.ts
Labels: diff editor, custom-editor

#14036 Fix preference tree for plugins
  packages/core/src/common/json-schema.ts
  packages/plugin-ext/src/hosted/node/scanners/scanner-theia.ts
  packages/preferences/src/browser/util/preference-tree-generator.ts
  packages/preferences/src/browser/util/preference-tree-label-provider.ts
  packages/preferences/src/browser/util/preference-types.ts
  packages/preferences/src/browser/views/preference-tree-widget.tsx
Labels: preferences, ui/ux

#14058 Stub Terminal Shell Integration VS Code API
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/terminal-ext.ts
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/plugin/src/theia.d.ts
  packages/plugin/src/theia.proposed.terminalShellIntegration.d.ts
  packages/vsx-registry/src/node/vsx-extension-resolver.ts
Labels: vscode

#14031 Creating new untitled notebook doesn't work
  packages/plugin-ext/src/main/browser/notebooks/notebook-documents-main.ts
Labels: vscode, notebook

#14081 Enhance notebook cell divider
  packages/notebook/src/browser/notebook-editor-widget.tsx
  packages/notebook/src/browser/style/index.css
  packages/notebook/src/browser/view/notebook-cell-list-view.tsx
Labels: notebook

#13309 Support collaboration feature
  examples/browser-only/package.json
  examples/browser-only/tsconfig.json
  examples/browser/package.json
  examples/browser/tsconfig.json
  examples/electron/package.json
  examples/electron/tsconfig.json
  packages/collaboration/.eslintrc.js
  packages/collaboration/README.md
  packages/collaboration/package.json
  packages/collaboration/src/browser/collaboration-color-service.ts
  packages/collaboration/src/browser/collaboration-file-system-provider.ts
  packages/collaboration/src/browser/collaboration-frontend-contribution.ts
  packages/collaboration/src/browser/collaboration-frontend-module.ts
  packages/collaboration/src/browser/collaboration-instance.ts
  packages/collaboration/src/browser/collaboration-utils.ts
  packages/collaboration/src/browser/collaboration-workspace-service.ts
  packages/collaboration/src/browser/style/index.css
  packages/collaboration/src/package.spec.ts
  packages/collaboration/tsconfig.json
  packages/editor/src/browser/editor-manager.ts
  packages/editor/src/browser/editor.ts
  packages/monaco/src/browser/monaco-editor-model.ts
  packages/monaco/src/browser/monaco-editor.ts
  packages/monaco/src/browser/monaco-quick-input-service.ts
  packages/monaco/src/browser/monaco-to-protocol-converter.ts
  packages/preview/src/browser/preview-contribution.ts
  packages/workspace/src/browser/workspace-commands.ts
  packages/workspace/src/browser/workspace-service.ts
  tsconfig.json
  yarn.lock
Labels: collaboration

#14039 Align available locales to VS Code
  dev-packages/localization-manager/src/deepl-api.ts
  dev-packages/localization-manager/src/localization-manager.ts
  packages/core/i18n/nls.cs.json
  packages/core/i18n/nls.de.json
  packages/core/i18n/nls.es.json
  packages/core/i18n/nls.fr.json
  packages/core/i18n/nls.hu.json
  packages/core/i18n/nls.it.json
  packages/core/i18n/nls.ja.json
  packages/core/i18n/nls.json
  packages/core/i18n/nls.ko.json
  packages/core/i18n/nls.pl.json
  packages/core/i18n/nls.pt-br.json
  packages/core/i18n/nls.pt-pt.json
  packages/core/i18n/nls.ru.json
  packages/core/i18n/nls.tr.json
  packages/core/i18n/nls.zh-cn.json
  packages/core/i18n/nls.zh-tw.json
  packages/core/src/node/i18n/theia-localization-contribution.ts
  scripts/translation-update.js
Labels: localization

#14087 Fix vscode api notebook selection property
  packages/plugin-ext/src/main/browser/notebooks/notebook-documents-and-editors-main.ts
  packages/plugin-ext/src/main/browser/notebooks/notebook-editors-main.ts
Labels: vscode, notebook

#14093 Add 3 more vscode command implementations
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
  packages/plugin-ext/src/plugin/known-commands.ts
Labels: vscode, commands

#14092 Produce failure on translation error
  dev-packages/cli/src/theia.ts
  dev-packages/localization-manager/src/localization-manager.ts
  packages/core/i18n/nls.cs.json
  packages/core/i18n/nls.de.json
  packages/core/i18n/nls.es.json
  packages/core/i18n/nls.fr.json
  packages/core/i18n/nls.hu.json
  packages/core/i18n/nls.it.json
  packages/core/i18n/nls.ja.json
  packages/core/i18n/nls.ko.json
  packages/core/i18n/nls.pl.json
  packages/core/i18n/nls.pt-br.json
  packages/core/i18n/nls.ru.json
  packages/core/i18n/nls.tr.json
  packages/core/i18n/nls.zh-cn.json
  packages/core/i18n/nls.zh-tw.json
  scripts/translation-update.js
Labels: localization
