Repository eclipse-theia/theia, pull requests merged in 2024-02, with the labels that each got.

#13337 fix: regressions from headless plugins refactoring
  packages/plugin-ext/src/hosted/browser/hosted-plugin.ts
  packages/plugin-ext/src/hosted/browser/worker/worker-main.ts
  packages/plugin-ext/src/hosted/browser/worker/worker-plugin-module.ts
  packages/plugin-ext/src/plugin/plugin-manager.ts
Labels: plug-in system

#13364 Fix race condition in notebook kernel association
  packages/notebook/src/browser/service/notebook-kernel-service.ts
  packages/plugin-ext/src/main/browser/notebooks/notebook-documents-and-editors-main.ts
  packages/plugin-ext/src/plugin/notebook/notebook-kernels.ts
  packages/plugin-ext/src/plugin/notebook/notebooks.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
Labels: notebook

#13366 Update notebook execution timer
  packages/notebook/src/browser/view/notebook-code-cell-view.tsx
Labels: notebook

#12703 search-in-workspace: focus on next and previous search results
  packages/core/src/browser/tree/test/mock-selectable-tree-model.ts
  packages/core/src/browser/tree/tree-model.ts
  packages/core/src/browser/tree/tree-selectable.spec.ts
  packages/search-in-workspace/src/browser/search-in-workspace-frontend-contribution.ts
  packages/search-in-workspace/src/browser/search-in-workspace-result-tree-widget.tsx
Labels: search in workspace

#13361 Fix non recursive folder delete using file system
  packages/filesystem/src/node/disk-file-system-provider.spec.ts
  packages/filesystem/src/node/disk-file-system-provider.ts
Labels: filesystem

#12543 fix update debug createFrameDecorations bug when debug thread is not …
  packages/debug/src/browser/debug-session-manager.ts
  packages/debug/src/browser/editor/debug-editor-model.ts
Labels: debug

#12691 terminal: bump `xterm` and addons
  CHANGELOG.md
  packages/terminal/package.json
  packages/terminal/src/browser/terminal-frontend-contribution.ts
  packages/terminal/src/browser/terminal-preferences.ts
  packages/terminal/src/browser/terminal-theme-service.ts
  packages/terminal/src/browser/terminal-widget-impl.ts
  yarn.lock
Labels: terminal, dependencies

#13393 Support workspace.save(URI) and workspace.saveAs(URI)
  packages/core/src/browser/save-resource-service.ts
  packages/core/src/browser/shell/application-shell.ts
  packages/filesystem/src/browser/filesystem-save-resource-service.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/common/uri-components.ts
  packages/plugin-ext/src/main/browser/custom-editors/custom-editor-widget.ts
  packages/plugin-ext/src/main/browser/editors-and-documents-main.ts
  packages/plugin-ext/src/main/browser/selection-provider-command.ts
  packages/plugin-ext/src/main/browser/text-editors-main.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/text-editors.ts
  packages/plugin/src/theia.d.ts
  packages/workspace/src/browser/workspace-frontend-contribution.ts
Labels: vscode

#13317 Improve title rendering on menu bar change
  packages/core/src/electron-browser/menu/electron-menu-contribution.ts
Labels: electron, ui/ux, menus

#13403 Improve readonly editor behavior
  .gitpod.yml
  examples/api-samples/src/browser/api-samples-frontend-module.ts
  examples/api-samples/src/browser/file-system/sample-file-system-capabilities.ts
  packages/core/src/browser/widgets/widget.ts
  packages/core/src/common/resource.ts
  packages/editor/src/browser/editor-widget.ts
  packages/editor/src/browser/editor.ts
  packages/filesystem/src/browser/file-resource.ts
  packages/monaco/src/browser/monaco-editor-model.ts
  packages/monaco/src/browser/monaco-editor-provider.ts
  packages/monaco/src/browser/monaco-editor.ts
  packages/monaco/src/browser/simple-monaco-editor.ts
  packages/notebook/src/browser/contributions/notebook-actions-contribution.ts
  packages/notebook/src/browser/contributions/notebook-cell-actions-contribution.ts
  packages/notebook/src/browser/notebook-cell-resource-resolver.ts
  packages/notebook/src/browser/notebook-editor-widget.tsx
  packages/notebook/src/browser/service/notebook-model-resolver-service.ts
  packages/notebook/src/browser/service/notebook-service.ts
  packages/notebook/src/browser/style/index.css
  packages/notebook/src/browser/view-model/notebook-cell-model.ts
  packages/notebook/src/browser/view-model/notebook-model.ts
  packages/notebook/src/browser/view/notebook-cell-list-view.tsx
  packages/notebook/src/browser/view/notebook-cell-toolbar-factory.tsx
  packages/notebook/src/browser/view/notebook-cell-toolbar.tsx
  packages/notebook/src/browser/view/notebook-main-toolbar.tsx
  packages/plugin-ext/src/main/browser/custom-editors/custom-editors-main.ts
Labels: editor, monaco, notebook

#13226 Add a few vscode menu contribution points
  packages/core/src/browser/frontend-application-module.ts
  packages/core/src/browser/shell/tab-bars.ts
  packages/plugin-ext/src/main/browser/command-registry-main.ts
  packages/plugin-ext/src/main/browser/menus/plugin-menu-command-adapter.ts
  packages/plugin-ext/src/main/browser/menus/vscode-theia-menu-mappings.ts
  packages/plugin-ext/src/main/browser/plugin-ext-frontend-module.ts
  packages/terminal/src/browser/terminal-frontend-contribution.ts
  packages/vsx-registry/src/browser/vsx-extension-argument-processor.ts
  packages/vsx-registry/src/browser/vsx-extension.tsx
  packages/vsx-registry/src/browser/vsx-extensions-contribution.ts
  packages/vsx-registry/src/browser/vsx-registry-frontend-module.ts
Labels: vscode, menus

#13208 Ensure that `showOpenDialog` returns correct file URI
  packages/plugin-ext/src/plugin/dialogs.ts
Labels: file dialog
