Repository eclipse-theia/theia, pull requests merged in 2024-06, with the labels that each got.

#13773 Added notebook output options and tag preference search
  packages/core/src/common/preferences/preference-schema.ts
  packages/notebook/src/browser/contributions/notebook-preferences.ts
  packages/notebook/src/browser/notebook-frontend-module.ts
  packages/notebook/src/browser/service/notebook-options.ts
  packages/notebook/src/browser/view-model/notebook-cell-model.ts
  packages/notebook/src/browser/view/notebook-code-cell-view.tsx
  packages/plugin-ext/src/main/browser/notebooks/renderers/cell-output-webview.tsx
  packages/plugin-ext/src/main/browser/notebooks/renderers/output-webview-internal.ts
  packages/plugin-ext/src/main/browser/notebooks/renderers/webview-communication.ts
  packages/preferences/src/browser/preference-tree-model.ts
Labels: preferences, notebook

#13684 Fix programmatic save for custom text editors
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/documents-main.ts
  packages/plugin-ext/src/main/browser/main-context.ts
  packages/plugin-ext/src/main/browser/text-editor-model-service.ts
Labels: vscode, custom-editor

#13827 fix: load correct messaging module in browser-only
  dev-packages/application-manager/src/generator/frontend-generator.ts
Labels: browser-only

#13828 Set notebook editor as active when opening in foreground
  packages/notebook/src/browser/service/notebook-editor-widget-service.ts
Labels: notebook

#13668 Always resolve existing before showing new notification
  packages/messages/src/browser/notifications-manager.ts
Labels: notifications, vscode

#13689 Propagate "Save As" operation to plugin host
  CHANGELOG.md
  packages/core/src/browser/saveable.ts
  packages/core/src/browser/shell/application-shell.ts
  packages/core/src/browser/shell/theia-dock-panel.ts
  packages/core/src/browser/widgets/react-renderer.tsx
  packages/filesystem/src/browser/filesystem-saveable-service.ts
  packages/filesystem/src/browser/location/location-renderer.tsx
  packages/monaco/src/browser/monaco-editor-model.ts
  packages/notebook/src/browser/view-model/notebook-model.ts
Labels: filesystem, plug-in system, vscode

#13833 Serialize saveables to disk for "Save As"
  packages/core/src/browser/saveable.ts
  packages/filesystem/src/browser/filesystem-saveable-service.ts
  packages/monaco/src/browser/monaco-editor-model.ts
  packages/notebook/src/browser/view-model/notebook-model.ts
Labels: notebook

#13812 Fix tab group API event order
  examples/api-tests/src/typescript.spec.js
  packages/core/src/browser/shell/theia-dock-panel.ts
  packages/plugin-ext/src/main/browser/editors-and-documents-main.ts
  packages/plugin-ext/src/main/browser/main-context.ts
  packages/plugin-ext/src/main/browser/tabs/tabs-main.ts
Labels: vscode

#13762 Return empty appRoot in web plugin host
  packages/plugin-ext/src/hosted/browser/worker/worker-env-ext.ts
  packages/plugin/src/theia.d.ts
Labels: plug-in system

#13763 Support `PluginExt#extensionKind` properly
  packages/core/src/browser/browser.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/hosted/browser/hosted-plugin.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/plugin-manager.ts
Labels: vscode, remote

#13720 Support dynamic menu contributions
  examples/api-tests/src/menus.spec.js
  packages/core/src/browser/menu/browser-menu-plugin.ts
  packages/core/src/common/menu/menu-model-registry.ts
  packages/core/src/electron-browser/menu/electron-main-menu-factory.ts
Labels: menus

#13825 Use `targetPlatform` when installing plugin from open-vsx
  .vscode/launch.json
  dev-packages/cli/src/download-plugins.ts
  dev-packages/ovsx-client/src/index.ts
  dev-packages/ovsx-client/src/ovsx-api-filter.ts
  dev-packages/ovsx-client/src/ovsx-http-client.ts
  dev-packages/ovsx-client/src/ovsx-mock-client.ts
  dev-packages/ovsx-client/src/ovsx-router-client.ts
  dev-packages/ovsx-client/src/ovsx-types.ts
  examples/api-samples/src/node/sample-mock-open-vsx-server.ts
  packages/core/src/browser-only/frontend-only-application-module.ts
  packages/core/src/common/application-protocol.ts
  packages/core/src/node/application-server.ts
  packages/vsx-registry/src/browser/vsx-extensions-contribution.ts
  packages/vsx-registry/src/browser/vsx-extensions-model.ts
  packages/vsx-registry/src/common/vsx-registry-common-module.ts
  packages/vsx-registry/src/node/vsx-extension-resolver.ts
Labels: open-vsx

#13841 Fix data race in problem view tree
  packages/markers/src/browser/problem/problem-composite-tree-node.ts
  packages/markers/src/browser/problem/problem-tree-model.ts
Labels: problems

#13843 Add an indicator for loading notebooks
  packages/notebook/src/browser/notebook-editor-widget.tsx
  packages/notebook/src/browser/style/index.css
Labels: ui/ux, notebook

#13847 [vscode] Stub activeStackItem and related change event in debug namespace
  CHANGELOG.md
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/plugin/src/theia.d.ts
Labels: vscode

#13839 [vscode] Support TestRunRequest.preserveFocus
  CHANGELOG.md
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/common/test-types.ts
  packages/plugin-ext/src/main/browser/test-main.ts
  packages/plugin-ext/src/plugin/tests.ts
  packages/plugin-ext/src/plugin/types-impl.ts
  packages/plugin/src/theia.d.ts
  packages/preferences/src/browser/util/preference-tree-generator.ts
  packages/test/src/browser/test-execution-progress-service.ts
  packages/test/src/browser/test-preferences.ts
  packages/test/src/browser/test-service.ts
  packages/test/src/browser/view/test-view-frontend-module.ts
Labels: vscode
