Repository eclipse-theia/theia, pull requests merged in 2024-01, with the labels that each got.

#13257 Fix Localization for the removeSession method (#12874)
  packages/plugin-ext/src/main/browser/authentication-main.ts
Labels: localization

#13261 SelectComponent does not render droplist correctly in dialog (#12895)
  examples/api-samples/src/browser/menu/sample-menu-contribution.ts
  packages/core/src/browser/style/select-component.css
  packages/core/src/browser/widgets/select-component.tsx
Labels: ui/ux

#13256 Improve notebook error logging
  packages/notebook/src/browser/service/notebook-kernel-history-service.ts
  packages/notebook/src/browser/service/notebook-kernel-quick-pick-service.ts
  packages/plugin-ext/src/plugin/notebook/notebook-kernels.ts
Labels: logging, notebook

#13264 Prevent stack overflow with cyclic menu contributions
  packages/core/src/common/menu/menu-model-registry.ts
  packages/core/src/common/menu/menu.spec.ts
  packages/plugin-ext/src/main/browser/menus/menus-contribution-handler.ts
Labels: vscode, menus

#13250 Fix leak when reconnecting to back end without reload. Fixes #13215
  packages/core/src/browser/messaging/ws-connection-source.ts
  packages/core/src/node/messaging/websocket-frontend-connection-service.ts
Labels: messaging

#13267 Handle activeCustomEditorId (#13219)
  packages/plugin-ext/src/main/browser/webview/webview-context-keys.ts
Labels: vscode, custom-editor

#13239 fixed multiple problems with the notebook output rendering
  packages/notebook/src/browser/view/notebook-code-cell-view.tsx
  packages/plugin-ext/src/main/browser/notebooks/renderers/cell-output-webview.tsx
  packages/plugin-ext/src/main/browser/notebooks/renderers/output-webview-internal.ts
  packages/plugin-ext/src/main/browser/notebooks/renderers/webview-communication.ts
Labels: notebook

#13281 Resize terminal process after resizing widget
  packages/terminal/src/browser/terminal-widget-impl.ts
Labels: terminal

#13296 Support specifying the port of a remote SSH connection
  CHANGELOG.md
  packages/remote/src/electron-node/ssh/remote-ssh-connection-provider.ts
Labels: remote-ssh

#13285 Fix `vscode.env.appRoot` path
  packages/core/src/browser-only/frontend-only-application-module.ts
  packages/core/src/common/application-protocol.ts
  packages/core/src/node/application-server.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/hosted/browser/hosted-plugin.ts
  packages/plugin-ext/src/hosted/browser/worker/worker-env-ext.ts
  packages/plugin-ext/src/plugin/env.ts
  packages/plugin-ext/src/plugin/node/env-node-ext.ts
  packages/plugin-ext/src/plugin/plugin-manager.ts
Labels: vscode

#13331 Fix core localizations for electron builds
  packages/core/src/electron-browser/messaging/electron-messaging-frontend-module.ts
Labels: localization
