Repository eclipse-theia/theia, pull requests merged in 2024-10, with the labels that each got.

#14238 Fix duplicate text editor entry
  packages/ai-chat-ui/src/browser/ai-chat-ui-frontend-module.ts
  packages/core/src/browser/open-with-service.ts
  packages/editor-preview/src/browser/editor-preview-tree-decorator.ts
Labels: ui/ux

#14239 Improve widget specific status bar handling
  packages/core/src/browser/frontend-application-module.ts
  packages/core/src/browser/index.ts
  packages/core/src/browser/widget-status-bar-service.ts
  packages/editor/src/browser/editor-contribution.ts
  packages/editor/src/browser/editor-frontend-module.ts
  packages/getting-started/src/browser/getting-started-frontend-module.ts
  packages/keymaps/src/browser/keymaps-frontend-module.ts
  packages/monaco/src/browser/monaco-frontend-module.ts
  packages/monaco/src/browser/monaco-status-bar-contribution.ts
  packages/notebook/src/browser/contributions/notebook-status-bar-contribution.ts
  packages/notebook/src/browser/notebook-frontend-module.ts
  packages/plugin-ext/src/main/browser/plugin-ext-frontend-module.ts
  packages/preferences/src/browser/preference-frontend-module.ts
  packages/vsx-registry/src/browser/vsx-registry-frontend-module.ts
Labels: editor, statusbar, notebook

#14194 Replace `nsfw` with `@parcel/watcher`
  dev-packages/application-manager/src/generator/webpack-generator.ts
  dev-packages/application-manager/src/rebuild.ts
  dev-packages/native-webpack-plugin/package.json
  dev-packages/native-webpack-plugin/src/native-webpack-plugin.ts
  dev-packages/private-ext-scripts/theia-ts-clean.js
  examples/playwright/src/tests/theia-explorer-view.test.ts
  package.json
  packages/core/README.md
  packages/core/README_TEMPLATE.md
  packages/core/package.json
  packages/core/shared/@parcel/watcher/index.d.ts
  packages/core/shared/@parcel/watcher/index.js
  packages/core/shared/nsfw/index.d.ts
  packages/core/shared/nsfw/index.js
  packages/core/src/node/logger-cli-contribution.ts
  packages/filesystem/src/browser/file-tree/file-tree-model.ts
  packages/filesystem/src/browser/filesystem-preferences.ts
  packages/filesystem/src/node/filesystem-backend-module.ts
  packages/filesystem/src/node/filesystem-watcher-client.ts
  packages/filesystem/src/node/nsfw-watcher/nsfw-options.ts
  packages/filesystem/src/node/parcel-watcher/index.ts
  packages/filesystem/src/node/parcel-watcher/parcel-filesystem-service.ts
  packages/filesystem/src/node/parcel-watcher/parcel-filesystem-watcher.spec.ts
  packages/filesystem/src/node/parcel-watcher/parcel-options.ts
  yarn.lock
Labels: filesystem, file-watchers

#14242 Ensure notebook document event registration
  packages/plugin-ext/src/main/browser/notebooks/notebook-documents-and-editors-main.ts
Labels: notebook

#14234 Notebook webview output optimization
  packages/notebook/src/browser/contributions/notebook-cell-actions-contribution.ts
  packages/notebook/src/browser/notebook-editor-widget.tsx
  packages/notebook/src/browser/renderers/cell-output-webview.ts
  packages/notebook/src/browser/style/index.css
  packages/notebook/src/browser/view-model/notebook-cell-model.ts
  packages/notebook/src/browser/view-model/notebook-cell-output-model.ts
  packages/notebook/src/browser/view-model/notebook-model.ts
  packages/notebook/src/browser/view/notebook-cell-list-view.tsx
  packages/notebook/src/browser/view/notebook-code-cell-view.tsx
  packages/notebook/src/browser/view/notebook-markdown-cell-view.tsx
  packages/plugin-ext/src/main/browser/editors-and-documents-main.ts
  packages/plugin-ext/src/main/browser/notebooks/notebook-kernels-main.ts
  packages/plugin-ext/src/main/browser/notebooks/renderers/cell-output-webview.tsx
  packages/plugin-ext/src/main/browser/notebooks/renderers/output-webview-internal.ts
  packages/plugin-ext/src/main/browser/notebooks/renderers/webview-communication.ts
  packages/plugin-ext/src/main/browser/plugin-ext-frontend-module.ts
Labels: performance, notebook

#14275 Pin Ubuntu CI versions to 22.04
  .github/workflows/ci-cd.yml
  .github/workflows/license-check.yml
  .github/workflows/performance-tests.yml
  .github/workflows/playwright.yml
  .github/workflows/production-smoke-test.yml
  .github/workflows/publish-gh-pages.yml
  .github/workflows/publish-next.yml
  .github/workflows/publish-release.yml
  .github/workflows/set-milestone-on-pr.yml
  .github/workflows/translation.yml
Labels: ci

#14260 Optimize showing recent workspaces
  packages/workspace/src/browser/quick-open-workspace.ts
  packages/workspace/src/node/default-workspace-server.ts
Labels: performance, workspace

#14359 Properly dispose tab/title-based resources on tab close
  packages/plugin-ext/src/main/browser/tabs/tabs-main.ts
Labels: quality, plug-in system

#14311 Improve preference renderer linking
  packages/core/src/browser/core-preferences.ts
  packages/editor/src/browser/editor-generated-preference-schema.ts
  packages/preferences/src/browser/style/index.css
  packages/preferences/src/browser/util/preference-tree-generator.ts
  packages/preferences/src/browser/views/components/preference-markdown-renderer.ts
Labels: preferences
