Repository eclipse-theia/theia, pull requests merged in 2025-03, with the labels that each got.

#15097 Improve displaying inline frame decorator
  packages/debug/src/browser/editor/debug-editor-model.ts
Labels: debug, ui/ux

#15099 Add `commandsToSkipShell` preference for plugin support
  dev-packages/private-eslint-plugin/rules/localization-check.js
  packages/terminal/src/browser/terminal-preferences.ts
Labels: preferences, terminal

#14972 Support "Save As" for custom editors
  packages/core/src/browser/saveable.ts
  packages/filesystem/src/browser/filesystem-saveable-service.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/custom-editors/custom-editor-widget.ts
  packages/plugin-ext/src/main/browser/custom-editors/custom-editors-main.ts
  packages/plugin-ext/src/plugin/custom-editors.ts
Labels: plug-in system, vscode

#15126 [vscode] Remove duplicate declaration for DocumentDropEdit
  packages/plugin/src/theia.d.ts
Labels: vscode

#14943 Improve error handling on optional dependencies
  dev-packages/application-package/src/application-package.ts
  dev-packages/application-package/src/extension-package-collector.ts
  dev-packages/application-package/src/npm-registry.ts
Labels: theia-cli

#15196 Support prompt fragments and variable dependencies with recursive resolving
  CHANGELOG.md
  packages/ai-chat/src/common/chat-request-parser.spec.ts
  packages/ai-chat/src/common/chat-request-parser.ts
  packages/ai-chat/src/common/chat-service.ts
  packages/ai-chat/src/common/parsed-chat-request.ts
  packages/ai-core/src/browser/ai-core-frontend-module.ts
  packages/ai-core/src/common/prompt-service.spec.ts
  packages/ai-core/src/common/prompt-service.ts
  packages/ai-core/src/common/prompt-variable-contribution.ts
  packages/ai-core/src/common/variable-service.spec.ts
  packages/ai-core/src/common/variable-service.ts
Labels: TheiaAI

#15142 Improve plugin package localization
  packages/plugin-ext/src/hosted/node/hosted-plugin-localization-service.ts
Labels: localization

#15141 [vscode] Selection properties are now readonly
  packages/plugin/src/theia.d.ts
Labels: vscode

#15268 Prevent plugin localization errors
  packages/plugin-ext/src/hosted/node/hosted-plugin-localization-service.ts
Labels: localization

#15328 fix: communication recording in Orchestrator
  packages/ai-chat/src/common/chat-model.ts
  packages/ai-ide/src/common/orchestrator-chat-agent.ts
Labels: TheiaAI

#15310 Fix: ensure that the dirty state is correctly set even when the current save operation is canceled (#15308).
  packages/monaco/src/browser/monaco-editor-model.ts
Labels: bug, monaco
