Repository eclipse-theia/theia, pull requests merged in 2025-02, with the labels that each got.

#14844 Fix webpack watching
  dev-packages/native-webpack-plugin/src/native-webpack-plugin.ts
Labels: bundle

#14866 fix: handle the breakpoint update event for `id:0`
  packages/debug/src/browser/debug-session.tsx
Labels: debug

#14861 Streamline logging API
  CHANGELOG.md
  packages/ai-code-completion/src/browser/ai-code-completion-frontend-module.ts
  packages/ai-history/src/browser/ai-history-frontend-module.ts
  packages/core/src/browser/logger-frontend-module.ts
  packages/core/src/common/logger-binding.ts
  packages/core/src/common/logger-protocol.ts
  packages/core/src/common/logger.ts
  packages/core/src/node/console-logger-server.ts
  packages/core/src/node/logger-backend-module.ts
  packages/core/src/node/logger-cli-contribution.ts
  packages/debug/src/node/debug-backend-module.ts
  packages/process/src/node/process-backend-module.ts
  packages/task/src/common/task-common-module.ts
  packages/terminal/src/browser/terminal-frontend-module.ts
  packages/terminal/src/node/terminal-backend-module.ts
Labels: logging, file-watchers

#14891 Added an error for when a notebook editor is opened with a non existing file
  packages/notebook/src/browser/notebook-editor-widget-factory.ts
  packages/notebook/src/browser/notebook-editor-widget.tsx
  packages/notebook/src/browser/service/notebook-model-resolver-service.ts
  packages/notebook/src/browser/style/index.css
Labels: notebook

#14864 Add missing VS Code json schemas
  packages/keymaps/src/browser/keybinding-schema-updater.ts
  packages/toolbar/src/browser/toolbar-command-contribution.ts
  packages/vsx-registry/src/browser/recommended-extensions/recommended-extensions-json-schema.ts
Labels: vscode, json

#14908 Send plugin logs to the frontend
  packages/debug/src/common/debug-adapter-session.ts
  packages/notebook/src/browser/service/notebook-execution-service.ts
  packages/notebook/src/browser/service/notebook-execution-state-service.ts
  packages/notebook/src/browser/service/notebook-kernel-quick-pick-service.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/hosted/node/hosted-plugin-process.ts
  packages/plugin-ext/src/hosted/node/plugin-host-logger.ts
  packages/plugin-ext/src/hosted/node/plugin-host-module.ts
  packages/plugin-ext/src/main/browser/logger-main.ts
  packages/plugin-ext/src/main/browser/main-context.ts
  packages/plugin-ext/src/plugin/debug/debug-ext.ts
  packages/plugin-ext/src/plugin/decorations.ts
  packages/plugin-ext/src/plugin/localization-ext.ts
  packages/plugin-ext/src/plugin/logger.ts
  packages/plugin-ext/src/plugin/notebook/notebook-kernels.ts
  packages/plugin-ext/src/plugin/notebook/notebooks.ts
  packages/plugin-ext/src/plugin/plugin-context.ts
  packages/plugin-ext/src/plugin/plugin-manager.ts
  packages/plugin-ext/src/plugin/uri-ext.ts
  packages/plugin-ext/src/plugin/workspace.ts
Labels: plug-in system, logging

#14848 chore: update `vscode-oniguruma`+`vscode-textmate`
  package-lock.json
  packages/monaco/package.json
  packages/monaco/src/browser/textmate/monaco-theme-registry.ts
  packages/monaco/src/browser/textmate/monaco-theme-types.ts
  packages/plugin-ext/package.json
  packages/plugin-ext/src/main/browser/plugin-contribution-handler.ts
Labels: monaco, dependencies

#14964 Fix notebook widget disposal
  packages/notebook/src/browser/view/notebook-viewport-service.ts
Labels: notebook

#14957 Fix monaco model reference creation
  packages/ai-chat-ui/src/browser/chat-input-widget.tsx
  packages/debug/src/browser/console/debug-console-contribution.tsx
  packages/debug/src/browser/editor/debug-breakpoint-widget.tsx
  packages/monaco/src/browser/monaco-editor-provider.ts
  packages/monaco/src/browser/monaco-editor.ts
  packages/monaco/src/browser/monaco-frontend-module.ts
  packages/monaco/src/browser/monaco-text-model-service.ts
  packages/notebook/src/browser/notebook-frontend-module.ts
  packages/notebook/src/browser/service/notebook-monaco-text-model-service.ts
  packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts
  packages/plugin-ext/src/plugin/notebook/notebook-document.ts
Labels: monaco, notebook

#14990 fix: remove files in editor tab when deleted
  packages/core/src/browser/navigatable-types.ts
Labels: editor, shell, navigator

#15018 fix(chat): improve variable autocompletion
  packages/ai-chat-ui/src/browser/chat-view-language-contribution.ts
Labels: TheiaAI

#14712 Support manual override of text blocks
  examples/api-samples/package.json
  examples/api-samples/src/browser/api-samples-preload-module.ts
  examples/api-samples/src/browser/preload/text-replacement-sample.ts
  examples/playwright/src/tests/theia-quick-command.test.ts
  packages/core/src/browser/preload/i18n-preload-contribution.ts
  packages/core/src/browser/preload/preload-module.ts
  packages/core/src/browser/preload/text-replacement-contribution.ts
  packages/core/src/common/i18n/localization.ts
  packages/notebook/src/browser/contributions/notebook-cell-actions-contribution.ts
Labels: localization

#14854 fix: console text model uses the language ID
  packages/console/src/browser/console-widget.ts
Labels: debug, ui/ux

#15047 [vscode] ShellExecution update with undefined command
  packages/plugin/src/theia.d.ts
Labels: vscode

#15015 [vscode] introduction of the CommentingRange type
  packages/plugin-ext/src/common/plugin-api-rpc-model.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/main/browser/comments/comment-thread-widget.tsx
  packages/plugin-ext/src/main/browser/comments/comments-contribution.ts
  packages/plugin-ext/src/main/browser/comments/comments-main.ts
  packages/plugin-ext/src/main/browser/comments/comments-service.ts
  packages/plugin-ext/src/plugin/comments.ts
  packages/plugin/src/theia.d.ts
Labels: vscode

#15066 Support snippet file edits
  packages/plugin-ext/src/common/plugin-api-rpc-model.ts
  packages/plugin-ext/src/common/plugin-api-rpc.ts
  packages/plugin-ext/src/plugin/type-converters.ts
  packages/plugin-ext/src/plugin/types-impl.ts
Labels: vscode
